[2016-08-21 23:28] harshavardhana opened #1806 "mc: watch produces two events per file create and write"
[code]

[2016-08-24 09:26] harshavardhana commented on #1806
Fixed by #1807

[2016-08-24 09:26] #1806 closed

[2016-08-24 16:32] stl-paulfriedman opened #1809 "Session not created when doing parallel mc cp"
## Expected behaviour
transferring 1000 files from s3 to google storage by running 10 mc's in parallel.  I expect intermittent network failures every now and then and expect an mc session to be created for the cp which can be retried with mc session resume <sessionid>

## Actual behaviour
Get an error:
mc: <ERROR> Unable to load version â€˜6â€™. Migration failed please report this issue at https:/

[2016-08-24 19:42] vadmeste commented on #1809
@stl-paulfriedman, this bug is already fixed in master (https://github.com/minio/mc/commit/acd80370e640c11b564cea027bb514a74e16313d), you can install mc manually (https://docs.minio.io/docs/minio-client-quickstart-guide, install from source section), or you wait for the next release of mc.

[2016-09-01 06:59] #1809 closed

[2016-09-01 07:00] harshavardhana opened #1813 "mc: Add '--insecure' for making insecure SSL connections"
[code]

[2016-09-01 07:02] abperiasamy commented on #1813
You could use a message like this:

[2016-09-01 10:40] vadmeste commented on #1813
This needs change in minio-go, I think we have four options:
- Add an API, SetInsecure()
- Add a new parameter in New()
- Add an API NewInsecure()
- The fourth option:
New() has already the secure flag, so this is my suggestion:

`New("localhost:9000", "accesskey", "secretkey", true)` => HTTPS secure
`New("localhost:9000", "accesskey", "secretkey", false)` => HTTP
`New("https://localhost:9000", "a

[2016-09-01 10:53] harshavardhana commented on #1813
This is not needed, you need to set a custom transport

[code]

[2016-09-01 11:07] vadmeste commented on #1813
thanks, wasn't aware about SetCustomTransport in minio-go.. was looking here https://docs.minio.io/docs/golang-client-api-reference :)

[2016-09-01 17:43] harshavardhana commented on #1813
Now that you mention it we have a bug in API.md

[2016-09-02 03:14] #1813 closed

[2016-09-02 06:13] harshavardhana opened #1816 "mc: Fix ineffassign errors"
[code]

[2016-09-03 04:32] felixbuenemann commented on #1716
This issue also exists for buckets where files where uploaded using CloudBerry S3 Explorer, there's a free version available [here](http://www.cloudberrylab.com/free-amazon-s3-explorer-cloudfront-IAM.aspx). The error is shown for each "directory".

I beliebe the problem is that there are keys that end with "/", for "folder_a/folder_b/folder_c/".

Listing such a "folder" with the python aws cli loo

[2016-09-03 04:48] felixbuenemann commented on #1716
The following code looks suspicious:

https://github.com/minio/mc/blob/80b0aa3842ef02d04823a4b0f100638fa2955f19/cmd/client-s3.go#L739

[code]

If the trailing slash is removed on the key `a/b/c/`, it would list the nonexistant key `a/b/c` which would return a 404 error.

[2016-09-03 04:51] #1816 closed

[2016-09-03 05:55] felixbuenemann opened #1818 "mc: Missing normalization for UTF-8 in keys causes mismatch on mirroring"
If files containing UTF-8 characters that have multiple possible representations are uploaded to an s3 bucket and then mirrored from a client with a different representation, the filename on disk will use the different representation, which causes the files to be re-transfered every time a mirror operation started, because the binary representation of the local filename and the s3 key differs.

Ev

[2016-09-03 06:08] felixbuenemann commented on #1818
Btw. this issue also exists in other tools, eg. s3cmd (see s3tools/s3cmd#639).

According to some info I google Mac OS X filesystems use the UTF-8 NFD normalization and Linux uses NFC normalization and Mac OS X will convert all filenames to NFD when saved to a HFS/HFS+ or UFS filesystem.

Windows NTFS apparently allows storing both NFC and NFD normalized versions of the same filenames along each o

[2016-09-03 06:20] harshavardhana commented on #1818
We don't do any special UTF-8 conversions, natively Go supports UTF-8 do not yet know if Go indeed supports UTF-8 OS X as well.

[2016-09-03 06:21] harshavardhana commented on #1818
We have to use something like - https://godoc.org/golang.org/x/text/unicode/norm

[2016-09-03 12:47] #1736 closed

[2016-09-03 12:53] vadmeste opened #1819 "'cat file | mc pipe myminio/testbucket/file' doesn't work"
[code]

[2016-09-04 00:06] jeremytregunna opened #1820 "Requirements for an attached tty?"
I've got a program written in Go which monitors a dir for a particular set of file events, and when they occur, executes a shell script which calls ffmpeg to transcode a file, then invokes mc to upload it to a minio server. When I run this script from my user account while ssh'd into the server, it works fine. However, if I run my Go program under supervisord, and it gets invoked from there, `mc`

[2016-09-04 00:56] jeremytregunna commented on #1820
Closing this, I found the problem, sorry for the noise. Issue was a filesystem race condition, and me redirecting MC output somewhere that was different than where I was checking.

[2016-09-04 00:56] #1820 closed

[2016-09-04 04:32] abperiasamy commented on #1820
@jeremytregunna For use cases like yours, we introduced --json flag and mc watch subcommand. You may find them interesting.

[2016-09-06 03:38] #1803 closed

[2016-09-07 20:05] harshavardhana opened #1821 "mc cp failed to copy small files"
[code]

[2016-09-07 22:55] #1821 closed

[2016-09-08 20:42] harshavardhana commented on #1819
Fixed by #1822

[2016-09-08 20:42] #1819 closed

[2016-09-08 21:58] harshavardhana opened #1824 "mc: Mirror should possibility mirror bucket policies as well from source to destination bucket"
Bala pointed out this idea,  just opening a bug here to not forget.

[2016-09-09 08:18] z0rc opened #1825 "Conflict with Midnight Commander"
Binary name conflicts with Midnight Commander.

I've read the previous tickets regarding this issue and evaluated your opinion. Still, I believe that you _should_ avoid using the same name as `mc`. It's nice that you looked for shorter name here, but clashing with other names is unacceptable. If the _user_ wants a shorter name, he is free to set up an alias in shell. There are thousands (https://q

[2016-09-09 08:29] z0rc commented on #1825
Also there is a good read about similar case of name clashing between node.js and node (Amateur Packet Radio Node Program), see https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=614907#108.

Your ignorance about this name collision will cause a lot of headache for downstream maintainers.

[2016-09-09 08:48] abperiasamy commented on #1825
Packagers are free to choose a different name if they like. Unix like operating systems has to grow up. I don't understand why users have to be root to install a package within his/her own name space.

We simply 'go get' or copy the mc binary to ~/bin and execute.  We dont really depend on rpm or dpkg to install Go packages.

[2016-09-09 09:01] z0rc commented on #1825
If you encourage downstream maintainers to rename your binary and keep the `mc` name in documentation, then you have to be prepared to face the storm of questions like:
https://askubuntu.com/questions/235655/node-js-conflicts-sbin-node-vs-usr-bin-node
https://stackoverflow.com/questions/21168141/cannot-install-packages-using-node-package-manager-in-ubuntu

My question isn't about rpm, deb, `go get

[2016-09-09 11:59] z0rc commented on #1825
Here is small snipped from linked Debian bug that is highly relevant here:
[code]

[2016-09-09 23:46] harshavardhana commented on #1825
POSIX is irrelevant for today's needs. Modern operating systems should support user-installed binaries with in their own namespace. This is the reason why nodejs, Go, Python have moved away from distribution supplied package modules.

It is also unlikely that midnight commander users will also use `mc`.  It is okay for binary packages to conflict at the time of installation.

I really wish there i

[2016-09-09 23:46] #1825 closed

[2016-09-10 08:01] z0rc commented on #1825
You and I and everyone else use it every day. How's that irrelevant?

They are already, but this doesn't solve the case when there are two binaries in $PATH using the same name. Unfortunately your wishful thinking isn't going to resolve this now or in future.

You are mixing things up. Programming languages never used distro-specific packages in the first place. Downstream repackages them so they

[2016-09-10 08:15] z0rc commented on #1825
Please read this again.
[code]

[2016-09-10 15:24] koolhead17 opened #1826 "mc should provide Informative error output for better debugging"
Minio should provide more informative error output, it will make debugging easier.

[code]

An example above. I am using Minio, but error mentions S3.

[2016-09-15 15:11] felixbuenemann commented on #1716
Btw. on current master the error is now:

[code]

[2016-09-15 15:12] felixbuenemann commented on #1716
@vadmeste No idea why my comment caused you to be unassigned…

[2016-09-19 00:00] balamurugana opened #1827 "Add multi-delete support by taking object list from stdin"

[2016-09-19 00:02] balamurugana opened #1828 "Add support to `rm` to remove objects older than given time."

[2016-09-19 19:05] krishnasrinivas opened #1829 "For policy/share etc local FS should display intuitive error"
User reported:

[code]

user was trying policy/share on local FS, error should have been "the operation is supported on S3, not local FS"

[2016-09-22 16:08] vadmeste opened #1830 "`echo "test" | mc pipe /tmp/hello.txt` doesn't work"
The pipe command doesn't seem to be working as expected with the mc master:

[code]

[2016-09-22 16:53] harshavardhana commented on #1830
can we put some more details here? - we shouldn't be reporting bugs in this manner.

[2016-09-22 17:05] vadmeste commented on #1830
:+1: , I updated the description.

[2016-09-23 04:19] harshavardhana opened #1831 "Move to go1.7.1 build"

[2016-09-23 18:22] vadmeste commented on #1829
@krishnasrinivas, What about this one:
$ mc share download /tmp/file
mc: <ERROR> Unable to share a non S3 url ‘/tmp/file’. ‘ShareDownload’ feature is not implemented for ‘filesystem’.

[2016-09-23 21:11] vadmeste commented on #1830
os.Stdin is considered as File in go which implements (ReadAt). This could change in go2.0 according to this ticket => https://github.com/golang/go/issues/13473. I think os.Stdin can easily be treated separately in mc code.

[2016-09-23 21:15] harshavardhana commented on #1830
We can mask it into another struct before passing to minio-go, ie which implements io.Reader() alone.

[2016-09-23 21:45] vadmeste commented on #1830
This bug is reproducible only with FS, so no minio-go. client-fs anticipated this case. I added an additional check in #1834 to avoid seeking os.Stdin in Put()

[2016-09-24 07:09] krishnasrinivas commented on #1829
@vadmeste `feature is not implemented for ‘filesystem’`  indicates that it will be implemented in future, we can say `the operation is not supported for filesystem`

[2016-09-25 17:20] harshavardhana commented on #1829
"Is not supported" is clearly better @krishnasrinivas :+1:

[2016-09-25 17:21] #1829 closed

[2016-09-25 17:21] harshavardhana commented on #1829
Closed by #1833

[2016-09-25 19:13] #1831 closed

[2016-09-27 20:30] harshavardhana opened #1835 "mirror: Watch should force rescan upon network disconnection."
A rescaning here is is doing a full listObjects() again to check for missed entries.

[2016-09-28 06:14] deekoder opened #1838 "remove ?update=yes from update URLs"
- Remove this url if its in mc code.

[2016-09-28 06:16] deekoder opened #1839 "auto update mc on the mc command without args"
When user types
[code]

check if mc is the latest version. If it's not trigger an update similar to mc update command.

[2016-09-28 09:16] harshavardhana commented on #1838
We never did this for mc, closing.

[2016-09-28 09:16] #1838 closed

[2016-09-28 17:13] #1827 closed

[2016-09-28 17:50] #1839 closed

[2016-09-29 10:50] krishnasrinivas opened #1841 "mirror: watch should provide appropirate error when used on aws-s3"
when `mc mirror -w s3/bucket1 myminio/bucket1` is done it should throw error:
`Supported only on minio storage`

right now it throws:
`Failed to start monitoring. The ARN is not well formed`

[2016-09-29 12:23] vadmeste commented on #1841
This is fixed in master. We have this instead:
[code]

[2016-09-29 16:23] harshavardhana commented on #1841
We need to fix this error message.

[2016-09-30 10:40] koolhead17 opened #1843 "minio client complete guide should refer play in subcommands"
As a guide line we have followed and used play in all the ``mc`` command examples and we should maintain that. Newer introduced command uses ``s3``. Please assign it to me, I will do the needed changes.

[2016-09-30 10:53] vadmeste opened #1844 "doc: explain how to access published buckets/prefixes"
Sometimes, users don't know what to do next to this command:
   `mc policy download myminio/testbucket/`.

We need to show how to construct the url of the downloadable objects.

[2016-09-30 10:57] koolhead17 commented on #1844
@vadmeste I will add this as well via https://github.com/minio/mc/issues/1843 😄

[2016-09-30 19:32] felixbuenemann commented on #1716
It would be great if this bug could be fixed. I can no longer use mc because of it.

[2016-09-30 20:28] vadmeste commented on #1716
@felixbuenemann, sorry for the delay. We are currently working on this, we'll keep you updated.

[2016-09-30 20:41] felixbuenemann commented on #1716
Thanks for the update. It is very easy to test this using the AWS S3 Console, simply choose a bucket and then click "Create Folder" to create an empty "directory".

If you inspect the key using the aws cli you get a result like this:

[code]
[code]

[2016-10-01 14:04] koolhead17 opened #1845 "mc fails to add minio server credentials as alias"
## Expected behaviour

`mc` should accept access/secret key produced by Minio server.
## Actual behaviour

mc: <ERROR> Invalid access key ‘test’. Invalid arguments provided, cannot proceed.
## Steps to reproduce the behaviour

Inside minio server server configuration `.minio/config.json`  replace access secret key to test:test & start minio server.

[code]

Now try to paste  `$ mc config host add

[2016-10-02 04:32] #1716 closed

[2016-10-03 12:54] ricoharisin91 opened #1848 "mc can't copy files, error Last-Modified time format is invalid."
## Expected behaviour
mc copy the files

## Actual behaviour
mc throw an error

## Steps to reproduce the behaviour
mirror  from bucket called kilatstorage to s3 with `mc mirror` mc cannot even copy the first files, when i debug the output like this

[code]

## mc version
Version: DEVELOPMENT.GOGET
Release-tag: DEVELOPMENT.GOGET
Commit-id: DEVELOPMENT.GOGET

## System information
Ubuntu 14.04

[2016-10-03 13:02] krishnasrinivas commented on #1848
@ricoharisin91 can you paste what error mc throws?

Can you do simple operations like `mc cat` `mc cp` without problems?

[2016-10-03 13:49] ricoharisin91 commented on #1848
hi thanks for the reply

i've tried a very simple task to `cp` one file to my local but no luck

[2016-10-03 13:50] ricoharisin91 commented on #1848
hi thanks for the reply

i've tried a very simple `mc cp` from my bucket to local but no luck

[code]

[2016-10-03 15:38] vadmeste commented on #1848
Looks like the reason is that the server is returning time in CET and not GMT. I will investigate further.

[2016-10-03 15:51] vadmeste commented on #1848
@ricoharisin91, according to this link https://tools.ietf.org/html/rfc7232#section-2.2 which leads to this https://tools.ietf.org/html/rfc7231#section-7.1.1.1, only GMT is supported. Your S3 provider is not following  the spec exactly.

[2016-10-03 16:07] ricoharisin91 commented on #1848
yeah it's really strange that my S3 provider using CET instead GMT

so no solution then?

[2016-10-03 16:18] vadmeste commented on #1848
You have to notify your S3 provider. A temporary workaround for you is to replace http.TimeFormat in your copy of minio-go code with "Mon, 02 Jan 2006 15:04:05 CET" until your provider fixes his bug. (didn't test the workaround though)

[2016-10-03 16:29] vadmeste commented on #1848
I meant in api-get-object.go and api-stat.go files

[2016-10-03 16:33] harshavardhana commented on #1848
[code]

Interestingly 'Date' header is set properly but not 'Last-Modified'  here is the output.

S3
[code]

Minio
[code]

[2016-10-03 17:43] ricoharisin91 commented on #1848
ok i'll try to do the workaround, hopefully it will solve for temporary

thanks for the tip anyway!

[2016-10-03 18:04] harshavardhana commented on #1848
Closing as not an 'mc' issue.

[2016-10-03 18:04] #1848 closed

[2016-10-09 02:16] harshavardhana commented on #1843
Closed in master

[2016-10-09 02:16] #1843 closed

[2016-10-09 02:16] harshavardhana commented on #1844
Closed in master

[2016-10-09 02:16] #1844 closed

[2016-10-09 02:17] harshavardhana commented on #1828
Fixed by #1837

[2016-10-09 02:17] #1828 closed

[2016-10-09 02:17] harshavardhana commented on #1841
@vadmeste has this been fixed?

[2016-10-09 19:35] vadmeste commented on #1841
@harshavardhana, currently in master, we have this error message:
`Unexpected error during monitoring. Listening bucket notification is specific only to minio partitions`

The error is  generic and received from minio-go, we can rename it to `This operation is supported only with Minio storage`, what do you think?

[2016-10-09 19:50] harshavardhana commented on #1841
Yes latter is better. @vadmeste

[2016-10-10 16:38] vadmeste opened #1852 "`mc mirror -w` doesn't work when we copy a file with one character name in a filesystem source directory"
If we want to watch continuously a file system directory and mirror contents to a bucket, we can notice that fs watch system doesn't consider new files whose names have only one character

If I run this in one terminal:
`$ mc mirror -w -q /path/to/mydir myminio/testbucket/`

and this in another terminal:
`$ cp f /path/to/mydir/`

`f` is not copied in the remote s3 server

[2016-10-10 16:40] vadmeste commented on #1852
By the way, `mc mirroir -w` shows some activity, but the file is not actually copied.

[2016-10-10 16:41] harshavardhana commented on #1852
Can you use `mc watch` ? See the event reported by server and what is the file size ?

[2016-10-10 16:51] vadmeste commented on #1852
Nice advice :)
[2016-10-10T16:46:34Z]   581B ObjectCreated http://172.19.0.2:9000/testbucket/home/vadmeste/work/gospace/src/github.com/minio/minio/m

The file is copied. I checked. However it is copied under /home/vadmeste/work/gospace/src/github.com/minio/minio, though in the command line, I run this : `mc mirror -q -w minio/ myminio1/testbucket/`

This is confusing.

[2016-10-10 17:03] harshavardhana commented on #1852
i think the 'mc mirror' is copying full path not the relative path.

[2016-10-10 20:03] #1852 closed

[2016-10-13 16:16] #1841 closed

[2016-10-18 09:44] krisis opened #1857 "Recursive copy between buckets using mc fails"
## Expected behaviour

Recursive copy between buckets must succeed.
## Actual behaviour

[code]

While the same works with aws,

[code]
## Steps to reproduce the behaviour
- Make two buckets `test1` and `test2`
- Copy a small object to `test1`
- `mc --quiet cp  --recursive localxl/test1/ localxl/test2/` , where `localxl` is alias for local Minio server
## mc version

`17eeec6`
## System informatio

[2016-10-18 10:17] krishnasrinivas opened #1858 "mirror: mc mirror fails to create destination prefix it doesn't exist."
mc mirror fails:

[code]

[2016-10-22 15:42] gcv opened #1859 "s3: [feature] Please add support for using different storage classes in S3"
Commands like `mc cp` and `mc mirror` should take a `--storage-class` parameter which would specify the storage class for newly-created objects. Right now, everything (reasonably) defaults to `STANDARD`.

[2016-10-22 15:49] koolhead17 opened #1860 "Minio client fails to to provide session ID incase of incomplete mirror request."
## Expected behaviour

`mc mirror atul/ myminio/atul`  If the connection breaks It should provide error like

[code]
## Actual behaviour

`mc` just closes the operation.
## Steps to reproduce the behaviour

On Minio1, distributed server.

`mc mirror atul/ myminio/atul` & press CTRL+C

[2016-10-24 15:05] vadmeste opened #1861 "Rare crash: concurrent map access"
This occured in a copy loop (mc cp) of a 128 mb file to a remote bucket

[code]

[2016-10-24 15:24] harshavardhana commented on #1861
Looks like minio-go bug. Closing it here. Can you reopen on minio-go ?

[2016-10-24 15:24] #1861 closed

[2016-10-24 15:45] krishnasrinivas opened #1862 "mc share download on s3 should give bucket.s3.amazonaws.com"
[code]

instead of https://s3.amazonaws.com/miniocloud/minio it should give: https://miniocloud.s3.amazonaws.com/ for faster uploads.

[2016-10-24 15:53] harshavardhana commented on #1862
@krishnasrinivas PresignedPostPolicy returns the right URL. Not sure if 'mc' is reusing it.

[2016-10-25 20:23] #1862 closed

[2016-10-27 09:00] harshavardhana opened #1865 "Error not reported cleanly if bucket is not empty."
[code]

[2016-10-28 10:19] vadmeste commented on #1865
This bug is fixed in minio-go, https://github.com/minio/minio-go/pull/545

[2016-10-29 03:07] freeseacher commented on #1153
I am using mc to upload build artifact to minio server. Most known ci system uses exit code to check if build failed.
What is the best way to achieve "build failed" with `mc --json` behavior?

[2016-10-29 06:02] harshavardhana commented on #1153
@freeseacher you could check for '.status'

[code]

[code]

[2016-10-30 10:30] radutopala commented on #1858
@krishnasrinivas first create a small file:
[code]

[2016-10-30 16:22] harshavardhana commented on #1858
Is `mc` a file or directory? @krishnasrinivas

[2016-10-30 16:22] harshavardhana commented on #1858
Can you also paste "--debug" output.

[2016-10-31 09:47] vadmeste commented on #1830
Looks this bug emerged again.

[2016-10-31 10:05] vadmeste commented on #1830
This is a regression in minio-go, fixed it about will test further

[2016-10-31 19:53] krishnasrinivas commented on #1858
@harshavardhana i have assigned it to myself, will fix it

[2016-10-31 19:57] harshavardhana commented on #1858
Is it still an issue? under what conditions does this occur.

[2016-10-31 20:00] krishnasrinivas commented on #1858
`asd` is a local dir with few files in it.
happens if prefix `asd/` does not exist on minio.

[code]

[2016-10-31 20:04] harshavardhana commented on #1858
Ah that way @krishnasrinivas - it is supposed to work.

[2016-10-31 20:08] vadmeste commented on #1858
I guess this happens because the code tries to compare the content of source and target directory before deciding what files to synchronize

[2016-10-31 20:38] harshavardhana commented on #1858
Its an issue with url2Stat() there is no need to stat the destination here.

[2016-11-02 04:05] harshavardhana commented on #1860
Is this reproducible ?

[2016-11-02 04:06] harshavardhana commented on #1865
Can you re-vendorize minio-go ?

[2016-11-02 04:08] harshavardhana commented on #1845
Can you reproduce this @koolhead17 again ?

[2016-11-02 04:09] harshavardhana commented on #1830
Is this fixed @vadmeste ?

[2016-11-02 09:18] vadmeste commented on #1830
Yes, fixed by https://github.com/minio/minio-go/pull/546

[2016-11-02 09:18] #1830 closed

[2016-11-02 09:47] vadmeste commented on #1865
:+1:

https://github.com/minio/mc/pull/1867

[2016-11-02 10:41] koolhead17 commented on #1845
@harshavardhana

No, this is working fine after recent `` $ go get - u``

[code]

and on ``mc``

[code]

Closing this.

[2016-11-02 10:41] #1845 closed

[2016-11-02 10:43] vadmeste commented on #1845
yeah I fixed it recently, but there is another bug where minio can accept characters in access/secret keys but not acceptable by mc, will open a new bug.

[2016-11-02 10:46] vadmeste opened #1868 "Review which characters should be accepted in access and secret keys"
minio & mc don't have the same restriction rule in terms of accepted characters in access and secret keys, we need to review this.

[2016-11-02 10:48] koolhead17 commented on #1868
@vadmeste Is there a reason we are not following strict S3 guideline for access/secret keys?

[2016-11-02 11:01] vadmeste commented on #1868
I am not able to find any s3 guideline document @koolhead17, can you point me to one ?

[2016-11-06 09:20] harshavardhana opened #1871 "[policy] mc policy upload should print help if no bucket or prefix is provided."
ab@Gravity:~$ mc policy upload
mc: <ERROR> Unable to set policy ‘upload’ for ‘upload’. Requested file ‘upload’ not found
[code]

[2016-11-06 09:21] harshavardhana opened #1872 "[policy] `mc policy both` should be changed to `mc policy public`"

[2016-11-06 09:34] harshavardhana opened #1873 "[policy] mc policy links s3/mybucket to list fully qualified URLs"
This was requested by @atomi to list public URLs for external processing.

[2016-11-07 18:29] donatello opened #1874 "mc does not upload multipart file when it finds an incomplete upload id, but list parts on it gives NoSuchUpload error"
## Expected behaviour

As described in title.

## Actual behaviour

As described in title.

## Steps to reproduce the behaviour

See https://github.com/minio/minio/issues/3149

## mc version

- master

[2016-11-07 18:36] donatello opened #1875 "mc does not complete listing incomplete uploads on certain errors."
## Expected behaviour

Should list all incomplete uploads.

## Actual behaviour

Gives up listing incomplete uploads when it finds that an upload id that returns a NoSuchUpload id error.

This is related to https://github.com/minio/mc/issues/1874

## Steps to reproduce the behaviour

See https://github.com/minio/minio/issues/3149 - when there is an upload id that returns NoSuchUpload error on the

[2016-11-07 18:41] donatello commented on #1874
Example of actual error log:

[code]

[2016-11-07 18:44] donatello commented on #1875
Example of actual debug log with this error:

[code]

In such cases, mc should ignore the offending upload id and continue listing others.

[2016-11-08 12:48] equinox0815 opened #1876 "cp from server with empty files does not work"
Hi,

I have a folder with a number of files, some of which have 0B size, on a minio server. Using `mc` i try to download all the files within that directory

## Expected behaviour

Downloading of all files should succeed. Even if the file has 0B size.

## Actual behaviour

All files which have a size of 0Bytes won't be downloaded.

[code]

## Steps to reproduce the behaviour

 - upload a 0 byte fi

[2016-11-08 12:57] krishnasrinivas commented on #1876
@equinox0815 thanks for reporting.

`mc` is adding Range header:

[code]

needs to be investigated.

[2016-11-08 18:22] vadmeste commented on #1865
You can close this @harshavardhana

[2016-11-08 18:24] #1865 closed

[2016-11-08 20:23] vadmeste commented on #1872
Fixed by https://github.com/minio/mc/pull/1877

[2016-11-08 20:23] #1872 closed

[2016-11-08 21:57] equinox0815 commented on #1876
Hi,

I had a little time to investigate a bit more and want to add that it might be a problem on the server-side. It is likely that the 0B file on the server was the result of a failed upload and the thus the file on the server was somehow corrupeted...
On the server side i was using minio (downloaded from minio.io 2 days ago).

Sorry i don't have time to investigate further...

regards
 christian

[2016-11-08 22:04] vadmeste commented on #1876
@equinox0815, thanks for your message.

I am currently investigating the issue. I see the problem with AWS S3 too, you may or not be experimenting a bug in Minio server. Anyway, I will update you soon.

[2016-11-08 22:16] harshavardhana commented on #1876
The issue is in 'minio-go' i think @vadmeste

[2016-11-08 22:45] harshavardhana commented on #1873
[code]

[2016-11-09 09:58] vadmeste commented on #1871
Fixed by https://github.com/minio/mc/pull/1878

[2016-11-09 09:58] #1871 closed

[2016-11-09 10:30] vadmeste commented on #1876
Fixed by #1879

[2016-11-09 10:30] #1876 closed

[2016-11-11 19:02] donatello opened #1880 "`mc` returns inconsistent exit status on same kind of error"
## Expected behaviour

mc should exit with non-zero exit code for "connection refused" errors (i.e. when the server is down).

## Actual behaviour

In some cases mc exits with 0 exit status when server is down. This makes it difficult to use in scripts.

## Steps to reproduce the behaviour

[code]

## mc version
[code]
## System information
Linux.

[2016-11-11 19:16] harshavardhana commented on #1880
mc shouldn't exit with any status it should exit with '0' actual error is provided through '--json'

[2016-11-11 20:12] donatello commented on #1880
Ok cool. So exit status needs to be fixed here.

[2016-11-11 20:17] harshavardhana commented on #1880
In case of 'mc pipe' we might be doing something odd here. So will see how to fix it.

[2016-11-14 04:45] krisis commented on #1857
@harshavardhana Why have you added the question label to it?

[2016-11-14 05:14] harshavardhana commented on #1857
Ah sorry my mistake, was meant to re-evaluate this situation since we fixed a whole bunch of things on minio master.

[2016-11-14 06:06] krisis commented on #1857
@harshavardhana I shall check if this issue still exists with the current master.

[2016-11-17 09:27] vadmeste opened #1883 "Add support of self signed certificates (Add ~/.mc/CAs/)"
## Expected behaviour
When a user configures a self signed certificate in his ecosystem, he shouldn't pass --insecure flag to make mc works

## Actual behaviour
User needs to pass --insecure parameter

## Steps to reproduce the behaviour
1. Generate self signed certificate and add it to a minio server
2. mc ls myminio/

## mc version
All versions

## System informationms
All systems

[2016-11-19 18:46] rakesh-eltropy opened #1889 "Mirror getting terminated if source server goes down.."
## Expected behaviour
We have configured two minio servers. Idea is to keep both the servers in sync.
So, we have run following commands:

mc mirror  -w ltropyorgnode2/rakesh ltropyorgnode1/rakesh
mc mirror  -w ltropyorgnode1/rakesh ltropyorgnode2/rakesh

If source node goes down eg. ltropyorgnode2 - syncing is not happening. mc mirror should re-establish the connection, when source node comes up.

[2016-11-19 18:48] harshavardhana commented on #1889
It is expected and should write a session  you can do `mc session resume sessionid`

[2016-11-19 18:49] harshavardhana commented on #1889
Is the session not written ?

[2016-11-19 18:53] rakesh-eltropy commented on #1889
But, how would mc session resume will solve this problem. I want to keep two servers in sync. If one of them goes down, other takes over. In this case, even our minio server comes back, I still have to manually go and run

[2016-11-19 18:55] vadmeste commented on #1889
Actually yes. mc doesn't exit when the source server stops.

[2016-11-19 19:05] harshavardhana commented on #1889
mc mirror -w shouldnt fail since the internal code in minio-go is never supposed to error out.  So will fix it.  Thanks for the bug @rakesh-eltropy

[2016-11-19 19:07] rakesh-eltropy commented on #1889
Thanks @harshavardhana. Looking forward for the fix.

[2016-11-20 22:48] #1889 closed

[2016-11-24 09:42] harshavardhana commented on #1860
Closing this as not reproducible.

[2016-11-24 09:42] #1860 closed

[2016-11-24 09:43] harshavardhana commented on #1857
Is this still a problem?

[2016-11-24 09:44] harshavardhana commented on #1858
@krishnasrinivas - do you have a fix for this?

[2016-11-24 09:46] harshavardhana commented on #1826
[code]
Is fixed in master

[2016-11-24 09:46] #1826 closed

[2016-11-24 09:49] harshavardhana commented on #1670
[code]

[code]

Fixed in master

[2016-11-24 09:49] #1670 closed

[2016-11-24 12:03] krisis commented on #1857
Yes, this is still a problem as of commit ``b51e6b0``.

[2016-11-24 19:39] harshavardhana commented on #1857
Only on Windows ?

[2016-11-24 20:10] #1868 closed

[2016-11-25 06:02] krisis commented on #1857
yes, this is seen only on windows.

[2016-11-25 07:06] abperiasamy commented on #1880
@harshavardhana mc must exit with error code 1 for any errors independent of JSON output.

[2016-11-25 10:05] vadmeste commented on #1880
I suggest that errors of type errorIf return 1 and fatalIf return 2, that way we can differentiate between regular errors like bucket not found, network error and fatal errors like alias not found, config parsing error, etc..

[2016-11-25 15:50] harshavardhana commented on #1880
I think we don't need to make it elaborate it can be simply 1 or 0. 1 in case of error and 0 other wise. where does it help providing different kinds of error code?

[2016-11-25 18:55] vadmeste opened #1896 "mc doesn't return an error when the download file is incomplete"
When we simulate disk corruption, like removing a part file in XL backend, mc doesn't show any error when it downloads the incomplete file, though it can compare the size of the downloaded file with the file size reported by the server (content-length)

[2016-11-25 22:24] supernova32 commented on #1858
I'm getting a very similar error when using `mc watch`. It is most likely caused by the same bug as the error pointed out by @krishnasrinivas. Here is my `--debug` output.

[code]

As reference, I tried an older version of `mc`, "2016-08-21T03:02:49Z", and it does work there.

[code]

[2016-11-26 20:04] vadmeste commented on #1880
I have always considered fatalIf as a dysfunctional problem (cannot read config json, invalid arguments, etc..) and errorIf for regular errors (bucket not found,  network error, ..) but it seems the intention of the existing code is not similar to my thinking. Anyway I think we should keep as it is now until someone asks for it with a clear motivation.

[2016-11-27 05:38] harshavardhana opened #1898 "fs/s3: Relook at path handling and simplify path handling for windows."
## Expected behaviour
Simplification of Windows path handling.

## Actual behaviour
Currently path handling is haphazard and is littered through out the code with patch work fixes.

## Steps to reproduce the behaviour
Just looking at thecode.

## mc version
- (paste output of `mc version`)
master

## System information
All operating systems.

[2016-11-27 06:56] #1857 closed

[2016-11-27 07:05] #1880 closed

[2016-11-27 18:33] #1875 closed

[2016-11-27 19:43] harshavardhana opened #1900 "events: mc events success messages should be changed"
## Expected behaviour
Successfully configured `<ARN>`

## Actual behaviour
[code]

Successfully accomplished is not a the right message.

## Steps to reproduce the behaviour
[code]
## mc version
- current master

[2016-11-27 19:57] vadmeste commented on #1874
Will be fixed after vendoring a new minio-go with this patch https://github.com/minio/minio-go/commit/282c8b22b50ac7687cac84aace0a619b0c7e70f0 included

[2016-11-27 20:02] vadmeste commented on #1883
Working on this.

[2016-11-30 02:43] dgoo2308 opened #1902 "mc mirror --watch remote local, syncs the ongoing upload *.part.minio"
## Expected behaviour

sync uploaded files.

## Actual behaviour

also sync intermediate files of upload.

## Steps to reproduce the behaviour

start mirror =>`mc mirror -watch--force --remove mys3/dirwatch $HOME/dirwatch`
monitor local folder =>`mc watch dirwatch`
And => `mc cp test.txt mys3/dirwatch/test.txt`

Output mc watch local folder:
[code]
## mc version
- VERSION mc:
  2016-10-07T01:56:22

[2016-11-30 03:02] harshavardhana commented on #1902
Thanks for opening the bug we will take a look @dgoo2308

[2016-11-30 03:07] dgoo2308 opened #1903 "mirror: [feature] mc mirror --exclude option to exclude unwanted system files like .Ds_Store and/or to only mirror only certain extensions"
## Expected behaviour

1. `mc mirror --exclude .* --exclude *.temp` excludes all .* files and *.temp files
2. `mc mirror --only *.a`, mirrors only *.a files

Remark : would not mind for a `mc mirror --watch --only` if an watch event was created for non compliant files, as long as they are not mirrored.
## Actual behaviour
na
## Steps to reproduce the behaviour
na
## mc version
- (paste output of `

[2016-11-30 04:46] harshavardhana commented on #1903
Any files that needs to be excluded should be defaulted into the code itself.

[code]
Can you help us list down the files that you wish to be ignored?.

[2016-11-30 05:09] dgoo2308 commented on #1903
Sorry, but I'm not a fan to hardcore that kind of thing.
Since I only use Mac, I would not known what kind of files Windows is creating, nor what files other people on other systems want to exclude.

So for Darwin, it should be `.DS_Store` and to solve #1902, one could add `*.part.minio`, that is if wildcards are supported.

On the other hand if one does not want to add a command, perhaps a `.mc_i

[2016-11-30 06:30] harshavardhana commented on #1903
An ignore file is perhaps easier to implement we will discuss internally and see how it can be achieved..

[2016-11-30 13:00] vadmeste commented on #1902
@harshavardhana, If we'll implement ignored files feature, I think it would be better to add *.part.minio to that file by default to fix this "bug".

[2016-11-30 18:18] harshavardhana commented on #1902
Yes that is the idea.

[2016-12-01 16:58] felixbuenemann opened #1904 "session: [windows] mc session resume/clear fails due to file locking"
When using `mc session resume <id>` or `mc session clear all` on Windows, the command fails with the error "The file is in use by another process".

## mc version
mc 2016-10-07

## System information
Windows 10 Anniversary x64

[2016-12-01 17:00] felixbuenemann commented on #1876
This also affects `mc mirror remote local` with empty files on s3.

@vadmeste Will there be a new release with this fix soon?

[2016-12-02 19:16] harshavardhana commented on #1883
Fixed by #1901

[2016-12-02 19:16] #1883 closed

[2016-12-04 18:28] #1874 closed

[2016-12-04 18:37] vadmeste commented on #1896
I am going to do this with simply checking the size of the transferred file, any easier way before I go to implement this ?

[2016-12-04 18:42] harshavardhana commented on #1896
There is already a check for this, we need to see why it is not working - in-fact for both less content v/s more content - It seems like there is something else which stops the comparison.

[2016-12-04 18:42] harshavardhana commented on #1896
It could also be `minio-go` GetObject() bug too..

[2016-12-04 18:43] vadmeste commented on #1896
:+1:

[2016-12-04 19:29] vadmeste commented on #1896
yes, I found it.. it is working with `cp` and `mirror` but not with `cat`

[2016-12-04 19:55] harshavardhana commented on #1896
Perhaps wrapping like a rangeReader will be nicer..

[2016-12-04 21:13] vadmeste commented on #1896
yes.. but sometimes we use ReadAt() instead of Read().. and ReadAt() is incompatible with rangeReader.. so I guess it is better to keep the code simple as it is now.

[2016-12-04 21:20] harshavardhana commented on #1896
Ah okay cool.

[2016-12-04 21:59] harshavardhana commented on #1896
Closing fixed by #1907

[2016-12-04 21:59] #1896 closed

[2016-12-04 23:18] harshavardhana opened #1908 "mirror slower than cp for the same dataset."
[code]

## Expected behaviour
mirror is comparable to cp should be equal or if not higher.

## Actual behaviour
`mirror` is slower than `cp`

[2016-12-05 10:44] vadmeste commented on #1858
@supernova32, sorry for the delay, I was not able to reproduce your bug, if you ever see it again, can you open a new issue with more information ?

@krishnasrinivas, I am taking this if you did not start to work on it.

[2016-12-05 17:44] harshavardhana commented on #1858
This is because the `mc watch` is old version, server changed the API as well - we will make a new release.

[2016-12-05 21:53] #1908 closed

[2016-12-05 22:07] #1902 closed

[2016-12-05 22:14] #1900 closed

[2016-12-06 00:05] andylibrian opened #1912 "s3: Add support for Amazon S3 Transfer Acceleration"
AWS S3 offers [Transfer Acceleration](http://docs.aws.amazon.com/AmazonS3/latest/dev/transfer-acceleration.html) to enable fast transfers of files over long distances between  client and an S3 bucket. Transfer Acceleration takes advantage of Amazon CloudFront’s globally distributed edge locations. As the data arrives at an edge location, data is routed to Amazon S3 over an optimized network path.

[2016-12-06 04:28] harshavardhana opened #1913 "config: Check if older binaries can run with newer config.json"
## Expected behaviour
Fail if older binaries are used with newer config.json

## Actual behaviour
Not sure need to test.

[2016-12-06 09:43] harshavardhana commented on #1858
A new release is done so should fix @supernova32 's issue.

[2016-12-06 09:44] harshavardhana commented on #1824
This is not meaningful anymore. Closing.

[2016-12-06 09:44] #1824 closed

[2016-12-06 17:06] supernova32 commented on #1858
Thanks @harshavardhana! 👍

[2016-12-07 14:25] vadmeste opened #1915 "cli: version produces wrong version"
## Expected behaviour
[code]

## Actual behaviour
[code]
## Steps to reproduce the behaviour
mc --version

## mc version
2016-12-05T22:51:51Z

## System information
All

[2016-12-08 07:17] harshavardhana opened #1916 "mirror: Rewrite mirror command and simplify the overall behavior."
Current code saves watch events also in the session which complicates the code, clean this up with new agreed design

 - `mc mirror`  regular should save session and resume like `cp`
 - `mc mirror -w` should mirror and save session.  Once all the data is transferred delete the session
    and watch for events..

[2016-12-08 08:22] harshavardhana opened #1917 "build: Introduce minio client to have its own docker file."

[2016-12-09 08:23] harshavardhana commented on #1835
Closing in favor of #1916

[2016-12-09 08:23] #1835 closed

[2016-12-09 19:21] vadmeste opened #1918 "admin: implement admin commands (service, lock, heal)"
## Expected behaviour
We need to have new admin commands which use minio admin go library to send commands to the specified minio server.

This task depends on:
#1921
#1920
#1919

## Actual behaviour
We don't have these commands yet

## Steps to reproduce the behaviour

## mc version
All versions

## System information
All systems

[2016-12-09 19:40] harshavardhana commented on #1918
Can you open issues for each.. since these will be brought in distinctively.

[2016-12-09 19:49] vadmeste opened #1919 "admin: Implement service command"
## Expected behaviour
Having a service command to restart/shutdown and get the status of a given minio server address

## Actual behaviour
Not having that command

## mc version
All
## System information
All

[2016-12-09 19:50] vadmeste opened #1920 "admin: Implement lock command"
## Expected behaviour
Having a lock command to list/clear locks hold by a specified minio server

## Actual behaviour
Not having lock command

## mc version
All
## System information
All

[2016-12-09 19:52] vadmeste opened #1921 "admin: Implement heal command"
## Expected behaviour
Having a heal command to list buckets/objects that need to be healed and effectively heal them.

## Actual behaviour
Not having heal command

## mc version
All
## System information
All

[2016-12-11 22:23] GarimaKapoor commented on #1918
Deleting this issue as the individual issues are already open.

[2016-12-11 22:24] #1918 closed

[2016-12-11 22:26] GarimaKapoor commented on #1858
@harshavardhana can we close this issues, if this is not reproducible anymore.

[2016-12-12 01:48] dmgrimal opened #1923 "mirror: Include user metadata (headers) from objects when mirroring"
## Expected behaviour
If custom headers are present in the source object, these should be mirrored over to the new object.

## Actual behaviour
Custom headers are not present on destination object therefore this data is missing.

## Steps to reproduce the behaviour
Create an object on source bucket with custom headers.
Mirror to another bucket.
Confirm headers are not present.

## mc version
# ./m

[2016-12-12 10:45] vadmeste commented on #1915
Taking this

[2016-12-12 18:21] #1915 closed

[2016-12-15 04:06] #1923 closed

[2016-12-16 12:20] dR3b commented on #873
This is my solution:
[code]
Problem solved ;)

[2016-12-17 11:00] harshavardhana opened #1931 "rm: Preserve objects with "/" and delete them if requested"
## Expected behaviour
Delete objects with "/"

## Actual behaviour
Does not delete

[code]

## Steps to reproduce the behaviour
Just run this on a bucket where there are objects with "/" in them.

[code]

## mc version
Current master.

[2016-12-20 17:35] alexellis opened #1932 "Feature request: webhooks"
One of the strong advantages of genuine S3 is the webhook support or events getting pushed to the SNS queue. Is this on the Road map?

[2016-12-20 17:54] harshavardhana commented on #1932
We already have that with ListenBucketNotification - https://docs.minio.io/docs/golang-client-api-reference#ListenBucketNotification

There are large list of event notification endpoints we already support

- https://blog.minio.io/part-5-5-publish-minio-events-via-postgresql-50f6cc7a7346#.xpwc689v3
- https://blog.minio.io/part-4-5-publish-minio-events-via-nats-79114ea5cd29#.ew5cuxb6y
- https://blo

[2016-12-21 11:21] dcharbonnier opened #1933 "alpine build"
On alpine 3.4
[code]

[2016-12-21 11:52] vadmeste commented on #1933
@dcharbonnier, what does `uname -a` return in your alpine machine ?

[2016-12-21 11:57] dcharbonnier commented on #1933
go get work on golang:1.7.4-alpine and I'm able then to copy /go/bin/mc on a alpine:3.4 image, the executable work, if you could just add the process to your CD itwould be nice.

the same thing as you 😛
[code]

[2016-12-21 12:01] dcharbonnier commented on #1933
`apk add --no-cache ca-certificates` is required for the binary to work correctly

[2016-12-21 12:48] vadmeste commented on #1933
I build mc locally in my machine using CGO_ENABLED=0, the produced binary is no more dynamically linked and it seems that it resolved the problem.

[2016-12-21 14:09] dcharbonnier commented on #1933
can we automate this process and release like that ?

[2016-12-21 16:46] dcharbonnier opened #1934 "pipe not working on s3"
## Expected behaviour
Upload should success with `mc pipe` on s3
[code]
should return
[code]
## Actual behaviour
Works with minio latest but fail with s3

Return
[code]

## Steps to reproduce the behaviour
https://gist.github.com/dcharbonnier/9df28ae546968dd1ce0944729df52429

## mc version
go get from today

## System information
alpine, this may be relevant

[2016-12-21 16:50] dcharbonnier commented on #1934
don't think about an error on the amazon credential, mc ls mc copy etc work ;-)

[2016-12-21 16:53] harshavardhana commented on #1934
[code]

Seems to be working fine.

[2016-12-21 16:54] #1932 closed

[2016-12-21 17:02] dcharbonnier commented on #1934
adding `--debug` it's a problem of authorizations, pipe require special authorizations on the bucket

[2016-12-21 17:02] #1934 closed

[2016-12-21 17:09] dcharbonnier commented on #1934
`s3:ListBucketMultipartUploads` is required

[2016-12-22 20:54] #1933 closed

[2016-12-22 21:38] harshavardhana commented on #1919
Fixed by #1922

[2016-12-22 21:38] #1919 closed

[2016-12-30 16:10] vadmeste commented on #1920
I already have a working version of mc lock code linked to @krisis madmin lock PR, will send a PR once @krisis work is ready.

[2017-01-01 04:32] harshavardhana commented on #1913
ping @vadmeste - can you validate this when you have time. ?

[2017-01-01 04:49] #1917 closed

[2017-01-01 18:26] #1931 closed

[2017-01-01 20:34] vadmeste commented on #1913
The current config version is 8, the release https://github.com/minio/mc/releases/tag/RELEASE.2016-02-19T04-11-55Z is supposed to work with config v7 but it doesn't show any error when it loads a config file v8, after that release, mc starts to use config v8.

[2017-01-01 20:42] harshavardhana commented on #1913
Yeah we need to error out.

[2017-01-01 20:54] harshavardhana commented on #1913
Actually you have already fixed this @vadmeste with new release this will be addressed.

[code]

[2017-01-01 20:57] vadmeste commented on #1913
yes @harshavardhana, I am checking with session files now, will open a new issue if it is not handled properly.

[2017-01-01 21:11] harshavardhana commented on #1913
#1940 should fix that too.

[2017-01-01 21:12] harshavardhana commented on #1913
Closing this since this is already handled.

[2017-01-01 21:12] #1913 closed

[2017-01-01 21:25] vadmeste commented on #1873
Not sure what does 'links' stand for here, any explanation ?

[2017-01-01 21:40] vadmeste commented on #1873
We probably need to print the full qualified URL when the user runs policy download and upload commands, just to simplify and to avoid adding a new command.

[2017-01-01 21:44] atomi commented on #1873
Yeah.

The idea is to make it easy to list URLs for buckets that are public.

[2017-01-01 22:47] harshavardhana commented on #1873
We need to add a new command it would confuse the existing functionality. Also setting and unsetting policy shouldn't be the reason to get fully qualified URLs

[2017-01-01 23:00] vadmeste commented on #1873
I wanted something like 'share' command which also prints the full qualified URL, policy download is somehow similar

Yeah, but also, it seems to me that someone will need a full qualified URL of an object only when this latter becomes public which means after applying policy command

[2017-01-01 23:11] harshavardhana commented on #1873
That is correct but the purpose of links is to fetch URLs on existing buckets which are public adding this as part of `policy` settings makes it quite heavy and you can't extend it.  For example being able to differentiate `--recursive` v/s non-recursive has no meaning for policy settings, navigation becomes complicated but putting everything on the same command.

[2017-01-02 16:20] vadmeste commented on #1873
:+1:

This could be done by listing prefixes associated to download policies then we should list objects which start with all found prefixes and then print the full qualified URL of the found objects.

[2017-01-02 18:42] vadmeste commented on #1873
Taking this

[2017-01-02 19:49] vadmeste commented on #1873
@harshavardhana, what would be the output of json ? {"entry:":"http://play.minio.io:9000/testbucket/public/object1"} ?

[2017-01-02 20:52] harshavardhana commented on #1873
It should have the same format. Like `mc ls` just that we don't need to show time or size.

[2017-01-02 23:49] vadmeste commented on #1873
Timeline, Jan 03.

[2017-01-02 23:52] vadmeste commented on #1920
I've added clear command, but can be merged only when @krisis work is merged.

Timeline: probably 03 jan. Will be updated tomorrow

[2017-01-03 21:24] vadmeste commented on #1916
Taking this..

[2017-01-03 21:30] harshavardhana commented on #1916
Thanks @vadmeste

[2017-01-04 13:08] limbo127 opened #1944 "ls --incomplete"
Hello,
is it possible to indicate, number of parts or original size of file in description of incomplete ls.
{"status":"success","type":"file","lastModified":"2016-12-27T12:11:25+01:00","size":5174722560,"key":"test"}   => osize=15174722560 or  part:5/10

Regards,
Nicolas

[2017-01-04 16:24] #1873 closed

[2017-01-04 19:20] atomi commented on #1873
Can we have the URLs escaped (QueryEscape?)

[2017-01-04 19:58] harshavardhana commented on #1873
@atomi that should done by the application which parses these URLs.

[2017-01-04 20:17] vadmeste commented on #1873
@harshavardhana, applications can do that, but it looks to me that no one will ever need a non encoded urls, think about spaces in object names, encoding urls will make them more ready.

[2017-01-04 22:50] harshavardhana commented on #1873
Ah that makes sense agreed.

[2017-01-05 09:26] harshavardhana commented on #1944
Seems like a good idea.. We can explore on implementing this.

[2017-01-05 09:36] #1912 closed

[2017-01-06 09:29] #1920 closed

[2017-01-06 09:30] harshavardhana commented on #1858
This is fixed in master.

[2017-01-06 09:30] #1858 closed

[2017-01-06 09:36] harshavardhana opened #1948 "admin: status shouldn't print XL related struct in json for FS"
## Expected behaviour
[code]

## Actual behaviour
[code]

Should just have type and should point to something meaningful not "1" to "FS or "XL" or something and Disks related info shouldn't be printed if absent.

## Steps to reproduce the behaviour

Start master minio server and use the above command

## mc version
master

[2017-01-06 09:38] harshavardhana opened #1949 "admin: Should support --debug"
## Expected behaviour
--debug behaves like S3 calls for admin API as well.

## Actual behaviour
Nothing is printed

[code]
## Steps to reproduce the behaviour
Just run master minio server and list lock command.

## mc version
master

[2017-01-06 17:31] vadmeste commented on #1948
@harshavardhana, shouldn't we keep online/offline disks information ?

Also, it looks like we should make change in madmin package instead, what do you think @harshavardhana ?

[2017-01-06 17:53] harshavardhana commented on #1948
We should only for XL not for FS we shouldn't print something in JSON which we don't print in regular UI for example FS we don't print anything about offline, online disks.  But in JSON it exists which is not correct.

[2017-01-06 17:54] harshavardhana commented on #1948
Also the TYPE should have a string conversion to a meaningful value like "FS" or "XL"  this can be done on the `mc` side since mc has a UI component to it.

[2017-01-06 18:16] vadmeste commented on #1949
Taking this

[2017-01-08 03:50] goodforever opened #1952 "Does mc mirror --watch support mc rm ?"
Does mc mirror --watch support mc rm files ?

mc mirror --watch minio1/mybucket minio2/mybucket
mc cp test.txt minio1/mybucket
mc rm test.txt ,inio1/mybucket , test.txt cannot be removed on minion/mybucket.

[2017-01-08 05:08] harshavardhana commented on #1952
@goodforever you need to provide `mc mirror --watch --remove --force`

[2017-01-09 16:49] #1948 closed

[2017-01-09 20:39] poornas opened #1954 "mc config host list formatting bug"
## Expected behaviour
Awkward formatting. Needs to be tabular
`➜  ~ mc config host list
gcs: https://storage.googleapis.com <-  YOUR-ACCESS-KEY-HERE |  YOUR-SECRET-KEY-HERE | S3v2
local: http://localhost:9000
play: https://play.minio.io:9000        <-  Q3AM3UQ867SPQQA43P2F |zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG |  S3v4
s3: https://s3.amazonaws.com <-  YOUR-ACCESS-KEY-HERE |  YOUR-SECRET-KEY-HER

[2017-01-10 12:38] goodforever opened #1957 "How does go client sdk create dir path in bucket ?"
How does go client sdk create dir path in a bucket ?

[2017-01-10 12:42] #1957 closed

[2017-01-10 20:47] vadmeste commented on #1949
Fixed by https://github.com/minio/mc/pull/1951

[2017-01-10 20:47] #1949 closed

[2017-01-10 20:48] vadmeste commented on #1952
Closing as answered.

[2017-01-10 20:48] #1952 closed

[2017-01-12 07:56] breml opened #1960 "Expiry cannot be larger than 7 days"
## Expected behaviour

Create share URLs with expiry periods larger than 7 days.

## Actual behaviour

The 7 days limit is hard coded in mc (as well as minio-go, see https://github.com/minio/minio-go/issues/594)

## Steps to reproduce the behaviour

Create a share URL with an expriy period longer than 7 days.

[code]

## mc version

current master

## System information

[2017-01-12 08:15] harshavardhana commented on #1960
@breml Expiry of 7days is an S3 API limit - we are following S3 standards http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html.

[2017-01-12 09:13] breml commented on #1960
OK, understood.

But why are you enforcing the limit within the tool it self and do net let the API respond with an error if a user decides to use a larger expiry period? In this case, `mc` would also work with other S3 backends and would allow to use other expiry periods, if supported by the backend (maybe even Amazon will change this limit in the future).

Don't you have any intention to make `m

[2017-01-12 09:27] harshavardhana commented on #1960
This is a bad design choice all input arguments should be validated up-front to the published API limits and not confuse users by behaving differently under different situations.  In future if Amazon S3 changes this limit then we would change too.

`mc`s  intention is to work with Minio, Amazon S3 and all other S3 compatible backends.

[2017-01-12 14:29] crapougnax opened #1961 "mc cp command stalled every other run"
## Expected behaviour
Copy a file from a server with mc to a minio server

## Actual behaviour
Every other execution of the PUT query get stalled forever: the first 'mc cp' runs smooth, the following is blocked and needs to be stopped with Ctrl-C

## Steps to reproduce the behaviour
use mc cp over and over, every odd execution fails. (see attached file - some data anonymized)
[mc-cp-debug.txt](htt

[2017-01-13 02:46] harshavardhana opened #1962 "--json not honored properly for `mc admin` behaves inconsistently"
## Expected behaviour
`--json` is a global flag and should be honored as global value.

## Actual behaviour
[code]

## Steps to reproduce the behaviour
Just do `mc admin
## mc version
Current master

## System information
System information.

[2017-01-13 02:48] harshavardhana opened #1963 "mc service status should follow new json format."
## Expected behaviour

[code]

## Actual behaviour
[code]

## Steps to reproduce the behaviour

[code]

## mc version
Current master

[2017-01-13 02:49] harshavardhana commented on #1954
Fixed in master.

[2017-01-13 02:49] #1954 closed

[2017-01-13 04:05] harshavardhana opened #1964 "[admin] mc admin list locks --json format should print in following format"
## Expected behaviour
[code]

[code]

## Actual behaviour
Current the json format needs to be fixed.

## Steps to reproduce the behaviour
mc admin lock list --json --older-than 1ms play/harsha

## mc version
Current master

[2017-01-13 04:07] harshavardhana opened #1965 "[admin] mc admin clear --json should"
## Expected behaviour
[code]

[code]

## Actual behaviour
Current print message needs to be fixed.

## Steps to reproduce the behaviour
[code]

## mc version
Current master

[2017-01-13 19:05] vadmeste commented on #1962
I opened a new issue here https://github.com/urfave/cli/issues/585 with a minimal example, I will wait for an answer for couple of days before trying new alternatives. It seems that at least we can avoid using many levels of sub commands which seems to be the root of the problem.

[2017-01-13 19:09] vadmeste commented on #1963
What does service online/offline mean here? like server initialized?

[2017-01-13 19:12] harshavardhana commented on #1963
It means that "online" meaning the server is responding to API requests, "offline" meaning server might be online but it is not responding to API requests.

[2017-01-13 19:19] harshavardhana commented on #1962
I see this is an older bug.  I think then its okay will wait for upstream.

[2017-01-17 17:03] vadmeste opened #1970 "[admin] Implement mc admin service creds command"
I already have a working copy of this command

## Expected behaviour
Having creds command to set new credentials

## Actual behaviour
Not able to do

## Steps to reproduce the behaviour

## mc version
All

## System information
All

[2017-01-17 21:47] jhedlund opened #1974 "cp/mirror: [feature] More threads for multipart?"
## Expected behaviour

Faster upload of large file multipart transfers, similar to aws s3 command.

## Actual behaviour

With process explorer, mc is using 4 parallel connections to s3 compared to 10 connections for aws cli s3

## Steps to reproduce the behaviour

mc.exe cp large file

## mc version
- (paste output of `mc version`)

Version: 2016-12-09T18:23:19Z
Release-tag: RELEASE.2016-12-09T18-

[2017-01-17 21:52] harshavardhana commented on #1974
We do 64MB parts with 3 threads we wish to not make this configurable it is part of design @jhedlund - it is chosen as a good value for 90% of use cases.  We do not wish to increase this value to 10.

Feel to modify this in source at https://github.com/minio/minio-go and compile.

[2017-01-17 22:00] jhedlund commented on #1974
Great, thanks for the response!

[2017-01-17 22:03] jhedlund commented on #1974
Instead of increasing the default number of threads, what about a command line flag to specify a different number of threads?  I'll look at the source regardless, and see if bumping to a higher number of threads makes a big difference.

[2017-01-17 22:21] harshavardhana commented on #1974
We could do but potentially we always like to keep the options to the minimum, let me explore this internally with the team.

[2017-01-18 19:34] jhedlund commented on #1904
I do not have an issue with mc session resume, but I have the same error with `mc session clear <id>` or `mc session clear all`.  (interestingly, `mc session resume <id>`  cleans up the session files fine).

I tracked down the problem to the `migrateSession` function.  In particular, `migrateSessionV7ToV8`. This opens a file pointer to the data file, and never closes it.

Just doing this:
[code]
R

[2017-01-18 19:35] harshavardhana commented on #1904
Not sure @jhedlund - looks like a bug we will fix it  // cc @vadmeste

[2017-01-18 19:37] jhedlund commented on #1974
Quick update:  Adding more threads is a big help, making it 9 threads more than doubled the speed of the upload (for a large file at least).

[2017-01-18 19:38] harshavardhana commented on #1974
Understood @jhedlund

[2017-01-19 19:21] vadmeste commented on #1921
Taking this.

[2017-01-19 19:25] #1962 closed

[2017-01-19 20:07] #1964 closed

[2017-01-19 20:07] #1965 closed

[2017-01-22 23:17] #1970 closed

[2017-01-22 23:19] #1921 closed

[2017-01-22 23:22] harshavardhana commented on #1961
@crapougnax can you provide more details on is the server hung on the client is hung?  does the cp continue after server is restarted?

[2017-01-22 23:22] #1960 closed

[2017-01-22 23:23] harshavardhana commented on #1944
Original size is not possible since it could be a stream without a length,  we can provide total parts uploaded

[2017-01-23 09:26] limbo127 commented on #1944
Yes, total parts and total parts uploaded

2017-01-23 0:23 GMT+01:00 Harshavardhana <notifications@github.com>:

[2017-01-24 00:09] harshavardhana commented on #1944
Can you explain a bit more on what is the required value here the issue with providing this information is that we see that its not useful in anyway.

- We cannot know what are total parts it can happen so that the incoming stream might not provide the size.
- Total parts uploaded we can provide, but what value does it provide - since usually a user is interested in how much storage is being used

[2017-01-24 01:08] vadmeste commented on #1963
Fixed by #1979

[2017-01-24 01:08] #1963 closed

[2017-01-24 07:14] limbo127 commented on #1944
Hello,
In fact we need to known percentage of current upload (during the process
of uploading ) .
I think totat parts uploaded is interesting, if we know size of part ?
Regards
Nicolas

2017-01-24 1:09 GMT+01:00 Harshavardhana <notifications@github.com>:

[2017-01-24 19:38] j-vizcaino opened #1981 "Tool name collides with Midnight Commander"
`mc` binary is typically used by the [Midnight Commander](https://en.wikipedia.org/wiki/Midnight_Commander) application.
As you can see, this popular tool has been around for more than 20 years and still actively maintained.

Maybe renaming the Minio client to `minioc` or `mioc` (shorter) would help the two programs coexist.

[2017-01-24 19:50] harshavardhana commented on #1981
We won't be doing this has been discussed and closed..  previously

- https://github.com/minio/mc/issues/873
- https://github.com/minio/mc/issues/1825
- https://github.com/minio/mc/issues/1206

`mc` is a single binary and can reside inside your application and is fully self contained. Besides, Minio Client is an object storage client. Midnight Commander (mc) is a free software clone of proprietary

[2017-01-24 19:50] #1981 closed

[2017-01-25 04:43] vielmetti opened #1983 "binary distribution of mc for arm64 (ARMv8, aarch64)?"
## Expected behaviour

https://dl.minio.io/client/mc/release/ would have downloadable arm64 (aarch64) binaries.

## Actual behaviour

Binaries not found.

## Steps to reproduce the behaviour

1. visit https://dl.minio.io/client/mc/release/
2. inspect directory

## mc version
- (paste output of `mc version`)

## System information

To be installed on Packet 2A, 96-core ARMv8 server.

[2017-01-25 05:29] harshavardhana commented on #1983
This will be taken care in the next release cycle for mc.

[2017-01-25 05:30] harshavardhana commented on #1983
And also linux-arm release works fine.

[2017-01-25 05:38] vielmetti commented on #1983
When I try to build from source I get this, fyi:

[code]

The relevant bit of output is
[code]

[2017-01-25 05:40] harshavardhana commented on #1983
@vielmetti you can use 'go get' - 'make' has a list of archs which needs to be updated..

[2017-01-25 21:37] #1983 closed

[2017-01-26 00:55] tmbdev opened #1989 "configuring servers without keys"
There doesn't seem to be any way of adding servers without keys. It seems to me that if a bucket is set to "public", I should be able to add it without any of the keys. (This also doesn't seem to work in minio-python.)

## Expected behaviour

$ mc config host add myanon http://172.10.100.34:9100
Added 'myanon' successfully
$ mc ls myanon
...
$

## Actual behaviour

$ mc config host add myanon http

[2017-01-26 01:05] harshavardhana commented on #1989
You can do

[code]

[2017-01-26 01:06] harshavardhana commented on #1989
Ah looks like that has stopped working.. For now as a work-around you can edit `~/.mc/config.json`

[2017-01-26 01:42] #1989 closed

[2017-01-30 17:20] felixbuenemann commented on #685
@harshavardhana Have you actually tested it?

I haven't had any luck with this and [tinyproxy](https://www.banu.com/tinyproxy/) on port 8888:

[code]

The tinyproxy log shows no requests through the proxy.

If I use the same environment var with `curl` or `rclone` (also go net/http-based), I can see that the proxy is used. I also tried with `https_proxy` and the upcased variants.

One thing I did

[2017-01-30 17:22] harshavardhana commented on #685
It could be a regression @felixbuenemann we will fix it.

[2017-01-30 18:48] felixbuenemann commented on #685
Thanks, I've tested with the latest `mc` from homebrew:

[code]

[2017-01-30 23:27] rmb938 opened #1993 "Versioned Docker Builds"
Like the Minio server can versioned docker builds (as well last the latest tag) be added?

Right now there is only the edge tag that gets built on every commit to master.

[2017-01-30 23:38] harshavardhana commented on #1993
We will be doing that we haven't made a release yet.

[2017-01-30 23:42] rmb938 commented on #1993
Ah ok, thanks! 👍

[2017-01-30 23:42] #1993 closed

[2017-01-31 14:48] vadmeste commented on #685
@felixbuenemann, the last master fixed the issue, can you test again ?

[2017-01-31 15:45] felixbuenemann commented on #685
@vadmeste I installed the latest version via `go get -u github.com/minio/mc` and with that version proxy support is working fine. Thanks for the quick fix!

[2017-02-03 09:19] harshavardhana opened #1996 "mirror: high CPU usage when used with non-minio endpoints"
## Expected behaviour
Less CPU usage since we are using `for` and channels

## Actual behaviour
Really high CPU usage with relatively no data transfer.

## Steps to reproduce the behaviour

[code]

## mc version
master
- (paste output of `mc version`)

## System information
Ubuntu

[2017-02-05 20:10] atomi opened #1999 "config: [feature] Request for adding aliasing paths"
## feature request (low priority)

Would like to be able to do operations using an alias for long paths
Instead of for example:
`mc ls minio/mybucket/deep/url/here`
It would be nice to alias `minio/mybucket/deep/url/here` as `deepurl`
so we could do instead:
`mc ls deepurl`

example ~/.mc/config.json
[code]
thanks!

[2017-02-06 07:33] harshavardhana commented on #1996
This is fixed in master.

[2017-02-06 07:33] #1996 closed

[2017-02-06 09:44] felixbuenemann opened #2000 "Allow disabling mirror watch mode / revert default"
The latest mc version 2017-02-02T22:38:48Z removed the `--watch` flag of `mc mirror` and always enables watch mode.

This breaks existing scripts which depend on mirror exiting when it's done. There's also no `--no-watch` flag to disable watch mode as needed.

I would suggest reverting the default activation of watch mode and re-introduce the `-w` / `--watch` flag.

The breaking change was introdu

[2017-02-06 17:27] harshavardhana commented on #2000
This was done on purpose do you need to have --watch as an option ?

[2017-02-06 18:48] felixbuenemann commented on #2000
Watch mode cannot be used when `mc mirror` is used in a script, were continuous mirroring is not wanted, it can only be used as a kind of daemon process, which fits some use cases but not all, so it should be optional like before or at least is should be possible to restore the previous behavior with a `--no-watch` switch. I'd go with reverting using watch mode by default, because it breaks existi

[2017-02-06 18:51] harshavardhana commented on #2000
Okay will bring the option back.

[2017-02-06 19:03] felixbuenemann commented on #2000
Thank you!

[2017-02-06 19:58] harshavardhana commented on #2000
Fixed by #2001

[2017-02-06 19:58] #2000 closed

[2017-02-07 02:46] harshavardhana opened #2002 "Move `mc admin service creds` to `mc admin password`"
## Expected behaviour
[code]

and Description should be
[code]

## Actual behaviour
Currently the command is at the wrong place `mc admin service creds`

## mc version
Current master

[2017-02-07 11:18] jubalfh opened #2003 "Please consider the Wheaton Rule while developing your code."
## Expected behaviour

Developers not breaking the Wheaton Rule (“don't be a dick”).

## Actual behaviour

Developers break the Wheaton Rule.

## Steps to reproduce the behaviour

* Open browser,
* navigate to project [issues](https://github.com/minio/mc/issues?utf8=%E2%9C%93&q=is%3Aissue%20midnight%20commander),
* read developers' comments,
* weep.

## mc version

All.

## System information

All

[2017-02-08 08:20] limbo127 opened #2004 "mc cp issue"
mc from github
mc: <ERROR> Failed to copy ‘/data/upload/CM-cd4e5700-34d4-11e1-b680-eca86bf923bc-1486476921.cebox’. Your proposed upload size ‘15295971328’ exceeds the maximum allowed object size ‘5368709120’ for single PUT operation.

My file is 15G size, and limit seems to be 5G ?
is a multipart problem ?
is a 5G -> 5T ? problem

Regards,
Nicolas

[2017-02-08 08:27] koolhead17 commented on #2004
Hello @limbo127

Can you provide  output for  ``mc --debug cp [your-operation]``  and  ``mc``,  ``Minio`` server version? I will try to reproduce it.

[2017-02-08 08:28] harshavardhana commented on #2004
where are you trying to upload @limbo127 are you uploading to Google Cloud Storage?

[2017-02-08 08:34] limbo127 commented on #2004
so it's s3 upload,
it seems a problem of access denied, with different credential, I can use multi part upload,
but with s3cmd I do not have this problem, I think mc ask for more right that is need :
upload, multi part action from all the bucket, not just for "directory"
Regards,
Nicolas

mc: <DEBUG> HTTP/1.1 200 OK
Connection: close
Transfer-Encoding: chunked
Content-Type: application/xml
Date: W

[2017-02-08 08:45] limbo127 commented on #2004
it seems this is necessary for mc ,

   "Action": [
                "s3:ListBucket",
                "s3:GetBucketLocation",
                "s3:ListMultipartUploadParts",
                "s3:ListBucketMultipartUploads"
            ],
            "Effect": "Allow",
            "Resource": [
                "arn:aws:s3:::*"
            ]

and with s3cmd it seems
"Resource": [
                "arn:a

[2017-02-08 08:45] harshavardhana commented on #2004
Looks like you have IAM policies which have restricted usage of Multipart API, mc is falling back on using regular upload which fails because you object size exceeds the maximum allowed on S3 for a single PUT operation.

[2017-02-08 08:46] harshavardhana commented on #2004
The reason s3cmd works is because they are not using

[code]

Instead `minio-go` uses this for resuming previously uploaded incomplete multipart upload.

[2017-02-08 08:46] harshavardhana commented on #2004
With the above IAM policy it should work fine @limbo127

[2017-02-08 09:16] limbo127 commented on #2004
it seems this is necessary for mc ,

   "Action": [
                "s3:ListBucket",
                "s3:GetBucketLocation",
                "s3:ListMultipartUploadParts",
                "s3:ListBucketMultipartUploads"
            ],
            "Effect": "Allow",
            "Resource": [
                "arn:aws:s3:::*"
            ]

and with s3cmd it seems
"Resource": [
                "arn:a

[2017-02-08 09:18] limbo127 commented on #2004
I do not understand,
mc cp search for part before to put an object, but in this case, why using mc session ? ( resume )
is mc cp automatically resuming failed upload ?

[2017-02-08 09:29] balamurugana commented on #2004
@limbo127
`mc` (internally minio-go is used) does below when an object is trying to upload
1. When object size is > 64MiB, it uses multipart upload than normal upload.
2. When object name already exists in `ListMultipartUpload`, it tries to resume by using latest upload ID.
3. As previously mentioned by @harshavardhana, we would need respective policies need to be enabled at Amazon S3 side.

[2017-02-08 10:05] limbo127 commented on #2004
thanks for explanation.
regards,
Nicolas

[2017-02-08 10:05] #2004 closed

[2017-02-08 21:31] janv37 opened #2007 "mc copy --recursive d cloud/tmp copies also files d*"
## Expected behaviour
- d is directory
- dontcopyme.txt is file

`mc copy --recursive d cloud/tmp ` should copy only the directory
## Actual behaviour
`mc copy --recursive d cloud/tmp ` copies directory d and also files starting with d  in current directory. (~/d*)

## Steps to reproduce the behaviour
[code]

### Same behavior can be observed in local mode:
[code]

## mc version
[code]

## System

[2017-02-08 21:38] harshavardhana commented on #2007
This is meant to be a consistent with S3 prefix behavior you should provide / at the end if you wish to only copy the concerned directory

[2017-02-09 20:13] #2002 closed

[2017-02-10 00:09] #2003 closed

[2017-02-10 00:10] #2007 closed

[2017-02-10 13:39] janv37 opened #2011 "minioc help produces "mc admin minioc admin" in EXAMPLES instead of minioc admin"
## Expected behaviour
[code]
## Actual behaviour
I also have midnight commander installed (mc), so minio `mc` needs to be called `minioc`.

minioc admin help would output only this (autodetected) strings from argv and wouldn't prefix static "mc admin"
[code]
## Steps to reproduce the behaviour
`$ minioc admin heal help`
and see the output
## mc version
``
$ minioc version
Version: 2017-02-10T13:30

[2017-02-10 18:29] harshavardhana commented on #2011
// cc @vadmeste

[2017-02-12 14:57] Gouthamve opened #2012 "Failed parsing of Go version is fatal"
## Expected behaviour
Installed mc via source on a system using go 1.8 beta1. Should be able to use it.

## Actual behaviour
Fails with: `mc: <ERROR> Unable to determine current go version. Malformed version: 1.8beta1`

## Steps to reproduce the behaviour
Install mc via source on a system using go 1.8 beta1

[2017-02-12 15:01] Gouthamve commented on #2012
I see you are using it to check minimum go version. But, ideally, this should go away in the future and for now it should be a warning.

[2017-02-12 17:30] #2011 closed

[2017-02-16 10:13] romanm-odysii opened #2016 "Minio client (mc) name conflicts with Midnight Commander (mc)"
I suggest to change name from _mc_ to _**minio-cli**_ to prevent confusion.
'cli' means **C**ommand **L**ine **I**nterface.

[2017-02-16 10:16] harshavardhana commented on #2016
We will not be doing this - similar issues closed in the past - https://github.com/minio/mc/issues?q=is%3Aissue+midnight+commander+is%3Aclosed

[2017-02-16 10:16] #2016 closed

[2017-02-16 10:24] romanm-odysii opened #2017 "Store configuration in $XDG_CONFIG_HOME"
## Expected behaviour
Configuration stored in $XDG_CONFIG_HOME/PROGRAM_NAME
Follow [XDG Base Directory Specification](https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html) for storing configuration.

## Actual behaviour
Configuration stored in $HOME/PROGRAM_NAME

[2017-02-16 10:29] harshavardhana commented on #2017
`mc` is a cross platform tool so what we do right now is to have a consistent behavior across platforms i.e users home directory is used for configuration. Use `--config-dir` instead to save in $HOME/.config/mc`

[2017-02-16 10:32] romanm-odysii commented on #2017
If I use `$HOME/.config/mc` next time I run will it "remember" my settings?

[2017-02-16 10:35] harshavardhana commented on #2017
`mc` config is meant to store only your access credentials for object storage. Everything is ephemeral which should be provided through cli.

Easiest way to achieve not specifying for each command is just use bash aliases.
[code]

[2017-02-16 10:36] romanm-odysii commented on #2017
Anyway, on non-POSIX systems like Windows configuration could be stored in `%APPDATA%\.config\mc`.

[2017-02-16 19:55] harshavardhana commented on #2017
AppData is not the right place and it is also a hidden folder on windows, we purposefully just use %USERPROFILE%/mc and $HOME/.mc on rest -  it is easy to understand, document and is portable with no forced specifications to follow.

Closing this as a non-issue.

[2017-02-16 19:55] #2017 closed

[2017-02-17 19:20] harshavardhana commented on #2016
https://github.com/minio/mc/issues/873#issuecomment-267583013 - A possible solution.

[2017-02-17 19:21] harshavardhana commented on #1981
A possible solution https://github.com/minio/mc/issues/873#issuecomment-267583013

[2017-02-19 05:18] drajen opened #2022 "mc should honor umask"
## Expected behaviour
mc to honor umask

## Actual behaviour
mc does not honor umask

## Steps to reproduce the behaviour
`umask 022`
`mc mirror -w source/bucket /mylocaldir`
<observe dest files created with umask 077>

## mc version
- mc version 2017-02-06T20:16:19Z

## System information
Docker 1.13.1

## Related issues
https://github.com/minio/minio/issues/1965

[2017-02-19 05:48] harshavardhana commented on #1961
Closing this insufficient data.

[2017-02-19 05:48] #1961 closed

[2017-02-19 05:52] harshavardhana commented on #1944
We had some internal discussion about this - want to know why this feature is useful? because parts can come in many sizes with in a multipart upload and such a type of information shouldn't be exposed on `mc`

`mc` is a tool tp provide an abstracted view of FS and Object Storage.  With a functionality like this would make it inconsistent with incomplete filesystem files i.e partially downloaded f

[2017-02-19 05:52] harshavardhana commented on #1916
This is available in current master.

[2017-02-19 05:52] #1916 closed

[2017-02-19 21:14] limbo127 opened #2025 "Implement options --newer-than and --older-than for cp, rm, mirror"
Hello,
is it possible to implement timestamp difference in mirror and diff function.
mirror only with size different is unusable for us. A timestamp sync will be very useful.
Regards,
Nicolas

[2017-02-19 21:15] harshavardhana commented on #2025
@limbo127 timestamp cannot be synced on object storage - there is no API to update ModTime alone.

[2017-02-19 21:23] limbo127 commented on #2025
ok, but it makes senses from S3 --> local filesystem for example.

[2017-02-19 21:25] limbo127 commented on #2025
to be more precise, when we puts object on s3, the timestamp change, content but not size . Then we must synchronise to our local fs ( sharing data) .

[2017-02-19 21:31] harshavardhana commented on #2025
Questions:

- How often do you re-upload the same object twice? and why would you do that?
- Is it just to update the timestamp?

[2017-02-19 21:40] limbo127 commented on #2025
- we have a lot of files with size does not change, because ot the nature of these files.
Example :
database file, raw image file with size define at the creation of file, but content change

we are uploading each week, our first test with mc , we only mirror files with size change.

No, the content of file change, so it's a new upload. To summarize, we are uploading a lot of file with content dif

[2017-02-19 21:41] limbo127 commented on #2025
to complete, we are using S3 but we wants to migrate de minio-server , to have Lan server.

[2017-02-19 21:41] #2022 closed

[2017-02-19 21:49] limbo127 commented on #1944
ok, I understand.

[2017-02-19 21:49] #1944 closed

[2017-02-19 21:51] vadmeste commented on #2025
We probably should add a parameter to specify the minimal time difference between source and target objects to decide if we need to trigger mirroring

[2017-02-20 02:20] harshavardhana opened #2027 "Suggest `mc config host remove` alias"
Refer - https://github.com/minio/minio/issues/3770

## Expected Behavior

With most UNIX command-line tools `rm` is acceptable in the place of `remove`:

[code]

It felt jarring as a UX that I could not type in `mc config host rm <host_config>` and I would like to suggest the change.

@harshavardhana if you're OK with the suggestion I don't mind looking into the code and making the change.

Alex

[2017-02-20 02:33] harshavardhana opened #2028 "mc.exe produces weird output during Jenkins jobs"
Jenkins jobs provide a "console log / output" from the steps it runs during a build. I'm using mc.exe to copy some build artifacts into a workspace before doing a build.

## Expected Behavior
[code]

## Current Behavior

[code]

## Possible Solution

Detect terminal or lack thereof and produce legible/clear output for this scenario.

## Steps to Reproduce (for bugs)

1. Create a Jenkins master on

[2017-02-20 07:39] alexellis commented on #2027
Thanks for moving the issue.

[2017-02-20 09:55] limbo127 opened #2029 "status error seems to be false when connection cannot create"
[wso]mc  mirror  s3/${_awsBucket}/upgrade/ /data/upload/upgrade/
mc: <ERROR> Unable to stat source ‘s3/ceb/upgrade/’. Get https://s3.amazonaws.com/ceb/?location=: read tcp 127.0.0.1:49546->127.0.0.1:14380: read: connection reset by peer
 0 B / ? ┃░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

[2017-02-20 10:08] limbo127 commented on #2029
sorry,
when i'm stopping proxy during process, mc status error is also 0 .
But when I stop mc , with ctrl+c , status is > 0 .

[2017-02-20 11:27] vadmeste commented on #2028
@harshavardhana, can't we just use simple characters like ` ?

[2017-02-20 20:15] harshavardhana commented on #2028
That is better to avoid the problems of dumb terminals.

[2017-02-21 05:08] abperiasamy commented on #2027
* add | remove | list
* add | rm | ls
* add | rm | list
It was kept as `remove` to be consistent with `add`. If you change remove->rm, then users would expect `list` also to be `ls`.

[2017-02-24 14:12] marekmkmk opened #2032 "Not possible to add new host"
## Expected behaviour

It should be possible to add host in the following format http://IP_ADDRESS/path1/path2.

## Actual behaviour
mc.exe throws "Invalid URL" message.
It's possible to add only URL without additional paths

## Steps to reproduce the behaviour

Add host with additional paths

## mc version
Version: 2017-02-06T20:16:19Z
Release-tag: RELEASE.2017-02-06T20-16-19Z
Commit-id: 2c8115de

[2017-02-25 14:19] vadmeste opened #2034 "Implement get config command"
## Expected behaviour
Having admin get config command

## Actual behaviour
Not having get config command

## Steps to reproduce the behaviour
Obvious

## mc version
All

## System information
All

[2017-02-25 19:08] harshavardhana commented on #2028
Fixed by #2033

[2017-02-25 19:08] #2028 closed

[2017-02-25 19:12] harshavardhana commented on #2032
A new host is only a url we don't support having subpaths in them as it can cause confusing behavior for for commands. Error generated is indeed correct it is an invalid url from `mc` point of view.

[2017-02-25 19:33] marekmkmk commented on #2032
I'm trying to connect to S3 compatible service which presents S3 as IP_ADDRESS/service/s3/

[2017-02-25 21:39] limbo127 opened #2035 "mc ls , strange wildcard mode"
hello,
is it a normal behaviour that's
mc ls s3/bucket/test

list alls keys test*  ?

If it's normal, how can ls ( to get info) on simple key ?
Regards,

[2017-02-25 22:18] harshavardhana commented on #2035
Yes it is S3 specific behavior it is a flat namespace. So every key is a prefix so the server lists which matches the prefix entirely . It is an expected normal behavior.

[2017-02-25 22:23] harshavardhana commented on #2032
May we know what is the S3 compatible service and show an example how it works with aws-sdk ? With an endpoint like this.!

[2017-02-27 06:56] krisis opened #2038 "`mc share -help` and `mc share` with no cli arguments give different help messages"
## Expected behaviour

## Actual behaviour
[code]

[code]
## Steps to reproduce the behaviour
1. mc share
2. mc share -help

## mc version
[code]

## System information

[2017-02-27 07:11] harshavardhana commented on #2038
mc admin
mc events
mc config

All have this problem.

[2017-02-27 07:27] NitishT opened #2039 "make fails for mc on macOS 10.12.3"
## Expected behaviour
`make` should work

## Actual behaviour
Error

[code]
## Steps to reproduce the behaviour
Run the below commands on macOS

[code]

## System information
macOS: 10.12.3

[2017-02-27 07:38] harshavardhana commented on #2039
can you paste the output of "sw_version" ? @NitishT

[2017-02-27 08:44] #2039 closed

[2017-02-27 12:07] limbo127 opened #2042 "mc ls , listing is different between recursive and non recursive mode"
Hello,
imagine , tree as  :
s3/xxx/test/1/file1
s3/xxx/test/2/file2

mc ls s3/xxxx/test/
shows : 1 , 2 as directory type

mc ls -r s3/xxxx/test/
shows  1/file1 , 2/file2   as file type ,

this is a normal behaviour of flat s3 , but it 's very strange representation for ls command,
i'im using this, to compare directory / file between s3 and local .

Regards,
Nicolas

[2017-02-27 19:44] #2038 closed

[2017-02-27 19:45] #2029 closed

[2017-02-27 20:21] limbo127 commented on #2035
ok, perhaps is interesting to have a mc stat key ?  with json output ( size, date .. ) ?

[2017-02-27 21:13] harshavardhana commented on #2035
Why would you need that?  are you not planning to copy a file?

[2017-02-27 21:26] limbo127 commented on #2035
we are using mc to synchronize file between difference src / dst server.
mc syncronisation is very "poor"  , and we are trying to simulating rsync
via dirrents scripts.
comparaison of file in size, in date , in md5 for example,
so info about file without copying it, it's very interesting.

2017-02-27 22:13 GMT+01:00 Harshavardhana <notifications@github.com>:

[2017-02-27 22:03] harshavardhana commented on #2035
`mc` synchronization is kept simpler for a reason adding md5sum on top of it won't work for multi-parted objects. These type of features should be avoided from `mc` because what you want to implement is something along the lines of http://rclone.org/ and https://restic.github.io/ which do a better job already.

You don't need to write one from scratch.

[2017-02-27 22:53] scottsb opened #2044 "Copy performs unnecessary operations, requiring unnecessary permissions"
## Scenario
`mc cp` from local to cloud

## Expected behaviour
Performs only a `PUT` on the object, thus requiring only `s3:PutObject` permission.

## Actual behaviour
Performs a `GET` of all buckets and then up to 15 repeated `HEAD` calls on the bucket before finally performing the actual `PUT` on the object that was requested. The earlier  `GET` and `HEAD` requests require extra permissions, so

[2017-02-27 22:56] harshavardhana commented on #2044
`mc` cannot only do PutObject()  `mc` uses minio-go library which transparently supports uploading as single PUT or multipart automatically.  `minio-go` also manages location for you appropriately.  Along with this it does input validation etc.

So a simple `s3:PutObject` as part of IAM or bucket policy is pretty much useless for `mc`.   What you can do is just use `aws-sdk`s and upload the file u

[2017-02-27 22:57] harshavardhana commented on #2042
This is expected since filesystem is already treated like a flat namespace.  @limbo127 remember in `mc` FS looks like S3 instead of S3 looking like FS.  It is part of the design.

[2017-02-28 05:25] accaldwell opened #2046 "mc cp: add auto-resume"
I use mc as it is the only S3 client that can reliably resume uploads. I frequently make uploads that take multiple days, and the upload connection reliably dies every few hours or so. As is, I have to keep an eye on this, and resume manually. Large/long uploads can require me to manually resume dozens of times for successful completion.

I'd like to request an auto-resume feature. Ideally this wo

[2017-02-28 05:25] larmog opened #2047 "arm64: panic: notify: epoll_wait(2) error function not implemented"
## Expected behaviour
No panic when running `mc mirror`

## Actual behaviour
`mc` terminates immediately

## Steps to reproduce the behaviour

[code]

## mc version

[code]

## System information
Ubuntu 16.04LTS on Odroid C2
[code]

[2017-02-28 06:52] harshavardhana commented on #2046
`mc cp` already resumes if you retry again.  Rather than having `mc cp` to retry and auto resume` you could easily script this out.. wouldn't it be better @accaldwell - Because it is not an expected behavior for everyone.

[2017-02-28 06:56] harshavardhana commented on #2047
The problem is the ARM kernel lacks a syscall but we did indeed have a fix for this - https://github.com/golang/sys/commit/324e137  and our vendor library should have this fix.

Let me check again.

[2017-02-28 07:24] harshavardhana commented on #2047
Looks like the bug is upstream sending a fix upstream. https://github.com/rjeczalik/notify/pull/116

[2017-02-28 15:15] vadmeste opened #2048 "mc mirror --force --delete when source bucket doesn't exist will remove target objects"
## Expected behaviour
If I pass a non existent bucket, mc mirror just quits and avoid doing anything.

## Actual behaviour
Passing a non existent bucket will just remove all objects in target

## Steps to reproduce the behaviour
`mc mirror --force --delete --watch myminio/wrongbucket/ ./\ will remove files in the current dir

## mc version
master (0934a39d731e8f80adcc66e67007eb223662abc3)
## Syste

[2017-02-28 18:47] larmog commented on #2047
ok, great

[2017-02-28 22:33] #2034 closed

[2017-02-28 22:34] vadmeste opened #2050 "Implement set config command"
## Expected behaviour
Having mc set config command

## Actual behaviour
Not hhaving mc set config command

## Steps to reproduce the behaviour
Obvious

## mc version
All

## System information
All

[2017-03-01 19:10] vadmeste commented on #2048
Fixed by #2049

[2017-03-01 19:10] #2048 closed

[2017-03-01 23:16] #2047 closed

[2017-03-02 04:14] #2044 closed

[2017-03-02 04:14] #2042 closed

[2017-03-02 04:14] harshavardhana commented on #2032
Closing this as non-issue for now.

[2017-03-02 04:14] #2032 closed

[2017-03-02 04:15] harshavardhana commented on #2035
Closing this as a non issue for the moment.

[2017-03-02 04:15] #2035 closed

[2017-03-02 04:17] harshavardhana commented on #2046
Closing this as a non issue / out of scope for the moment.

[2017-03-02 04:17] #2046 closed

[2017-03-02 04:19] harshavardhana opened #2053 "Migrate from `config.json` to `config.yml` / `config.yaml`"
## Expected behaviour

Propose a new yaml configuration based on our current JSON config.

## Actual behaviour

JSON is crippling to be used as a config file due to lack of comments / self documentation abilities. We should explore if we can migrate to yaml (benefits)

## mc version

All versions

## System information

All operating systems

[2017-03-02 22:39] pablopla opened #2055 "size difference between source and destination (feature request)"
A command to show the size diff between source and destination could be:
[code]
result:
[code]

The old mirror command used to show the total target size but now it does streaming copy with no session files.

[2017-03-03 08:46] limbo127 opened #2057 "cp: Running multiple instance of mc to same location"
Hello,
mc create a temporary name during copying  , -miniopart.
I think this file must be timestamped, as s3cmd do, -miniopart<timestamp> because  :
If I start multiple mc with same copy command,  destination copy is concatenated

Regards,
Nicolas

[2017-03-04 02:25] harshavardhana opened #2058 "mc admin heal crashes"
[code]

## Expected behaviour
Does not crash

## Actual behaviour
Crashes

## Steps to reproduce the behaviour
Do not know

## mc version
- (paste output of `mc version`)

## System information

[2017-03-04 04:37] #2058 closed

[2017-03-04 13:58] sra commented on #1649
I hit this yesterday. The `foo/` "folder" was created with a GUI app called Transmission by Panic. Cyberduck does it as well. They create this placeholder object to mean "folder". The behavior can be replicated easily with the `mc` command. The `aws s3 sync` command handles this issue without comment. Maybe `mc` could also, or adjust the error message a little.

[code]

[2017-03-06 08:49] chriscowley opened #2060 "Binary name `mc` clashes with Midnight Commander"
The binary for [Midnight Commander](http://midnight-commander.org/) is also `mc` which

1. Clashes with the binary that already exists in many systems
2. Means that the docs and the installation output is at best potentially misleading, at worst plain wrong.

Given that Midnight Commander's first commit was more than 20 years ago, perhaps this project needs to review the name of its binary? Person

[2017-03-06 08:59] harshavardhana commented on #2060
We will not be doing this similar issues closed in the past and provide a better explanation https://github.com/minio/mc/issues?q=is%3Aissue+midnight+commander+is%3Aclosed

A very simple solution would be here - https://github.com/minio/mc/issues/873#issuecomment-267583013

[2017-03-06 08:59] #2060 closed

[2017-03-06 09:58] harshavardhana commented on #2050
Fixed by #2051

[2017-03-06 09:58] #2050 closed

[2017-03-06 15:57] vadmeste commented on #2053
I wasn't able to find a yaml library which preserves comments, it is true that yaml ignores comments but Unmarshal then Marshal will discard initial comments.

mc has `config host add` command which modifies the config file, hence comments will be lost. Minio server config file is generated only the first time we run the server but we can hard code the config file and put random access/secret keys

[2017-03-06 16:12] tsmgeek opened #2061 "pipe to STDOUT not working"
mc says it can pipe to STDOUT but when tried it just hangs doing nothing, is documentation not clear on this as there is nothing in Examples but description says it can.

## Steps to reproduce the behaviour
./mc pipe myminio/myfirstbucket/test.pdf > /tmp/test.pdf

## mc version
Version: 2017-02-06T20:16:19Z
Release-tag: RELEASE.2017-02-06T20-16-19Z
Commit-id: 2c8115de4edc5612525488b1b3b804689d336d

[2017-03-06 16:35] vadmeste commented on #2061
@tsmgeek, mc can pipe to stdout, but you told mc to pipe to myminio/myfirstbucket/test.pdf instead. Omitting  myminio/myfirstbucket/test.pdf  will tell pipe to print to stdout.

However, I guess in your case, you want to use `cat` command instead:
`./mc pipe myminio/myfirstbucket/test.pdf > /tmp/test.pdf` will save myminio/myfirstbucket/test.pdf  content in /tmp/test.pdf

[2017-03-06 17:03] tsmgeek commented on #2061
I suspected that this was the case but it was not clear to me what someone would want to pipe to STDOUT unless it was retrieved from a file and pipe out ie as you said the cat command.

[2017-03-07 20:33] vadmeste commented on #2053
This task is deferred to the future.

[2017-03-07 22:34] vadmeste opened #2064 "`mc ls --incomplete /tmp/` shows an error"
## Expected behaviour
[code]

## Actual behaviour
[code]
## Steps to reproduce the behaviour
1. mc ls --incomplete /tmp/

## mc version
All

## System information
All

[2017-03-10 15:03] medBouzid commented on #1716
I was playing with mc command with my dreamobjects bucket and I got plenty errors similar to the following

[code]

The command I used is this :  `./mc mirror --watch backups/cara restore/` and I expected that every time I upload something in my bucket it will be mirrored to the /restore folder, however it doesn't seems looking for changes, it does only backups files the first time I run it (with

[2017-03-10 15:12] vadmeste commented on #1716
@medBouzid, --watch works only with Minio servers, mc should show a more meaningful error instead of `mc: <ERROR> Unexpected error during monitoring. `, we will fix that.

However, the other error is somewhat weird, what's your mc version? besides can you run your command again with --debug flag and paste its output here ?

[2017-03-10 15:21] medBouzid commented on #1716
@vadmeste Thank you about the information (watch works only with Minio servers), I thought there maybe some errors with those files so I deleted them, and now when I run the mirror command I still get `mc: <ERROR> Unexpected error during monitoring.`

[code]

[2017-03-10 15:25] medBouzid commented on #1716
I run `./mc mirror  backups/cara /restore` without `--watch` and now it seems working without error, it seems that `--watch` caused the `mc: <ERROR> Unexpected error during monitoring.`  the error is not verbose so hope you fix that guys :)

For non Minio servers, is it a good idea to use cron job and set it to mirror every 30 min ?

[2017-03-10 15:39] vadmeste commented on #1716
Not sure about your use case but it is generally okay to do since mirror will only copy new objects.

[2017-03-10 23:51] harshavardhana commented on #2027
We can have a sub-command short hands which would work too @abperiasamy .

[2017-03-14 14:20] naggie commented on #2060
Another problem: bash autocompletions mean that filenames don't complete with the `mc` command -- just directories.

[2017-03-15 03:03] scottsb commented on #2044
@harshavardhana, sorry I'm just seeing this now. Notifications from GitHub have a problem getting through to my email for some reason.

My issue is that I don't understand why any of the essential functionality in a copy requires a `GET` or `HEAD`. Using a multi-part or single upload call automatically is useful, but a copy should be a write operation, not a read operation. That's why our security

[2017-03-15 03:52] harshavardhana commented on #2044
[code]

A cp operation for example does 5 operations in total

Operation 1:
[code]

This is to fetch location of the bucket since minio-go transparently supports all s3 regions, this is a one time activity doesn't happen for all other subsequent operations.

Operation 2:
[code]
There are some validation techniques which are used by `mc` itself i.e to check the validity of the bucket, it also in-tu

[2017-03-15 07:13] harshavardhana commented on #2044
Also NOTE: in a batched operation such as when you are copying a large directory the HEAD operations only happen for the first attempt only - once it is validated that the bucket exists and location is obtained you would see only PUT and POST (multipart) operations going to S3.  So optimizing these 4 API calls is not worth complicating `mc`.

[2017-03-15 17:43] dtjm opened #2071 "rm doesn't work (sends POST instead of DELETE for S3v2)"
## Expected behaviour
The file is removed

## Actual behaviour
EOF error

[code]

## Steps to reproduce the behaviour

[code]

## mc version
[code]

(installed from homebrew)

## System information

- S3 server is Ceph / RADOSGW 10.2.3
- `OS:darwin | Arch:amd64 | Lang:go1.7.5 | Mem:1.2MB/4.7MB | Heap:1.2MB/2.6MB`

## older version of mc works fine

[code]

[2017-03-15 17:47] harshavardhana commented on #2071
`mc rm` expects S3 endpoint to implement - http://docs.aws.amazon.com/AmazonS3/latest/API/multiobjectdeleteapi.html - you might have to ask Ceph to add this as a feature http://docs.aws.amazon.com/AmazonS3/latest/API/multiobjectdeleteapi.html

[2017-03-15 17:55] dtjm commented on #2071
ok thanks for the quick response @harshavardhana. Would you be open to a pull request that falls back to the single object delete if only a single object is passed?

[2017-03-15 17:57] dtjm commented on #2071
Just for posterity, this is the commit that changes this behavior:

[code]

[2017-03-15 17:57] #2071 closed

[2017-03-15 18:03] harshavardhana commented on #2071
That is incorrect rm re-factor happened some time before that it was to support batched deletes of large amounts of data.

[code]

You can send a PR doing a fallback it would have been easier if Ceph returned a proper error if they didn't support this API instead.

[2017-03-15 18:16] dtjm commented on #2071
ah ok git bisect gave me bad result then. thanks again @harshavardhana

[2017-03-15 18:17] dtjm commented on #2071
anyways, for now I can use an older version of mc

[2017-03-15 18:20] harshavardhana commented on #2071
It would also be better if you reference this github issue and open a request for Ceph as well.

[2017-03-15 18:21] dtjm commented on #2071
hmm...looks they are supposed to support it already

http://docs.ceph.com/docs/jewel/dev/radosgw/s3_compliance/#operations-on-objects

Maybe a bug on their end.  I will follow up with them, thanks.

[2017-03-16 02:06] scottsb commented on #2044
Thanks for the detailed explanation. I understand your reasoning.

[2017-03-16 08:10] krisis opened #2072 "mc ls shows incorrect size"
## Root cause
It appears that `github.com/dustin/go-humanize` pkg we use to convert bytes to human-readable strings causes mc to report incorrect object size. To track the progress of this issue, follow https://github.com/dustin/go-humanize/issues/51

## Expected behaviour
`mc ls` should show the correct object size.

## Actual behaviour
`mc ls` shows incorrect object size. This was noticed while

[2017-03-16 16:40] krisis commented on #2072
This is _not_ an issue. Clearly `4.9 GiB` is the correct value. I made the wrong conclusion that `5000 MiB` is `5 GiB`. It is obvious when I state it this way, but I didn't see it until it was [pointed out](https://github.com/shurcooL).

[2017-03-16 16:40] #2072 closed

[2017-03-16 21:32] deekoder opened #2073 "watch: mc watch should show extended output for event/bucket notifications."
in mc output show sourceUserAgent, sourceIPAddress, showPort
http://docs.aws.amazon.com/AmazonS3/latest/dev/notification-content-structure.html

Updated output json example :

[code]

[2017-03-17 23:40] harshavardhana commented on #2061
this is fixed in master - closing.

[2017-03-17 23:40] #2061 closed

[2017-03-18 07:03] harshavardhana opened #2074 "cp/mirror: [feature] bring mc transparent encryption"
## Expected behaviour

Add a new sub-field for the aliases supporting transparent encryption.
[code]

There are no new flags are expected for mc. But a new command should be added.

[code]

[code]

[code]

Not only does the above command enables encryption it should also either take input or generate symmetric/assymetric keys automatically for the user. So for a given alias if one of the encryptio

[2017-03-18 17:54] vadmeste opened #2077 "admin: Add support of object uploads healing"
## Expected behaviour
To be able to list and heal uploads

## Actual behaviour
Not able to.

## Steps to reproduce the behaviour
Obvious

## mc version
Obvious

## System information
All

[2017-03-20 18:06] #2064 closed

[2017-03-20 20:56] #2077 closed

[2017-03-20 21:00] vadmeste commented on #2027
Fixed by https://github.com/minio/mc/pull/2069

[2017-03-20 21:00] #2027 closed

[2017-03-20 21:12] vadmeste opened #2079 "Regression in `mc ls --incomplete`"
## Expected behaviour
`mc ls -I dir/` shows incomplete downloads

## Actual behaviour
`mc ls -I dir/` doesn't show incomplete downloads

## Steps to reproduce the behaviour

1. `mc cp myminio/1gb.file dir/`

Then Ctrl-C before download completes.

2. `mc ls -I dir/`

## mc version
- last master

## System information
All

[2017-03-20 22:59] alexellis commented on #2027
Sounds good to me. Thanks all for this UX fix, looks good. 👍

[2017-03-21 16:06] vadmeste commented on #2057
@limbo127, timestamp is not enough actually, because mc supports resume copy, if it finds any timestamped minio part file , it will continue to write the remaining data in that file. Then, two parallel mc copy will just write on the same part file.

@harshavardhana, we probably need some locking capabilities, I saw minio/pkg/lock package, but it supports only opening file for reading purposes, can

[2017-03-21 17:34] #2079 closed

[2017-03-22 18:34] krishnasrinivas opened #2083 "mirror: --remove shows two entries being deleted for the same file"
[code]

Shows two entries for `play/test-backup/test1.java`.

mc is latest master.

[2017-03-22 19:34] vadmeste commented on #2083
Will take this

[2017-03-22 20:44] vadmeste commented on #2083
@krishnasrinivas, can you check again your mc version? We don't have that json output format now.

[2017-03-22 20:44] vadmeste commented on #2083
I tested on my side and I have this:

[code]

[2017-03-23 18:21] viawest-davidsix opened #2086 "Multi-part upload fails back to single PUT on some (non-minio) servers"
## Expected behaviour
When uploading a large file, `mc` should use multi-part uploads
## Actual behaviour
`mc` attempts to use multi-part upload, gets a `HTTP 403` response, and fails back to a single `PUT`
When `--debug` is specified, this results in a large spike in memory usage, which seems to hit `[filesize]*2`
Tested combinations:
* `mc cp` -> riak-cs: single `PUT`, RSS ~8.1MB
* `mc cp --debu

[2017-03-23 23:38] vadmeste commented on #2086
@viawest-davidsix, can you tell us what is the size of the file you are testing with ?

[2017-03-24 02:11] harshavardhana opened #2088 "mc share download command without --recursive option should do an exact match"
## Expected behaviour

[code]

## Actual behaviour

[code]

## Steps to reproduce the behaviour
Just have two files with same prefix.

## mc version
master

## System information
All platforms.

[2017-03-24 11:03] viawest-davidsix commented on #2086
http://releases.ubuntu.com/16.04/ubuntu-16.04.2-server-amd64.iso (829MB ISO)

[2017-03-24 11:58] vadmeste commented on #2086
Thanks, will do some memory profiling and see why --debug is consuming huge memory.

[2017-03-24 21:35] viawest-davidsix opened #2089 "mc: Global flags do not affect initialization messages"
## Expected behaviour
Global flags `--no-color`, `--quiet`, `--json`, and `--debug` should be used for all output
All output should be de-colorized/supressed/json/verbose as specified
## Actual behaviour
The initialization messages are output with color in plaintext regardless of the specified options
[code]
![image](https://cloud.githubusercontent.com/assets/9539060/24314423/e2df34bc-10b7-11e7-82

[2017-03-24 22:07] vadmeste commented on #2089
Shall we hide initialization messages when json flag is activated ?

[2017-03-24 22:15] harshavardhana commented on #2089
Actually we shouldn't we should have a JSON equivalent.

[2017-03-25 01:24] harshavardhana opened #2090 "diff: ui change move from `only in first` to new format"
## Expected behaviour

[code]

Here

[code]

## Actual behaviour

Current output needs to be improved.

## Steps to reproduce the behaviour
Just build from master

## mc version
master

## System information
All operating systems.

[2017-03-27 10:21] hackintoshrao opened #2092 "admin: mc admin heal --fake ambigious message"
## Expected behaviour
`mc admin heal --fake` to return something like `object can be healed` rather than `object is healed`. In general just define the possibility, not the verb.
## Actual behaviour
prints that the object is healed.
## Steps to reproduce the behaviour
`mc admin heal --fake alias/bucket `
## mc version
2017-03-15T06:10:26Z

[2017-03-27 23:21] badscooter23 commented on #2088
This bug appears to be bigger than the `mc share` command to me...

if you have three objects (logo, logo1, logo2) in a bucket test...

`mc ls mymino/log` will show all objects....

Scotts-MacBook-Pro$ ./mc ls myminio/test/logo
[2017-03-27 15:14:19 PDT] 2.6KiB logo
[2017-03-27 15:14:19 PDT] 2.6KiB logo1
[2017-03-27 15:16:08 PDT]  11KiB logo2

by contrast the `ls logo` shell command will only show

[2017-03-28 00:35] badscooter23 commented on #2088
Summary of long discussion with Harsha:

-`mc ls` and `mc share` have different intended uses, so it is ok that the behave differently
- today `mc share` will match all objects with a prefix and return multiple urls if there are multiple
  matches, this behavior is deemed to be a bug

thus if we have test/logo, test/logo1, test/logo2

- `mc ls myminio/test/logo` will show all three objects (withou

[2017-03-28 01:10] badscooter23 opened #2093 "`mc share list` help text is missleading"
## Expected behaviour

`mc share list` should print out the `help` text but should not be an error
the `help` text for the command should inidcate that the user needs to specify a command (either
`upload` or `download`) after `list`

Usage
   mc share list COMMAND

## Actual behaviour

Today the help text is incomplete / incorrect... it does not indicate that the user needs to
specify `upload` or

[2017-03-28 08:45] donatello opened #2094 "mc should have auto-completion facility"
## Expected behaviour

Like many common CLI utilities that are structured as a single program with numerous subcommands (e.g. git/docker), mc will benefit from auto-completion support, especially for the bash shell.

## Actual behaviour

## Steps to reproduce the behaviour

## mc version
- (paste output of `mc version`)

## System information

[2017-03-28 23:57] #2094 closed

[2017-03-29 21:43] #2088 closed

[2017-03-29 21:53] vadmeste commented on #2090
![screenshot from 2017-03-29 22-53-05](https://cloud.githubusercontent.com/assets/283197/24478379/88955a3a-14d2-11e7-97e1-676ad6daa348.png)

I suggest using `!` instead of `v`

[2017-03-29 21:54] harshavardhana commented on #2090
makes sense.. @vadmeste

[2017-03-29 22:51] #2090 closed

[2017-03-31 00:33] badscooter23 opened #2099 "share: `mc share download` clean up; `--recursive option` and error messages"
## Expected behaviour

Assuming:
bucket `foo` has objects `bar1` and `bar2`

(NOTE: I updated assumption, the original text had a mistake.)

Then:

`mc share download play/foo/bar`
should give an error (and it does), but the current error message is not good

`mc share download play/foo/bar --recursive`
should succeed and return two download URLs, one each for `bar1` and `bar2`; currently it retur

[2017-03-31 10:14] vadmeste commented on #2099
Hey @badscooter23,

If we are assuming that bucket `foo` bucket has `bar` object, why `mc share download play/foo/bar` should return an error ?

[2017-03-31 15:09] badscooter23 commented on #2099
Hey @vadmeste

You are correct. The original text had a mistake  so it did not make sense.
It should have said:

Assuming:
bucket foo has objects `bar1` and `bar2`

With this correction it should make sense do you. `mc share download play/foo/bar` should return an error because `play/foo/bar` does not exist and the user did not specify `--recursive`.

NOTE: It does return an error with your fix, a

[2017-03-31 18:17] #2086 closed

[2017-03-31 22:10] vadmeste commented on #2086
Looks like Riak returns 403 Access Denied for non apparent reason, at least for me.

The following are two consecutvies web service calls, the second is actually returning 403.

1.

[code]

2.

[code]

[2017-04-03 13:53] xstillwill opened #2105 "mirror: mc mirror --watch --force --remove ignores changes after some days"
mc mirror --watch --force --remove ignores changes after some days

## Expected Behavior
it should mirror local content to minio server even after days without desynch of local and remote location

## Current Behavior
restarting the "mc mirror --watch --force --remove" cmd after some 10+days revealed that it missed out on a couple 150+ delete operations and also on some uploads

## Steps to Reprod

[2017-04-03 18:16] vadmeste commented on #2105
For now, I am not assuming that running `mc mirror -w` for a long time is causing the issue.

I found one issue when manually testing: when mc mirror watches a local directory, some fast changes on that directory are not detected:

Terminal 1:
`$ mc mirror -w ./local myminio/testbucket/`

Terminal 2:
`$ cd ./local ; for i in $(seq 1 1000) ; do echo "1" >> file$i ; done`

[2017-04-03 18:18] harshavardhana commented on #2105
The filesystem itself is not generating these events consistently ? @vadmeste is our dependent library?

[2017-04-03 18:42] vadmeste commented on #2105
Increasing this https://github.com/minio/mc/blob/master/cmd/client-fs.go#L104 from 1 to 1000 fixed the problem, but that value is arbitrary.

[2017-04-03 20:04] harshavardhana commented on #2105
It is not arbitrary in-fact the events might be lost because they are not queued up, we might have increase it further if necessary to hold a particular set of events or write a new style of queue which can expand and shrink dynamically based on the rate of incoming events.

[2017-04-03 20:27] vadmeste commented on #2105
Yeah, I meant I chose 1000 as an arbitrary value.

Yeah good idea, we need a code which receives and stores events as fast as possible, so the upper level can work with a lower pace.

[2017-04-03 21:03] harshavardhana commented on #2105
We did have that with session :-) now we need to do this in-memory.

[2017-04-03 22:50] vadmeste commented on #2105
I can get something ready tomorrow, like a separate package which has a logic queue that expands and shrinks. In addition to some benchmarks, like how many entries per second the queue can safely store before starting to drop new entries (should about millions per second)

[2017-04-03 23:58] #2093 closed

[2017-04-04 00:00] harshavardhana commented on #2083
Closing this as not reproducible. @krishnasrinivas re-open if you can.

[2017-04-04 00:04] harshavardhana commented on #2057
We don't need that.. it is highly unlikely that same filename is copied by multiple `mc` and written to same location.  We are like coreutils `cp` i am not sure this is handled by coreutils `cp` command.

[2017-04-04 00:05] harshavardhana commented on #2055
This was decided to be not implemented as it doesn't provide any purpose at the moment and can be calculated using `mc diff --json` output outside of mc.

[2017-04-04 00:05] #2055 closed

[2017-04-04 00:05] harshavardhana commented on #2053
This was decided to be not implemented.

[2017-04-04 00:05] #2053 closed

[2017-04-04 00:08] harshavardhana commented on #2012
Closing this as fixed and `mc` doesn't support beta/rc releases of Go.

[2017-04-04 00:08] #2012 closed

[2017-04-04 00:09] harshavardhana commented on #1904
ping @vadmeste were you able to validate this?

[2017-04-04 00:12] #685 closed

[2017-04-04 00:13] harshavardhana commented on #1818
This is fixed and  new mc has been released.

[2017-04-04 00:13] #1818 closed

[2017-04-04 00:17] harshavardhana opened #2107 "errors: [feature] Some errors in `mc` can guide users"
## Expected behaviour

For example error rather than just saying `Region does not match` could have improved upon and stated that

[code]

## Actual behaviour

[code]

## Steps to reproduce the behaviour
Any `mc` command.

## mc version
master

[2017-04-04 09:05] limbo127 commented on #2057
cp does not concatenate file when same copy occur in parallel
regards,
Nicolas

2017-04-04 2:04 GMT+02:00 Harshavardhana <notifications@github.com>:

[2017-04-04 10:48] vadmeste commented on #2057
Actually, two parallel copies can result a corrupted file. You can generate a 1 Gb file and try to copy two files to the same destination `for i in $(seq 1 2) ; do ( cp 1gb.file newfile & )  ; done ;`

Below is my test in Ubuntu 16.04, you can notice that the size of the destination file is not the same

[code]

I also think that doing a generic solution for all platforms (linux, windows, ..) supp

[2017-04-04 12:03] viawest-davidsix opened #2108 "config: alias names are constrained to domain-safe strings"
## Expected behaviour
1. `mc` should allow any alias that is shell-safe and json-safe
1. The documentation should reflect any alias limitations
1. The error message should indicate how to create a valid alias

## Actual behaviour
1. `mc` uses `^[a-zA-Z][a-zA-Z0-9-]+$` to validate alias names
1. The [documentation](https://docs.minio.io/docs/minio-client-complete-guide#config) does not mention any

[2017-04-05 15:28] badscooter23 commented on #2099
What's the status on this PR? I updated the commit message using `git amend` ... is there another step I need to do?

[2017-04-05 16:05] vadmeste commented on #2025
Can we discuss this ?

[2017-04-05 20:27] vadmeste opened #2110 "heal: Help message shows wrong help"
## Expected behaviour
[code]

## Actual behaviour
[code]

[code]

## Steps to reproduce the behaviour
`mc admin heal` and `mc admin heal -h`

## mc version
master

## System information
All

[2017-04-05 20:47] ameir opened #2112 "mc does not always return non-zero status after errors"
## Expected behaviour
Return code should be non-zero
## Actual behaviour
Return code is zero

## Steps to reproduce the behaviour
[code]
## mc version
- (paste output of `mc version`)
[code]

[2017-04-05 20:58] #2110 closed

[2017-04-06 20:20] viawest-davidsix commented on #2108
While this patch corrects the specific case that I used to reproduce the issue, I am trying to ask for a broader consideration of what would make a valid alias name. Is there a reason to exclude any directory-name safe string?

Is there any non-whitespace character that we would need to avoid other than the directory separator?

[2017-04-06 20:48] harshavardhana commented on #2108
There is none, we just that its not generally useful to have all kinds of strings as aliases.  Aliases are supposed to be human readable and simple. Restriction is to indicate that keep something simple.

[2017-04-06 21:30] viawest-davidsix commented on #2108
Would `^[a-zA-Z0-9-_()@]+$` be acceptable?
* Removes 'first character must be a letter'
* Allows a few more characters

[2017-04-07 10:36] stephenreay opened #2115 "Please add an 'ignore existing' flag for 'mb' sub-command"
When provisioning an environment (either development, or production-ish) it's often useful to be able to say "create a new bucket in minio (or s3, etc) if it doesn't exist" - essentially the same as the `-p` flag for `mkdir`.

I'd suggest **not** using `-p`, as this has different semantics in `mkdir`. Perhaps `--ignore-existing` is a better option?

[2017-04-07 13:20] krisis commented on #2092
This issue has been fixed in master. This issue can be closed.

## Test output
[code]

[2017-04-07 15:54] #2092 closed

[2017-04-08 03:04] harshavardhana commented on #2073
ETA by Tuesday. There are multiple things missing one on server end and one on the minio-go when the `s3:ObjectAccessed` was implemented.

[2017-04-09 04:18] tmbdev opened #2117 "Add support for glob patterns and/or prefixes to "mc""
## Expected behaviour

I would like

`mc rm server/bucket/prefix-*`

to remove all files starting with `prefix-` from the bucket.

Other glob patterns should also work.

Alternatively, a simpler form might be to just add a "prefix" option, as in:

`mc rm --prefix server/bucket/prefix-`

## Actual behaviour

mc: <ERROR> Failed to remove ‘server/bucket/prefix-*’. Object key is missing, object key ca

[2017-04-10 18:50] #2073 closed

[2017-04-10 19:26] badscooter23 commented on #2117
Per discussions with AB there are multiple topics that are related to ...

- expected behavior for and `mc` command where the user specified a path name and --recursive
- the desire to accept wildcards and/or regular expressions on multiple commands

I would like to tie this together into a more comprehensive proposal...
Can you assign this to me (for now) and I will do a write up on this?

Thx

[2017-04-10 19:36] badscooter23 commented on #2099
We are going to separate two aspects of this PR /Issue and address them in separate PR(s).

- Today, various `mc` commands treat the case where the user specifies a path to an object AND also specifies `--recursive` in an inconsistent manner.

Specifically most commands (`ls`, `cp`, `mirror`, etc) treat the `mc COMMAND play/foo/invalid --recursive` case as an error and return the same error as the

[2017-04-11 20:44] deekoder commented on #2057
Can this be closed then?

[2017-04-11 21:30] vadmeste commented on #2057
Yes.

[2017-04-11 21:39] #2057 closed

[2017-04-12 22:14] deekoder opened #2123 "heal: Update support for mc admin heal command."
[code]
When only ALIAS is passed, heal the server and all the buckets.
When ALIAS/bucket is passed, heal the server and the specific bucket.
When ALIAS/bucket/prefix is passed, heal the server, the specific bucket and all objects under this prefix level
When --recursive is passed for ALIAS , heal all buckets, all prefix, all objects.
When --advanced is a slow operation, which will read all object

[2017-04-13 11:03] rakesh-eltropy opened #2124 "Policy change using suffix"
We would like to have support of changing the policy of folders with suffix using minio client.
e.g.  mc policy download /eltropy/viewer-docs/documents/*_files

I would like to change policy of all the folders which ends with _files.

[2017-04-13 15:14] harshavardhana commented on #2124
The reason this won't work as it is because shell escapes * you can still try using quotes.

[code]

Also the alias is wrong in the `mc policy` command line that you posted - alias doesn't begin with '/'

Either its `mc policy download eltroy/`  or you have configured a different alias `mc config host list` should provide previously configured alias in config file.

You can see the previous comman

[2017-04-13 18:09] deekoder commented on #2124
Can we close this @rakesh-eltropy if you think this works for you now.

[2017-04-13 21:41] deekoder opened #2125 "Add --fast option to mc"
--fast option : wont do md5 /sha256 computations. @harshavardhana  please add more details to this issue.

[2017-04-14 04:23] rakesh-eltropy commented on #2124
Its working as expected. Closing the issue.

[2017-04-14 04:23] #2124 closed

[2017-04-14 23:11] harshavardhana opened #2128 "Unable to reset policies on particular combination of prefix"
## Expected behaviour
[code]

## Actual behaviour
[code]

## Steps to reproduce the behaviour
Current mc master.

## mc version
master branch

## System information
Ubuntu, x86_64

[2017-04-15 05:31] krisis opened #2129 "mc admin heal should return specifics of heal operation"
## Expected behaviour
`mc admin heal ALIAS/bucket/object` should say if it healed the object on all disks.

## Actual behaviour
The heal command says it healed the object when it wasn't healed on any of the disks, since they were all offline.
## Steps to reproduce the behaviour
1. Put an object.
2. Remove the object directory from backend on one of the disks
3. Remove the format.json on that disk,

[2017-04-15 07:07] krisis commented on #2123
@krishnasrinivas will propose API changes here based on :

@krishnasrinivas let me know when the API proposal is ready for admin heal APIs.

[2017-04-15 07:20] #2112 closed

[2017-04-17 04:17] krisis commented on #2129
This issue is fixed by #2131 by @vadmeste.

[2017-04-17 04:17] #2129 closed

[2017-04-17 17:13] deekoder commented on #2099
Lowering priority to medium since its not an issue with no workaround.

[2017-04-17 17:17] deekoder commented on #2025
Implement  global options --newer-than and --older-than

[2017-04-18 00:37] #2099 closed

[2017-04-18 19:24] vadmeste opened #2132 "watch: Regression in watching local filesystems events"
## Expected behaviour
`mc watch /tmp/dir/` detects filesystem events inside /tmp/dir like, file access/creation

## Actual behaviour
`mc watch /tmp/dir/` doesn't detect filesystem events inside /tmp/dir like, file access/creation

## Steps to reproduce the behaviour
`$ mkdir /tmp/dir/`
`$ mc watch /tmp/dir/`
`$ touch /tmp/dir/newfile`

## mc version
master

## System information
All

[2017-04-18 19:37] #1904 closed

[2017-04-18 19:43] #2132 closed

[2017-04-19 10:53] i4o opened #2134 "Please add "lowercase" into error message for mb creation"
## Expected behaviour

mc mb do/GoProExports
<ERROR> Unable to make bucket ‘do/GoProExports’. Bucket name can contain LOWERCASE alphabet, '-' and numbers, but first character should be an alphabet or number

## Actual behaviour

<ERROR> Unable to make bucket ‘do/GoProExports’. Bucket name can contain alphabet, '-' and numbers, but first character should be an alphabet or number

When I try this in

[2017-04-19 10:56] vadmeste commented on #2134
@i4o, thanks for reporting. Will do :)

[2017-04-19 16:05] badscooter23 commented on #2134
Hang on a second... this does not make complete sense to me (perhaps I am missing something)...

On Minio... with mc... the mb command will force the bucket name to be all lowercase characters, a `-`, or a number

On S3... with aws (cli) ... the mb command allows mixed case

Scotts-MacBook-Pro-2:mc scott$ aws s3 mb s3://scott-GoPro
make_bucket: scott-GoPro

Seems to me that the error is not with t

[2017-04-19 16:44] badscooter23 commented on #2134
Bottom line, this bug will actually show up in multiple commands - any mc command that takes a bucket name in the path...

It's not just an error message problem with `mc mb`

[2017-04-19 16:46] badscooter23 commented on #2134
Further example:

`mc mb GoPro`

will succeed in creating a "bucket" (which is really a directory) in the local file system. The problem is with the routine that is attempting to validate the bucket name in the `cmd/client-s3.go`

[2017-04-19 16:52] badscooter23 commented on #2134
Here is the problem...
The minio code is refers to this Amazon S3 documentation
http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html

which in turn points at this page
http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html

The second page states:

- Bucketnames must be at least 3 and no more than 63 characters long.

- Bucket names must be a series of one or more labels

[2017-04-19 16:57] badscooter23 commented on #2134
`mc` is using the following regular expression to validate the bucket name:

var validBucketName = regexp.MustCompile(`^[a-z0-9][a-z0-9\.\-]{1,61}[a-z0-9]$`)

This is more restrictive and Amazon (even though it attempts to match the documentation).

[2017-04-19 17:03] vadmeste commented on #2134
I confirm this works:

`aws s3 mb s3://Vadmeste`

But Minio (for Windows) won't support this.

But anyway, it looks okay for me to remove this restriction.

[2017-04-19 17:27] badscooter23 commented on #2134
It's easy to change to allow mixed case...
My concern is that AWS's behavior does not match their documentation, so that creates a bit of a dilemma ...

- Should `mc` be compatible with the S3 documentation (not allowing mixed case)?
- Should `mc` be compatible with the S3 behavior (allowing mixed case)?
- Should the `mc` behavior be configurable?

I think this need a little more discussion before

[2017-04-19 17:38] badscooter23 commented on #2134
It's not as simple as just changing the validation string in `mc` (I already tried that)... I think there is a similar validation string in `minio server` because you still get an error...

Scotts-MacBook-Pro-2:test scott$ mc mb myminio/GoPro
mc: <ERROR> Unable to make bucket `myminio/GoPro`. Bucket name contains invalid characters.
Scotts-MacBook-Pro-2:test scott$ mc mb myminio/GoPro --debug
mc:

[2017-04-19 17:57] vadmeste commented on #2134
Yes there is. And we also need it because Minio supports Windows which is not case sensitive. We cannot create both 'bucket' and 'Bucket' at the same time.

[2017-04-19 18:01] badscooter23 commented on #2134
This is a bigger problem/dilemma for Minio...

The legal syntax for a bucket and/or object depends on context, specifically it depends on the backend.

The rules for "legal" for a 'filesystem' are different than an 'object store'.
The rules for 'filesystems' themselves depend on the underlying FS and OS.
The rules for an 'object store' likely vary subtly from vendor to vendor (eg: Google may not m

[2017-04-19 18:02] badscooter23 commented on #2134
I think it is pretty restrictive (IMO) to disallow mixed case when the backend is really S3 when S3 actually allows mixed case (despite what the documentation says).

[2017-04-19 18:05] donatello commented on #2134
S3 allows mixed case only in one region - us-east-1 - all other regions have the same restrictions - https://stackoverflow.com/questions/18715970/amazon-s3-bucket-naming-convention

[2017-04-19 18:08] badscooter23 commented on #2115
This is a good point, and to add some context the behavior is different than the default behavior for the AWS S3 CLI

Scotts-MacBook-Pro-2:mc scott$ aws s3 mb s3://scott-mcclellan-test-bucket
make_bucket: scott-mcclellan-test-bucket
Scotts-MacBook-Pro-2:mc scott$ aws s3 mb s3://scott-mcclellan-test-bucket
make_bucket: scott-mcclellan-test-bucket
Scotts-MacBook-Pro-2:mc scott$ mc mb myminio/scott-m

[2017-04-19 18:11] harshavardhana commented on #2134
For S3 it is better to not provide a way to create bucket names with capital letters. It is noted that this feature will be removed in future on `us-east-1`.

On Minio server we only allow lower case bucket names to coincide with S3 behavior. From `mc` point of view it is a simple change. Change the error message to appropriately indicate that only lowercase characters are allowed.

[2017-04-19 18:12] harshavardhana commented on #2115
You have to use non `us-east-1` region to see the error . `us-east-1` never returns an error on previous bucket creates.

[2017-04-19 18:41] badscooter23 commented on #2115
@harshavardhana That's "odd"... I believe you, but it is "odd"...

[2017-04-19 18:43] badscooter23 commented on #2134
This is a VERY helpful clarification... if the behavior is `us-east-1` specific I agree it does not make sense to allow it for just one region (especially if they are going to change it in the future).

[2017-04-19 19:02] badscooter23 commented on #2134
Ok... done!

Scotts-MacBook-Pro-2:mc scott$ mc mb myminio/GoPro
mc: <ERROR> Unable to make bucket `myminio/GoPro`. Bucket names can contain lowercase alpha characters `a-z`, numbers '0-9', and '-'. First character cannot be a '-'

[2017-04-19 19:30] harshavardhana commented on #2134
S3 actually documented this here http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html

```While the US East (N. Virginia) region currently allows non-compliant DNS bucket naming, we are moving to the same DNS-compliant bucket naming convention for the US East (N. Virginia) region in the coming months```

[2017-04-19 21:57] badscooter23 commented on #2134
My point was that it should probably be documented in a Minio doc... If nothing else with a pointer from the `Minio Client Complete Guid` to the AWS doc you reference.

[2017-04-20 08:41] badscooter23 opened #2136 "`mc mb` command passed S3:// syntax results in bizarre behavior..."
The issue was discovered when playing around with the the AWS CLI. The way it came up is that the AWS S3 CLI uses different syntax for URIs (path names to reference objects in S3). Specifically, in S3 you say

s3://bucket/object
for example
aws s3 mb s3://foo1

The s3:// syntax is different than the minio labels (eg: s3/).

If you use the defacto/legal AWS S3  syntax with `mc` you get some funky b

[2017-04-20 09:20] xilu0 commented on #2123
Why I didn't find admin command, cannot use the

[2017-04-20 09:26] krisis commented on #2123
@xilu0 `mc admin` command is being developed and some of its features are available on master branch. It is _not_ available in the latest release of Minio server.

[2017-04-20 09:38] xilu0 commented on #2123
@krisis
thanks from respond,I understand the.

[2017-04-20 20:00] nl5887 opened #2137 "Head fails on MacOS"
## Expected behaviour
mc banner

## Actual behaviour
$ go run main.go
signal: killed

## Steps to reproduce the behaviour
Just checkout minio/mc latest and go run main.go

## mc version
9a881562b93f5fb7af0968ab85282896caa81f9f

## System information
MacOS

Darwin MacBook-Pro.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3 16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64 i386 Mac

[2017-04-20 20:03] deekoder commented on #2137
Yes this is repros for me on my mac as well when i do go get.

[2017-04-20 20:04] deekoder commented on #2137
[code]

[2017-04-20 20:05] harshavardhana commented on #2137
This is upstream golang bug with xcode 8.3

https://github.com/golang/go/issues/19734

[2017-04-20 20:22] deekoder commented on #2137
Ok i installed xcode8.3 and then did this go version
[code]

[2017-04-20 20:25] badscooter23 commented on #2136
I am looking at a fix for this already...

[2017-04-20 20:29] deekoder commented on #2137
ok so this works.
[code]

[2017-04-20 20:51] deekoder commented on #2136
We have to definitely show an error message if this scheme is not supported in mc. For eg:
[code]

[2017-04-20 20:51] deekoder commented on #2136
Lowering pri since root cause is known and the fix is clear.

[2017-04-20 21:10] badscooter23 commented on #2136
The cause is known, still debating the fix (lots of sidebar discussion with @harshavardhana) ... For this specific case there is an easy/straight forward fix, but for the bigger problem of inconsistency of error handling we need to make sure we have a good approach...

My plan was to make a specific proposal for fixing this and the bigger issue...

[2017-04-20 21:19] badscooter23 commented on #2137
This is a nasty problem when it comes up... `brew doctor` will encourage you to update to a new version of xcode and then you rung into this issue...

I am not sure I completely understand your workaround (right now I am just postponing the xcode update to make sure I don't get the problem)...

normally I doe a `make` to build `minio` and/or `mc`...

Can you be more clear on how to get around the

[2017-04-20 21:42] #2137 closed

[2017-04-20 21:43] harshavardhana commented on #2137
@badscooter23 `brew install minio/stable/mc` should handle this work-around and also `make`.

This is an issue that can happen if you did `go get github.com/minio/mc` which is allowed, but there is no way to stop you from doing the latter.

[2017-04-20 21:59] deekoder commented on #2137
If you do on OSX
[code]
Then if you do
[code]
builds the mc binary correctly and I also tested it a bit with ls and cp. Everything works.

[2017-04-22 21:11] vadmeste commented on #1903
--exclude as a global parameter also means we can also ignore s3 objects ?

[2017-04-22 21:16] vadmeste commented on #2134
Fixed by #2135

[2017-04-22 21:16] #2134 closed

[2017-04-22 21:17] vadmeste commented on #1903
Can we discuss this ASAP ?

[2017-04-22 21:34] vadmeste commented on #2074
ETA: 23 Apr

[2017-04-23 05:41] harshavardhana commented on #1903
Yes `--exclude` is currently being worked on by @badscooter23 - he is working on a proposal to bring in regex support as well across all commands in a more generic way.

[2017-04-23 07:35] harshavardhana commented on #2128
A server update seems to have fixed this issue..

[code]

[code]

[code]

All combinations are working.. Closing.

[2017-04-23 07:35] #2128 closed

[2017-04-25 10:50] gintarasbar commented on #1515
Perfect! Was getting the same error when creating subdirectories and this solved. it.

[2017-04-27 15:33] vadmeste commented on #2025
ETA: 27 Apr

[2017-04-28 20:13] #2115 closed

[2017-04-29 07:34] #2107 closed

[2017-05-01 14:12] vfulco opened #2144 "Can access using AWS CLI but MC gives me Access Key ID Does Not Exist"
## Expected behaviour

AWS config
[default]
aws_access_key_id = Fake Key ID
aws_secret_access_key = Fake Access Key
region = cn-north-1
s3 =
---
MC Config

"s3": {
                        "url": "https://s3.cn-north-1.amazonaws.com.cn",
                        "accessKey": "Same Fake Key ID",
                        "secretKey": "Same Fake Secret Key",
                        "api": "S3v4"

Access

[2017-05-01 21:38] vadmeste commented on #2144
@vfulco, I tried with your mc config (url and API)  and with the same mc version and it just works for me. Can you check again if you put the correct access & secret keys ?

[2017-05-02 05:39] vfulco commented on #2144
Thanks for the prompt response.  I tried again, even ran aws ls, got the expected result and copied the access ID and secret key id direct from the aws config file.  Next steps are to 1) check if permission issue and 2) create a new access/key setup and 3) uninstall and reinstall mc.  Would prefer to use it for mirroring local folders.

[2017-05-02 06:20] vfulco commented on #2144
New ID & Key doesn't work.  Oddly debugging comes across a reference back to s3.amazonaws.com.  Because of governmental restrictions, the AWS S3 in China is an island unto itself.  Any reference back to AWS mothership is probably where the issue lies.

./mc --debug ls s3
mc: <ERROR> Unable to list folder. Get https://s3.amazonaws.com/: dial tcp 52.216.66.11:443: i/o timeout
 (1) ls.go:134 cmd.doLi

[2017-05-02 06:48] harshavardhana commented on #2144
Looks like a bug on our end @vfulco

[2017-05-02 07:03] vfulco commented on #2144
Thanks much for the reply.  AWS in the PRC throws a lot of curve balls
at programmers so don't feel so bad.  Now I can learn how to file a
bug report.  Be well, V.

On 5/2/17, Harshavardhana <notifications@github.com> wrote:

--
Vince Fulco, CFA, CAIA
612.424.5477 (universal)
186.1694.0908 (mobile in China)
vfulco1@gmail.com
wechat: vfulco
fastmail: vfulco1@fastmail.fm
corporate: vfulco@weisisheng

[2017-05-02 07:05] vfulco commented on #2144
See item #7 here for same issue.
https://github.com/s3tools/s3cmd/wiki/Common-known-issues-and-their-solutions

On 5/2/17, Vince Fulco <vfulco1@gmail.com> wrote:

--
Vince Fulco, CFA, CAIA
612.424.5477 (universal)
186.1694.0908 (mobile in China)
vfulco1@gmail.com
wechat: vfulco
fastmail: vfulco1@fastmail.fm
corporate: vfulco@weisisheng.cn
https://about.me/vincefulco

--
"Always be yourself, expres

[2017-05-03 05:13] harshavardhana opened #2145 "mc cp <filename> to /dev/null should work properly."
## Expected behaviour
[code]
Should work.

## Actual behaviour

[code]

## Steps to reproduce the behaviour

Just pick a file and attempt to copy to '/dev/null'

## mc version
master branch.

## System information
All platforms.

[2017-05-03 15:19] vadmeste commented on #2144
@vfulco, I believe I understood the origin of the problem. Since I can't test, can I send to you a binary or a diff to test on your side ?

[2017-05-03 18:21] #2145 closed

[2017-05-04 18:38] vadmeste opened #2147 "mc admin info fails with Minio master"
## Expected behaviour
mc admin info shows server info

## Actual behaviour
mc admin shows an error:

[code]

## Steps to reproduce the behaviour
1. Start Minio master
2. `mc admin info myminio/`

## mc version
master

## System information
All

[2017-05-05 02:28] vfulco commented on #2144
Yes please do.  My email is vfulco [@] gmail.com.  Remove the spaces
and brackets.

On 5/3/17, Anis Elleuch <notifications@github.com> wrote:

--
Vince Fulco, CFA, CAIA
612.424.5477 (universal)
186.1694.0908 (mobile in China)
vfulco1@gmail.com
wechat: vfulco
fastmail: vfulco1@fastmail.fm
corporate: vfulco@weisisheng.cn
https://about.me/vincefulco

--
"Always be yourself, express yourself, have fai

[2017-05-05 07:57] limbo127 opened #2148 "corrupted file between loca source and S3 destination."
Hello,
we are synchronizing file between local and s3 account.
We are using mc cp command. (last stable)
Some our files ( bigfile ~ 5G ) are corrupted in s3 account :
- file is present but this md5sum differe from local one, size of s3 file is more ( +100Mo) .

Is it possible ? what happened for example if 2 mc cp command ( with same file ) are running in // ?

Regards,
Nicolas

[2017-05-05 08:13] harshavardhana commented on #2148
@limbo127 how do you know they are corrupted? were you trying to verify md5sum?

Can you provide us following details?

- paste the file size `ls -l <local_file>`
- paste the md5sum of `_local_file`
- calculate md5sum of s3 using `mc cat`

[2017-05-05 10:54] limbo127 commented on #2148
sorry, it seems that's is another component ( not mc ) that is the bad thing .

[2017-05-05 10:54] #2148 closed

[2017-05-10 14:41] danielsreichenbach opened #2151 "SHA256SUMS for client releases"
## Expected behaviour

* have SHA256 sums available for Minio client releases. Having these alongside released versions would allow for better production deployments.

For reference, the same was done for the server in https://github.com/minio/minio/issues/4306

We plan to add client support to the Puppet module for Minio, see https://github.com/kogitoapp/puppet-minio/issues/1

This would allow fo

[2017-05-10 17:26] vadmeste commented on #2144
@vfulco, any update on this ?

[2017-05-11 00:32] vfulco commented on #2144
Mea culpa for the delay.  Excellent work.  I am in Shanghai and server
is in Beijing.  Response was immediate; sub-second even.  Thanks for
your time Anis!  Now onto setting up a Minio server elsewhere and
using this as backup/mirror.

On 5/11/17, Anis Elleuch <notifications@github.com> wrote:

--
Vince Fulco, CFA, CAIA
612.424.5477 (universal)
186.1694.0908 (mobile in China)
vfulco1@gmail.com
wec

[2017-05-11 03:12] haio commented on #2144
@vadmeste @vfulco can you send me a workable binary file for linux, my email is mockingror@gmail.com. I have the same problem with aws china s3. Btw, `mc(version: 2016-06-03T18:48:37Z)` works on my mac.
Thanks!

[2017-05-11 03:21] harshavardhana commented on #2144
@haio we will fix and make a release soon.

[2017-05-11 03:30] haio commented on #2144
@harshavardhana Great! 👍

[2017-05-11 06:43] dcharbonnier opened #2152 "usage of mc with an url and no .minio config"
for scripting, working with dynamic environments it would be nice to do :
`mc ls https://KEY:SECRET@server.com:9000/`

instead of creating a config file

[2017-05-11 16:19] #2144 closed

[2017-05-13 22:58] bearmoo-repo opened #2154 "mc admin heal display "mc: <ERROR> Cannot heal object ``. Failed to parse server response. mc: <ERROR> Cannot heal object ``. Failed to parse server response.""
## Expected behaviour
mc amdin heal example.com
<no output>
## Actual behaviour
mc: <ERROR> Cannot heal object ``. Failed to parse server response.
mc: <ERROR> Cannot heal object ``. Failed to parse server response.

## Steps to reproduce the behaviour
mc amdin heal example.com

## mc version
- (paste output of `mc version`)
[root@mgmt-node ~]# mc version
Version: 2017-04-24T20:21:22Z
Release-tag:

[2017-05-13 23:43] harshavardhana commented on #2154
mc admin is in alpha we are not recommending its usage. It is not fully released yet and is in the process of being rewritten

[2017-05-16 18:58] krishnasrinivas opened #2156 "cat: tries to do listing"
Is list operation needed for cat command?

[code]

[2017-05-16 19:12] harshavardhana commented on #2156
Yes it is expected.. @krishnasrinivas url2Stat looks for an object by listing .

[2017-05-16 20:07] bollig commented on #2074
What is the status of this?

[2017-05-16 20:24] krishnasrinivas commented on #2156
Can it be avoided? (I haven't checked the code flow) because I was testing gateway-caching when the backend is down and `mc cat` was failing.

From a user experience perspective `mc cat` should have worked because gateway has cached the contents

[2017-05-16 20:53] harshavardhana commented on #2156
It can do definitely but it was a design choice we validate all input arguments in each of the commands as `checkCmdSyntax()`  .

[2017-05-16 20:54] vadmeste commented on #2156
Theoretically we can, but that probably needs a lot of changes because it wasn't expected that we will ever  download a nonexistent object :)

Generally speaking, mc sometimes makes some additional REST calls to provide better user experience and error messages. For example in mirror command, mc checks first if source & target are directories (otherwise, mirror won't make any sense)

For mc cat, I

[2017-05-16 20:56] harshavardhana commented on #2156
why is Gateway Caching failing? shouldn't the List be allowed @krishnasrinivas ? and what do you mean by backend was down?

[2017-05-16 22:22] gtallan opened #2157 "more acceptance of misnamed buckets"
This has been brought up before in #1715 and I guess maybe #2134, but I would find it a great help if mc were more accepting of non-compliant bucket names.

As an issue this does go beyond AWS and their us-east-1 region; for example the ceph radosgw implements an s3 interface but (unfortunately) only does very loose validation of bucket names. As a result we have many users who have created non-co

[2017-05-16 22:44] harshavardhana commented on #2157
This is a possibility can be done for newly created buckets but allow reading from older buckets. We can even throw a warning sign that your bucket is using a legacy name.

And is a simple enough change we can do.

[2017-05-16 23:21] gtallan commented on #2157
Thank you, that would be a great change if possible. Well, ideally it would allow both read and write to the non-compliant buckets (just not creation of such names). Sadly our users are saddled with their bad bucket names, sometimes containing large amount of data. Most buckets were probably created using s3cmd, which I guess must leave name validation to the server side.

There was some discussio

[2017-05-17 07:50] tru2dagame opened #2158 "When will the next version release"
## Expected behaviour
The latest release version doesn't support s3.cn-north-1 region.

## Actual behaviour
I just searched and got this PR. It does support s3 cn now.
https://github.com/minio/mc/pull/2153

So that the Homebrew / Docker version doesn't work. And I tried to install from the source code, it works with s3 cn well.

## mc version
Version: 2017-04-03T18:35:01Z
Release-tag: RELEASE.2017

[2017-05-17 07:51] harshavardhana commented on #2158
You can use the latest from `go get github.com/minio/mc` , we will be making a new release soon.

[2017-05-17 08:01] tru2dagame commented on #2158
Hi @harshavardhana
Thanks. I'm using the `DEVELOPMENT` version right now.
I spend a couple hours with this issue then realized it hasn't been released...

[2017-05-17 08:10] #2158 closed

[2017-05-17 17:06] deekoder commented on #1974
Related to https://github.com/minio/minio-go/issues/686

[2017-05-18 19:10] vadmeste opened #2159 "`mc mirror alias/ /target/` doesn't mirror empty buckets"
## Expected behaviour
`mc mirror alias/ /target/` mirrors empty buckets inside alias/`

## Actual behaviour
`mc mirror alias/ /target/` does not mirror empty buckets inside alias/`

## Steps to reproduce the behaviour

[code]

## mc version
master

## System information
All

[2017-05-22 05:30] krisis commented on #2147
@deekoder, could you assign this to @vadmeste since he is working on it?

[2017-05-22 07:13] #2147 closed

[2017-05-22 16:21] #2159 closed

[2017-05-22 18:56] poornas opened #2161 "mc mirror shows misleading status message"
## Expected behaviour
Did a mc mirror operation to mirror 2 buckets. The operation completes fine, but the status message, completion status bar and filename does not reflect total size transmitted correctly. recursive cp on same bucket however gives correct status.
## Actual behaviour
mc mirror status msg indicates the operation did not fully complete.
## Steps to reproduce the behaviour
$ mc cp

[2017-05-22 19:08] deekoder opened #2162 "mc ls mygcs returns unactionable error"
[code]

## Expected behaviour
list of buckets on gcs

## Actual behaviour
above error

## Steps to reproduce the behaviour
1. Start minio gateway gcs with acess key and secret key with project id.
2. minio gateway starts successfully.
3. add mc config host as shown by the CLI on start
4. mc ls mygcs returns above error

## mc version
- (paste output of `mc version`)
[code]

## System information
m

[2017-05-22 19:54] harshavardhana commented on #2162
This is not a client problem per se. What does regular server return ?

[2017-05-22 21:22] deekoder opened #2163 "unable to delete a bucket using mc on gcs via minio gateway"
[code]

## Expected behaviour
Should remove the bucket or list which files it cannot remove. Or articulate why mc fails to remove. Eg. did not create bucket or objects using minio. Even this it should delete after confirmation. That would be more useful than not deleting.

## Actual behaviour
See above. Bucket not valid or not empty misleads the user.

## Steps to reproduce the behaviour

## mc ve

[2017-05-22 21:46] deekoder opened #2164 "Don't show commit id in mc version output if not built from src"
## Expected behaviour
[code]

## Actual behaviour
[code]

## Steps to reproduce the behaviour
type mc version command

## mc version
- (paste output of `mc version`)

## System information
macOS. Installed via brew install.

[2017-05-23 00:42] fwessels commented on #2163
Is this supported functionality? -- I can imagine that, eg., on AWS S3 this will typically not be allowed given the user permissions (access credentials will typically not have "universal" access).

[2017-05-23 06:51] hackintoshrao commented on #2162
Validated with **mc version**

[code]
and minio server built from `feature-gcs` branch at commit 8c30dcddee6bae7b83519cee8983dfe881317c6b .

And it works.

[2017-05-23 23:56] krishnasrinivas commented on #2162
@deekoder it's working as expected on latest code on feature-gcs, can you check again?

[2017-05-25 00:10] cypa commented on #2157
Trying to migrate old ceph-radosgw photo storage to minio and I've got trouble with bucket names like 'Photos' with upper case letters ...

[2017-05-25 00:30] harshavardhana commented on #2157
On minio we don't allow such bucket names to be created, please create a bucket name with lower case characters @cypa - create a new bucket say `photos` and then just to `mc mirror alias/Photos alias/photos`

Currently `mc` is not honoring uppercase bucket names but we can do that by avoiding implicit validation and letting the user copy existing buckets.

[2017-05-25 00:35] harshavardhana commented on #2157
Going to keep this blocked for now.. on @abperiasamy - since we need to decide on the behavior here as it would affect our libraries as well such as `minio-go` which is where the bucket name restrictions are coming from.

[2017-05-25 16:59] deekoder commented on #2162
@hackintoshrao  need an update on this.

[2017-05-25 21:33] NitishT commented on #2161
Sent a fix https://github.com/minio/mc/pull/2165

[2017-05-26 17:17] #2161 closed

[2017-05-30 17:19] deekoder commented on #2105
Need to test with user on whether our fix, takes care of this issue.

[2017-05-30 17:35] krishnasrinivas commented on #2156
@harshavardhana backend-down means when GCS/AWS-S3 is not available (ex. network problem). In such a situation the minio gateway just serves files from cache. Listing can't be done as caching directory looks as described here: https://github.com/krishnasrinivas/wikinotes/wiki/Caching-gateway-proposal

@vadmeste if `mc` needs too many changes and compromises on user experience then we need not fix

[2017-05-30 19:43] donatello commented on #2162
This errors happens when the gateway starts up after being given an invalid project id. Filed bug here - https://github.com/minio/minio/issues/4449

[2017-05-31 00:35] fwessels commented on #2163
Looks like commit bd28205 (feature-gcs branch) fixed the issue by preventing the server to run with a
[code]

Replaying the scenario will work just fine:
[code]

[2017-05-31 00:51] #2163 closed

[2017-06-01 21:32] #2164 closed

[2017-06-01 22:14] deekoder commented on #2162
Closing this as its a server side bug. Should go away once the above is fixed.

[2017-06-01 22:14] #2162 closed

[2017-06-03 20:05] vadmeste opened #2168 "mc ls -r s3/ shows `Bucket name contains invalid characters.` error"
## Expected behaviour
Normal listing without any error.

## Actual behaviour

mc error when listing:
`mc: <ERROR> Unable to list folder. Bucket name contains invalid characters.`

## Steps to reproduce the behaviour
[code]

## mc version
master

## System information
All

[2017-06-03 20:09] vadmeste commented on #2168
This is high priority.

[2017-06-03 20:36] vadmeste opened #2169 "mc progress bar does not show real time update"
## Expected behaviour
mc progress bar should show real time progress with a not so excellent internet connection

## Actual behaviour
mc progress bar updates itself each 10 seconds with a download speed of around 800 kbytes/sec

## Steps to reproduce the behaviour
mc cp s3/vadmeste/128mb.file /tmp

## mc version
master

## System information
All

[2017-06-03 20:36] vadmeste commented on #2169
Low priority

[2017-06-04 14:20] vadmeste opened #2170 "mc policy not able to parse some policy documents"
## Expected behaviour
`mc policy s3/your-bucket` doesn't show an unusual error

## Actual behaviour

`mc policy s3/your-bucket` shows this

[code]

## Steps to reproduce the behaviour
1. Set a customized policy document using aws cli:
[code]
2.
[code]
## mc version
master

## System information
All

[2017-06-04 21:12] harshavardhana commented on #2168
There is a similar bug opened in minio-go is it same ?

[2017-06-04 21:13] harshavardhana commented on #2169
There is no definitive value here. The reader is updated as it's read into a give buffer rather than using ReadAt we can use just Read. This would allow to less buffering and more progress showing

[2017-06-04 21:48] vadmeste commented on #2168
I can't find any similar issue in minio-go

[2017-06-04 23:14] harshavardhana commented on #2168
Oops my bad cross posted..

[2017-06-05 05:10] harshavardhana commented on #2170
Isn't this same as https://github.com/minio/minio-go/issues/675 ?

[2017-06-05 11:54] vadmeste commented on #2170
Probably, but  minio/minio-go#675 doesn't seem it has any bug. I can investigate this once I got assigned to this issue.

[2017-06-06 17:16] deekoder opened #2172 "Confusing error message from mc."
## Expected behaviour
Error message is actionable for the user to clearly fix and retry the mc command

## Actual behaviour
Somewhat cryptic message.

## Steps to reproduce the behaviour
On windows, use git bash to mc cp files.

## mc version
- (paste output of `mc version`) last released.

## System information

![mc_error](https://user-images.githubusercontent.com/1700901/26842292-2879a0de-4aa1-

[2017-06-07 04:48] #2172 closed

[2017-06-07 19:01] deekoder opened #2174 "Explore whether we should default to s3v2 when configuring gcs hosts via mc"

[2017-06-07 19:01] donatello opened #2175 "Proposal for new `mc find` command"
The following gist contains a proposal for the `mc find` subcommand:
https://gist.github.com/donatello/116b8d8849c343f696794e0d96606e87

This command would be useful in finding files, performing pattern matches, creating customized output and executing actions on matched files. It is inspired by the UNIX find command but is only loosely based on it with the aim of making a simple command with a se

[2017-06-07 19:45] donatello opened #2176 "`mc config host list` truncates secret-key to 40 characters"
## Expected behaviour
The secret should be printed out completely, or at least indicate that it is truncated with trailing dots or so.

## Actual behaviour
Secret key is truncated to 40 characters - so when copy-pasted and used, it doesn't work. This leads the user to believe their credentials are wrong, leading to confusion.

## Steps to reproduce the behaviour
Set a long secret key (e.g. minio g

[2017-06-08 00:09] #2151 closed

[2017-06-10 12:21] vadmeste commented on #2176
The same problem exists with endpoints urls and access keys. I think we should avoid formatting those fields and only keep formatting the first field (alias)

[code]

[2017-06-11 16:44] deekoder commented on #2105
@xstillwill  we have fixed this issue. Is it possible to tell us if you are still seeing this issue? Will close now as fixed.

[2017-06-11 16:44] #2105 closed

[2017-06-11 16:44] vadmeste commented on #2105
Missed deletes are fixed by this PR https://github.com/minio/mc/commit/61e511cc3e4d80f7910869c37a3a200b2e438d10

[2017-06-11 16:52] xstillwill commented on #2105
I will setup Server/Client and Check / Report back :) trank you!

Von meinem iPhone gesendet

Am 11.06.2017 um 18:44 schrieb Dee Koder <notifications@github.com<mailto:notifications@github.com>>:

@xstillwill<https://github.com/xstillwill> we have fixed this issue. Is it possible to tell us if you are still seeing this issue? Will close now as fixed.

-
You are receiving this because you were ment

[2017-06-12 21:07] harshavardhana commented on #2176
Fixed by #2180

[2017-06-12 21:07] #2176 closed

[2017-06-13 21:50] harshavardhana commented on #2174
Fixed by #2179

[2017-06-13 21:50] #2174 closed

[2017-06-16 12:23] dennisbappert opened #2184 "mirror: question about behavior"
Sorry for posting the question as an issue: how is the behavior of mc mirror when set it up as a cronjob with --watch. In case of a machine failure on the mirroring machine: is the mirroring resumed at the state the machine died? Do I get any inconsistencies?

Thanks in advance

[2017-06-16 12:36] vadmeste commented on #2184
No problem.

When you specify `--watch` flag, mc will run forever. I am not sure if it is a good idea to use this flag in a cronjob.

Killing mc mirror in a middle of any operation is not a problem at all. You won't get any inconsistencies. Next time your run mc mirror, it will first check if it missed anything and resume normally.

[2017-06-17 21:16] dennisbappert commented on #2184
Not as a repeating cronjob, just to start with the machine. I'm born in the windows world so it was my naive translation for the task scheduler.

Thanks for the answer -> can be closed I think.

[2017-06-17 21:31] harshavardhana commented on #2184
You could perhaps use https://nssm.cc/ to configure this like a service which is run every time the server reboots. @dennisbappert - feel free to close this issue.

[2017-06-17 22:13] harshavardhana opened #2185 "[feature] cat: Binary dump on terminal by default can lead to terminal crash."
## Expected behaviour
Avoid binary file to be written to terminal if the data is in binary format. Borrowing ideas from https://github.com/curl/curl/commit/5385450afd61328e7d24b50eeffc2b1571cd9e2f

## Actual behaviour
`mc cat` on a binary file such as video or images can in-fact crash the terminal, some times leads to data loss.

## Steps to reproduce the behaviour
`mc cat` a video or a image file

[2017-06-17 22:27] harshavardhana opened #2186 "[feature] Bring in readline support for mc"
## Expected behaviour
Minio Client should if typed without any args spawns a proper readline terminal

Sample `mc` readline output
[code]

Libraries which can be used for this

- https://github.com/chzyer/readline
- https://github.com/peterh/liner

## Actual behaviour
No readline behavior, bash completion is not sufficient enough for navigating object storage backends.

## Steps to reproduce the b

[2017-06-21 15:04] alexellis opened #2187 "Minio fails to mirror file after changes if file's size matches"
## Expected behaviour

`mc mirror` should always mirror files with changes

## Actual behaviour

If the file size is the same, but the content differs then `mc` ignores the change.

Failing use-cases:

* File contents changed from "test" to "tset"
* File metadata changed (from changed yesterday to changed today)

## mc version
- (paste output of `mc version`)

I've tried with the latest `mc` versi

[2017-06-21 20:19] harshavardhana commented on #2157
Reopening until minio-go is vendorized.

[2017-06-21 23:34] #2187 closed

[2017-06-22 18:22] CarterMcClellan opened #2191 "Usage protocol not enforced inside of mc"
One issue inside of mc is that Usage listed inside of the help message is not enforced.
For example, the command "make bucket" [mb], has the following Usage/ Syntax Protocol listed inside of the help text : mc mb [FLAGS] TARGET [TARGET...], but when provided with flags in what should be an invalid location the bucket will still actually be made acting as if the flag was placed correctly.

## Expec

[2017-06-22 18:29] harshavardhana commented on #2191
How is this an incorrect syntax?

[2017-06-22 21:43] CarterMcClellan commented on #2191
When prompted with the help text for mb (by typing mb), usage indicates that flags can only be used optionally after mb, not after this.

[2017-06-22 21:57] harshavardhana commented on #2191
Yes it is to indicate the default location of such flags -  the fact that it works in other places is a feature of the CLi package we use.  What we generally need is to state the fact that the command honors flags and it is provided as `[FLAGS]` in the help template.

So i don't think so we need to do anything here.

[2017-06-22 22:38] #2191 closed

[2017-06-23 08:10] thomasf opened #2193 "mc mirror fails with AccessDenied (unsigned headers) when trying to mirror from minio proxied by nginx to minio proxied by traefik"
The problem seems to happen when both traefik and nginx are used for  TLS termination and when mirroring from a minio instance running behind nginx to one running behind traefik.

I have created a repository with a docker compose setup and a test.sh script which I think replicate the problem locally.

https://github.com/thomasf/issue-mc-mirror-traefik-nginx-tls

[code]

[2017-06-23 08:28] krisis commented on #2156
@krishnasrinivas for `mc cat` to work with gateway caching feature, you don't want List call to be made. How about HEAD request on the object in `mc cat ALIAS/bucket/object`?

[2017-06-23 14:19] vadmeste commented on #2156
The current PR modifies the behavior of `mc cat`, it ignores HEAD 404 response and moves forward to GET object.

[2017-06-23 22:54] #2157 closed

[2017-06-24 05:43] #2193 closed

[2017-06-24 12:02] vadmeste commented on #2074
ETA: 24 June

[2017-06-26 13:58] fwessels opened #2195 "Ugly error message when target does not exist"
## Expected behaviour
See below, an error message along the lines of "Target 'mygcs/from-holland/xl-v1/go' does not exist" would be nicer.

## Actual behaviour
[code]

## System information
Running minio in gateway mode to GCS configured back-end

[2017-06-26 16:10] #2089 closed

[2017-06-26 20:54] deekoder opened #2196 "Copy Objects to minio is unusually slow"
Copy objects to minio is unusual slow

## Expected Behavior

Faster?

## Current Behavior
[code]
[code]
[code]
## Context

The read speed is around 50-70 MB/s . Files under the bucket are something like `BucketName/MediaID/Quality/MovieName/Files`

## Your Environment

Version: 2017-05-05T01:14:51Z
Supermicro SuperStorage 6028R-E1CR12L
CPU : model name : Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz
C

[2017-06-26 20:54] deekoder commented on #2196
Filing for https://github.com/minio/minio/issues/4580

[2017-06-27 21:23] StephanX opened #2198 "Permit override of amazonaws.com url verification"
Am new to minio, and successfully set it up on kubernetes using your helm chart.  An amazon elb is set up to front the service and works like a charm, but only if I use (one of) the IP addresses for the elb gateway.  If I configure the gateway directly in my configuration i.e.
`	"hosts": {
		"my-minio": {
			"url": "http://xxxxx-xxxx.us-east-1.elb.amazonaws.com:9000",`
I receive:

ELB's are expect

[2017-06-27 21:26] vadmeste commented on #2198
I think we should not do the check at all because `xxxxx-xxxx.us-east-1.elb.amazonaws.com` already doesn't contain `s3.amazonaws.com`

[2017-07-01 11:39] tareks opened #2199 "Handling filesystem stat errors"
Is there a way to not fail an entire mirror operation or simply skip errors, such as stat related ones? I'm attempting to mirror a relatively large directory structure with some potentially invalid symlinks. These seem to throw a stat error (i presume when trying to follow them) and the entire mirror operation fails.

I'd like to skip any error'd files and mirror the rest if at all possible.

## E

[2017-07-01 18:45] harshavardhana commented on #2199
I just tested we do skip broken symlinks and permission denied. Are you sure this was the error ? Can you paste the entire error message ?

[2017-07-02 01:01] tareks commented on #2199
I encountered this when trying to mirror from a filesystem to a S3 bucket, but looks like it's more basic than that. I've just been able to reproduce on 2 local directories on the same filesystem. Perhaps i'm missing something?

Steps below:

 0 B / ? ┃░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓┃ 0s

With --debug:

 0 B / ? ┃░░░░░░░░░░░░░░░░░░░

[2017-07-02 01:23] harshavardhana commented on #2199
I see the problem @tareks looks like the listing stops at broken link error. Looks like the issue is in streaming diff compare.

Here are the steps to see if mirror happens following your steps.

[code]

[code]

If you see 1 is mirrored where as `issue` is not mirrored. All lexically earlier are mirrored properly rather which come at the tail end.

Let me check what is causing the issue we should

[2017-07-02 18:22] #2198 closed

[2017-07-04 00:32] badscooter23 opened #2202 "Misleading help text & short description for mc config host"
## Expected behavior
The mc config host -help command description is

"mc config host - List, modify and remove hosts in configuration file."

This is misleading in the sense that "list" and "remove" are valid sub-commands for mc config host, but modify is not. The text does not mention "add" which is valid and the behavior of the "add" sub-command will modify an existing entry if it already exist

[2017-07-04 01:12] badscooter23 commented on #2202
Also need to improve the help text for mc config host add -help and improve the documentation in ddocs/minio-client-complete-guide.md.

mc config host add should have an example for GCS (and mention the requirement for the API signature to be S3v2).

There are a few places in the document where details can be clarified.

[2017-07-04 01:17] harshavardhana commented on #2202
@badscooter23 GCS is only provided in a limited sense.. that is why it was never a priority to document it. With minio gateway gcs - direct access to GCS would not be necessary as well.

In-fact i think we should even consider removing support for GCS from minio-go as well, it has added lot of legacy code which we don't need.

[2017-07-04 01:20] badscooter23 commented on #2202
Obviously no need to fix the documentation issues related to GCS if it is going to be removed.

The other "issue" is quite subtle and somewhat minor (and independent of the items related to GCS). The current text suggests that

mc config host modify ...

would be valid when in fact the way a user 'modifies' a host configuration is to use

mc config host add ...

[2017-07-04 01:23] harshavardhana commented on #2202
This text is more English than a direct representation of the sub-commands themselves.

- Just like how `mc rm` says `Remove files and objects` it doesn't say `mc remove`
- Just like how `mc share` says 'Generate URL for sharing` it doesn't say `mc generate-url`

[2017-07-04 02:26] badscooter23 commented on #2202
It is possible to have a short description written in clear English that isn't misleading.

For example

mc config host add --help

NAME:
  mc config host add - Add a new host to configuration file (or modify and existing entry).
...

mc config host --help
NAME:
  mc config host - List, add or remove hosts in configuration file.

USAGE:
  mc config host COMMAND [COMMAND FLAGS | -h] [ARGUMENTS...]

[2017-07-04 15:13] #2156 closed

[2017-07-04 18:40] mkeedlinger commented on #1641
I am still having this issue. I am using it to create a tar backup and upload it.
[code]
The folder comes out to about 8 GB.

The version I am using is `2017-06-15T03:38:43Z`.

[2017-07-04 19:07] harshavardhana commented on #1641
There is a bug on this we are fixing on https://github.com/minio/minio-go/pull/733

[2017-07-05 21:42] niv opened #2204 "'share download endpoint/bucket/' without -r does not produce share links"
Trying to `share remote/bucket/path` without `--recursive` does not produce presigned URL(s).

The documentation promises:
[code]

## Expected Behavior

Have bucket/test/data.txt existing.

    $ mc share download minio/bucket/test/

Should produce a shareable link to test/data.txt

## Current Behavior

Above command does nothing.

## Your Environment
mc:  2017-06-15T03:38:43Z
minio: minio/minio:l

[2017-07-06 02:23] Yurmusp opened #2205 "Need persistent versioned URL for current release that will not change over time"
Need persistent versioned URL for current release that will not change over time.

Currently most recent version release is in one folder and it will be moved to another folder with next release.

Need versioned URL to current release which would not change with further releases.

I'm on linux-amd64

[2017-07-06 16:17] #2199 closed

[2017-07-07 03:52] deekoder opened #2206 "Add a message to say mc admin heal is experimental."

[2017-07-07 19:14] CarterMcClellan commented on #2175
Wrote an updated gist (now implemented which proposes a couple of changes and extensions on the mc command)

Gist: https://gist.github.com/CarterMcClellan/3744f1ad74ec757bf83163a1c5d25183

[2017-07-10 19:29] kapolos commented on #2046
@harshavardhana `mc cp` does not auto-resume properly if `-r` is used. It only works as you described when the `-r` is not used.

This is my script:

[code]

Every time, it restarts from zero (it's obvious at the end of the screenshot).
![image](https://user-images.githubusercontent.com/10794126/28035847-c4f71044-65be-11e7-9d70-549d93d8ceaf.png)

On the contrary, if I use the `resume` command, it

[2017-07-10 20:56] harshavardhana opened #2209 "Content-Encoding set objects on AWS S3 cannot be downloaded"
## Expected behaviour
[code]

## Actual behaviour
[code]

## Steps to reproduce the behaviour
Upload an object with content-encoding set to `gzip` while the uploaded object is also of form gzip.

[code]

## mc version
master

## System information
Any operating system

[2017-07-11 08:53] krisis commented on #2125
@harshavardhana is this issue still valid? Could you provide more details?

[2017-07-11 09:48] harshavardhana commented on #2125
Actually this issue is not valid anymore.. we have defaulted to using streaming signature for all operations.

[2017-07-11 16:04] krisis commented on #2125
@harshavardhana Can we close this issue then?

[2017-07-11 16:08] harshavardhana commented on #2125
Yes we can @krisis

[2017-07-11 16:37] #2125 closed

[2017-07-11 16:39] #2206 closed

[2017-07-11 22:29] Yurmusp commented on #2205
Any progress here? Do we know when we expect it done?

[2017-07-11 22:34] harshavardhana commented on #2205
This will be done soon. Will update it here @Yurmusp . For the time being use the work-around as mentioned earlier.

[2017-07-11 23:36] jtratner opened #2210 "access key validation is too short for swift S3 emulation"
The access key max length here ( https://github.com/minio/mc/blob/53cb92038aa33f117bd7f59e7b1d28bb8af6e5c4/cmd/config-utils.go#L25 )  doesn't work for Swift(Stack) clusters that use the access key to specify tenants.  Might make sense to expand it to a longer value.

## Expected behaviour
mc config host add AUTH_my_long_tenant_name https://some-swift-cluster.example.com "swft_user:AUTH_my_long_ten

[2017-07-11 23:39] harshavardhana commented on #2210
what is the final length of the key expected @jtratner ?

[2017-07-11 23:45] jtratner commented on #2210
It looks like the default account name max length is 256, which means max length is ~518 characters. (`<name>:<4 char prefix>_<othername>`)

[2017-07-12 03:28] harshavardhana opened #2211 "session: Reimplement `mc session` sub-commands to use cli sub-command style"
## Expected behaviour
mc session when typed should print in the same manner like `mc admin` or `mc config host` prints their sub-command and each sub-command should document itself.

## Actual behaviour

Currently it can seen that it is harder to document our help text below which provides confusing documentation.

[code]

## Steps to reproduce the behaviour
Just type `mc session`

## mc version
m

[2017-07-12 03:31] harshavardhana opened #2212 "mc diff help output is inconsistent"
## Expected behaviour
mc diff should have the same output as our other commands. DESCRIPTION shouldn't be added or printed in this manner.

## Actual behaviour
Current behavior is we print DESCRIPTION in the help text which is not correct and is inconsistent with other commands in `mc`.
[code]

## Steps to reproduce the behaviour
Type `mc diff`

## mc version
master

## System information

All ope

[2017-07-12 03:35] harshavardhana opened #2213 "mc watch help [FLAGS] should precede the target"
## Expected behaviour
[code]
## Actual behaviour
[code]

## Steps to reproduce the behaviour
Type `mc watch`

## mc version
master
## System information
All operating systems

[2017-07-13 09:23] harshavardhana commented on #2168
This should be fixed in the master.. @vadmeste can you validate and close?

[2017-07-13 09:24] harshavardhana commented on #2117
This is not blocked anymore currently being addressed in #2201

[2017-07-13 11:45] vadmeste commented on #2168
The error is not there anymore, closing..

[2017-07-13 11:45] #2168 closed

[2017-07-13 13:46] whiteman999 opened #2214 "mc "rm" command does not remove multipart uploads on Swift cluster via S3 API"
## Expected behaviour

When attempting to remove objects larger than a certain size (>70m) the objects are not being removed and no errors received.

A command similar to the below should remove the listed file:
`mc rm s3test/test1/testfile1`

When attempting this same procedure using s3cmd as the client, the object is removed successfully.

## Actual behaviour
When the object removal is attempted

[2017-07-14 21:40] #2209 closed

[2017-07-15 19:11] #2195 closed

[2017-07-17 14:33] vadmeste commented on #2214
`?multipart-manifest=delete` is not defined in S3 spec.. but it looks it is no harm to add it in `mc`.

[2017-07-17 22:46] krishnasrinivas commented on #2214
@vadmeste just verified that s3cmd also does not add `multipart-manifest=delete` by itself, I grepped `multipart-manifest` in s3cmd source, could not find anything. So it is weird that Swift's S3 layer is adding `multipart-manifest=delete` for s3cmd and not minio. Something weird is going on.

[2017-07-18 05:38] harshavardhana commented on #2214
The problem is perhaps Swift S3 doesn't support abort multipart upload properly.

An abort multipart upload should have only `?delete` query parameters adding multipart-manifest means we are making odd changes to support Swift S3 API alone we should be avoiding that.

Currently mc rm -I works with AWS S3 this must be Swift server side issue.

[2017-07-18 07:07] YinAqu opened #2221 "What's detail meaning of "mc: <ERROR> The provided url doesn't point to a S3 server." when I execute 'mc events add' command"
I always got this error message when I attempted the minio's bucket notification to amqp following  [doc](https://docs.minio.io/docs/minio-bucket-notification-guide), I don't know what it means and where I am wrong.
My amqp configuration:
[code]
My minio server info:
[code]
And my mc commands are like this:
[code]

[2017-07-18 11:07] vadmeste commented on #2221
Hey @YinAqu,

This error message means 'photo/' points to a directory in your local file system and not to a S3 server. You need to run this command (as suggested in the output of Minio server)

`mc.exe config host add photo http://169.254.15.197:9000 WDLPZ6ISCFY0HGR6CLGO gK9bbnbNZ3oIRTdADf7AVhUn47tAHa2zegUIydYX`

to make 'photo' points to your Minio server.

[2017-07-18 17:39] #2213 closed

[2017-07-19 02:24] YinAqu commented on #2221
@vadmeste It works, thanks. I think the notification document should add this command. By the way,  neither **Java** notification code example nor **Java** notification api exists in the document.

[2017-07-19 05:39] #2221 closed

[2017-07-19 09:53] whiteman999 commented on #2214
Thank you for that analysis @harshavardhana.  We are progressing with additional testing and debugging and will feed back any further information when we can.

[2017-07-20 06:54] awwalker commented on #2211
@deekoder @harshavardhana if no one is actively working on this I can give it a go...

[2017-07-20 09:34] whiteman999 commented on #2214
@harshavardhana, following our case raised with SwiftStack support, a Swift3 bug has been raised for this as below:

https://bugs.launchpad.net/swift3/+bug/1705409

It has been indicated that if mc utilised the general delete object API rather than the delete mulitple objects API then this should work.

Not sure if this option could be made available with a switch / parameter to allow this delete

[2017-07-21 12:08] nesc58 opened #2223 "Missing error message using 'rm' command for deleting a bucket"
## Expected behaviour
Same behaviour as 'rm' on linux
`rm <not-empty-dir>`
`rm: '<not-empty-dir>' is a directory`

I think this would be fine.

## Actual behaviour
When remove a bucket/folder the following mesage will be written to the shell:
`mc rm minio/<dir>`
`Removing 'minio/<dir>'.`

Yes. I can delete it with `--recursive` (for the dangour way `--recursive --force`) but it would be fine to sa

[2017-07-21 15:03] balamurugana commented on #2223
This expected behavior would lead to incompatible with Amazon S3 behavior i.e. Remove object does not return error unless there is permission error.

[2017-07-21 16:46] davidmaxwaterman opened #2224 "'mc ls' gives error with s3 endpoint other than s3.amazonaws.com"
## Expected behaviour
I expect it to list the buckets, and also to be able to list individual buckets

## Actual behaviour
I can list the buckets if I use s3.amazonaws.com, but not individual buckets.
If I specify the ireland endpoint in my host config, then I can't even list buckets.

Error:
[code]

## Steps to reproduce the behaviour
1. `mc config host add ai https://s3-eu-west-1.amazonaws.com .

[2017-07-21 17:00] nesc58 commented on #2223
I understand. I will solve this issue for mine in a simple script.
1. Remove,
2. Check if the object still exists
3. Remove with rm recursive force.

Or check first if this is a folder and contains objects e.g. With ls

Thanks for your help and information.

[2017-07-21 17:16] #2223 closed

[2017-07-21 17:21] deekoder commented on #2210
yea I believe max length is 256 for s3 compatibility. I will check on this and get back to you.

[2017-07-21 17:35] deekoder commented on #2224
will look at this @davidmaxwaterman

[2017-07-25 01:40] awwalker opened #2226 "session: support for 'mc session resume all'"
## Expected behaviour
For mc session commands to be consistent
## Actual behaviour
Currently mc session clear supports all as an option to remove all active sessions. In order to be consistent mc session resume should also support all as valid input to resume all active sessions.
## Steps to reproduce the behaviour
Run mc session resume all
## mc version
- (paste output of `mc version`)
All
## Sys

[2017-07-25 19:14] harshavardhana commented on #2214
@whiteman999  AWS S3 implements two types of API one is single object delete and multi-object when you want to delete objects in bulk.

[code]

On the other hand gravitates to use multi object delete API instead to delete objects in bulk.  Swift can implement multiple object delete API and it should work fine.

Currently `mc rm` works with Minio and AWS S3 which both implement this API.

You meant

[2017-07-25 23:21] poornas commented on #2224
@davidmaxwaterman, we are working on a fix for this issue - will keep you posted.
It would be helpful if you could paste the output of  mc --debug ls ai  .

[2017-07-26 09:33] davidmaxwaterman commented on #2224
[code]

Somehow that seems too little info to be useful. Is that what you were after?

[2017-07-26 14:12] poornas commented on #2224
@davidmaxwaterman, thanks for the log info.

[2017-07-27 19:10] deekoder commented on #2184
Closing this issue @dennisbappert Please reopen if you want to discuss this further with us.

[2017-07-27 19:10] #2184 closed

[2017-07-27 21:33] deekoder opened #2228 "Relocate 'heal is experimental' under heal subcommand"
Right now it shows up when we type

but it should only show up when user hits

[2017-07-27 21:34] deekoder commented on #2228
Part 2 of #2219

[2017-07-27 21:39] gtallan opened #2229 "permit more characters for relaxed bucket name validation"
This is a follow-on to issue #2157.

I tried out the updated version of mc which is more accepting of non-compliant bucket names. The changes are much appreciated, but I would like to ask you to consider two more exceptions.

1) underscore (_) should be accepted in an existing bucket name - it's accepted by AWS US-East and ceph radosgw, and is sadly the most popular "non-compliant" character chose

[2017-07-27 21:53] deekoder commented on #2229
@gtallan will discuss this ask and get back to you.

[2017-07-28 07:15] runner-mei opened #2231 "mc cp fail"
## Expected behaviour
print minio is invalid bucket name on console

## Actual behaviour
mc.exe cp -r lib\minio local
 0 B / 18 B [                                                         ]   0.00%
mc.exe: <ERROR> Failed to copy `lib\minio\aaabc\aaa.txt`. XML syntax error on line 9: element <link> closed by </head>
mc.exe: <ERROR> Session safely terminated. To resume session `mc session resume MqV

[2017-07-28 17:16] CarterMcClellan commented on #2231
Can you provide me a "mc.exe config host list" output please, to further root cause analysis?

[2017-07-28 19:24] vadmeste commented on #2231
It would be also great if you run the command again with --debug flag and paste it here.

[2017-07-28 21:27] ebozduman commented on #2210
This issue will be fixed when [PR4730](https://github.com/minio/minio/pull/4730) pushed in for [Issue#4717](https://github.com/minio/minio/issues/4717) is merged into master.
We can close this issue as fixed then.

[2017-07-29 02:01] runner-mei commented on #2231
Now I'm resting, no environment. But I know why, “mc.exe cp -r lib\minio local”  will “minio” as the bucket name, send request to  "http://127.0.0.1:9000/minio", but "http://127.0.0.1:9000/minio" is gui url.

You can reproduce it yourself:
md lib
md lib\minio
echo aaaa > lib\minio\aaaa.txt
mc.exe cp -r lib\minio local

[2017-07-29 05:07] harshavardhana commented on #2231
Yep this can be reproduced @runner-mei

[code]

We will fix it..

[2017-07-29 05:14] harshavardhana commented on #2231
FWIW a regression was introduced on the server which leads to this error.

[code]

[2017-07-31 08:35] whiteman999 commented on #2214
@harshavardhana thanks for that response.

Yes, as per my response mc does utilise the multiple object API as default as you have indicated.

My question, was whether `mc rm`  could implement a switch or parameter that would allow the default behaviour to NOT use the multiple object API as default.

It is understood that this is to work around a bug in the Swift3 implementation so we will await fo

[2017-07-31 08:35] #2214 closed

[2017-07-31 09:02] harshavardhana commented on #2214
One way we could avoid this is by doing a single RemoveObject() just for one object and for multiple objects we would do `multi-object`.   Let us know if this work-around is acceptable then perhaps we can do it.??

[2017-07-31 16:30] ktwalrus opened #2232 "mc access OVH Openstack container?"
I'm trying to access my Openstack container hosted at OVH in their Public Cloud. OVH runs Openstack Swift with Identify v2. I haven't been successful in even connecting to it with mc.

mc gives the following error:

[code]
The endpoints available to me are:
![ovh-endpoints](https://user-images.githubusercontent.com/1620132/28787620-eb7f1374-75ea-11e7-84a6-886b6b4640a6.png)

I haven't been able to

[2017-07-31 17:08] ktwalrus commented on #2232
OVH hasn't responded to my support ticket yet, but I did find this:

http://travaux.ovh.com/?do=details&id=17136&PHPSESSID=5dff607dc1f470aa97343a69af7d11d4

which suggests they removed S3 API support last year.

Still, mc shouldn't be giving me a URL parsing error, should it?

[2017-07-31 17:13] harshavardhana commented on #2232
It is not a wrong URL in a generic manner but with in the context of mc it is not a correct URL . mc requires user to provide endpoint with no resource component.

We will improve the error message to indicate the type of endpoints expected.

In a larger sense If OVH doesn't support S3 API then mc won't work anyways.

[2017-07-31 18:39] #2204 closed

[2017-07-31 21:57] #2228 closed

[2017-08-01 07:20] harshavardhana commented on #2232
I see that we report an error when adding ovh like URLs

[code]

Did you edit the `config.json` directly? @ktwalrus

[2017-08-01 15:17] ktwalrus commented on #2232
@harshavardhana - yes, I edited the `config.json` directly. It was just easier to clone the gce config for OVH.

I suppose it is a restriction that the AWS S3 API imposes on minio/mc. That is, all S3 endpoints are composed of only the scheme, host, and port (with no path part). If this is the real reason for the restriction, it would have been helpful if the parse error simply included that AWS S3

[2017-08-01 19:19] harshavardhana commented on #2231
We need to open a server bug here @CarterMcClellan @vadmeste

[2017-08-02 02:06] #2212 closed

[2017-08-02 17:57] harshavardhana commented on #2229
This is perhaps expected and we can allow.  Requires changes in minio-go will send a fix. Sorry for the delay @gtallan

[2017-08-02 18:38] harshavardhana commented on #2229
A PR is sent once merged, we will bump up the release of minio-go and vendorize with `mc`.  -https://github.com/minio/minio-go/pull/778

[2017-08-03 17:03] harshavardhana commented on #2229
This is not blocked anymore @deekoder we can remove blocked label?

[2017-08-04 03:06] #2229 closed

[2017-08-04 18:10] #2210 closed

[2017-08-04 21:13] #2224 closed

[2017-08-06 18:35] #2232 closed

[2017-08-07 08:45] davidmaxwaterman commented on #2224
how do I get a fixed version?

[2017-08-07 08:47] harshavardhana commented on #2224
@davidmaxwaterman for now from source `go get -u github.com/minio/mc`  if not wait for the release which we will do this week.

[2017-08-07 08:50] davidmaxwaterman commented on #2224
`go` seems to require a whole new subsystem to be installed, so I'll give that a miss and wait for the release since it's not too long anyway. Thanks.

[2017-08-15 00:12] krisis opened #2237 "mc admin credentials fails with "cannot get a configured admin connection""
## Expected behaviour
Should set supplied credentials on Minio server

## Actual behaviour
`mc admin credentials TARGET ACCESS_KEY SECRET_KEY` fails with

`mc: <ERROR> Cannot get a configured admin connection. The specified alias: 123 not found`

## Steps to reproduce the behaviour
1. `mc admin credentials TARGET access_key secret_key`

## mc version
- (paste output of `mc version`)
commit id `ca9

[2017-08-15 00:13] krisis commented on #2237
This is a simple issue and needs to be fixed immediately. @deekoder @harshavardhana I could take this up in the interest of time to fix.

[2017-08-15 12:04] vadmeste commented on #2237
Looks like the help isn't updated

[2017-08-15 17:37] #2237 closed

[2017-08-17 18:15] harshavardhana commented on #2211
Fixed by #2225

[2017-08-17 18:15] #2211 closed

[2017-08-21 13:12] rosario-raulin opened #2240 "mc quiet flag not working"
## Expected behaviour

When using the global `--quiet/-q` flag, mc should not print progress to stdout.

## Actual behaviour

Progress is still written to stdout, even if `--quiet` is set.

## Steps to reproduce the behaviour

1. Run `mc -q mirror some/local/path some-dest`
2. Still see output to stdout.

## mc version

Version: 2017-06-15T03:38:43Z
Release-tag: RELEASE.2017-06-15T03-38-43Z
Commit

[2017-08-21 15:02] harshavardhana commented on #2240
This is expected behavior of quiet. Quiet only turns off progress bar. If you don't want anything to be printed just redirect stdout to /dev/null instead.

[2017-08-21 17:47] rosario-raulin commented on #2240
Okay, then you should at least improve the documentation on that. The current description `suppress chatty console output.` isn't clear enough, IMHO.

[2017-08-24 11:02] donatello opened #2242 "mc rm not erroring out when deleting directory"
## Expected behaviour

`mc rm` should exit with an error message when attempting to delete a non-empty directory inside object storage (when no flags are given).

## Actual behaviour

See steps below:

[code]

## Steps to reproduce the behaviour
See previous sectoin.

Originally raised by a user here - https://github.com/minio/minio/issues/4852

[2017-08-24 17:09] balamurugana commented on #2242
RemoveObject REST api doesn't return error other than permission denied.  Could you tell what error message you are expecting?

[2017-08-24 17:24] donatello commented on #2242
This is unfortunate. From a usability perspective it is a bit misleading, especially if the last component is not known to be a object or a directory.

Perhaps the multi-delete API https://docs.aws.amazon.com/AmazonS3/latest/API/multiobjectdeleteapi.html could be used - it can be set to return explicit acknowledgements for each object being deleted. This way client could get to know and the print

[2017-08-24 18:06] balamurugana commented on #2242
We use (the same api)[https://github.com/minio/mc/blob/master/cmd/rm-main.go#L137] for removing single object too. :smile:

[2017-08-28 18:39] #2231 closed

[2017-08-31 13:24] jwadolowski opened #2245 "S3 upload fails from time to time"
## Expected behaviour

`mc` should retry S3 upload when error occurs

Related issue: #1693

## Actual behaviour

Under certain circumstances S3 upload fails with the following message:

[code]

## Steps to reproduce the behaviour

I'm uploading a set of large files to S3 in a loop. For some reason the process fails and `mc` doesn't retry that.

[code]

Here's the output of the script:

[code]

As

[2017-08-31 18:26] jwadolowski commented on #2245
I've also seen that kind of errors while uploading stuff to S3

[code]

`mc` in general should either handle such connection issues seamlessly and retry several times (with some sort of a backoff) or make it a configurable option via CLI (i.e. `--max-retries 10`)

[2017-08-31 21:33] harshavardhana commented on #2245
Can you test with the latest master `go get -u github.com/minio/mc`  and let us know if its reproducible?

[2017-09-01 09:25] jwadolowski commented on #2245
Sure, will try to test that out today.

[2017-09-02 02:18] ebozduman commented on #2117
Removed `Blocked` label per @harshavardhana 's comment.

[2017-09-02 02:24] deekoder commented on #2202
needs to be discussed with @abperiasamy

[2017-09-02 02:50] ebozduman commented on #2117
Closing it since it is a duplicate of https://github.com/minio/mc/pull/2201

[2017-09-02 02:50] #2117 closed

[2017-09-04 21:45] jwadolowski commented on #2245
`master` was deployed to a bunch of AWS servers. I'll be monitoring that for the next couple of days to see if the problem still occurs.

[2017-09-04 23:10] harshavardhana commented on #2245
Thanks @jwadolowski

[2017-09-05 22:44] #2175 closed

[2017-09-11 20:53] poornas opened #2250 "mc rm --recursive --force option should work on sitename"
## Expected behaviour
`mc rm --recursive --force --older-than=90 play
` should succeed and recursively delete buckets older than 90 days
## Actual behaviour
[code]
## Steps to reproduce the behaviour

## mc version
- (paste output of `mc version`)
Version: 2017-09-06T16:33:47Z
Release-tag: DEVELOPMENT.2017-09-06T16-33-47Z
Commit-id: b3955cc7e8dad50f5f13d072ec71a9e7dd52d38f
## System information
ub

[2017-09-12 06:11] aw opened #2251 "Retrieve metadata from objects"
## Expected behaviour

Metadata is returned as `X-Amz-Meta-*` HTTP request headers, or as metadata keys in JSON response. Perhaps a new cmdline flag (ex: `mc ls --head mybucket/object.txt`) or in DEBUG output (ex: `mc --debug ls mybucket/object.txt`).

The metadata appears when using the python `awscli` cmdline tool.

## Actual behaviour

User-defined metadata is never returned.

## Steps to repro

[2017-09-12 20:42] poornas commented on #2251
@aw, user metadata is returned by the HEAD object call as per the s3 api. The `mc ls` command is equivalent to the `aws ls`  command and not the `aws head-object` call, so this is working as intended.

[2017-09-13 14:58] aw commented on #2251
Sorry if I wasn't clear. This is a feature request, not a bug. At the moment there is no way to retrieve user metadata through the `mc` utility.

[2017-09-14 18:03] poornas commented on #2251
@aw, will have to get back to you on this after discussing this internally.

[2017-09-14 18:57] harshavardhana commented on #2251
Requesting user metadata might be really expensive operation on large buckets are you sure you want this information? because each object requires a HeadObject() call to get the metadata information.

It is better for you to configure your server to send bucket notifications and update a database/key-value store instead.  Lets say if you are using Minio server you can configure https://docs.minio.

[2017-09-15 03:58] aw commented on #2251
@harshavardhana metadata on objects, not on buckets. Please see the example I posted above, the request is to retrieve metadata for one specific object only.

I also suggested a new flag for `mc ls` such as `--head`.

[2017-09-15 04:50] harshavardhana commented on #2251
I understand what you mean wholly. I want to suggest a better alternative for you to look at object metadata through populating your namespace to a query friendly backend. This can be achieved by using the previously referenced documentation.

This option is not useful for `mc` and will be seldomly used IMO. You need to provide a stronger use case otherwise we prefer to avoid adding rarely used op

[2017-09-15 05:49] aw commented on #2251
@harshavardhana thanks for the explanation.

I'm considering your suggestion as I write this :smile: If the metadata is being accessed programmatically, there's definitely more power and flexibility from having the object metadata stored externally. It's something I will look into (likely MQTT or Redis).

S3 object metadata is probably **the** most important feature of self-hosted object storage,

[2017-09-15 07:22] harshavardhana opened #2252 "mc find doesn't provide json formatted output."
## Expected behaviour
mc find provides json formatted output.

## Actual behaviour
Doesn't provide json formatted output.
[code]

## mc version
master

[2017-09-19 21:56] deekoder commented on #2245
@jwadolowski in your opinion do you think this issue has been addressed. If so we can go ahead and close it.

[2017-09-20 00:39] rlu-aa commented on #595
Hello @harshavardhana, how did you solve this please? I still hit 301 error for a bucket based in Tokyo.

My first try, keys removed:
*"s3tokyo": {
            "url": "https://s3.amazonaws.com",
            "api": "S3v4",
            "region": "ap-northeast-1"
        }*
and `mc ls s3tokyo/<bucket_name>` leads to 301 error

Second try, `mc ls https://s3-ap-northeast-1.amazonaws.com/<bucket_name>`,

[2017-09-20 06:18] harshavardhana commented on #595
It is solved in the master branch @rlu-aa you have to compile from source.

[2017-09-20 07:26] rlu-aa commented on #595
@harshavardhana Thanks for prompt reply, I build one from master branch, doesn't work, the same error persists

`mc: <ERROR> Unable to stat `s3tokyo/<bucket_name_with_dots>`. Head https://s3.amazonaws.com/<bucket_name_with_dots>/: 301 response missing Location header`.

My config.json is like
`
"s3tokyo": {
"url": "https://s3.amazonaws.com",
"api": "S3v4",
"region": "ap-northeast-1"
}
`

[2017-09-20 07:45] harshavardhana commented on #595
Do you have a IAM policy set on your account to disable certain S3 API calls? @rlu-aa ?

[2017-09-20 13:56] jwadolowski commented on #2245
Let me double check if there were issues since the moment I deployed `mc` built from `master` branch. Will get back to you shortly.

[2017-09-20 22:26] ebozduman commented on #2154
This is dup of https://github.com/minio/mc/issues/2123
Closing it.

[2017-09-20 22:26] #2154 closed

[2017-09-21 02:56] rlu-aa commented on #595
Hello @harshavardhana, I've reconfigured s3tokyo the way you suggested, and 301 error is still there. Following is my IAM policy on the S3 bucket

[code]

Very basic permissions indeed, but awscli works fine.

[2017-09-21 03:21] harshavardhana commented on #595
Yes GetBucketLocation() @rlu-aa will re-open this bug we will fix `mc` with the above IAM policy. For now can you add GetBucketLocation() ?

[2017-09-21 05:58] poornas opened #2255 "add context in mc"
## Expected behaviour
cp/mirror calls should use context in Put Api call.
## Actual behaviour
Currently cp/mirror doesn't use request context in the Put Api call. With context availability in minio-go, mc client should take advantage of this and use context to cancel Put calls gracefully.
## Steps to reproduce the behaviour

## mc version
- (paste output of `mc version`)

## System information

[2017-09-21 19:34] robert-mcdermott opened #2256 "missing SSE-S3 support ("--sse" option) to upload objects to S3 buckets"
## Expected behaviour

'mc' should have the ability to tell S3 to use SSE (server side encryption) when uploading objects. We have an S3 bucket policy that enforces that all uploaded objects use SSE-S3 (--sse AES256) and we are unable to use 'mc' at this time (but would like to). It should work like this:

[code]

## Actual behaviour

Without this flag we receive an "access denied" error from S3

[2017-09-21 20:52] aead commented on #2256
Hi @robert-mcdermott
I'm currently working on the encryption support minio server SSE-C, minio-go client/server side encryption support and also mc. Your request is on our todo list, thanks for the report.
Will keep you updated.

[2017-09-21 23:47] deekoder commented on #2226
We discussed this and decided that resume all would be dangerous especially if sessions are very old and could result in unpredictable results (eg maybe a bucket is gone but a session 1 year did some operations on that bucket). It's acceptable to inspect them one by one and resume.

[2017-09-22 08:00] rlu-aa commented on #595
Thank you @harshavardhana , with *GetBucketLocation* permission added mc (brew installed) works now.
``$ mc version
Version: 2017-06-15T03:38:43Z
Release-tag: RELEASE.2017-06-15T03-38-43Z
Commit-id: c32b1ea48b651125e33015ea0d1596cb377685a4``

It would be nice to document this somewhere.

[2017-09-22 08:15] harshavardhana commented on #595
We will in-fact fix the problem, so we don't have to really document this. We should work without GetBucketLocation() when right endpoint is provided.

Thanks for the report.

[2017-09-22 10:10] rlu-aa commented on #595
@harshavardhana Thank you for your help and always prompt replies. Now I can use mc to mirror files from Tokyo S3 to local minio server, here comes a new issue: mc doesn't keep LastModified of objects as is, is this known/by-design?