[2022-08-10 15:04] harshavardhana commented on #4202
This requires minio-go update we will do that today.

[2022-08-10 15:15] chipitsine commented on #4202
I understand that issue may be fixed already in master branch. I use windows mc.exe, I'm too lazy to build it from master :)
feel free to close issue if it is known/fixed already

[2022-08-10 18:15] #4202 closed

[2022-08-11 06:10] roeelavi commented on #4197
##update
still moving very very slow

[2022-08-14 10:07] vadmeste commented on #3667
I will fix it and deprecate the old style without --prefix

[2022-08-15 17:40] skirsten opened #4210 "`mc mirror` without `--overwrite` does not continue syncing other objects after one fails to synchronize"
## Expected behavior
As the [docs](https://docs.min.io/minio/baremetal/reference/minio-mc/mc-mirror.html#mc.mirror.-overwrite) state and as one would expect using common sense:

## Actual behavior
It does not, in fact, continues to synchronize other objects.
## Steps to reproduce the behavior
[code]
## mc --version
- mc version RELEASE.2022-08-11T00-30-48Z (commit-id=c2c2ab4299bbb243c55644984392f1

[2022-08-17 20:10] thebetauser opened #4213 "Recursive Copy fails to resume previous session"
## Expected behavior
When executing a copy command with the --continue flag the client should resume the upload from the previously failed file

## Actual behavior
After an upload fails, issuing the same command does not resume the upload but starts from the beginning.

Edit: I was able to actually resume a previously failed session, so this seems to be intermittent issue. I'm going to see if I ca

[2022-08-17 22:04] shoce commented on #3699
Joining this. Have 100K objects that i mirror to a bucket in a Kubernetes cronjob - seeing all the objects listed is not needed for me, also seems like all the prints create huge load on the cpu. Need an option to suppress printing of all the objects being mirrored.

[2022-08-17 22:57] thebetauser commented on #4213
I can confirm this is not a implementation bug but more of a visual issue.

When resuming a saved session there is no notification/output to let's the user know that the current process is comparing local/remote files. I wrongfully assumed the progress indicator showed a new upload session because it started from 0 and went through the entire set of files to upload.

If it is deemed no changes nee

[2022-08-22 11:42] klauspost commented on #4081
There is no move/rename functionality in S3, so an operation like this will always be rather expensive, and you shouldn't rely on this for everyday tasks.

[2022-08-22 11:42] #4081 closed

[2022-08-23 15:43] thebetauser commented on #4082
Is there any update on this? Seems the --exclude only works on files however when backing up some python projects I want to exclude all the directories that are not needed such as .git and __pycache__ and the exclude commands doesn't work on folders

This command doesn't filter any of the folders

`mc mirror --exclude ".*" --exclude "venv" --exclude "*pycache*" --exclude "*-info" "E:\Python Projec

[2022-08-24 09:17] Kucukaslan opened #4217 "Autocompletion works incorrectly in bash when key contains colon"
## Expected behavior
Pressing tab should complete the current word by appending rest of the key
## Actual behavior
Pressing tab completes the current word by appending full key string
## Steps to reproduce the behavior
### Enable and test autocompletion
`$ mc --autocompletion`

mc: enabled autocompletion in your 'bash' rc file. Please restart your shell.
[code]
### Create  the bucket and upload te

[2022-08-25 14:22] invidian commented on #2928
Would be nice to get this done. It makes autocompletion useless in certain cases.

[2022-08-31 12:07] kannappanr commented on #4217
@taran-p Can you PTAL?

[2022-08-31 12:08] kannappanr commented on #4210
@taran-p Can you PTAL?

[2022-08-31 16:14] kannappanr commented on #4179
fixed by #4206

[2022-08-31 16:14] #4179 closed

[2022-09-01 14:49] LadMartin opened #4230 "mc ilm --expired-object-delete-marker translated to DeleteMarker insted of ExpiredObjectDeleteMarker"
## Expected behavior

[code]

[code]

## Actual behavior
[code]
[code]

## Steps to reproduce the behavior
[code]

## mc --version
[code]

## System information
used AWS and dockerized MC client

[2022-09-02 07:45] dingsongjie opened #4231 "net/http: HTTP/1.x transport connection broken: http: ContentLength=334173 with Body length 0"
When i use mc mirror command to sync files between to bucket ,i saw some errors ,and files with this error will not be synced.

mc: <ERROR> Failed to copy `http://xxx:9000/erp-prd/ProductPic/2022/08/31/630f231a327ffa0002db475c.png`. Put "https:/xxxx/2022/08/31/630f231a327ffa0002db475c.png": net/http: HTTP/1.x transport connection broken: http: ContentLength=334173 with Body length 0

[2022-09-02 08:36] vadmeste commented on #4231
@dingsongjie do this happen always with the same object name ? if not then it is just a simple networking issue

[2022-09-05 00:45] dingsongjie commented on #4231
The object of the problem is random, but I think when there is a network problem, there needs to be a retry function internally, otherwise the object will not be able to synchronize

[2022-09-05 01:11] harshavardhana commented on #4231
Retry is automatically attempted this is a case where it cannot be retried and `mc` gives up.

[2022-09-05 03:21] dingsongjie commented on #4231
Why did `mc` give up ，if it is a network problem, it should be recovered quickly, and according to the log, within a few seconds, mc has successfully uploaded multiple pictures, but this picture was not uploaded successfully, which can prove that there is no long-term network failure.
![image](https://user-images.githubusercontent.com/10933723/188354552-7bde5f20-d0f4-4f00-8c12-597be8d548a7.png)

[2022-09-05 03:22] dingsongjie commented on #4231
Why did mc give up ，if it is a network problem, it should be recovered quickly, and according to the log, within a few seconds, mc has successfully uploaded multiple pictures, but this picture was not uploaded successfully, which can prove that there is no long-term network failure.
image

[2022-09-05 03:23] dingsongjie commented on #4231
Why did mc give up ，if it is a network problem, it should be recovered quickly, and according to the log, within a few seconds, mc has successfully uploaded multiple pictures, but this picture was not uploaded successfully, which can prove that there is no long-term network failure.
![image](https://user-images.githubusercontent.com/10933723/188354733-7e31a6f4-d8fa-4128-884d-885160fe7722.png)

[2022-09-05 03:46] harshavardhana commented on #4231
`mc` gave up because this is an unrecoverable error - it cannot be retried since the connection was broken mid-flight during the socket read @dingsongjie

you need to figure out who is closing an active connection on your end. Go doesn't designate this error as "retry" friendly since it is not an expected network error.

You should perhaps figure this out on your end why here is a problem.

[2022-09-05 03:46] #4231 closed

[2022-09-06 15:01] #4008 closed

[2022-09-06 21:17] #4230 closed

[2022-09-07 12:02] vadmeste commented on #3951
@ebozduman I sent a PR for this, I did not see you were assigned to this as well.

Fixed with https://github.com/minio/mc/pull/4233

[2022-09-07 12:02] #3951 closed

[2022-09-07 14:16] vadmeste commented on #3667
Fixed with https://github.com/minio/mc/pull/4209

[2022-09-07 14:16] #3667 closed

[2022-09-08 11:13] ebozduman commented on #3951
@vadmeste
Good job!
Thank you.

[2022-09-09 02:58] K-free-N commented on #2867
HI, I have the same problem
`●  minio1:9000
   Uptime: 3 minutes
   Version: 2020-09-21T22:31:59Z
   Network: 2/2 OK
   Drives: 0/0 OK
   Pool:

●  minio2:9000
   Uptime: 3 minutes
   Version: 2020-09-21T22:31:59Z
   Network: 2/2 OK
   Drives: 0/0 OK
   Pool:

Pools:

30 MiB Used, 14 Buckets, 17,865 Objects
0 drives online, 0 drives offline`
I have 4 directories that use Minio, but the MC client d

[2022-09-09 06:55] harshavardhana commented on #2867
You can't use latest `mc` with such old deployment of MinIO please upgrade your server @K-free-N

[2022-09-13 04:50] andreyhammer commented on #3477
Please correct this misunderstanding
You broke the unix world. This is disrespect to the developers of midnight commander and its users.  who decided to use this name? why didn't you use rm as the command name?

[2022-09-13 15:39] matm commented on #3559
Using `mc mirror` instead doesn't fail on empty dirs in this case.

[2022-09-14 09:12] 1714574383 opened #4251 "'mc mirror' is very slow"
## Steps to reproduce the behavior
I'm commanding the ' mc mirror' to synchronize the uploads bucket from A to B cluster. In first 12 hours the transfer rate could reach 600 Mbps, but suddenly it dropped to 1Mbps.
I had about 6TB of data and 3M files, and I had 5TB of data and 2.5M files synced when the transfer rate went down.
I had checked over the network including commanding the 'mc mirror' sy

[2022-09-14 17:07] ammubharatram opened #4252 "mc cp to copy from minio to GCS doesn't work without error message"
Hi everyone!
I have an issue without an error message:
I am using Kubeflow locally with minio client . I am able to set alias to a google cloud bucket using this command where access key and secret key are my credentials for GCS:
`mc alias set myGCS https://storage.googleapis.com/ ACCESS_KEY SECRET_KEY`
I am amazed that I can set alias for GCS as well as AWS S3 which worked earlier. I see that the

[2022-09-14 18:11] harshavardhana commented on #4252
where have we documented that you can us `gs://` ?

[2022-09-14 18:11] #4252 closed

[2022-09-14 20:16] ammubharatram commented on #4252
okay I see. Two comments:
1. Why do you have documentation for mc alias for GCS if minio client doesn't 'intend' to support 'cp' command even? See here this command:
https://docs.min.io/docs/minio-client-quickstart-guide.html
mc alias set gcs  https://storage.googleapis.com BKIKJAA5BMMU2RHO6IBB V8f1CwQqAcwo80UEIJEjc5gVQUSSx5ohQ9GSrr12
2. I see that in documentation that MinIO provides no guarantee

[2022-09-14 20:58] harshavardhana commented on #4252
if you configured this use `mc cp local/bucket/filename gcs/bucket/filename`

No, you didn't do this you somehow went ahead and assumed things on your own - we can't help you with your preconceived assumptions - it's not written anywhere to use `gs://` `mc` is not gsutil.

GCS works in its S3 API in the limited sense it is nowhere a replacement for AWS S3 or MinIO so use it accordingly, `mc` makes

[2022-09-15 09:19] #4251 closed

[2022-09-15 11:56] ammubharatram commented on #4252
Thank you for suggestions. Following worked for me, where 'myGCS' is the alias that has been set.
`mc cp local/mlpipeline/artifacts/first-pipeline-hprqw/2022/08/29/first-pipeline-hprqw-1127242770/random-forest-classifier-Rf_best.tgz myGCS/nso_fcrr/rf_best.tgz`

Only works because of the alias used earlier:

`mc alias set myGCS https://storage.googleapis.com/ ACCESS_KEY SECRET_KEY`

[2022-09-15 15:52] HappyWYQ opened #4253 "mc mirror appears Connection closed by foreign host http:/xxxx"
## Expected behavior
mcli --insecure mirror -a  oss1/bucket1  oss2/bucket1

## Actual behavior
when it runs  sometime,  it happens error like this
 mcli: <ERROR> Failed to copy `https://xxxx/dddd`. Put "http://xxxx:10001/xxx/ddddd?partNumber=27&uploadId=92734d20-58e9-421f-99b2-e632fccd5e57": Connection closed by foreign host http://xxxx:10001/xxxxx/dddd?partNumber=27&uploadId=92734d20-58e9-421f-99

[2022-09-15 17:34] harshavardhana commented on #4253
It looks like server closed the connection on an active request.

[2022-09-16 19:32] kambei opened #4256 "mc mv --recursive says that there are unsupported characters"
I have uploaded a file `GennaioI.csv.zip` in MinIO  `address` bucket without problems.

But if I try to move it to an other bucket, `mc` says that are unsupported characters in the name:
[code]

I'm trying to move it with:
[code]

Why?

[2022-09-16 19:43] harshavardhana commented on #4256
Help us with why, provide `--debug` output.

[2022-09-16 19:48] kambei commented on #4256
[code]

[2022-09-16 19:54] kambei commented on #4256
My bad there is an // that isn't right!

Sorry. :)

[2022-09-16 20:15] harshavardhana commented on #4256
why is there `//` here strange looks like something to do with `mc`  //cc @vadmeste

[2022-09-16 20:31] kambei commented on #4256
No I meant in this:

`mc: <DEBUG> PUT /output/2022/09/16//address/GennaioI.csv.zip HTTP/1.1`

Two // after 16... My bad.

[2022-09-16 20:31] kambei commented on #4256
After fixing the pat. All works.
Thanks.

[2022-09-16 20:32] #4256 closed

[2022-09-18 07:27] itulga opened #4258 "mc mirror --watch deletes file on S3"
## Expected behavior

mirror command correctly uses --remove flag. But cannot use --watch flag together. Sync local and S3 files and deleted some files from local folder. Expected behavior:

mc mirror --watch /local/folder s3://bucket/ (not delete S3 file)
mc mirror --watch --remove /local/folder s3://bucket/ (must delete S3 file)

## Actual behavior

mc mirror --watch /local/folder s3://bucket/ (

[2022-09-21 11:16] #4088 closed

[2022-09-21 13:34] wangglbj opened #4260 "When curl API service, output "AccessDenied""
## Expected behavior
[code]
## Actual behavior
[code]
Curl webgui:
[code]
It looks like the curl webgui output is correct and the API returns “AccessDenied”

## Steps to reproduce the behavior

## mc --version
- (paste output of `mc --version`)
- minio/minio:latest
- minio/mc:latest

## System information

[code]

[2022-09-21 14:25] vadmeste commented on #4260
AccessDenied is the expected response, what kind of information are you looking for ?

[2022-09-21 16:49] #4260 closed

[2022-09-22 00:47] wangglbj commented on #4260
Thanks for you quick reply. you know I just want to verifying whether my API server is working properly, I want to create user, list, etc. through API, is there something wrong with me using this command to verify API? can you tell me a correct instruction to versification API. @harshavardhana

[2022-09-22 05:32] harshavardhana commented on #4260
AccessDenied is working properly. @wangglbj

[2022-09-26 10:10] klauspost commented on #4260
I suspect this is what you are looking for: https://min.io/docs/minio/kubernetes/upstream/operations/monitoring/healthcheck-probe.html#node-liveness

[2022-09-27 00:41] comunidadio opened #4265 "du should not limit itself to folders"
The current limitation seems very artificial as there is no "folders" on S3 API and even regular local files du command do support such use case (using * wildcard as suffix).

## Expected behavior
Calculate and display cumulative size of objects according to prefix

## Actual behavior
mc: <ERROR> Source `alias/bucket/dumps/20220926` is not a folder. Only folders are supported by 'du' command.

##

[2022-09-27 00:58] harshavardhana commented on #4265
`*` wildcard is interpreted by the shell before we get control, there is only a `prefix` that is possible '*' has really no meaning.

There are folders in S3 API that are called 'common prefixes' that are hierarchical parents to your objects.  Looks like you are unaware of S3 API properly.

The current implementation is as per requirement.

[2022-09-27 00:58] #4265 closed

[2022-09-27 01:53] comunidadio commented on #4265
Not if you use quotes as I did. Anyways the wildcard was just an example and is not the main point.

Consider the below mc command:
"mc ls alias/bucket/dumps/20220926"

This returns all objects starting with the prefix "alias/bucket/dumps/20220926".

It doesn't look consistent, or expected, that "du" would not proceed regularly with this prefix and return an artificial error based on "folders" or

[2022-09-27 04:18] harshavardhana commented on #4265
It is written to satisfy S3 APIs usecase be it a prefix match being an opaque string or a folder is your choice. We cannot over-engineer this anymore to make it POSIXish.

It is what it is under the bounds of the S3 API.

[2022-09-27 11:42] migs35323 opened #4267 "minio cli 0 bytes folders"
## Expected behavior
when we use commands like `mc ls server` that it shows folder sizes accordingly

## Actual behavior

when we use any command it lists folders as 0 bytes

## mc --version
- (paste output of `mc --version`)
mcli version RELEASE.2022-09-16T09-16-47Z (commit-id=ad4441ef2b4b1d0a6b90b5dd0d71d0423952e417)
Runtime: go1.18.6 linux/amd64

[2022-09-27 11:54] vadmeste commented on #4267
@migs35323 MinIO follows the S3 specification, which doesn't list size for folders.

[2022-09-27 11:54] #4267 closed

[2022-09-27 12:22] klauspost commented on #4267
To extend a bit, S3 does not keep track of or return sizes of "folders" (actually prefixes). Calculating it is a very expensive operation and can take hours with many objects/versions.

You can use `mc du` for this.

[2022-09-28 01:42] harshavardhana commented on #3828
This is already fixed..  and supported in latest releases

[code]

[2022-09-28 01:42] #3828 closed

[2022-09-28 04:08] erfantkerfan commented on #3828
Thanks
This helps a lot in airtight servers.

[2022-09-28 05:34] prakashsvmx commented on #4055
The permission issue has been addressed to provide appropriate error message.

[2022-09-28 05:34] #4055 closed

[2022-09-28 22:23] kannappanr opened #4272 "Modify admin policy command"
Change the `add` sub-command to `create`

Output of `mc admin policy --help` will be as follows.
[code]
Also, add examples to create a policy and assign it to a user/group in the help of `mc admin policy create`

Also, `set`, `unset` and `upate` sub-commands will be removed and moved under `mc admin user policy` and `mc admin group policy` commands

[2022-09-28 22:54] kannappanr opened #4273 "Add sub-commands under admin user policy"
Add sub-commands under `mc admin user policy`

`mc admin user policy [attach | detach | list]`
[code]
Also, add examples to create a user and attach a policy to the user. This needs to be done as part of help under `mc admin user policy` and `mc admin user add`

[2022-09-28 22:56] kannappanr opened #4274 "Add sub-commands under admin group policy"
Add sub-commands under  `mc admin group policy`

`mc admin group policy [attach | detach | list]`
[code]
Also, add examples to create a group and attach a policy to the group. This needs to be done as part of help under mc admin group policy and mc admin group add

[2022-09-29 10:30] MrScruffyish commented on #4138
Any progress on this one?
I ran mc mirror as a systemd service and got the error in the log

`mc: <ERROR> Failed to copy `https://some.place/bucket/file`. Put "https://some.place.else>`

but mc seem to have continued fine with other files, and this one was not copied.

Isn't mc supposed to retry the operation?
Will mc quietly ignore the error after retrying a few times and continue with other file

[2022-09-29 12:44] dormanze commented on #4272
May I fix this issue?

[2022-09-29 14:07] vadmeste commented on #4138
I would say most likely this is not an mc issue and you should have an error in MinIO servers log

[2022-09-29 15:47] harshavardhana commented on #4138
Not all errors are retriable @MrScruffyish

[2022-09-29 16:46] taran-p commented on #4273
For the list command, should it act as admin user policy works now and give json, or should it just list the policy names?

[2022-09-29 16:46] taran-p commented on #4272
@dormanze I will be fixing the issue

[2022-09-29 17:14] MrScruffyish commented on #4138
If that was a min-retriable error, should not mc quit with error status?
Or should one run mc mirror by looping until you dont see any error (you better not miss any errors then).
Since the file that gave the non retriable error was synced when I re-ran mc, I guess it does not re-try those, ever, until you re-start mc.

Have I misunderstood how to use mc mirror or is there a need for some options

[2022-09-29 17:56] harshavardhana commented on #4138
No we do not - it is best effort copy the rest and deal with what is not copied later @MrScruffyish

[2022-09-29 17:58] harshavardhana commented on #4138
To monitor `mc mirror` we have Prometheus metrics exposed

[code]

[2022-09-29 17:58] harshavardhana commented on #4138
Let's verify if this was indeed a non-retriable error @MrScruffyish can you paste the exact error?

[2022-09-29 19:35] MrScruffyish commented on #4138
Sep 29 10:44:10 minioclient minio_replication_job[1252171]: mc:  Failed to copy `https://minioserver1/bucket1/file.foo`. Put "https://s3server/bucket2/file.foo": net/http: HTTP/1.x transport connection broken: http: ContentLength=192 with Body length 0

That is the complete message I got (redacted)

By the way, is there any documentation (except for the source code) where I can read more about the

[2022-10-03 08:41] MrScruffyish commented on #4138
@harshavardhana

What does later mean in this context? We have hade mc mirror running for a few days and we have a file that has not been retried for 6 hours

[2022-10-03 08:50] harshavardhana commented on #4138
Everything that it does exist `cmd/difference.go`  any result returned via "Two site difference" simply means `mirror` it.

[2022-10-03 08:52] harshavardhana commented on #4138
This is a non-retryable error since something happened to the incoming stream that was being uploaded. It looks like something to do with your LB that seems to close connections here on a regular interval.

[2022-10-06 15:14] rgdev opened #4283 "XML error starting with mc.RELEASE.2022-10-01T07-56-14Z"
## Expected behavior

Successful upload with `mc pipe` to OVH S3

## Actual behavior

When I pipe into `mc pipe` using OVH High Performance S3 Storage I get the following error :

[code]

This occurs when using the any of the newer builds :
- mc.RELEASE.2022-10-01T07-56-14Z
- mc.RELEASE.2022-10-06T01-20-06Z

**It works flawlessly with the latest september build: mc.RELEASE.2022-09-16T09-16-47Z**

[2022-10-06 15:22] #4283 closed

[2022-10-06 15:23] harshavardhana commented on #4283
@klauspost can we also try to ignore these fields in XML marshalling if they are not "set" ?

[2022-10-06 15:42] LeeBear35 opened #4284 ">mc mv -r c:\x\*.eml reports mc: <ERROR> Unable to validate source `c:\x\*.eml`."
## Expected behavior

- Help example shows using * wildcard to copy files

## Actual behavior

- Error is reported when trying to use wildcards like the example shows

## Steps to reproduce the behavior

1. Place a file into a windows sub-folder under a sub-folder
2. use mc mv -r specify the sub-folder with *.extension

## mc --version
mc version RELEASE.2022-10-06T01-20-06Z (commit-id=1a832ed0181

[2022-10-06 15:46] LeeBear35 opened #4285 "mc --help changes the command prompt so arrow keys no longer scroll"
## Expected behavior

- Display the message and return to the command prompt with normal keyboard processing

## Actual behavior

- Display the message but the up and down keys no longer scroll up and down in the commands instead they display key encoding

## Steps to reproduce the behavior

- mc --help
`C:\x>mc --help

C:\x>^[[A`
## mc --version
mc version RELEASE.2022-10-06T01-20-06Z (commit-id=

[2022-10-06 19:51] bh4t opened #4286 "Timestamp displayed twice under mc replicate diff"
## Expected behavior
Timestamp should be displayed once
## Actual behavior
Timestamp is displayed twice.

## Steps to reproduce the behavior
1 set up 2 Minio instance
2 Try uploading an object on source whille remote target is off
3 Run mc replicate diff SOURCE --arn value

![image](https://user-images.githubusercontent.com/109562845/194399747-495fe0ac-6230-48bc-93e3-205bb57f9f79.png)

## mc --ver

[2022-10-06 20:22] poornas commented on #4286
The first is the timestamp when object was created, the second is the timestamp of last attempt to replicate

[2022-10-06 21:52] kannappanr commented on #4286
should a header be added to explain each column?

[2022-10-07 08:48] klauspost commented on #4285
Works fine in cmd and powershell.

BUT I did end up in a similar state in powershell once, but it doesn't reproduce.

If you can provide a reliable reproducer it would be easier to help, though it seems like a powershell issue.

[2022-10-10 12:50] scaronni commented on #4047
Hitting the same issue here, the various combinations of `--overwrite` and `--remove` makes the files being deleted or synced in excess with no real reproducible pattern on our systems.

[code]

[2022-10-10 12:54] scaronni commented on #4047
Just to be clear, we're not using any backslash at the end of the path.

[2022-10-10 19:42] bh4t opened #4290 "Rename mc replicate edit command to mc replicate update"
As discussed with @abperiasamy @kannappanr, rename mc replicate **edit** command to mc replicate **update**

[2022-10-10 19:55] bh4t opened #4291 "Display arn:bucketname under mc replicate ls"
## Expected behavior
The current display under mc replicate ls displays entire arn value under Destbucket column
## Actual behavior
The Destbucket column should display arn:buckname instead of entire arn value.

## Steps to reproduce the behavior
Set up replication rule for a bucket on an instance.
Run comman mc replicate ls myminio/bucket_name

![image](https://user-images.githubusercontent.com/1

[2022-10-11 04:43] bh4t opened #4293 "List job types under mc batch generate command"
## Expected behavior
A list of available job types should be displayed under the _mc batch generate_ command
## Actual behavior
Job types are not listed
## Steps to reproduce the behavior
- mc batch generate --help

## mc --version
RELEASE.2022-10-09T21-10-59Z

## System information

[2022-10-11 09:58] tholu opened #4294 "mc update fails: unsupported protocol scheme"
## Expected behavior

`mc update` runs without problems.

## Actual behavior

[code]

## Steps to reproduce the behavior

Run `mc update` with version RELEASE.2022-10-01T07-56-14Z.

## mc --version

mc version RELEASE.2022-10-01T07-56-14Z (commit-id=f73adff2383976d6b5644668bbd491b0551a1c96)
Runtime: go1.18.6 linux/amd64
Copyright (c) 2015-2022 MinIO, Inc.
License GNU AGPLv3 <https://www.gnu.org/li

[2022-10-11 10:04] tholu commented on #4294
Fixed this for myself by manually updating to the latest version:

[code]

which does not have an update available yet:

[code]

[2022-10-11 18:20] bh4t opened #4295 "Add comment to state optional fields in batch yaml file"
## Expected behavior
Can we have comment to state the fields that are optional under yaml file?

## Actual behavior
The current yaml file does not mention about optional fields.

## Steps to reproduce the behavior
mc batch generate myminio replicate

## mc --version
RELEASE.2022-10-09T21-10-59Z

[2022-10-11 18:48] #4294 closed

[2022-10-11 18:48] harshavardhana commented on #4294
This is already fixed,  and going forward it will work fine as before.

[code]

[2022-10-12 20:12] bh4t opened #4299 "Batch replication fails to replicate object versions on the target"
## Expected behavior
Multiple versions of the object should be replicated on the target.
Also, the delete marker seems to be not getting replicated on the target. Assuming its the same issue.
## Actual behavior
Only one version of the object is replicated on the target
## Steps to reproduce the behavior
1. Turn on versioning on the source bucket myminio/hellotest
2. Start batch replication from so

[2022-10-12 22:41] bh4t opened #4300 "Update usage for mc replicate edit command"
## Expected behavior
Usage under mc replicate edit should include --id flag
mc replicate edit TARGET --id=RULE-ID [FLAGS]
## Actual behavior
mc replicate edit TARGET

## mc --version
RELEASE.2022-10-09T21-10-59Z

## System information

[2022-10-15 21:48] #3499 closed

[2022-10-16 10:03] cobolbaby opened #4304 "mc mirror only delete files in the directory synchronously, but not clean up empty directories."
## Expected behavior

## Actual behavior

## Steps to reproduce the behavior

## mc --version
- (paste output of `mc --version`)

## System information

[2022-10-17 10:54] klauspost commented on #4304
Could you please provide the requested information with a reproducer for your case?

[2022-10-18 16:39] binnie268 opened #4307 "Latest minio cli release has broken zip commands"
## Expected behavior
mc ls --zip --recursive test.zip/ should list all the files inside the zip

## Actual behavior
Returns nothing
## Steps to reproduce the behavior
Upload any zip with files inside
run mc ls --zip --recursive test.zip/
## mc --version
- (paste output of `mc --version`)
mc version RELEASE.2022-10-09T21-10-59Z (commit-id=27322636ae33611cf193a0fe4b5de18f3b096549)
Runtime: go1.18.7

[2022-10-18 17:08] harshavardhana commented on #4307
@binnie268 you are missing providing an alias. --zip commands with a server running not your local disk

[2022-10-18 17:08] #4307 closed

[2022-10-18 18:42] binnie268 commented on #4231
Okay thanks I was able to list the files, but cannot read them: mc ls --zip --recursive minio/data-uploads/test.zip/test_bbs_[1].csv gives: **"zsh: no matches found: minio/data-uploads/test.zip/test_bbs_[1].csv"**

[2022-10-18 18:43] binnie268 commented on #4307
Okay thanks I was able to list the files, but cannot read them: mc ls --zip --recursive minio/data-uploads/test.zip/test_bbs_[1].csv gives: **"zsh: no matches found: minio/data-uploads/test.zip/test_bbs_[1].csv"**

[2022-10-18 18:44] binnie268 opened #4309 "Not able to read csvs inside zip"
Expected behavior
mc cat--zip --recursive minio/data-uploads/test.zip/test_bbs_[1].csv shuld return contents of zip

Actual behavior
mc cat--zip --recursive minio/data-uploads/test.zip/test_bbs_[1].csv gives: **"zsh: no matches found: minio/data-uploads/test.zip/test_bbs_[1].csv"**

Steps to reproduce the behavior
Upload any zip with files inside
run mc cat--zip --recursive minio/data-uploads/test

[2022-10-18 18:52] harshavardhana commented on #4309
This is because your ZSH is parsing the `[1]` value you need to escape this for your shell.

[2022-10-18 18:52] #4309 closed

[2022-10-18 19:45] binnie268 commented on #4309
That worked after escaping, thanks. Also https://blog.min.io/small-file-archives/ still references:
mc cat --zip -–recursive play/test/test.zip/file.txt

It should be: mc cat --zip play/test/test.zip/file.txt

[2022-10-19 03:56] #3690 closed

[2022-10-19 07:15] klauspost commented on #4309
Post updated.

[2022-10-19 09:14] Nikitin-Alexandr opened #4312 "Different versions of the program are differently copy the same file"
I have two version MinioClient:
[code]

The first (2022-01-07) copies the file and does not give any errors, but the second (2022-10-09) when copying the same file to the same directory (in this directory there is no this file before copying) gives an error:
`This request does not support content`

The file size is 145 GB, but if, using the split, I will divide it into two parts, then both of them

[2022-10-19 09:34] harshavardhana commented on #4312
@Nikitin-Alexandr can you provide full `--debug` output?

[2022-10-19 09:35] klauspost commented on #4312
@Nikitin-Alexandr What server are you sending this to? Could you send the request from the debug output as well?

[2022-10-19 09:56] ebozduman opened #4313 ""mc cp --zip" ignores the provided destination object name and uses it as a prefix"
## Expected behavior
[code]

command copies `miniogotestbucket-source/zipTestFile.zip/test/small/file-2.bin` and creates an object as `miniogotestbucket-dest/file-2.copy`

## Actual behavior
The generated copy is:
[code]

## Steps to reproduce the behavior

- Upload a zip file to MinIO
- Copy one of the files in the zip file to another location with a new object name.

## mc --version
Build from t

[2022-10-19 12:42] Nikitin-Alexandr commented on #4312
The file turned out to be quite large, I took the lines from head and tail.
[debug.log](https://github.com/minio/mc/files/9820525/debug.log)

[2022-10-19 13:13] klauspost commented on #4312
Looks like a non-compatible S3 server on the other end.

We are adding a workaround for these. So until the next release go back a couple of versions of mc.

[2022-10-19 13:13] #4312 closed

[2022-10-19 13:28] #4285 closed

[2022-10-19 15:14] Nikitin-Alexandr commented on #4312
Thank you!

[2022-10-19 18:21] bh4t opened #4315 "mc stat --rewind flag isnt working intended"
## Expected behavior
mc stat --rewind flag should display objects created before the specified date.
## Actual behavior
mc stat --rewind flag sint displaying any results
## Steps to reproduce the behavior
Have multiple objects created prior to the below mentioned date.
mc stat --rewind 2022.10.15 --versions myminio/hellotest/

Another thing that I noticed, when you use the --rewind flag with ls it

[2022-10-20 04:31] pratikbin opened #4316 "docs: typo in mc sql"
## Expected behavior

`query "select count(s.power) from S3Object" myminio/iot-devices/power-ratio-encrypted.csv `

## Actual behavior

`query "select count(s.power) from S3Object s" myminio/iot-devices/power-ratio-encrypted.csv `

https://github.com/minio/mc/blob/b9b729a3c9339e3414c167c56cdf51762d2af2ad/cmd/sql-main.go#L109

## Steps to reproduce the behavior

[code]

## mc --version

[code]

##

[2022-10-20 21:50] #4286 closed

[2022-10-22 19:06] #4090 closed

[2022-10-24 12:31] tomasz-grzesik opened #4322 "mc mirror --watch - too much disk load"
## Expected behavior
Limited disk load on the source server, which not interferes with running processes.

## Actual behavior
Load too big on the souce. The minio server can't serve the files - very long loading files on the browser.

## Steps to reproduce the behavior
Start systemd service cnofigures as:

[code]

## mc --version
SOURCE:
mc version RELEASE.2022-09-16T09-16-47Z
minio version RELEAS

[2022-10-24 14:26] klauspost commented on #4322
You are better off setting a request limit on your server. `mc admin config set ALIAS api requests_max=10` or whatever it can handle.

[2022-10-24 15:17] tomasz-grzesik commented on #4322
Thanks for trying help me.
I have used this command on the target server:
mc admin config set media_remote api requests_max=3

but still  the load is not under control:  load average: 77.85, 62.00, 31.55

[2022-10-24 15:27] harshavardhana commented on #4322
This load is normal depending on how much of incoming I/O you have on the system, anything beyond 100 is okay.

You simply have a lot of iowait on the disks, you just need a more sustainable number of drives for the IOPs you expect.

[2022-10-24 15:28] klauspost commented on #4322
@tomasz-grzesik Sounds like it cannot even do the listing without hitting the limit. There isn't much we can do about that.

I suggest you upgrade your setup or live with the slowdown.

[2022-10-24 15:35] tomasz-grzesik commented on #4322
I have before more than 120, and then connection via ssh was a few seconds delayed.
Now the load is around 50-100 and there are no delays. I will have to install some tool to monitor the disk load.

[2022-10-26 04:46] zollty opened #4324 "Unable to start copying"
## Expected behavior
mc cp --recursive local/tianditu .

## Actual behavior
**mc: <ERROR> Unable to start copying. We encountered an internal error, please try again.**
[code]

## Steps to reproduce the behavior

## mc --version
- mc version RELEASE.2021-10-07T04-19-58Z

## System information
CentOS Linux release 7.6.1810 (Core)
Linux 3.10.0-957.el7.x86_64

[2022-10-26 04:50] harshavardhana commented on #4324
Please provide `--debug` output @zollty

[2022-10-26 04:54] zollty commented on #4324
**mc --debug：**
[code]

## minio server log
[code]

[2022-10-26 05:08] harshavardhana commented on #4324
There is some issue on the server side here @zollty which version of MinIO are you running?

[2022-10-26 05:09] zollty commented on #4324
Just now, I tried again and executed the command successfully：
（I didn't make any changes, just tried several times）
[code]

[2022-10-26 05:10] zollty commented on #4324
minio version RELEASE.2021-11-09T03-21-45Z

[2022-10-26 06:40] harshavardhana commented on #4324
Yeah this was a bug in Listing code in that version of server, you must upgrade to latest releases.

[2022-10-26 06:40] #4324 closed

[2022-10-26 16:24] algone opened #4325 "Error generating arn"
Configuring bucket notification emits an error
## Expected behavior
arn:minio:sqs::ARGO:webhook ARN created with event notification allowed on the bucket

## Actual behavior

./mc event add gama-minio/user4-5fe30ef289188b1a76ee1677 arn:minio:sqs:::webhook --event "put,delete
mc: <ERROR> Unable to enable notification on the specified bucket. A specified destination ARN does not exist or is not well

[2022-10-27 00:11] bh4t opened #4326 "mc admin user add does not display help menu"
## Expected behavior
mc admin user add should display help
## Actual behavior
![image](https://user-images.githubusercontent.com/109562845/198161514-7a061b0c-b310-443c-8dc7-c35caf620be8.png)

## Steps to reproduce the behavior
mc admin user add

## mc --version
mc version RELEASE.2022-10-22T03-39-29Z

## System information

[2022-10-27 00:39] bh4t commented on #4300
So we need to update the Usage section with 'mc replicate edit TARGET --id=RULE-ID [FLAGS]' for mc replicate edit command.

[2022-10-27 12:04] alekstr opened #4329 "Client ls command on S3-compatible storage (Oracle object store) does nto support region value"
## Expected behavior
`

Added `dest` successfully.

List of output
`
## Actual behavior
`

Added `dest` successfully.

[List of output](mc: <ERROR> Unable to list folder. The secret key required to complete authentication could not be found. The region must be specified if this is not the home region for the tenancy.)

mc: <DEBUG> GET /some-bucket/?location= HTTP/1.1
Host: frrjzkngligm.compat.obje

[2022-10-27 15:51] vadmeste commented on #4329
@alekstr the purpose of this call `GET /some-bucket/?location=` is to get the bucket region when you do not know it already. 'us-east-1' is accepted as per S3 spec.

[2022-10-27 15:51] #4329 closed

[2022-10-27 23:53] #4300 closed

[2022-10-30 10:35] #4011 closed

[2022-10-31 15:48] qdupuy opened #4334 "The XML you provided was not well-formed or did not validate against our published schema"
Hello,

When I want to push my backups to my bucket s3 scaleway, I get the following error :

[code]

## Steps to reproduce the behavior

create a s3 profile and push a large file to the bucket

## mc --version
- (paste output of `mc --version`)

[code]

## System information

Ubuntu 20.04 LTS

[2022-10-31 16:30] harshavardhana commented on #4334
scaleway doesn't support trailing header CheckSums properly.. and instead returns an unexpected error.

[2022-10-31 16:30] #4334 closed

[2022-10-31 16:35] qdupuy commented on #4334
But still?

/reopen

[2022-10-31 16:43] klauspost commented on #4334
@qdupuy No. This will be fixed with next update of the `minio-go` library, so it will be fixed.

Meanwhile you are welcome to ask scaleway why they are rejecting valid XML. They must upgrade if they want to be S3 compatible.

[2022-11-01 02:18] dormanze commented on #4315
I findthis problem in this pr #4147

[2022-11-01 16:25] mocsharp opened #4340 "grype reports CVE-2015-5237 high vulnerability"
## Expected behavior

`mc` and mc docker images shall not report any vulnerabilities that are HIGH severity.

## Actual behavior

grype reports one high vulnerability

[code]

## Steps to reproduce the behavior

1. `docker pull minio/mc:latest`
2. `grype  --fail-on high minio/mc:latest`

## mc --version
[code]

## System information
[code]

[2022-11-01 16:53] klauspost commented on #4340
@mocsharp I think there is some version confusion in your tool.

This is an issue fixed in 2017. [v1.28.1](https://github.com/protocolbuffers/protobuf-go/releases/tag/v1.28.1) is from July 2022.

[2022-11-01 17:12] mocsharp commented on #4340
@klauspost  Thanks! Is there a reference on which version of `protobuf-go` that `mc` is using?

[2022-11-01 17:15] klauspost commented on #4340
[v1.28.1](https://github.com/minio/mc/blob/master/go.mod#L116)

I think google changed their versioning which may be why your tool picks it up.

[2022-11-01 17:22] mocsharp commented on #4340
I see; indeed confusing. Thanks for the clarification! I will close this issue!

[2022-11-01 17:22] #4340 closed

[2022-11-01 23:15] #4326 closed

[2022-11-02 08:41] Timost opened #4342 "`mc ilm add --newer-noncurrentversions-expiration` incorrect call"
Hi,
First of all thank you for minio 🙏❤.

I'm trying to set an ilm policy with `NoncurrentVersionExpiration.NewerNoncurrentVersions=3` using the `mc` client.

My understading of the [docs](https://min.io/docs/minio/linux/reference/minio-mc/mc-ilm-add.html#mc.ilm.add.-newer-noncurrentversions-expiration) is that the correct call should be:
[code]
But mc raises an error on that call.

I think the ch

[2022-11-02 08:57] Timost opened #4343 "`mc ilm ls` doesn't support `NewerNoncurrentVersions` ilm rule"
Hi,
First of all thank you for minio 🙏❤.

I think `mc ilm ls` doesn't support `NoncurrentVersionExpiration.NewerNoncurrentVersions` ilm rule in its output.

I think there are several functions that need to be modified to add support, for example:
- https://github.com/minio/mc/blob/master/cmd/ilm/tabular_info.go#L249
- https://github.com/minio/mc/blob/master/cmd/ilm/tabular_info.go#L273

## Expecte

[2022-11-02 16:37] krisis commented on #4343
@Timost thanks for bringing this to our attention. I have a [PR](https://github.com/minio/mc/pull/4262) that addresses this. I expect this to be merged soon. Meanwhile, it would be great if you could test this PR and provide feedback.

[2022-11-03 08:01] Timost commented on #4343
Hi @krisis,
Thank you for the quick reply and the changes 👍, I'll try to test it on my side ASAP.

[2022-11-03 10:48] rluetzner opened #4349 "mc admin replicate edit allows endpoints that are not part of the same deployment"
## Expected behavior

Given the following setup with two separate MinIO clusters:

[code]

When I run

[code]

mc should fail because the target at http://localhost:9001 is not part of the deployment with ID 1ec18eca-61d1-4830-8694-f6d9d85cb9e5.

## Actual behavior

Executing the command lets me replace a replication target with any MinIO cluster that has the same root user and password.

[code]

[2022-11-03 11:39] rluetzner commented on #4349
This is related to https://github.com/minio/minio/issues/15998

[2022-11-04 11:39] baryluk commented on #4045
Could this be revisited please?

Not everybody uses Kubernetes or CNI that supports bandwidth limits.

The CNI bandwidth limits are also experimental at the moment. The bandwidth limits on container level also are not perfect either, as they usually adjust speed by dropping packets and use TCP to limit its speed, and that is a bit choppy.

I often use `mc` manually directly from hosts (outside of

[2022-11-04 15:30] harshavardhana commented on #4045
You are free to use those tools, we consider this outside `mc` scope.

You use traffic control if you don't use it yet https://man7.org/linux/man-pages/man8/tc.8.html

Has been around 2 decades.

[2022-11-04 18:31] #4342 closed

[2022-11-04 21:49] bh4t opened #4352 "mc stat improvements"
Here are some changes, highlighted in bold that needs to be implemented under mc stat command

## Expected behavior
### mc stat myminio/bucket1

Name      : bucket1/
**Size      : 0 B    -- This needs to be changed to N/A**
Type      : folder
Metadata  :
  Encryption:
	Algorithm: AES256
	**Key ID:   -- Instead of displaying the Key ID, Key Type should be displayed**
  Versioning: Enabled
  Locatio

[2022-11-05 14:41] baryluk commented on #4045
It requires root, and cannot be adjusted dynamically per-process invocation.  `tc` is absolutely unsuitable for this task.

[2022-11-05 18:11] harshavardhana commented on #4045
There are enough alternatives out there. This is not something mc will do at the moment.

[2022-11-07 08:10] Timost commented on #4342
That was fast, thank you 🙏❤

[2022-11-07 18:07] poornas commented on #4349
This is already fixed by https://github.com/minio/minio/pull/16000. mc does not need any changes

[2022-11-07 18:07] #4349 closed

[2022-11-08 02:37] luolingchun opened #4354 "mc mirror can't read config-dir in supervisor"
## Expected behavior

Run successfully

## Actual behavior

mc: <ERROR> Unable to stat source `minio129`. Requested file `/minio129` not found.

## Steps to reproduce the behavior

[code]

supervisor config:
[code]

Exception infomation:

[code]

## mc --version
mc version RELEASE.2022-10-29T10-09-23Z (commit-id=929062c86be50d7f6350ab2da929585720f4fe74)
Runtime: go1.19.2 linux/amd64
Copyright (c)

[2022-11-08 05:13] ykuksenko opened #4355 "mc policy command should not produce a zero return code"
## Expected behavior
running `mcli policy` should return a non zero return code.
Since the command was removed it should behave like an invalid command.

## Actual behavior
return code is zero while a message is printed that should probably be at error level instead of just info.
[code]
## Steps to reproduce the behavior
run `mcli policy`
followed by `echo $?`
## mc --version
- (paste output of `m

[2022-11-08 05:14] harshavardhana commented on #4355
That's because the command itself is not wrong it simply tells you what to do further.  The command is `mc anonymous` that you need to use.

[2022-11-08 05:14] #4355 closed

[2022-11-08 10:52] vadmeste commented on #4354
@luolingchun does 'cat /home/casia/.mc/config.json | grep minio129` show anything ?

[2022-11-08 11:17] luolingchun commented on #4354
Yes! I have config.json. As same as `mc config host ls` output.

It's runnig successful Without supervisor.

[2022-11-08 12:23] vadmeste commented on #4354
@luolingchun most like your supervisor script does not have access to /home/casia/.mc/config.json with the alias that you need. You can double check by running this:
[code]

and check the std output here, /data/bakup/minio-bak.log

[2022-11-08 12:23] #4354 closed

[2022-11-09 01:53] luolingchun commented on #4354
@vadmeste I tried `command = cat /home/casia/.mc/config.json` in supervisor and it's worked.

/etc/supervisor/conf.d/minio.conf:

[code]
/data/bakup/minio-bak.log:

![image](https://user-images.githubusercontent.com/22740403/200717287-20e6ebd0-fbb0-4983-b1d7-331315c0afd5.png)

[2022-11-09 02:23] harshavardhana commented on #4354
The issue is this  - you need to move the `--config-dir` option

[code]

[2022-11-09 03:36] luolingchun commented on #4354
@harshavardhana Thank you so much, it's worked.

[2022-11-09 04:53] harshavardhana commented on #4354
@vadmeste we need to see why position matters for global flags

[2022-11-09 08:49] hepengju opened #4356 ""mc diff" print different : "mc diff A B" and "mc diff B A""
## Expected behavior
"mc diff A B" and "mc diff B A" result should be same except "< >"

## Actual behavior
print all files in local folder with "!"
![image](https://user-images.githubusercontent.com/26279882/200783286-688c5750-cdb9-40ce-b6fd-50adbfebeb1a.png)
![image](https://user-images.githubusercontent.com/26279882/200784054-c39b1350-1f80-43a7-9df7-fbe7efa4afc7.png)

## Steps to reproduce the

[2022-11-09 09:52] harshavardhana commented on #4356
The reason for this is that when you reverse the time stamp on the object MinIO (lastModified) is different than LastModified on the Drive.

This is entirely expected behavior since object storage is not preserving your local disk filesystem modified time.

[2022-11-09 09:52] #4356 closed

[2022-11-11 00:48] Rocking80 commented on #3194
Seems new version of minio can clone WORM objects now.

[code]

[2022-11-11 09:49] zhurlik opened #4362 "mc stat --json doesn't work as expected"
## Expected behavior
I can see the following result when there is no option --json
[code]
## Actual behavior
[code]
## Steps to reproduce the behavior
1. create a few buckets
2. try to display a list of buckets using `mc stat --json`

## mc --version
[code]
## System information
docker minio/mc under Ubuntu 22.04

[2022-11-11 14:32] johackim opened #4363 "Command `mc rm --non-current --versions --recursive --force <alias>/<bucket>/<object>` doesn't work"
## Expected behavior

Remove non current files.

## Actual behavior

Get an error : `mc: <ERROR> Failed to remove `my-bucket` recursively. Not implemented`

## Steps to reproduce the behavior

When I use the `--dry-run`, the command work :

[code]

But not work without  `--dry-run`,:

[code]

## mc --version

mc version RELEASE.2022-11-07T23-47-39Z (commit-id=bc16bde337add744b25c47c4643491eba2a17c

[2022-11-11 14:59] johackim commented on #4363
Hello @klauspost,

Yes I removed `--dry-run` when I got the error.

Here the debug output :

[code]

[2022-11-11 15:22] klauspost commented on #4363
`mc: <DEBUG> HTTP/1.1 501 Not Implemented` This is the response from the server.

I suggest you talk to Scaleway.

[2022-11-11 15:22] #4363 closed

[2022-11-11 15:39] johackim commented on #4363
OK, thanks.

In fact, it's not possible to remove recursively at all -> `mc rm -r <alias>/<bucket>/<file|folder>`

[2022-11-11 16:54] johackim commented on #4363
Yet, it seems that it is :

[code]

[2022-11-13 14:39] #4084 closed

[2022-11-14 11:30] carlosjpr-collab opened #4364 "Unable to read ILM configuration. EOF"
## Expected behavior
I am trying to execute:
docker run --rm --network=host -v mc:/root/.mc minio/mc --debug ilm import minio/test< test.json
## Actual behavior
I am getting:
mc: <ERROR> Unable to read ILM configuration. EOF
 (1) ilm-import.go:106 cmd.mainILMImport(..) Tags: [minio/test]
 (0) ilm-import.go:79 cmd.readILMConfig(..)

## mc --version

 Release-Tag:RELEASE.2022-11-07T23-47-39Z | Commi

[2022-11-14 13:41] klauspost commented on #4364
This will happen if the JSON isn't correct. Please post your *unmodified* JSON here.

[2022-11-14 14:37] brsolomon-deloitte opened #4365 "`mc admin tier add s3` for fully private bucket"
[Unable to use Slack due to corporate restrictions.]

We are attempting to set up [Transition of Objects from MinIO to S3](https://min.io/docs/minio/linux/administration/object-management/transition-objects-to-s3.html).

Our S3 bucket has permission setting _Block all public access_=_on_.

What `--endpoint` can we pass to `mc admin tier add s3` to point MinIO to the private bucket?

Secondly, is `

[2022-11-14 15:33] #4364 closed

[2022-11-14 16:24] m0x31h0x64i commented on #3559
how did you fix that ? i also want to use cloud flare to manage my subdomains ...

[2022-11-15 05:23] andreimerlescu commented on #3559
i actually had to stop using and paying for cloudflare. their support was rude and unhelpful to my business so we changed providers after this technically came out. ultimately they say to use s3 and not minio with their dns. literally.  Sent from Proton Mail for iOS On Mon, Nov 14, 2022 at 11:24, m0x31h0x64i ***@***.***> wrote:

I also had this issue and my problem was that my Minio Instance was r

[2022-11-15 15:06] m0x31h0x64i commented on #3559
then how do you manage your dns?

[2022-11-15 22:31] krisis commented on #4365
I am not familiar with how public access on AWS S3 works. Did you try `mc admin tier add s3 ...` with the standard endpoint?
If so, could you paste the errors from `mc` here?

IAM role should be attached to those nodes where MinIO server is running.

[2022-11-15 23:29] andreimerlescu commented on #3559
i used to work at dyn dns so i just homebrewed something myself instead and sure their waf is really easy to use and fun but their product all in all is a poor man's clone of dyn's enterprise product back in the day ;) 
------- Original Message -------
On Tuesday, November 15th, 2022 at 10:06 AM, m0x31h0x64i ***@***.***> wrote:

[2022-11-16 12:37] brsolomon-deloitte commented on #4365
It seems like we have this half-working but with some issues.

We did the following:

[code]

After doing this we notice that objects are successfully transitioned to S3; however, we have two issues:

1. They are not removed from MinIO. They still show up in the MinIO console for a period beyond 1 day ago.
2. The MinIO logs are littered with the error below despite trying the recommended `mc admin

[2022-11-16 20:03] krisis commented on #4365
@brsolomon-deloitte Objects which have transitioned remain in the namespace. i.e you can access them like regular objects. What is different is that their data is moved to the remote tier configured. So, it is expected that you can see transitioned objects listed on MinIO console.
As for the errors you see in MinIO logs, could you share the output of `ls -la .minio.sys/config/` and `ls -la .minio.

[2022-11-16 20:08] brsolomon-deloitte commented on #4365
Understood, thanks for clarifying.

Yes. I realize these may not affect other functionality, but they are frequent enough that they inhibit our ability to use the MinIO logs for other purposes.

[code]

[2022-11-16 20:22] harshavardhana commented on #4365
@brsolomon-deloitte you need to update your MinIO version you are using unsupported builds from a third party that we won't be able to help you with.

Please use our official releases https://github.com/minio/minio/issues/16078

[2022-11-16 20:22] #4365 closed

[2022-11-16 20:26] brsolomon-deloitte commented on #4365
I've seen your advice and disagree with using it as an excuse to trigger-finger close issues without further investigation. We use a [security-hardened image](https://repo1.dso.mil/dsop/opensource/minio/minio/-/blob/development/Dockerfile) which otherwise makes very few changes to `minio/minio` as base image.

[2022-11-16 22:08] harshavardhana commented on #4365
First of all, you are not heeding our advice and on top of that, you making us look like we are not helping. That is disingenuous on your part - you are using AGPLv3 source without a subscription you are in violation of the license.

I would suggest you contact your legal on the implications here.

The log message you are seeing is already fixed you haven't upgraded, so I do not need to further in

[2022-11-17 15:21] zhurlik commented on #4362
I would like to add one more note: the above json not only doesn't include the buckets, it also is invalid. It should be something like: `[{},{},...]` instead of: `{}\n{}\n{}`

[2022-11-17 16:09] harshavardhana commented on #4362
--json is JSON new lines - it is documented that it is not a self contained JSON.

It is designed for streaming reads like a network handler etc. You process each newline as self contained JSON.

[2022-11-17 19:18] zhurlik commented on #4362
Thank you, about the format is clear, however why doesn't it contain buckets?

[2022-11-18 02:34] MCDELTAT opened #4374 "mc command line missing admin speedtest command"
## Expected behavior
I expect `mc admin speedtest` to be a valid command since the docs mention it is present as of `[RELEASE.2021-09-02T09-21-27Z](https://github.com/minio/mc/releases/tag/RELEASE.2021-09-02T09-21-27Z)`

## Actual behavior
`mc admin  speedtest` is not present, only the following commands as per `mc admin --help`.
[code]

## Steps to reproduce the behavior
Configure `mc` following

[2022-11-18 03:03] harshavardhana commented on #4374
It's called `mc support perf`

[2022-11-18 03:03] #4374 closed

[2022-11-18 03:05] harshavardhana commented on #4374
https://min.io/docs/minio/linux/reference/minio-mc/mc-support-perf.html read the docs here I don't know why are looking for `mc admin speedtest`

[2022-11-18 03:34] MCDELTAT commented on #4374
@harshavardhana Gotcha. The CLI does redirect you there saying `mc: Please use 'mc support perf'`, but the docs still exist here: https://min.io/docs/minio/linux/reference/minio-mc-admin/mc-admin-speedtest.html#command-mc.admin.speedtest

I was also just following the release announcement doc because it seemed like exactly what I wanted to do here: https://blog.min.io/introducing-speedtest-for-min

[2022-11-18 06:07] harshavardhana commented on #4374
speedtest is mainly meant for support and that requires subscription @MCDELTAT

@ravindk89 can we fix the `admin speedtest` references?

[2022-11-18 15:17] ravindk89 commented on #4374
Yep, we just need to do a bit of clean up.

On Fri, Nov 18, 2022, 01:07 Harshavardhana ***@***.***> wrote:

[2022-11-29 21:56] abperiasamy commented on #3699
The idea behind the quiet flag was to turn off chatty animations and color control chars for primitive terminals. I couldn't find a better/familiar flag name than quiet. To completely turn off the output, there is always /dev/null redirection.

[2022-11-30 09:40] AhmedAbouelkher opened #4379 "`mc mirror --watch` is not working when object deleted from source"
## Expected behavior
Deleting an object from minio is reflected on the destination AWS s3 in my case.

## Actual behavior
Creation mirroring works, but not deletion with the same exact command session.

## Steps to reproduce the behavior
- Remove an object while the command is running.

## mc --version
RELEASE.2022-11-07T23-47-39Z

## System information
OS: `Debian GNU/Linux 11 (bullseye)`

## Rel

[2022-11-30 09:50] vadmeste commented on #4379
@AhmedAbouelkher this works fine for you, can you try to describe how to reproduce with more detailed steps ?

[2022-11-30 10:37] AhmedAbouelkher commented on #4379
I didn't do anything unusual, just added the aliases and ran the command. There are no more steps regarding that.

I've confirmed that the alias data is valid both for S3 and minio.

[2022-11-30 10:47] vadmeste commented on #4379
@AhmedAbouelkher then it is possible that the deletion is not occuring in the destination bucket, can you do `mc mirror` with --debug flag and upload the output here ?

[2022-11-30 11:13] AhmedAbouelkher commented on #4379
Do you mean the source, right?

Uploaded `screen.png` to the source using this command

[code]

![Screen Shot 2022-11-27 at 11 31 36 PM](https://user-images.githubusercontent.com/56558577/204160729-c6e5baca-28dc-45dd-a446-e15b65935c88.png)

When removing `screen.png` there are no logs at all from the `mc` command

[2022-11-30 11:51] shoce opened #4380 "mc quiet mode (not so quiet) #3699 locked tyrannically without proper discussion"
@weisdd @abperiasamy

## Expected behavior
Expected behavior is to keep sane discussion and not just close issues with excused like "i did my best at the time and not going to reconsider this now"

## Actual behavior
The issue #3699 was locked as off-topic tho the issue is a real *technical* issue as the language used is misleading. The last message from @abperiasamy says

 "The idea behind the qu

[2022-11-30 12:27] vadmeste commented on #4379
@AhmedAbouelkher strange, can you try to upload an object and checks if it is replicated without mc mirror command is already running ?

[2022-11-30 12:31] klauspost commented on #4380
@shoce There is nothing to discuss. The matter has been decided. This is open source, you are free to fork your own implementation if you don't like the decision. We are not going to entertain more bikeshedding on this topic.

If your problem is as big as you describe, you can redirect stdout to dev/null.

[2022-11-30 12:31] #4380 closed

[2022-11-30 17:23] AhmedAbouelkher commented on #4379
I created a new bucket on minio (named `tst2`) and tried to sync with AWS S3 and deletion **worked** without any issue
command
[code]
the previous bucket that I was testing with (named `tst`) still has not worked deletion for some reason.
I think that issue might be that `tst` has a bucket replication process sat up with another minio site, but I'm not sure.

I will close this for now, due to the

[2022-11-30 17:23] #4379 closed