[2018-10-13 10:51] philipkozeny opened #2569 "mc doesn't work over nginx proxy"
I am running 3 minio servers (Debian 9, with the binary) on dedicated machines in distributed mode. On a separate machine I am running nginx (`nginx version: nginx/1.15.5`) as a proxy, as described in the official documentation.

MC works locally on the machine running nginx, but as soon as I am running it on a remote machine, it does not work. I can neither copy, heal or do anything else. Other c

[2018-10-13 16:55] harshavardhana commented on #2569
Can you remove `xattr -d com.apple.quarantine` on the file and try again ?

[2018-10-13 20:08] philipkozeny commented on #2569
Good catch, that's it - thanks! It seems that all files / folder I have tested have that attribute somehow. Any changes in Mojave that could have triggered that or just bad luck? I think it would be great if the upload would not throw an error when a file has that attribute and complete the upload. What do you think?

[2018-10-13 23:38] harshavardhana commented on #2569
It is nginx filtering out these HTTP headers, have to figure out why nginx is stripping this header.

[2018-10-14 05:46] kannappanr commented on #2568
Are other commands working and is it just an issue with heal commands?

[2018-10-15 01:42] xie-qianyue commented on #2568
@kannappanr I didn't test all the commands. The basic commands like `ls`, `mb` and also the `config`, `info` comamnds work.

[2018-10-15 15:25] quentinselle opened #2570 "Minio does not: implement Region in config.json / Retry when http response is AuthorizationHeaderMalformed"
Hi, I'm a developper from Scaleway and we release our object storage. We love use minio client but we can't use it with a signature V4.

## Expected behaviour
[code]
## Actual behaviour
[code]
As you can see minio handle by default `us-east-1`, the only way to change region on your current version is with `mc mb sis/test -region nl-ams` but it is impossible with other option and/or set it globally

[2018-10-15 15:41] quentinselle commented on #2570
I made a Pull Request to fix this issue: https://github.com/minio/mc/issues/2570

[2018-10-16 06:48] kannappanr commented on #2570
@quentinselle Thanks for the PR. In s3, region doesn't make much sense when listing buckets. In the case of minio server, it lists the buckets in a minio instance even if the region is set to `us-east-1`

In the case of AWS S3, I tried to list buckets by connecting to `s3.us-west-2.amazonaws.com`
Following is the output that I got.
[code]

In the output of the first GET command, it returns a `Auth

[2018-10-16 23:18] quentinselle commented on #2570
This is harcoded here: https://github.com/boto/botocore/blob/develop/botocore/client.py#L349
I made a patch who works.
I prepare a PR for botocore :)

[2018-10-16 23:35] harshavardhana opened #2572 "Support bash completion"
## Expected behavior
Currently, no way to implement bash completion - implement it by using https://github.com/posener/complete

## Actual behavior
No bash completion

## Steps to reproduce the behavior
mc <tab> doesn't provide any output.

## mc version
master

## System information
All operating systems

[2018-10-17 23:20] eco-minio commented on #2569
Apple adding the quarantine attribute was added sometime back (2007'ish according to this - https://developer.apple.com/library/archive/releasenotes/Carbon/RN-LaunchServices/index.html).  It seems to want to do this to any downloaded file, if you check your default downloads folder you should see that attribute set on quite a few files.  By default nginx strips what it considers to be invalid char

[2018-10-17 23:31] harshavardhana commented on #2569
This is a Nginx issue as they are not fully RFC compliant in this scenario when proxying requests. With the above option turned off as suggested by @eco-minio we can now use Nginx properly.

We will update this in our documentation as well.

[2018-10-18 00:29] zllovesuki commented on #2492
Finally I have time to sit down...

Here's the trace file. [minio-trace.txt](https://github.com/minio/mc/files/2489737/minio-trace.txt)

[2018-10-18 01:50] harshavardhana commented on #2492
@zllovesuki we found the solution https://github.com/minio/mc/issues/2569 and in-fact its Nginx problem

[2018-10-18 03:09] zllovesuki commented on #2492
for people googling: set `ignore-invalid-headers` to `false` in your configmap

[2018-10-18 03:11] zllovesuki commented on #2569
For reference, set `ignore-invalid-headers` to `false` if you are using Kubernetes nginx ingress controller (maybe add that in the documentation as well).

[2018-10-19 07:53] gbKidCoding opened #2575 "how to use docker exec command into `minio/mc` container"
when i use docker command setup `minio/mc` on background, `docker run -itd --entrypoint=/bin/sh  --name=mc  minio/mc`.  and then `docker exec -it mc bash` .  it's fail.
- logs
[code]

[2018-10-19 11:01] nitisht commented on #2575
can you try `docker exec -it mc /bin/sh` @gbKidCoding

[2018-10-19 11:02] philipkozeny opened #2576 "heal stuck on certain files"
I am running minio on 3 servers (Debian 9, binary, distributed mode) with 6 disks in total. For testing purposes I have uploaded around 40 GB of small encrypted files.

When I am running the heal command the heal process seems stuck for ~10-15 minutes on some files (always the same files). In some cases the heal process ends with an error, and most times after 30-40 minutes the heal process finish

[2018-10-22 18:31] zllovesuki commented on #2569
@eco-minio I just hate whoever responded in the original nginx ticket: "Whether or not these headers match a grammar of a particular RFC is mostly irrelevant." Well we don't like the RFC grammar so we are going to do it OUR way. Then why do we have standards and/or RFC?

---

Does Caddy or Traefik suffer from the same problem?

[2018-10-22 18:52] harshavardhana commented on #2569
They don't @zllovesuki

[2018-10-23 04:44] kannappanr commented on #2570
Pasting comment from @poornas in #2571  here
[code]

[2018-10-23 08:03] David-Development opened #2577 "Timer expired exceptions"
## Expected behavior

When copying files (`mc cp --recursive`) into a bucket which contains quite a few files (~4000), I get a `timer expired` exception ~90% of the time. This is also somewhat related to https://github.com/minio/mc/issues/2046.

Are there any steps I can do to investigate this problem a little more? I can access minio during the whole time via the web-interface. Network issues are

[2018-10-23 19:10] kannappanr commented on #2577
@David-Development The error is being returned by the `os.OpenFile` call. Are you seeing this issue if you are using minio as a standalone binary instead of say on kubernetes. Also, what is the PV filesystem being used here?

[2018-10-24 08:10] David-Development commented on #2577
@kannappanr Your pointers helped us to investigate the problem more in depth. While our investigation is still ongoing, this problem might occur due to a hardware defect on our master node (disk failure). After turning on the debug flag we can see that the minio api is returning 200 status codes and as you said, the IO operation is failing. We ran some more tests and while copying files with `scp`

[2018-10-24 20:17] eode commented on #2298
..just ran into this.  MC client won't let me log in with four-character username, but logging in directly via the server is fine.

[2018-10-24 21:07] harshavardhana commented on #2298
Yep looks like a bug in `mc` fixed here https://github.com/minio/mc/pull/2579

[2018-10-24 22:08] deekoder commented on #2536
@mitchellmaler is there any other clues you can give us? Can you upgrade your server to the latest build and see if it still occurs? Play is ahead of this version you have here.

[2018-10-24 22:22] sam2kb opened #2580 "[Error: invalid alias] when both MC_HOSTS and MC_ENCRYPT_KEY are set"
Latest minio/mc in docker

I get an error when both env params are present. So if I keep the MC_HOSTS_storage alone it works ok. Or when I mount config with` -v blah:/root/.mc/config.json` and remove MC_HOSTS_storage it works ok too.

**<ERROR> Unable to parse encryption keys. sse-c prefix storage/secure/ has invalid alias**

[code]

[2018-10-25 05:57] eyalrif opened #2582 "Heal Operation Timeouts"
## Expected behavior
I have a setup of 8 servers with 96 disks (12 on each server).The object size i am using is 1MB and the amount of objects is around 5M. when running heal operation on a single object - i get a timeout

`
/usr/local/bin/mc admin heal --json --recursive Minio/wekabucket1/358adf34/d/d/95/20/3696
....
{"status":"success","type":"system","name":"bucket-metadata:.minio.sys/config/co

[2018-10-25 06:12] harshavardhana commented on #2582
thanks @eyalrif we will take a look

[2018-10-25 09:09] philipkozeny commented on #2576
@vadmeste yes, from all three hosts with `mc cp`

[2018-10-25 13:28] philipkozeny commented on #2576
@vadmeste I've run the command now with --json as output. Heal stopped responding with JSON output on the last file status. after some minutes it returned the error:

[code]

[2018-10-25 15:44] vadmeste commented on #2576
Thanks @philipkozeny, would you try again to heal that particular file, print the mc json output as long with any output that you see in Minio server ?

[2018-10-26 19:51] #2580 closed

[2018-10-26 21:43] philipkozeny commented on #2576
@vadmeste if I only heal the smaller folder that contains that file, or that file directly there is no problem at all.

What I have recognised although ist that the heal always stopped after the file that failed the last time. Now it is no longer always the same one. I have started it three times, and two times it was a different file after the one above where it stopped. One time it ran through a

[2018-10-28 08:21] dolftax opened #2585 "Unable to stat doesn't return non-zero exit code"
## Expected behavior
mc: <ERROR> Unable to stat source `minio/repo/bb/foo/bar`. Object does not exist

Should exit with non-zero exit code

## Actual behavior
mc: <ERROR> Unable to stat source `minio/repo/bb/foo/bar`. Object does not exist

Exits with exit code 0

## Steps to reproduce the behavior
`mc mirror minio/repo/bb/foo/bar` where the object doesn't exist

## mc version
Version: 2018-09-26T

[2018-10-28 08:24] #2585 closed, assigned to nobody

[2018-10-30 05:33] ouotuo opened #2586 "mc mirror can not remove file"
## Expected behavior
mm is my s3 server, t-mirror is one directory.
use below command to mirror the whole s3 buckets to local directory.

[code]
deleted one file in minio server.
mc mirror caught the event  and  removed  the file in t-mirror directory.
## Actual behavior
[code]
## Steps to reproduce the behavior
* start one minio server and upload some files.
* add config to mc
* ./mc --debug mirr

[2018-10-30 18:50] kannappanr commented on #2586
@ouotuo Thanks for filing this issue. I was able to reproduce this issue. will send in a fix soon.

[2018-10-31 09:36] David-Development commented on #2577
We're still investigating this issue further. Sometimes we are even able to reproduce this issue with tools such as `nano / tail / ..` - therefore this issue is not related to minio. The hardware looks fine as we couldn't find any defects. Using `dmesg` we were able to find some kernel messages that were complaining about `talpa-deny: Timeout occurred while opening`. It looks like this is related

[2018-10-31 09:36] #2577 closed

[2018-11-01 00:43] #2569 closed

[2018-11-01 21:42] deekoder commented on #2444
We will close this and mark it future. Will reopen when we are done with current priorities.

[2018-11-01 21:42] #2444 closed

[2018-11-01 21:58] deekoder commented on #2517
hi @mcharytoniuk can you post it with the trace settings on. Until then we are not able to exactly repro your issue. Tell us more about the proxy. I will close this as a working as intended (aka not repro) for now. Please reactivate if you have all this info to help us out.

[2018-11-01 21:58] #2517 closed

[2018-11-01 22:14] deekoder commented on #2522
We will fix this in the future. Closing for now and will reactivate once we are done with current priorities.

[2018-11-01 22:14] #2522 closed

[2018-11-01 22:19] deekoder commented on #2433
@vadmeste  will pr for this soon.

[2018-11-01 22:44] ebozduman commented on #2509
Closing this PR for the time being, since I am currently working on a new configuration handling approach. With the new approach, the configuration file content and the what the configuration content's manipulation will be completely different. So, it is highly likely that this PR and the old approach will be obsolete.
If the new approach's proof of concept fails to do the job for any reason, we'l

[2018-11-01 22:44] #2509 closed

[2018-11-02 10:40] sanguinius69 opened #2589 "mc cp * does not work with a remote server"
## Expected behavior
Hey ! I want to copy an entire folder from one gcs folder to a remote minio server by using
`mc cp --recursive gcs/hello/world/example/* k8s/welcome/`
## Actual behavior
it's giving out an error
`mc: <ERROR> Unable to validate source gcs/hello/world/example/*`
## Steps to reproduce the behavior

connect to 2 remote minio and try to transfer the content of a folder name A to a

[2018-11-02 13:11] vadmeste commented on #2576
@philipkozeny do you have time for a private chat about this issue? I am not able to reproduce it locally so I need more information.

[2018-11-02 18:05] harshavardhana commented on #2589
'*' is escaped by bash before we receive it, also '*' is meaningless when you provide `--recursive`. In Object storage, there can be an object which has a '*' in-it since its a flat namespace.

I don't think it's useful to add this and there is no new functionality this would bring to Minio

[2018-11-02 18:06] harshavardhana commented on #2582
I am not able to reproduce this issue @eyalrif - but we bringing a few features to be able to stop healing on a prefix. https://github.com/minio/mc/pull/2584

[2018-11-03 10:54] philipkozeny commented on #2576
@vadmeste sure, just tell me when you are available and where to contact you.

[2018-11-05 01:34] sanguinius69 commented on #2589
Ok so * could be an object, still there is no way to be able to copy an entire folder from one remote to another remote with changing the name of the folder ? Shouldn't this be a feature/possible ?

[2018-11-05 10:40] vadmeste commented on #2576
@philipkozeny could me ping me here https://slack.minio.io, my timezone is GMT+1

[2018-11-05 13:00] matthdsm opened #2590 "Feature request: tab path completion"
## Expected behavior
Auto-complete bucket path on `tab`
## Actual behavior
None
## Steps to reproduce the behavior
Just hit `tab` when entering a bucket path
## mc version
[code]
## System information
Linux Ubuntu 14.04; but useful on any system

[2018-11-05 13:02] matthdsm commented on #2590
I don't know if this is viable, but it'd be neat to have some kind of tab completion available, altough I suppose this would create a bunch of extra requests to the server.

Cheers
M

[2018-11-05 14:40] vadmeste commented on #2590
@matthdsm I am currently implementing this, it should be ready soon.

This is the issue to follow https://github.com/minio/mc/issues/2572

[2018-11-05 14:41] matthdsm commented on #2590
Great to hear! Thanks!
M

[2018-11-05 14:41] #2590 closed

[2018-11-06 21:03] vadmeste commented on #2576
@philipkozeny confirmed that healing is not failing anymore with the new release (after @harshavardhana last refactor) but still seems to take a considerable time with one object (not a specific object), which makes mc looks like frozen.

[2018-11-07 09:16] philipkozeny commented on #2576
@vadmeste sorry to report again but healing is again failing with the latest release.

[2018-11-07 10:16] vadmeste commented on #2576
I was able to see this, can you open a new issue for this ?

[2018-11-07 10:16] vadmeste commented on #2576
I am currently debugging it and seeing how to fix this.

[2018-11-07 16:40] vadmeste commented on #2576
@philipkozeny are you using a load balancer ? one workaround then is to call mc heal directly to  one node.

Also there is another scenario, more rare which generates the same error message. I am going to send a PR for it shortly.

[2018-11-08 01:31] kannappanr commented on #2582
PR #2584 has been merged. Closing the issue with #2854 being a way to handle this issue. Please let us know if you have any concerns.

[2018-11-08 01:31] #2582 closed

[2018-11-08 07:37] philipkozeny commented on #2576
@vadmeste yes, but i am running mc locally on one of the machines and access it via 127.0.0.1

[2018-11-09 21:31] #2586 closed

[2018-11-12 22:04] kannappanr opened #2596 "Add support for `--self-signed` flag in `config host add` command"
*** Not using standard template ***
Instead of using `--insecure` flag, we will use a `--self-signed` flag. When used, this will get the certificate of the server and calculate the hash of the public key and store it in `config.json`

When a connection is being made in mc, if this entry does not exist or does not match the one stored in `config.json`, the connection to s3 fails.

[2018-11-12 22:27] kannappanr opened #2597 "Add new Env variable MC_PUBLICKEY_HASH_alias"
*** Not using standard template ***

Add a new environment variable called `MC_PUBLICKEY_HASH_alias`

This will be the same as the hash that is being printed on the server screen, when minio starts up, in the case of other S3 servers, it will be generated on the client side using an mc command. This `Hash` is only useful if `s3` server uses a self signed certificate. This environment variable is u

[2018-11-13 16:50] kannappanr commented on #2597
After talking internally, we will not be implementing this feature. Will implement this later if required.

[2018-11-13 16:50] #2597 closed

[2018-11-14 03:33] deekoder opened #2600 "mc update should update itself inplace."
mc update should update mc version to the latest available.

[2018-11-14 03:35] deekoder opened #2601 "mc admin update should update an entire minio server cluster."

[2018-11-16 21:19] arno01 opened #2604 "mc mirror aborts on a broken symlink"
Hello,

mc mirror aborts on a broken symlink:

[code]

Is this expected?

## Expected behavior

I am expecting minio to mirror everything except the broken symlinks instead of just aborting the entire mirror process at the first broken symlink it encounters.

## minio client version

[code]

## minio server version

[code]

[2018-11-16 21:55] kannappanr commented on #2604
@arno01 Thanks for filing this issue. Will try to send a fix soon.

[2018-11-20 06:20] Praveenrajmani commented on #2604
Hi @arno01 ,

`mc` does not abort when a broken link is caught. It indeed continues it leaving behind the infected files.

![image](https://user-images.githubusercontent.com/5410427/48755133-475ab800-ecba-11e8-820d-83c150d76b70.png)

Can you also try updating the version ?

[2018-11-20 10:36] nitisht opened #2606 "Implement mc admin health command"
**Not using template on purpose**

Often we see users facing issues in their distributed environment - one or more nodes may have

- Less free memory
- High cpu usage
- Slow drives
- Network connectivity issues

It is difficult to debug these problems easily - the tools to identify these issues are different and it needs multiple steps before the actual problem is identified. It will be helpful if

[2018-11-20 13:07] arno01 commented on #2604
@Praveenrajmani the symlink ``/tmp/one/three`` that you have created comes last in the list since minio client processes the data alphabetically. That is why you were able to see the first two files got mirrored as expected ``DelayedFlights.csv`` & ``four/``.

Here is a better way how you can reproduce the issue:

## Minio client

[code]

Result:

[code]

I have tried the latest version of Minio c

[2018-11-20 14:52] Praveenrajmani commented on #2604
@arno01 yes i can see this happening .. will fix this :+1:

[2018-11-21 10:33] marvinholze opened #2608 "mc can't add TLS host"
## Expected behavior
connect to minio server with TLS

## Actual behavior
[code]

## Steps to reproduce the behavior
Setup a distributed Minio Server with TLS
connect with `mc config host add minio1 https://192.168.127.117:9443 ACCESS_KEY SECRET_KEY`

## mc version
- (paste output of `mc version`)

[code]

## System information

[2018-11-21 14:01] filfla opened #2609 "Cannot List Buckets due to Forbidden Error"
## Expected behavior
A list of all S3 buckets is shown

## Actual behavior
mc returns a Forbidden error. The full debug output is as shown below:

mc: <ERROR> Unable to list folder. Get https://myhostname:9000/: Forbidden
 (1) ls.go:135 cmd.doList(..) Tags: [https://myhostname:9000/]
 (0) client-s3.go:1668 cmd.(*s3Client).listInRoutine(..)
 Release-Tag:RELEASE.2018-11-06T01-12-20Z | Commit:b827fac

[2018-11-21 19:38] eripa opened #2610 "mc should respect "Set-Cookie" headers and provide the Cookie in requests"
## Expected behavior

`mc` should respect `Set-Cookie` headers in responses. When using a reverse proxy that uses sticky sessions based on Cookies, `mc` should provide this cookie back to the proxy for ensure the proxy/load balancer can properly persist the session.

## Actual behavior

`mc --debug` shows that the proxy/loadbalancer sends the `Set-Cookie` header in the response, but doesn't attach

[2018-11-22 16:46] eripa commented on #2610
It might not be part of the S3 standard -- I don't know. But honestly, with that reasoning there's no need to have the `mc` client at all if it's just intended to 100% mimic the S3 client.

It's common functionality in HTTP servers/clients (https://tools.ietf.org/html/rfc2965) and since S3 wouldn't send any `Set-Cookie` it wont affect the S3 compatibility.

Feel free to close if you don't think it

[2018-11-23 10:08] arno01 opened #2611 "mc mirror fails to remove the data"
mc mirror fails to remove the data

[code]

[2018-11-23 10:12] arno01 opened #2612 "mc mirror does not mirror empty directories"
mc mirror does not mirror empty directories

[code]

Is this expected?

[2018-11-23 18:55] harshavardhana commented on #2610
yes, `mc` only works with S3 servers I don't think it can be used with any other object storage servers. So `mc` works within the boundaries of S3. Set-Cookie like features are meant for your custom applications, not `mc`.

[2018-11-23 18:57] eripa commented on #2610
The reason why I suggested is that it's a normal thing for load balancers to do to route traffic to the same instance. E.g. you have HAProxy in front of your minio cluster and then HAProxy injects the cookie to keep clients pinned to one server.

[2018-11-23 19:04] harshavardhana commented on #2612
This is simply a matter of choice,  it is discouraged creating empty directories - they are frivolous operation on Object Storage. Since object storage is a flat namespace it is better to create a namespace entry when there is an object rather than having a list of empty directories which are practically not useful.  `mc mirror` with these requirements in mind.

[2018-11-26 14:35] nitisht commented on #2600
fixed by #2605

[2018-11-26 14:35] #2600 closed

[2018-11-26 20:27] thalesac opened #2615 "mc cp Music/*.ogg s3/jukebox/ command does not work"
## Expected behavior
According to the `mc cp -h` command, we have the first example:
[code]
## Actual behavior
I'm adding the bucket called `remote` and its working properly with other commands.
When I try to use the above syntax, like:
```$ mc cp /tmp/*.png remote/bucket-name/```
I get the following error:
[code]

When I try to copy a single file it works. So maybe the `mc cp -h`  help text is ou

[2018-11-26 20:32] harshavardhana commented on #2615
This works fine

[code]

From what it looks like you don't have the `png` files
[code]
[code]

[2018-11-26 20:33] thalesac commented on #2615
Thanks @harshavardhana . What's your `mc version` output?

[2018-11-26 20:39] thalesac commented on #2615
I'm asking because that used to work for me, but not with this version I suppose.
Or I'm not sure what I'm doing wrong. I'm happy to screenshare if you don't believe me :)

[2018-11-26 21:35] harshavardhana commented on #2615
My mc version is latest master source compiled

[2018-11-26 21:38] deekoder commented on #2615
@thalesac please tell us if this is the case with the latest released mc

[2018-11-26 21:44] thalesac commented on #2615
I just updated my version and now I'm using the latest release, which is
[code]
I just recorded a video showing the problem:
https://youtu.be/rB8pbl3S0Hg

[2018-11-26 21:45] deekoder commented on #2615
ok @thalesac  it does look like a bug to me.

[2018-11-27 08:07] filfla commented on #2609
Unfortunately this does not work. Below you can find the commands that I have directly inputted in the server for your reference:

root@mt-ub-devoplb7:/opt/minio-client# ./mc config host add mys3 https://mt-ub-devoplb7:9000 BKIKJAA5BMMU2RHO6IBB V7f1CwQqAcwo80UEIJEjc5gVQUSSx5ohQ9GSrr12 --api s3v4
Added `mys3` successfully.
root@mt-ub-devoplb7:/opt/minio-client# ./mc ls mys3
mc: <ERROR> Unable to li

[2018-11-27 08:48] Praveenrajmani commented on #2609
Can you share me the server logs ?

[2018-11-27 09:09] filfla commented on #2609
The only error that I have managed to retrieve so far is the one I quoted earlier - as soon as I execute "./mc ls mys3", the following is shown in standard output:

mc: Unable to list folder. Get https://mt-ub-devoplb7:9000/: Forbidden

Other than I have not found any log files that are generated by the Minio instance. For what its' worth I am running Minio as a standalone instance on Ubuntu, rath

[2018-11-27 10:39] Praveenrajmani commented on #2609
Hi @filfla ..I need the specific log prints from `./mc --debug config host add mys3 https://mt-ub-devoplb7:9000 BKIKJAA5BMMU2RHO6IBB V7f1CwQqAcwo80UEIJEjc5gVQUSSx5ohQ9GSrr12 --api s3v4` to understand better. Can u provide me that ?

[2018-11-27 14:10] filfla commented on #2609
I have inputted the command as per your instructions:

root@mt-ub-devoplb7:/opt/minio-client# ./mc --debug config host add mys3 https://mt-ub-devoplb7:9000 BKIKJAA5BMMU2RHO6IBB V7f1CwQqAcwo80UEIJEjc5gVQUSSx5ohQ9GSrr12 --api s3v4
Added `mys3` successfully.

The only line that is printed to stdout is 'Added `mys3` successfully.

I can also confirm that the entry is also inserted in /root/.mc/config.

[2018-11-27 15:55] Praveenrajmani commented on #2609
@filfla Sorry.. my bad.. I need the logs for `./mc --debug ls mys3`

[2018-11-28 00:01] kannappanr commented on #2615
@thalesac I tried to reproduce the issue but was unable to do so. I used the latest master and the released version of `mc`. Can you run the same command with `--debug` option and paste the result here? We can take it from there.

[2018-11-28 02:13] deekoder commented on #2612
@arno01 since this behavior is by design, I am closing this issue. Please reopen if you feel strongly that this case needs to be handled with any additional datapoints.

[2018-11-28 02:13] #2612 closed

[2018-11-28 02:18] thalesac commented on #2615
I'm using bash (from Ubuntu 18.04)
[code]
Looking the debug it looks something to do with permissions in the bucket?
The `awscli s3 cp` works though.

[code]

[2018-11-28 02:21] thalesac commented on #2615
@deekoder yes, regular `cp *.png /tmp` works normally.

[2018-11-28 02:32] thalesac commented on #2615
Just an Update: I added the target s3 bucket with an admin-like AWS Keys and it worked, so I guess is something to do with Permissions. I'm going to paste the policy I have for that user so you can reproduce.

[code]

[2018-11-28 07:18] filfla commented on #2609
No worries. The logs are as per below:

root@mt-ub-devoplb7:/opt/minio-client# ./mc --debug ls mys3
mc: <ERROR> Unable to list folder. Get https://mt-ub-devoplb7:9000/: Forbidden
 (1) ls.go:135 cmd.doList(..) Tags: [https://mt-ub-devoplb7:9000/]
 (0) client-s3.go:1668 cmd.(*s3Client).listInRoutine(..)
 Release-Tag:RELEASE.2018-11-06T01-12-20Z | Commit:b827fac6356f | Host:mt-ub-devoplb7 | OS:linux

[2018-11-30 06:01] Praveenrajmani commented on #2609
@filfla Is the server configured with any bucket policies ? need the server version as well.

It would be better if you can connect to us on slack .. [https://join.slack.com/t/minio/shared_invite/enQtNDAzMjM0Njc4OTMzLWVhYTYyZjRlZWQ2YjhkNjAxNmM5MTEyZTZkZTI2NWJlZGUzMDI5ZjkzMDBmNGNkNDZhNGU2MmRjZmEwNGQwNTE](url)

This requires more info.

[2018-12-04 15:31] ahmedabt opened #2618 "[degrade] mc is not able to upload a file from different clusters endpoints in federation setup"
## Expected behavior
mc should be able to upload the files from any minio endpoint in federation setup which was the case in previous mc releases.

## Actual behavior
./mc cp modem_log.istp cluster1/bucket_in_cluster2/
mc: <ERROR> Failed to copy `file.dummy`. Bucket `bucket_in_cluster2` does not exist.

## Steps to reproduce the behavior
1) Start Minio in a federation setup with at least 2 cluster

[2018-12-05 06:09] LahariGuntha opened #2619 "Bucket renaming"
Hi,

Do we have any option of renaming the Existing bucket in Minio?
I was not able to find any documentation for this.

Thanks and Regards,
Lahari G

[2018-12-05 06:14] harshavardhana commented on #2619
There is no S3 API to do it. You will have to script this out with multiple operations.

[2018-12-05 06:33] LahariGuntha commented on #2619
Hi Harsha,

Could you please elaborate on this?

Thanks and Regards,
Lahari G

[2018-12-05 06:35] LahariGuntha commented on #2619
Hi Harsha,

Could you please elaborate the steps to rename the bucket.

Thanks and Regards,
Lahari G.

[2018-12-05 12:53] ahmedabt commented on #2618
@vadmeste: yes, it exists. the download scenario works fine using the same client. also, the upload scenario works fine with the old client on windows platform.

In the download scenario Linux platform "./mc cp modem_log.istp cluster1/bucket_in_cluster2/"
100.00 MB / 100.00 MB ┃▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓

[2018-12-05 15:08] vadmeste commented on #2618
@ahmedabt I am not able to reproduce this, here is how I tested:

docker-compose.yaml

[code]

[code]

[2018-12-05 15:55] ahmedabt commented on #2618
@vadmeste: I sent you the debug output in case it helps

[2018-12-05 16:01] vadmeste commented on #2618
Thanks @ahmedabt, I am able to reproduce it now, it seems the issue happens with large files (multipart upload). I will investigate more and send a PR soon.

[2018-12-05 16:20] harshavardhana commented on #2619
[code]

This is how you would do.

[2018-12-05 16:20] #2619 closed

[2018-12-12 03:49] leshik opened #2623 "`mirror` stops after an error in just one object"
## Expected behavior

Mirror operation shouldn't stop completely in case of errors in individual objects, though should return non-zero code in the end.

## Actual behavior

I upgraded to the last version from `RELEASE.2018-06-22T23-32-12Z` and noticed that mirroring is now stops completely if some of the objects has an error, which in my case is:

[code]

This might be related to #2474 and the co

[2018-12-12 03:51] nitisht commented on #2623
Thanks for reporting @leshik we'll take a look .

[2018-12-12 03:53] leshik commented on #2623
@nitisht I believe it's similar to #2604, which have its fix on the way, just the condition is different.

[2018-12-12 11:48] Ricordel opened #2625 "Feature request: support client certificates"
## Goal

Be able to specify a TLS client certificate for a given host, that will then be sent with every https request. The use case is Minio running behind a reverse proxy filtering access based on client certificates.

## Suggested interface

Add two new options to `minio config host add`: `--client-cert` and `--client-cert-key` (or other relevant names), translating to two fields in the json co

[2018-12-12 18:48] #2623 closed

[2018-12-21 21:38] #2604 closed

[2018-12-27 13:49] arno01 opened #2632 "Feature request: store SSE-C keys locally"
## Use case

The user would benefit from having his SSE-C keys stored under ``~/.mc/`` directory when he is encrypting multiple buckets with different keys.

## Benefit how?

The user would not be needing to provide the SSE-C keys on the command line each time he accesses his data. Complicated part is when the user has multiple buckets/objects with different keys.
This also protects against [shoul

[2018-12-27 15:04] kannappanr commented on #2632
@arno01 There is no requirement for one bucket to have one SSE-C (password). Each object within a bucket can have a separate `SSE-C` key.

There are issues like how to maintain keys if they change etc. Will talk internally about this and get back to you.

[2018-12-27 16:58] arno01 commented on #2632
@kannappanr I've edited my FR to reflect  the objects as well. The credential maintenance is solely the user problem, IMHO :-)

[2018-12-27 17:43] aead commented on #2632
@arno01 I see what you try to achieve with this feature request.
However, I think there is some kind of misunderstanding. First, a SSE-C key is not a password. A password and a cryptographic key are two separate things. Therefore from my point of view there a two separate requirements:
 1.  `mc` should be able to access/create SSE-C objects created/accessed by other S3 tools - e.g. AWS CLI. That's

[2018-12-27 18:54] arno01 commented on #2632
@aead I actually meant the ``keys``, not the ``passwords`` in the FR. I have updated the FR to reflect this.

Thinking of ``(2)`` could seem to be a nice idea at the first sight, except if it isn't. People will start confusing the password with the key as this would add more entropy (which is only good in CSPRNG ;) ). Especially that confusion will happen once the users will want to use other than

[2018-12-27 23:32] aead commented on #2632
I agree that users may get confused by different options for encrypting their objects. However, users may also not use SSE-C just because of all the key management overhead - which is currently their responsibility.

Honestly, I don't think it is a good idea to store the SSE-C keys in a file (in plaintext). It may indeed prevent shoulder surfing but on the other side compromising / exposing this f

[2018-12-27 23:51] harshavardhana commented on #2632
I think it is not a good idea to add SSE-C creds in a file which can be read and copied. We shouldn't need to bring any special semantics here. `mc` is good the way it is - there is another SSE PR pending https://github.com/minio/mc/pull/2626 which would not even require SSE-C

[2018-12-27 23:55] arno01 commented on #2632
@aead thanks for the shell magic, I am already using that in combination with the GNU [pass](https://www.passwordstore.org/), e.g. ``--encrypt-key "$(pass show backups/tablet)"``

With your example ``cat ssec.keys | grep s3/my-bucket-1``, it is no different from storing keys in a file (in a plaintext).

This is usually why people use LUKS to encrypt their data at REST.
Be there an intruder, he wil

[2018-12-28 01:09] #2632 closed

[2018-12-28 01:38] #2546 closed

[2018-12-28 17:47] nikwen opened #2633 "Feature: Set custom policies"
## Expected behavior

One can use a command such as `mc policy /path/to/policy.json <bucket>` to set a custom policy for a bucket.

Equivalent functionality in s3cmd: `s3cmd setpolicy FILE s3://BUCKET`

## Actual behavior

One can only use one of the 4 default policies "none", "download", "upload" and "public".

## Steps to reproduce the behavior

Install `mc`.

## mc version
[code]

## System inf

[2018-12-28 19:55] harshavardhana commented on #2633
We will discuss this internally and  get back to you @nikwen

[2018-12-29 14:22] nikwen opened #2635 "`mc rm` with --older-than flag removes buckets, too"
## Expected behavior

There should be a way to delete all *objects* in a bucket using the `--older-than` flag, but not the *bucket* itself.
I would expect that this happens when running `mc rm -r --older-than 30 --force minio/bucket/`.

## Actual behavior

The bucket was deleted as well. (Just for the record, it *was* older than 30 days.)

## Steps to reproduce the behavior

1. Have a bucket older

[2018-12-29 15:00] nikwen commented on #2635
Workaround: `mc find minio/bucket --older 30d --exec "mc rm {}"`

[2018-12-29 23:36] harshavardhana commented on #2635
@nikwen this is expected behavior for the time being. do you want to preserve the buckets?

[2018-12-31 02:34] lavvy opened #2636 "metadata option in mc"
## Expected behavior
./mc  cp myobj play/bucket/myobj  --metadata KeyName1=string,KeyName2=string
## Actual behavior
Error .
Every other sdk has a way to add custom metadata but mc.

[2018-12-31 02:38] harshavardhana commented on #2636
mc is not an SDK - you may use an SDK to do this right now.

[2018-12-31 03:00] lavvy commented on #2636
thanks for the quick response. Yea we are using sdk for it now but mc allows us so much portability between applications . But thanks though cos i thought it was intentionally omitted were it mattered most.
By the way aws cli has it covered but for unknown reason its not as fast as mc.
Is there any timeline for it ? @harshavardhana

[2018-12-31 06:53] harshavardhana commented on #2636
There is no easier way to do it @lavvy , we would like to limit `mc's` command line options.  mc is a large scale tool copies million of files. Does this option apply for one file or all files? is complicated to reason.

This can lead to unexpected metadata accumulation on files which were not meant to have this metadata. `aws cli` implements lot more features which we do not implement because it

[2018-12-31 08:30] harshavardhana opened #2637 "Document the following IAM policy minimum required for `mc` to behave properly for restricted access"
Just an Update: I added the target s3 bucket with an admin-like AWS Keys and it worked, so I guess is something to do with Permissions. I'm going to paste the policy I have for that user so you can reproduce.

[code]

_Originally posted by @thalesac in https://github.com/minio/mc/issues/2615#issuecomment-442296163_

[2018-12-31 08:30] harshavardhana commented on #2615
We shall document this https://github.com/minio/mc/issues/2637 closing this issue.

[2018-12-31 08:30] #2615 closed

[2018-12-31 09:19] nikwen commented on #2635
@harshavardhana Thank you for your fast reply!

My usecase: I have a bucket where I regularly need to delete all objects older than `x` days. I do *not* want to delete the bucket itself and its other contents.

Improvements I would suggest:

* Add an `--ignore-buckets` flag to `mc rm` to only delete objects.
* Documentation: Adjust the flags section from the `mc rm` documentation, so that it says

[2018-12-31 09:36] harshavardhana commented on #2610
This required a change in minio-go PR already sent https://github.com/minio/minio-go/pull/1054

[2018-12-31 19:00] lavvy commented on #2636
i have read a lot about your advises in many metadata related issues where you discouraged much use of it. I really could not decipher if its bcos of technical or ethical reasons. But assuming it's any of those or both.
In my opinion it should be better use case if you could include it in mc too cos you know one can easily use the go sdk or python script to achieve it .
##Current behaviour
So at t

[2018-12-31 20:30] harshavardhana commented on #2636
It is discouraged because metadata should ideally exist in your application database, it is simply not worth storing it in object storage. You can't search using these metadata values, query object storage in any meaningful way there is no S3 API for this. This metadata is retrieved using a rudimentary mechanism either HEAD or GET i.e sent back as an HTTP header. It is not even available in ListOb

[2018-12-31 22:18] harshavardhana commented on #2636
You can open an object regardless of what user metadata it has. It is not even a conditional where you can say open this object only if matches this user metadata. It is simply an opaque value which you can use to signify some proprietary meaning. Without your application, this value is not meaningful to any other application.  For applications such as `mc` or  `aws cli` your custom metadata is me

[2019-01-02 10:42] vadmeste commented on #2635
I tend to think that we should not remove buckets so quickly, users can lose a lot of bucket configurations by mistake (bucket policy, notification, lifecycle later, etc..)

Also we need to discuss how mc should behave when versioning is enabled. Currently, it is not possible to remove a bucket with `mc` in that case. So --remove-bucket can be useful in this case to fix both problems, but this nee

[2019-01-02 13:20] nikwen commented on #2635
@vadmeste Totally agree!

Also feel free to change the issue title or body to whatever you need. :wink:

[2019-01-02 23:05] #2610 closed

[2019-01-02 23:06] eripa commented on #2610
Thanks a lot, @harshavardhana! Much appreciated. :)

[2019-01-03 22:18] krishnasrinivas commented on #2083
@vadmeste i can still reproduce it, also someone reported it on slack #general
[code]

I am on master latest.

[2019-01-06 17:00] juv opened #2640 "Minio Client startup fails with permission error on OpenShift"
## Expected behavior
Minio Client starts without errors on OpenShift

## Actual behavior
Minio Client starts up and fails immediately with error `mc: <ERROR> Unable to save new mc config. mkdir /.mc: permission denied.`. This is related to https://github.com/helm/charts/issues/4128 -- OpenShift expects containers to not run as `root`.

## Steps to reproduce the behavior

## mc version
Unknown (mc

[2019-01-07 05:45] kannappanr commented on #2640
@juv Thanks for filing this issue. We will try to resolve this soon.

[2019-01-08 21:21] wlan0 commented on #2606
Had a conversation with @abperiasamy about this earlier this week. He proposed the following changes
- The command should be called `stat` Instead of `perf`, since `stat` is the accurate term for the information we’re providing in this feature.
- Provide historical Disk latency and Disk throughput, instead of writing to disk when the command is called
- Provide historical and current Internode net

[2019-01-10 19:04] vadmeste commented on #2327
I got this reported again, this most likely happens when mc received some unexpected data.

[2019-01-11 05:43] Pandoraemon opened #2642 "mc MultipartUpload failed when assembling previously uploaded parts with Nexenta Edge S3 service"
## Expected behavior
mc MultipartUpload should return successfully.
## Actual behavior
mc: <ERROR> Failed to copy `/Users/pandoraemon/Downloads/nedeploy-rhel_linux_latest_x64.tar`. expected element type <Error> but have <CompleteMultipartUploadResult>
mc: <ERROR> Session safely terminated. To resume session `mc session resume pcNHKLhu`
## Steps to reproduce the behavior
upload a big file (200MB) t

[2019-01-11 18:54] kannappanr commented on #2636
@lavvy We talked internally and decided that we will implement this feature like this
`./mc cp myobj play/bucket/myobj --attr KeyName1=string,KeyName2=string`

we will still have to iron out details like copying a whole folder/bucket to another bucket, should we apply metadata to all the objects under that bucket etc.

[2019-01-11 18:59] kannappanr commented on #2633
@nikwen We talked internally and decided that we would do this with the following commands.
[code]

[2019-01-11 21:37] kannappanr commented on #2642
@Pandoraemon The error is probably because `Bucket` is not being returned as part of the `CompleteMultiPartUploadResult` XML. I am also seeing other issues with the tags like `<ETag\>"bc513c274e3bfcd54bec6f139ff523b2-4"</ETag>` should be `<ETag>"bc513c274e3bfcd54bec6f139ff523b2-4"</ETag>`. We would expect all of the elements in `Response Elements` to be returned as is described in the AWS S3 spec

[2019-01-11 23:49] harshavardhana commented on #2642
Looks like a bug in Nexenta implementation, you should report this to Nexenta folks.

[2019-01-12 03:32] lavvy commented on #2636
So nice. We appreciate you guys. 👍

[2019-01-13 16:01] kannappanr commented on #2635
@nikwen We have decided to add a new command

`mc rb myaliaas/bucket` with an optional flag `--force`. `rb` will remove a bucket. With the `--force` flag, it will remove it even if there are objects in the bucket.

[2019-01-14 12:21] mkumatag opened #2644 "Update readme file with ppc64le binary"
Currently, I see minio client binary is already published for ppc64le but readme is not updated with the relevant link, this task is for updating the readme file with a proper link.

Reference: https://github.com/minio/minio/issues/7062#issuecomment-452970812

Readme link - https://github.com/minio/mc#gnulinux

Readme has been already fixed for [minio/minio project](https://github.com/minio/minio/

[2019-01-14 12:37] nikwen commented on #2633
@kannappanr Thank you!

The only concern I have is regarding entering json on the command line. Let's go with one of the simplest policies, one that allows only the `s3:GetObject` action:

[code]

Escaping of json data can be a bitch and commands will get really, really long with more complicated policies.

Those are not dealbreakers in my opinion, since one **can** work with them, but I think tha

[2019-01-14 13:08] harshavardhana commented on #2633
We will read from a file locally @nikwen - that should be easy

[2019-01-14 13:09] nikwen commented on #2633
That's great. Thank you. :)

[2019-01-14 14:44] kannappanr commented on #2644
@mkumatag We will add a link to the ppc binary.

[2019-01-15 15:18] sl0n opened #2645 "'mc find' output does not separate bucket name and first level objects in the bucket"
'mc find' removes '/' symbol when separating bucket name from first level underlying objects.

## Expected behavior
[code]

## Actual behavior
[code]

## Steps to reproduce the behavior
configure mc and run 'mc find'

## mc version
[code]

## System information
[code]

[2019-01-15 17:57] kannappanr commented on #2645
@sl0n I am unable to reproduce this issue against play.

[code]
I am also running ubuntu
[code]

[2019-01-15 20:12] kannappanr commented on #2645
@sl0n I am unable to reproduce the issue against `AWS S3` also.

[2019-01-16 10:11] sl0n commented on #2645
@kannappanr I'm running it against Cloudian HyperStore.

[2019-01-16 10:15] sl0n commented on #2645
I tried it against s3.eu-central-1.amazonaws.com and it works as expected, ie I can not reproduced it either on AWS.

[2019-01-16 14:19] sl0n commented on #2645
@harshavardhana here it is:

[code]

[2019-01-17 08:51] Pandoraemon commented on #2642
solved, thank you very much!

[2019-01-17 09:29] m1cr0man opened #2646 "CGO_ENABLED=1 required on Illumos distributions / Solaris"
## Expected behavior

Compiling mc on Illumos/SmartOS should complete successfully

## Actual behavior

Compiling mc fails with the following error:

[code]

Changing `CGO_ENABLED=1` in the Makefile build target fixes the issue.

## Steps to reproduce the behavior

Requirements: An Illumos based OS

[code]

## mc version

Current master branch

## System information

[code]

[2019-01-17 10:35] fdaone commented on #2327
I'm seeing this as well...

**minio version on source host (Ubuntu Xenial):**
~$ minio version
Version: 2018-01-02T23:07:00Z
Release-Tag: RELEASE.2018-01-02T23-07-00Z
Commit-ID: a6318dbdaf0a33d80e52bb762e153e4d7ca396f7

~$ uname -a
Linux objectstore1 4.4.79-20170906-1335-7b4d138 #1 SMP Wed Sep 6 13:36:40 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

_(I don't dare to upgrade this minio (distributed ser

[2019-01-17 10:51] vadmeste commented on #2327
@fdaone this is probaby a golang bug (https://github.com/golang/go/issues/29768) but we still can add to simple workaround to avoid this situation.

[2019-01-17 10:56] fdaone commented on #2327
Thanks for the quick response. Adding a workaround in the mc code works for me. :-)

[2019-01-17 11:22] harshavardhana commented on #2646
You can do `go get github.com/minio/mc`.

Our build process is not to be used without CGO it is unfortunate that our deps don't have native Go support.

[2019-01-17 14:04] harshavardhana opened #2647 "mc doesn't work as expected with following IAM policy"
yep, this works as expected @WolfspiritM  AWS IAM policy returns

[code]

With AWS S3
[code]
[code]

Using this with Minio has same behavior @WolfspiritM .

Now I started looking at the query params a little deeper, looks like when a top-level bucket is provided `mc` doesn't send prefix="" (empty) value. This actually causes AWS S3 to not honor the policy.

So after modifying `mc` query params set

[2019-01-17 19:22] lukekalish commented on #2327
We are also dealing with the same issue.  Happens several times a day and have implemented a service watcher to restart the mirror once it stops working.  We're mirroring from one minio cluster to another.  Any workaround to add stability would be great.

[2019-01-18 07:56] fdaone commented on #2327
This time using --debug (in hopes that reveals anything useful)

[code]

[2019-01-18 08:06] fdaone commented on #2327
Also, I should probably add that I successfully mirrored everything a few days ago without stumbling on this error. At that time I wasn't mirroring from one minio setup to another, though. I was simply mirroring from a remote minio to a local filesystem (and I wasn't using --watch --overwrite --remove).

[2019-01-18 16:53] vadmeste opened #2648 "Healing result in JSON shows empty information related to an offline node"
## Expected behavior
JSON output should show the name of the offline nodes after a heal operation.

## Actual behavior
JSON output is not showing  the name of the offline nodes after a heal operation.

## Steps to reproduce the behavior
1. Start a distributed Minio setup
2. Create one test bucket and upload one test file
3. Kill one Minio instance
4. mc admin heal --json -r myminio/testbucket/test

[2019-01-20 10:05] #2647 closed

[2019-01-21 14:09] zefie opened #2651 "Consider password prompt or env variable when using mc admin user add"
## Info
When adding a user using MC, we have to provide the access secret on the CLI. Minio sometimes (depending on setup, usually on distributed) can take upwards to 20 seconds to respond. During this time, the password is shown in ```ps aux``` for any user with access to the machine to see.

## Expected behavior
Ability to securely add users

## Actual behavior
Password can be exposed in running

[2019-01-21 14:14] zefie commented on #2432
I understand your stance and also understand this is probably not the best place to discuss this (please link a better discussion post), but I think the idea of "distros can change the name if they want" is a terrible practice and will cause more trouble down the the road with fragmentation and user confusion "guides keep saying mc but I don't have that command? what did my distro name it?" PLEASE

[2019-01-21 14:31] kannappanr commented on #2651
@zefie Will check internally on this request. Meanwhile you can also use

`mc config host add mys3 http://localhost:9000 access secret --api "s3v4"`

[2019-01-21 15:37] harshavardhana commented on #2432
@zefie we do not agree, we do not actually expect distros to bundle `mc` - if they do they have the choice to rename it.

The ship has sailed on this issue, so it won't change anytime in future. Our stance is also documented here https://github.com/minio/mc/blob/master/CONFLICT.md

[2019-01-21 15:45] harshavardhana commented on #2651
We have something similar for `mc config host add` we can do something similar for `mc admin user add`

[2019-01-21 21:41] deekoder commented on #2651
We will put this in the futures milestone for now till we discuss this internally.

[2019-01-22 13:18] kannappanr commented on #2651
Sorry, missed that you had specifically asked about `mc admin user add`

[2019-01-22 14:07] flokli opened #2652 "don't call ListBuckets() when not necessary"
## Expected behavior
I'd expect minio client to not request bucket listing if not necessary, and at least not to fail completely if this request gets denied.

## Actual behavior
Minio client seems to list all buckets, even if it's not necessary / not allowed.

This already causes it to fail to cat a file from a bucket.

## Steps to reproduce the behavior
I did set up minio as a S3 <-> GCS gateway.

[2019-01-22 17:53] kannappanr commented on #2652
@flokli We will take a look and see why this might be required. If it is not required we will try to either remove it or still proceed by throwing a warning.

[2019-01-23 08:22] entekhabgroup opened #2653 "Can't login in fresh install"
## Expected behavior
login in fresh install

## Actual behavior
not login at all

## Steps to reproduce the behavior
install from [here](https://linuxhint.com/install_minio_ubuntu_1804/) and all steps done.
service activated.
open http://localhost:9000
enter access & secret key
show an error: **The access key ID you provided does not exist in our records**

## mc version
Release-tag: RELEASE.2019-

[2019-01-24 15:13] #2083 closed

[2019-01-25 12:20] phillipp commented on #2625
@kannappanr Hey, any updates on this? How can I help?

[2019-01-25 21:39] aead commented on #2625
That feature is something we can add. However, this is something we won't (and can't) show during server startup. Therefore I suggest a general clean way to do this:
Introduce `mc config host set <endpoint> <key> <value>` (Better names for the command `set` are welcome)
The `<key>` is the JSON object key (or an alias), <value> is the JSON value. So for example:
 - `mc config host set play mTLSKey

[2019-01-25 21:54] harshavardhana commented on #2625
Let's not forget this feature is S3 incompatible, meaning S3 doesn't mandate any such client requirement. We wouldn't want to add Minio only features.

[2019-01-25 22:05] aead commented on #2625
@harshavardhana Don't agree here. Yes, AWS does not provide mTLS based authentication. (AFAIK) But following that argument our `--insecure` flag is also not "S3 compatible" - because S3 has either HTTP or HTTP + TLS with CA signed cert endpoint. Also it would be perfectly fine to run a TLS reverse proxy in-front of AWS S3.
From my perspective that is transparent to S3.

[2019-01-29 01:17] donatello commented on #2568
The reason this happens is that the heal status fetching API request went to a different server in the cluster than the one that received the original heal request. This will be fixed in an enhancement on the heal API - however we do not have an ETA at this time.

CC: @deekoder

[2019-01-29 01:19] kannappanr commented on #2589
@sanguinius69
Something like `mc cp --recursive gcs/hello/world/example/ k8s/welcome/` should work. I have verified this with my own setup.
Closing this issue now. Feel free to re-open this issue, if you feel otherwise, or we have misunderstood your question.

[2019-01-29 01:19] #2589 closed

[2019-01-29 02:33] deekoder commented on #2568
I will put this in the future milestone until we fix this.

[2019-01-29 13:19] nikwen commented on #2633
@Praveenrajmani @kannappanr @harshavardhana

Thank you guys so much! The way you respond to issues and how fast you adjust to user requests is **so** much better than in most other open source projects. If I compare this to the issues I filed in Mongo DB, for example, the way you handled this was a thousand times better. :heart:

[2019-01-29 18:48] kannappanr opened #2664 "rm: Print status message after deletion of objects"
## Expected behavior
Print status message after deletion of objects

## Actual behavior
Currently mc is printing before deletion of objects.
[code]
## Steps to reproduce the behavior

1. Create a user who does not have delete object and delete bucket access
2. Use that user's credentials to issue recursive delete on the bucket.

## mc version
mc.RELEASE.2019-01-25T23-38-19Z

[2019-01-29 18:55] kannappanr opened #2665 "rm -r --force: Do not try to delete bucket, if object deletion within the bucket failed"
## Expected behavior
In a recursive `rm -r --force` do not try to delete the bucket, if any of the object deletion failed.

## Actual behavior
mc tries to delete the bucket or atleast it is displaying a message saying that it is trying to delete the bucket. If it is just a message, that message should not be displayed. If it is actually trying to delete the bucket, then it should not be doing that

[2019-01-29 19:02] kannappanr opened #2666 "Quiet should print only in the case of errors"
## Expected behavior
Quiet should not only disable progress bar display as explained in mc help, but also not display any of the success messages. Should only display messages in case of failure. We should also check with @abperiasamy

## Actual behavior
Currently `quiet` flag only disables progress bar messages.

[2019-01-29 19:14] harshavardhana commented on #2666
blocked on discussion..

[2019-01-29 19:15] harshavardhana commented on #2665
This is going to be fixed since bucket deletion is removed in the https://github.com/minio/mc/pull/2662

[2019-01-30 00:49] kannappanr commented on #2664
Closing this issue as we will not be making this change

[2019-01-30 00:49] #2664 closed

[2019-01-30 00:49] kannappanr commented on #2665
Closing this issue as #2662 will take care of this.

[2019-01-30 00:49] #2665 closed

[2019-01-30 00:50] kannappanr commented on #2666
Closing the issue based on the explanation given above.

[2019-01-30 00:50] #2666 closed

[2019-01-30 00:53] harshavardhana commented on #2646
Closing this..

[2019-01-30 00:53] #2646 closed

[2019-01-30 05:58] sinhaashish commented on #2608
@marvinholze  where is the CA certificates kept in your setup?

[2019-01-31 10:49] sam701 opened #2669 "Fails to add host on mac os x"
## Expected behavior
`mc config host add kube http://minio.default.svc.cluster.local abc abc` adds host

## Actual behavior
`mc` fails to add a `*.cluster.local` host that is resolved by `/etc/resolver/cluster.local`. The host is reachable by other tools, though.

[code]

## Steps to reproduce the behavior
[code]

## mc version
[code]

## System information
Mac OS X Mojave 10.14.2

[2019-01-31 22:10] kannappanr commented on #2669
@sam701 We will take a look and get back to you with more questions.

[2019-01-31 22:47] wlan0 commented on #2669
Hi @sam701 This issue is because of this bug https://github.com/golang/go/issues/12524 in golang, where the dns resolution fails on osx if the binary is compiled without CGO.

Enabling CGO leads to a plethora of complications in our build process, therefore we do not enable it by default. However, you can fix this issue on your machine by forking this project, and building it with CGO enabled. Her

[2019-02-01 04:54] harshavardhana commented on #2433
You need to update to latest mc to get this fix.

[2019-02-01 05:51] gauravsharma071982 commented on #2433
@harsh , I am really sorry for confusion

Actually, I am already using latest MC and Minio, downloaded today only

Look like mc with watch remove exclude option has problem

I am trying to map zeppelin notebook folder
And zeppelin creates .note temp files while modification of notebook

Somehow in between notebook folder get deleted in minio and if I add few more code to notebook, it get created a

[2019-02-01 18:53] kannappanr commented on #2637
Marking as closed as #2667 has been merged.

[2019-02-01 18:53] #2637 closed

[2019-02-02 00:07] eco-minio opened #2670 "Need better error message for failing to add user when access key is equal to user name"
## Expected behavior
Non critical issue, just filing for better inline help.  When adding a new user, the username cannot be the same as the access key (expected behavior).
[code]
We should be a bit more exact as to the reason, something like "Cannot add new user, username may not be the same as access key"

## Steps to reproduce the behavior
1. `export MINIO_ACCESS_KEY=minio; export MINIO_SECRET_

[2019-02-03 07:57] Praveenrajmani commented on #2670
@kannappanr , I see that this has to be fixed in server code. Shall we move this to `minio/minio`?

[2019-02-04 04:52] harshavardhana commented on #2670
What is the `--debug` output here? @Praveenrajmani

[2019-02-04 05:07] Praveenrajmani commented on #2670
@harshavardhana , i see `400 Bad Request` with `{"Code":"InvalidRequest","Message":"Invalid Request","Resource":"/minio/admin/v1/add-user","RequestId":"158010C3D4C181F8","HostId":"3L137"}
`

![image](https://user-images.githubusercontent.com/5410427/52191079-d6627f80-2868-11e9-83c0-75eba49e95b8.png)

[2019-02-04 16:08] flokli commented on #2652
@kanagarajkm After adding `storage.buckets.list` privileges to the user, minio gateway doesn't complain anymore with the error messages above, but minio-client still assumes the path we want to access to be a bucket.

Let me know if I can help you any further in debugging this.

[2019-02-04 19:31] kannappanr commented on #2645
@sl0n Finally, I was able to reproduce the issue. Here are two endpoints that have the same creds but with a slight difference

[code]

[code]

The alias that is giving a problem has a `/` at the end. Can you confirm if that is the case with you?

[2019-02-04 22:03] kannappanr commented on #2652
@flokli Can you try with the latest version of `mc`?
Also, can try this command and paste the output here

[code]

[2019-02-04 23:57] harshavardhana commented on #2297
Re-opening as I was able to reproduce a behavior where `mc cp` would progress further than the Total amount , this happens upon a retry request progress bar keeps moving forward.

[code]

[2019-02-04 23:58] harshavardhana commented on #2297
Sent the PR https://github.com/minio/minio-go/pull/1070 we need also `mc` change for this.

[2019-02-05 13:55] sl0n commented on #2645
@kannappanr good catch!
Indeed, a trailing "/" in endpoint URL causes the wrong output. I've test it against both Cloudian HyperStore and AWS S3.

[2019-02-05 19:14] harshavardhana commented on #2645
We should remove the ending `/` in the URL for aliases proactively before being populated

[2019-02-06 07:34] fdaone commented on #2327
Hi

I'm still seeing this with RELEASE.2019-01-24T01-40-23Z. Not as often as before, but it still makes the mc process die now and then which is a big pain point for me, since it takes mc mirror DAYS to "catch up" in the sync process (around 20 million small files in total). Fingers crossed that https://github.com/minio/minio/pull/6494 will eventually be merged since having versioning in minio wou

[2019-02-06 08:58] harshavardhana commented on #2327
Assigning this to @vadmeste due the original fix here minio/minio-go#1066

[2019-02-06 20:09] vadmeste commented on #2327
@fdaone I just checked, version RELEASE.2019-01-24T01-40-23Z doesn't contain the fix (it doesn't contain the updated minio-go library), Headers here is causing the issue https://github.com/minio/mc/blob/RELEASE.2019-01-24T01-40-23Z/vendor/github.com/minio/minio-go/api-error-response.go#L56

Please feel free to reopen this issue if you have further questions or you are still seeing the error.

[2019-02-06 20:09] #2327 closed

[2019-02-06 23:18] vadmeste commented on #2576
@philipkozeny I believe this issue is fixed with this PR https://github.com/minio/minio/commit/7b579caf686110d96349ec4e90beacf7eed5af89, please reopen if you still see the issue

[2019-02-06 23:18] #2576 closed

[2019-02-07 18:39] donatello opened #2678 "[Bug] mc accepts only printable characters as encryption keys on the command line"
## Expected behavior

The key should be encoded (to base64) on the command line.

## Actual behavior

The following form cannot be used when the key has non-printables:

[code]

[2019-02-08 01:29] kannappanr commented on #2652
@flokli Did you get a chance to test?

[2019-02-08 05:10] #2645 closed

[2019-02-08 20:29] scottsb commented on #2461
@deekoder @harshavardhana It seems this may have reverted again? Seeing the same behavior:

[code]

[2019-02-08 21:36] harshavardhana commented on #2461
Re-opening to re-test this situation..

[2019-02-11 17:41] vadmeste opened #2682 "Rare crash during mc mirror"
## Expected behavior
No crash

## Actual behavior

[code]

## Steps to reproduce the behavior
This happens when Minio server returns an error during listing,

You can fake the error using the following diff:

[code]

Then mc mirror from source to target where source & target are two different aliases, the server that needs to have a faked error should be the source

## mc version
master

## System

[2019-02-12 04:56] #2644 closed

[2019-02-12 05:55] Praveenrajmani commented on #2670
@nitisht  Shall we close this issue ?

[2019-02-12 05:57] nitisht commented on #2670
Fixed by https://github.com/minio/minio/pull/7190

[2019-02-12 05:57] #2670 closed

[2019-02-12 14:17] vadmeste opened #2684 "Progress bar is not updated properly when uploading a multipart file"
## Expected behavior
Progress bar correctly reflects the update status

## Actual behavior
[code]

## Steps to reproduce the behavior
1. Upload a file of 512 megabytes

## mc version
master

## System information
All

[2019-02-12 15:47] vadmeste commented on #2684
This is the current workaround that I can found:

[code]

This will just ensure that the progress bar won't exceed the previously configured total bytes.

[2019-02-12 20:24] kannappanr commented on #2652
@flokli Closing this issue. Please feel free to re-open the issue, if minio/minio#7156 does not work.

[2019-02-12 20:24] #2652 closed

[2019-02-12 22:28] #2682 closed

[2019-02-13 05:14] sinhaashish commented on #2640
@juv  can you provide the `yaml` file which you are using.

[2019-02-13 06:21] Praveenrajmani commented on #2570
mc works as intended. Regions are bucket level concepts. Please refer to this comment here https://github.com/minio/minio-go/pull/1074#issuecomment-463073603 for more info.

This is not an issue w.r.t mc. It matters on server implementation. The compatible server should honour all the regions in ListBuckets() as minio does.

[2019-02-13 11:27] juv commented on #2640
@sinhaashish I am simply deploying the mc docker image in Openshift.

[code]

Note that the Dockerfile should switch the user context, this is probably the root cause. See here:
https://docs.openshift.com/container-platform/3.10/creating_images/guidelines.html#openshift-specific-guidelines in the section "Support Arbitrary User IDs".

[2019-02-13 19:02] #2684 closed

[2019-02-13 19:24] eborisch opened #2686 "mc mirror (and diff) confused when srcpath/<name>.xyz and srcpath/<name>/ exist"
## Expected behavior
`mc mirror local_dir/ s3dest/bucket/path/to/remote_dir`
...let finish...
`mc mirror local_dir/ s3dest/bucket/path/to/remote_dir`
Expect no changes / resends

## Actual behavior
`mc: <ERROR> Failed to copy 'local_dir/LLS.png\'. Object already exists.`

The `LLS.png` object _does_ exist (shows up in `mc ls ...`; has proper size & hash; can be retrieved) in the remote destination

[2019-02-13 19:33] harshavardhana commented on #2686
// cc @vadmeste

[2019-02-13 21:00] eborisch commented on #2686
This may to be due (in part) to the HCP backend I'm testing against; it is returning directory names in the listings, which I'm guessing is tripping things up:

(the first is against a minio server, the second against HCP)

[code]

Time to go see if there is a config bit to fiddle with....

I would still say this shouldn't result in the behavior above with mirror and diff.

[2019-02-13 21:08] harshavardhana commented on #2686
An S3 incompatible output @eborisch will result in different behavior, we only test with S3 and Minio - other S3 compatible backends may have issues if they diverge from expected behavior.

[2019-02-13 21:11] eborisch commented on #2686
No problem. Sorry for the noise.

[2019-02-13 21:11] #2686 closed

[2019-02-13 21:22] harshavardhana commented on #2686
This is clearly a bug @eborisch in a list operation key can never be empty.

[2019-02-13 21:42] eborisch commented on #2686
Related: is there a way to have mc dump the actual response as part of --debug? It has the header, but not the contents.

[2019-02-13 21:51] eborisch commented on #2686
With `awscli`, I can see that the list operation is returning keys that have values, but when the prefix  (and /) is pruned, it will become empty:

[code]

Not your problem, but for reference. ;)

[2019-02-14 16:47] #2572 closed

[2019-02-14 22:59] luckydonald opened #2688 "Can't install as name clashes"
## Expected behavior
Can install it as a long name like `minio-client`, and only link it as `mc` if not present.

## Actual behavior
[code]
## Steps to reproduce the behavior
[code]

## mc version
None

## System information
Mac OS 10.9.5

[2019-02-14 23:17] harshavardhana commented on #2688
This is expected, you can download the binary here

https://dl.minio.io/client/mc/release/darwin-amd64/mc

And then rename

[code]

Our stand on why we can't change the project name is listed here https://github.com/minio/mc/blob/master/CONFLICT.md

[2019-02-17 04:12] #2635 closed

[2019-02-18 12:05] nikwen commented on #2635
Thank you guys. You are so awesome!

[2019-02-18 21:34] kannappanr commented on #2688
@luckydonald Closing this issue based on the feedback from @harshavardhana . Please feel free to reach out to us if you have other questions.

[2019-02-18 21:34] #2688 closed

[2019-02-19 16:47] eugenedm commented on #2016
That's lame, I used "mc" for 100 years... as midnight commander... now that we have minio... I wish it'd be like "m" or "mmc" or "mcc"... I bet there are a lot of midnight commander users that don't like this name... lol... I love Minio it's awesome, but my brain is confused by all the commands

[2019-02-19 17:37] p-doyle opened #2690 "Error when attempting to transfer from GCP to S3"
I am attempting to transfer a GCP storage bucket to S3 using the following command with the Windows CLI exe:
`mc.exe cp -r gcs/takeout-export-123/ s3/my-bucket/`

It seems to start transferring but then throws this error:

`mc.exe: <ERROR> Failed to copy https://storage.googleapis.com/takeout-export-123/20190215T172254Z/Resource-456/takeout-20190215T172258Z-001.zip. Expires unsupported user define

[2019-02-19 18:00] poornas commented on #2690
Can you run this with --debug flag and post the trace?
`mc.exe cp -r gcs/takeout-export-123/ s3/my-bucket/ --debug`

[2019-02-19 18:50] p-doyle commented on #2690
So I actually had to move --debug to before -r as when I append it to the command I get:
`mc.exe: <ERROR> Unable to guess the type of copy operation. Invalid arguments provided, please refer mc <command> -h for relevant documentation.`

Anyway here is the trace:

[code]

[2019-02-20 02:34] chenyg0911 opened #2691 "Insufficient permissions when delete/cp out..."
use mc to access swift-s3 which support "s3v2".
I can mb, copy file to bucket, but can't rm bucket/file, cp buck/file to local.
The user is swift  account admin user. All permission is OK.
Also test with `s3curl` and `boto` python api with the same user, all oprations is OK.

attach a mcdebug output:
[code]

[2019-02-20 21:58] kannappanr commented on #2691
@chenyg0911 looks like `HEAD` operation on `test/getonly.json` is not supported. `mc` does more inside the `rm` command.

Can you check in your setup if you have permissions to do `HEAD` operation on `test/getonly.json` using other tools like say `boto` or `aws cli` or `s3curl`

We will also see if we can not return when the `head` call fails.

[2019-02-21 00:04] eco-minio opened #2693 "mc mb autocomplete adds additional whitespace"
## Expected behavior
No whitespace should be added after the autocomplete so that you can instantly type the bucket name.
## Actual behavior
When using new autocomplete feature, `mc mb pl<tab complete>` will fill as `mc mb play/ `.  The extra whitespace has to be deleted to add the bucket name.
## Steps to reproduce the behavior
Press tab after autocompleting `mc mb`.
## mc version
[code]
## Syste

[2019-02-21 03:16] chenyg0911 commented on #2691
before delete:
[code]
delete the key use s3-curl:
[code]
run mc check,output is:
[code]

[2019-02-21 03:23] chenyg0911 commented on #2691
pls ignore the different about ip/port, since I run the swift on k8s hold on vagrant vms, and run `mc` on host machine.

[2019-02-21 16:07] harshavardhana commented on #2691
@chenyg0911 as you can see `mc` requires access to HeadObject API - do you have permissions to do Head operation?

[2019-02-21 19:38] eco-minio opened #2694 "mc cp autocomplete does not expand ~/"
## Expected behavior
When using autocomplete for mc commands, ~/ should expand to users home directory
## Actual behavior
Tab autocomplete does not expand ~/
## Steps to reproduce the behavior
`mc cp ~/Down<tab>` to try and expand to /home/user/Downloads
## mc version
[code]
## System information
N/A

[2019-02-21 19:41] eco-minio opened #2695 "mc admin monitor does not autocomplete targets"
## Expected behavior
`mc admin monitor<tab>` should automatically list all target clusters, play/, s3/, etc...
## Actual behavior
Does not automatically expand targets
## Steps to reproduce the behavior
`mc admin monitor<tab>`
## mc version
[code]
## System information
N/A

[2019-02-21 22:43] harshavardhana commented on #2695
This command is GA ready yet I think and going through some changes // cc @wlan0 can fill in

[2019-02-22 03:07] chenyg0911 commented on #2691
I check the swift document on swift, didn't find where to set the Head operation permissions.
BTW, the user is the admin user. I think it has all permissions if swift support.

attach boto-test python code, it work OK.
[code]

[2019-02-22 06:43] harshavardhana commented on #2691
There is no head_object here @chenyg0911

[2019-02-22 22:28] kannappanr commented on #2691
Can you try this ? assuming that you have a bucket named `boto-demo`

[code]

[2019-02-22 23:06] eco-minio opened #2696 "mc shows incorrect number of files transferred until all uploads have completed"
## Expected behavior
mc should show the current file it is transferring
## Actual behavior
mc displays files that have no been transferred yet
## Steps to reproduce the behavior
Create a directory with 100k empty files, e.g., file-000001 - file-100000
`mc cp -r local_foo/ myminio/bucket`.  Within a few seconds it will show it has transferred 99,999 of the files, then hangs.  If you do the same ope

[2019-02-23 17:00] chenyg0911 commented on #2691
Do you mean run these parameters with s3curl?

kannappanr <notifications@github.com>于2019年2月23日 周六上午6:28写道：

[2019-02-23 17:54] harshavardhana commented on #2691
Run these with `aws cli` @chenyg0911

[2019-02-25 02:59] chenyg0911 commented on #2691
Sorry, with aws cli, I can't got how to use "s3v2".

[2019-02-25 06:37] Praveenrajmani commented on #2691
@chenyg0911 You can configure the signature version like this - `aws configure set default.s3.signature_version s3v4`

[2019-02-26 02:53] chenyg0911 commented on #2691
[code]
When I use mc, only s3v2  work, but can't delete and can't copy  out from the server.
mc config:
[code]

[2019-02-26 03:06] harshavardhana commented on #2691
If signature v4 @chenyg0911 is not working then it's bug in your object storage. This doesn't look like our problem.

[2019-02-26 05:59] chenyg0911 commented on #2691
OK.   Thank for your help! I'll try to get help from swift.

[2019-02-26 05:59] #2691 closed

[2019-02-26 20:39] ryjose1 opened #2698 "Include whether a heal is purposefully paused in the base heal output"
## Expected behavior
Running `mc admin heal -r <target>` will have output that will help determine whether minio is hung or is paused on purpose
## Actual behavior
Running `mc admin heal -r <target>` only displays the bucket/object that is up for healing , the objects healed/total, the bytes parsed, the time elapsed, and the ratios of the object's status levels
## Steps to reproduce the behavior
1

[2019-02-27 00:44] kannappanr commented on #2698
@rajose Thanks for filing this issue. We will discuss internally and try to add a status message in case of these sorts of pause.

[2019-02-27 18:09] #2690 closed

[2019-03-04 04:25] kannappanr commented on #2539
Closing this issue as #2614 has been merged.

[2019-03-04 04:25] #2539 closed

[2019-03-05 00:31] deekoder commented on #2568
I will close this and put it in the future milestone.

[2019-03-05 00:31] deekoder commented on #2568
Will reactivate and bring it to current when we work on this.

[2019-03-05 00:31] #2568 closed

[2019-03-05 00:35] kannappanr commented on #2542
closing this issue, as we will be using issues https://github.com/minio/mc/issues/2596 and https://github.com/minio/minio/issues/6801 instead.

[2019-03-05 00:35] #2542 closed

[2019-03-05 00:59] eco-minio commented on #2608
@marvinholze I tested this with latest minio server and mc, it works as expected.  If you have a self signed certificate you will need to add `--insecure`:
[code]
Also, make sure that your cert and key are named public.crt and private.key, and are located in ~/.minio/certs.

[2019-03-05 10:18] vadmeste opened #2702 "rb: Unable to remove an empty bucket"
## Expected behavior
`rb` (Remove bucket) should be able to remove an empty bucket

## Actual behavior
`rb` is not able to remove an empty bucket.

## Steps to reproduce the behavior
[code]

## mc version
All

## System information
All

[2019-03-05 19:47] eco-minio opened #2704 "Error trying to autocomplete via mc when prefaced with time command"
## Expected behavior
mc should gracefully autocomplete or not autocomplete when `time` command is used before mc
## Actual behavior
When you use `time mc cp<tab>`, you see the following error:
[code]
## Steps to reproduce the behavior
Use time before mc then try to autocomplete

## mc version
[code]
## System information
Ubuntu 18.04

[2019-03-07 14:38] p-doyle opened #2707 "Socket timeout when copying large files"
## mc version
Version: 2019-03-06T18:41:35Z
Release-tag: RELEASE.2019-03-06T18-41-35Z
Commit-id: b3229507a94c27ce51cfc7cde6710f26ebb41657

## System information
Win 10 Pro
Version	10.0.17134 Build 17134

I am attempting to transfer 1.63 TB worth of files from GCP to S3 using the following command:
mc.exe cp -r gcs/takeout-export-123/ s3/my-bucket/

After a few minutes I receive a timeout error.  I

[2019-03-07 22:04] kannappanr commented on #2707
@p-doyle We will reproduce this issue and get back to you for more info. but in general it looks like we do not retry on error in this case.

[2019-03-08 11:37] #2702 closed

[2019-03-08 19:15] ebozduman opened #2710 "mc rm <alias/bucket_name> gives user the wrong success impression"
## Expected behavior
`mc rm <alias/bucket_name>` errors out with a meaningful message, like `rm expects an object name or ---recursive option to clean up the whole bucket content`.

## Actual behavior
`mc rm <alias/bucket_name>` does not error out but the following message in green is shown to the user giving the user a wrong impression as if the removal process is successful.
`Removing '<alias/bu

[2019-03-08 19:31] ebozduman opened #2711 "'mc ls <alias> --recursive' does not list empty buckets"
## Expected behavior
`mc ls <alias> --recursive`mc version should list buckets and their contents recursively as well as the buckets that are empty

## Actual behavior
`mc ls <alias> --recursive` lists only the buckets that have objects

## Steps to reproduce the behavior
Create an empty bucket and some buckets with couple of objects in them and run the following command:
`mc ls <alias> --recursiv

[2019-03-09 01:25] kannappanr commented on #2711
@ebozduman Let's discuss internally.

[2019-03-09 01:35] harshavardhana commented on #2711
This is on purpose recursive listing only lists objects

[2019-03-09 11:57] adiospeds opened #2713 "Deleted objects not syncing across servers after mc heal with --remove flag"
## Steps to reproduce the behavior
It seems heal doesn't sync deleted objects on federated cluster.
I stopped minio server on one of my 16 instances (lets call this faulty instance)
then deleted some existing objects from GUI
then turned on the minio server on the faulty instance
then ran the command `mc admin heal -r --remove m2` on the faulty instance
Objects that were deleted throughout the clu

[2019-03-09 12:07] adiospeds commented on #2713
@nitisht confirmed this, by checking locally on his machine.

[2019-03-09 16:10] harshavardhana commented on #2713
Yes this is expected, --remove is only for situations when an object looses quorum or becomes dangling while the heal list is being built.

You don't need --remove dangling entries all you have to do is `mc rm -r --force` it will remove the dangling files.

[2019-03-11 07:17] #2636 closed

[2019-03-11 12:30] adiospeds commented on #2713
So, if I have objects on the faulty server which are deleted throughout the cluster - do I have to manually delete them one by one?
`mc rm -r --force list-of-objects-to-be-deleted`

[2019-03-11 21:31] kannappanr commented on #2713
As of now, `mc -r --force` will only work on a `directory` level within a `bucket`, and if you do not have a directory and if it is just an object under a bucket, this will not work.

[2019-03-11 23:11] ebozduman commented on #2711
I checked `aws s3 ls --recursive` command output, but its design/behavior is completely different than our design and regular ls (Linux/Unix) command design.

Although, our design is also not the same with the common (Linux/Unix) ls command design (listing everything including empty buckets), it is deliberately implemented this way to avoid having 2 versions of ls command, one for regular listing

[2019-03-11 23:11] #2711 closed

[2019-03-12 08:52] bclermont opened #2715 "JSON output broken"
command I run is: `mc ls target/ --json --no-color`

output of version `RELEASE.2019-02-27T18-44-28Z`

[code]

since `RELEASE.2019-03-06T18-41-35Z` output is:

[code]

making it impossible to parse lines, breaking the whole purpose of json output

[2019-03-12 09:56] vadmeste commented on #2715
@bclermont if you redirect the output, such as to a pipe, then you will still have one JSON document per line.

Can you check that and update us if you still face a problem with your use case ?

[2019-03-12 10:19] bclermont commented on #2715
ah you're right... it's annoying because I wanted to parse the output using python.
like that:

[code]

and when I pipe it a buffer and read it, it's broken.

so, I guess I must redirect to a file and read that file...

IMHO,  if the combination of `--json --no-color` it should behave like if there is no tty to write to

[2019-03-12 10:23] vadmeste commented on #2715
@bclermont I am not sure I understand, the python script works as expected, right ?

[2019-03-12 10:27] bclermont commented on #2715
weird, it works now... sorry, close the task

BTW, I use python and json because the admin functions are not available through the golang API :(

[2019-03-12 10:27] #2715 closed

[2019-03-12 16:15] harshavardhana commented on #2715
@bclermont you mean this ? https://github.com/minio/minio/tree/master/pkg/madmin

[2019-03-12 18:37] mp-pinheiro commented on #2589
Hey, sorry for reopening this, but is there a way of using wild cards? Like copying all _.so_ files in a folder, say `cp bucket/*.so path`.

Thankss!

[2019-03-12 21:02] kannappanr commented on #2589
@mp-pinheiro You can do something like this
[code]

[2019-03-13 01:54] bclermont commented on #2715
@harshavardhana I was looking into `minio/minio-go` :(
thank you!

[2019-03-18 09:53] cbluth opened #2719 "Please provide way to configure log output for scripts"
## Context
I use the minio client in scripts, and some of my tasks are very long-running (lots of data to transfer). So, naturally, I want to log the output to a file, something like this `mc <command such as mirror> |& tee -a /path/to/log`. Then, throughout the day, I will periodically check on the log to see how its doing.
Using the `--json` or `-q` arguments makes the output too silent to check

[2019-03-18 10:17] vadmeste commented on #2719
@cbluth what mc command are you running ?

[2019-03-18 10:34] cbluth commented on #2719
I am now running this:

I was running this:

And this:

^ all of these produce logs that are unreadable.

[2019-03-18 10:53] vadmeste commented on #2719
This works for me, are you saying that you fixed the issue?

[2019-03-19 00:35] kannappanr commented on #2698
@rajose Sorry for getting back late. We do not have a pause as such in heal. It is just that when I/O activity happens, like putobject and getobject calls, I/O activity gets precedence. Let us say we send a status message saying that it is paused, by that time it would have resumed healing, so you will end up seeing a lot of these messages.

[2019-03-19 12:13] cbluth commented on #2719
The issue still persists. Please see the context section of the issue.
The logs are awful.

[2019-03-19 13:53] guettli commented on #873
you think this is a solution:

    mv ./mc mcli

This is creating work for everybody - let's fight unemployment.  (joke)

This is just a work-around.

Please provide a unique name from upstream.

The current name `mc` creates confusion and will lead to several solution. DistroX will call it "foo" and distroY will call it "bar", abcBSD will call it "blabla".

The midnight commander was here before.

[2019-03-19 14:00] guettli commented on #2016
@harshavardhana #873 does not contain a solution

[2019-03-19 14:03] guettli commented on #2260
Wow, this is already the third ticket about the same ticket. Let's fight unemployment and create work by creating confusion. Dear minio creators: please think about this again. If you want `mc` then you can create an alias for your. I think the current name conflict can only be solved by minio devs by choosing a different name.

[2019-03-19 15:56] harshavardhana commented on #2260
@guettli the ship has sailed on that, mc will remain as mc.

[2019-03-19 19:27] kannappanr commented on #2719
@cbluth Can you please try with the `-q` flag?

Here is a sample output
[code]

If not can you let us know how you would expect the output to be, I can go over it internally and get back to you.

[2019-03-21 18:54] hosnas opened #2721 "how to mirror or copy files based on checksum"
Sorry If I'm asking this question in the wrong place.

I want to transfer files based on checksum (not based on modification time or size) . What should I do to achieve this? I checked the normal behavior and it didn't compare checksum while transferring files.

[2019-03-21 19:56] atomi opened #2722 "do not edit user configuration files without notifying user/confirmation"
## Expected behavior
don't edit user configuration files without explicit confirmation

## Actual behavior

adds
[code]

to `.zshrc`

## Steps to reproduce the behavior
run mc

## mc version
- (paste output of `mc version`)

## System information

guys this is no bueno.

[2019-03-21 21:48] harshavardhana commented on #2721
It's not possible our behavior is similar to `aws sync`  - modtime and size are used to compare and copy.

[2019-03-21 21:55] hosnas commented on #2721
@harshavardhana  not possible at all? or its not implemented yet? cause s3cmd and rclone can simply do it.
I was very disappointed by this behavior. I transferred a folder to my bucket. them copied that folder to another place in my local then tried to transfer the copy to same bucket. All files were transferred again just because modification times were altered.

[2019-03-21 22:38] harshavardhana commented on #2721
Checksum involves downloading data on both ends, mc is not just about copying from local folder  to object storage. But copying PetaByte worth of contents from one object storage to another so technically it's not feasible.

S3cmd and rclone are good alternatives here.

[2019-03-21 22:38] #2721 closed

[2019-03-22 14:58] juv commented on #2640
any update?

[2019-03-22 23:41] kannappanr commented on #2722
@atomi Thanks for filing this issue. Will change the behavior to ask for confirmation before adding it.

[2019-03-23 13:15] hosnas opened #2724 "ignore timestamp checking"
Is there a way to ignore timestamp checking in cp or mirror? I didn't find anything in logs.

[2019-03-24 01:21] Gandalf- opened #2725 "Fish tab completion string error when extra '-' in command line"
## Expected behavior
Tab complete in Fish succeeds when additional dashes are present in the command line.
For instance `mc cp -r --newer-than <TAB>`

## Actual behavior
[code]

## Steps to reproduce the behavior
Please see previous

## mc version
- mc version RELEASE.2019-03-20T21-29-03Z

## System information
- fish, version 3.0.0
- Linux sitka 4.4.0-142-generic #168-Ubuntu SMP Wed Jan 16 21:00:

[2019-03-25 05:12] kannappanr commented on #2725
@Gandalf- Thanks for the PR. Will review it and merge it.

[2019-03-25 06:14] kannappanr commented on #2724
@hosnas Can you explain your issue in more detail and give some example.  Let's say if you are talking about `cp`, can you give examples, so that it is easier to understand for us.

[2019-03-25 06:31] hosnas commented on #2724
@kannappanr I'm using jekyll for my website. And I use minio to host the assets. Everytime I'm building my jekyll website, all of the files would be populated in the build folder. So all modification time of the files are changed. In this case I can rely on the file size to not upload everything again to minio. So I need an option to ignore modification time and only upload files to my minio bucke

[2019-03-25 07:17] harshavardhana commented on #2724
@hosnas Jekyll shouldn't be modifying modTime on all files only which it did modify. Now if it did modify why shouldn't it be copied?

[2019-03-25 08:08] hosnas commented on #2724
@harshavardhana but I think it does according to this blog post:
https://nathangrigg.com/2012/04/rsyncing-jekyll
Even if it doesn't, modification time is something that could be changed easily. For example lets say I clone my repository to another system and want to build my website, etc.

[2019-03-25 08:40] harshavardhana commented on #2724
It's not something that can be changed easily, even `size` change changed easily for a file appending a single byte at the end.  That is not a correct example @hosnas `git clone` preserves times.

[2019-03-25 08:54] hosnas commented on #2724
Are you sure? As far as I can see It changes mtimes and also I found [this question](https://stackoverflow.com/questions/21735435/git-clone-changes-file-modification-time) that confirms it. What I'm missing here? :thinking:

[2019-03-25 09:22] perrywang opened #2728 "Not working behind http_proxy or HTTP_PROXY settings"
## Expected behavior
working with http_proxy HTTP_PROXY settings
## Actual behavior
with http_proxy execute
mc ls play
mc: <ERROR> Unable to list folder. Get https://play.minio.io:9000/: Forbidden
if no environment variables all things work well
## Steps to reproduce the behavior
1. set http_proxy or HTTP_PROXY
2. execute ms ls play
## mc version
- (paste output of `mc version`)
Release-tag: RELEA

[2019-03-25 09:31] harshavardhana commented on #2728
Can you provide --debug output?

[2019-03-25 09:40] perrywang commented on #2728
mc: <ERROR> Unable to list folder. Get https://play.minio.io:9000/: Forbidden
 (1) ls.go:135 cmd.doList(..) Tags: [https://play.minio.io:9000/]
 (0) client-s3.go:1793 cmd.(*s3Client).listInRoutine(..)
 Commit:3ea090fe18dd | Release-Tag:RELEASE.2019-03-20T21-29-03Z | Host:aio-test-1 | OS:linux | Arch:amd64 | Lang:go1.11.4 | Mem:3.9MB/72MB | Heap:3.9MB/67MB

[2019-03-25 10:16] harshavardhana commented on #2728
This looks like your proxy is rejecting the request @perrywang - does your proxy support TLS?

[2019-03-25 20:52] vadmeste opened #2729 "mc completion is not working on macOS"
## Expected behavior
mc bash completion should be working on macOS

## Actual behavior
mc bash completion is not working on macOS

## Steps to reproduce the behavior
Download and run mc, open a new terminal.

## mc version
All

## System information
All

[2019-03-26 04:07] kannappanr commented on #2728
Ping @perrywang

[2019-03-26 04:58] perrywang commented on #2728
sure to support TLS. Actually it is my daily generic proxy I am using it on browser and any other tool npm, curl, yum

[2019-03-26 05:09] harshavardhana commented on #2728
Looks like it's rejecting the calls, does your proxy support HTTP 2.0 ? If not mc will not work for you.

[2019-03-26 21:07] deekoder commented on #2601
This is something we will do in the future.

[2019-03-26 21:07] #2601 closed

[2019-03-26 21:10] deekoder commented on #2625
@Ricordel we don't have cycles right now to take this on. I am keeping it in future milestone and will reactivate after we are done with our current priorities.

[2019-03-26 21:10] #2625 closed

[2019-03-26 21:13] deekoder commented on #2696
@eco-minio  we will work on this in the future after we are done with our current priorities. I will put it in future and reactivate it when we have more bandwidth to take this on.

[2019-03-26 21:13] #2696 closed

[2019-03-26 21:45] kannappanr commented on #2724
@hosnas What is the maximum object size? If you are using `mc` and the object sizes are guaranteed to be less than `64MB` and assuming that you are not doing `SSE-C` encryption, then you can do `md5sum` of the objects locally and then get the `ETag` of the corresponding objects from the server and compare them.

[2019-03-27 05:59] hosnas commented on #2724
@kannappanr my objects are mostly less than 64MB. But not all of them. I'm curious to know how that could be done?

As far as I searched, mc was first based on filesize only. later modificationtime was added to it. If we were able to choose it optionally, that would have been great.

[2019-03-27 06:13] kannappanr commented on #2724
I don't think `mc` would handle this, as this is a very specific use case. You will have to write a small program/shell script to do this.

There are some assumptions being made here, which is you uploaded your objects only via `mc`.

[2019-03-29 01:10] sinhaashish commented on #2710
We can close this issue as [PR](https://github.com/minio/mc/pull/2700) caters this issue.
The new error message `Target <<server_alias/bucketname>> not found`  is much apt than the earlier message which was `Removing '<alias/bucket_name>`.

[2019-04-01 07:09] nitisht commented on #2710
fixed by https://github.com/minio/mc/pull/2700

[2019-04-01 07:09] #2710 closed

[2019-04-01 16:51] kfergiani opened #2737 "`mc mirror --watch` does not copy files of size 0 bytes"
## Expected behavior
All new files are copied from one minio instance to the other
## Actual behavior
Files of size 0 bytes are not copied
## Steps to reproduce the behavior
Run `mc mirror --watch cluster1 cluster2` and upload a 0 byte file to cluster1. Observe that the new file is not present on cluster2
## mc version
- (paste output of `mc version`)
Version: 2019-03-28T20:43:56Z
Release-tag: REL

[2019-04-01 18:08] poornas commented on #2737
@kfergiani , wasn't able to repro this with the mc version above. Can you rerun ```mc mirror --watch --debug cluster1 cluster2``` with --debug flag and then retry the mc cp of zero byte file?  It would be useful to see the trace and double check that the 0-byte file is listed on cluster1 as well.

[2019-04-02 05:36] perrywang commented on #2728
Is proxy supporting http 2.0 mandatory？ Can I bypass this with any workaround? Currently I temporally unset these environments before using client. If no this can be closed.

[2019-04-02 05:46] harshavardhana commented on #2728
It's not possible, because of https requirement.

[2019-04-02 05:51] #2728 closed

[2019-04-02 05:51] perrywang commented on #2728
thanks for patience and closing.

[2019-04-02 09:17] cbluth commented on #2719
I ended up changing it a bit and i am now using `s3fs` and `rsync`, it provides logs good enough for me to use.

[2019-04-02 09:17] #2719 closed

[2019-04-02 09:52] kfergiani commented on #2737
![Screenshot 2019-04-02 at 10 44 50](https://user-images.githubusercontent.com/23742930/55393185-acf66500-5534-11e9-8284-45b3f0802038.png)
In the rightmost window I have the UI for cluster1, in the middle window I have the UI for cluster2 and in the iterm window I have the `mc mirror` command that I'm going to run

![Screenshot 2019-04-02 at 10 45 11](https://user-images.githubusercontent.com/2374

[2019-04-03 06:59] harshavardhana opened #2740 "Choose default CSV input options if not provided"
## Expected behavior
[code]
# Actual behavior
[code]
# Steps to reproduce the behavior
Already pasted above. We should choose sane defaults for CSV input when no input params are provided.

## mc version
master branch

## System information
master branch on Linux

[2019-04-03 07:48] harshavardhana commented on #2722
This is super annoying - each `functional-tests.sh` run is adding new `mc` into my .bashrc @vadmeste

[2019-04-03 09:01] vadmeste commented on #2722
oh I see.. because mc is in different location each time you run the functional-tests.sh

@kannappanr did we get any confirmation that we should add a flag to enable/disable bash completion ?

[2019-04-03 13:01] #2740 closed

[2019-04-03 15:15] #2737 closed

[2019-04-03 15:20] harshavardhana commented on #2722
Yes we do @vadmeste, we need to prompt if not installed already.

We should have an option to disable the prompt such that it doesn't add automatically.

[2019-04-07 15:21] Kenvelo90 commented on #2707
I'm experiencing the same issue for large files (~10g)
can we configure the timeout? @kannappanr

[2019-04-07 19:58] harshavardhana commented on #2707
What is the server here ?

[2019-04-07 20:45] Kenvelo90 commented on #2707
@harshavardhana
google storage to S3

[2019-04-07 21:33] fcomte commented on #2444
Will you support this feature?

[2019-04-07 23:35] kannappanr commented on #2609
Closing this issue as stale. Please feel free to reach out to us, if you still face this issue with your Ubuntu setup

[2019-04-07 23:35] #2609 closed

[2019-04-09 20:16] kannappanr commented on #2724
@hosnas Closing this issue. Please feel free to reach out to us if you still have further questions.

[2019-04-09 20:16] #2724 closed

[2019-04-10 21:29] kannappanr opened #2744 "Replace Minio with MinIO and minio.io and min.io"
*** not using standard template ***

replace `minio.io` with `min.io` and `Minio` with `MinIO` and be consistent with other repos. PR #2742 did not do this in the `.go` files.

[2019-04-13 14:57] hosnas commented on #2724
@kannappanr I still believe this should be possible and regard it as a feature request. many other programs have it. for example rclone have it with this flag:

      --size-only                                    Skip based on size only, not mod-time or checksum

in rclone if we add this flag to sync command, it will skipp based on only size.

[2019-04-13 22:03] kannappanr commented on #2724
@hosnas I can check once more with the team and get back to you.

[2019-04-16 17:31] harshavardhana opened #2746 "mc rm does not remove a valid object"
## Expected behavior
mc rm succeeds

## Actual behavior
mc rm fails even if the file exists.

[code]

[code]

## Steps to reproduce the behavior
Just use the latest master
## mc version
master

## System information
Linux

[2019-04-16 17:32] harshavardhana commented on #2746
Along with this `mc stat` is also failing

[code]

[2019-04-16 17:38] harshavardhana commented on #2746
Easy to reproduce

[code]

[code]
[code]
[code]

[2019-04-16 21:06] crcjs opened #2747 "mc sql returning more records than exist in the file parking-citations.csv"
## Expected behavior
The file parking-citations.csv has records for parking citations in Los Angeles.
1 record where Make=AURO
17 records where Make=BENT
9 records where Make=ROL

## Actual behavior
$ mc sql --query "select count(s.Make) from S3Object s where s.Make = 'AURO'" myminio/spark-test/parking-citations.csv
1

$ mc sql --query "select count(s.Make) from S3Object s where s.Make = 'BENT'" m

[2019-04-16 21:21] #2747 closed

[2019-04-17 03:44] #2746 closed

[2019-04-17 05:31] #2744 closed

[2019-04-17 05:41] sanverm2 opened #2749 "mc rm command is not working with latest docker image minio/mc:RELEASE.2019-04-10T22-11-28Z"
## Expected behavior

The command  `mc rm  test/sanjay` must delete the bucket.

## Actual behavior

[code]

## Steps to reproduce the behavior

Launch mc pod on Kubernetes environment

[code]

Logon to mc po and connect to Minio server running with
minio/minio: RELEASE.2019-04-09T01-22-30Z image

[code]

## mc version
[code]

## System information

Kubernetes cluster

[code]

[2019-04-17 05:47] nitisht commented on #2749
This is know and should be fixed with https://github.com/minio/mc/pull/2748

Can you confirm using the `minio/mc:edge` image @sanverm2

[2019-04-17 05:48] nitisht commented on #2749
Duplicate of #2746

[2019-04-17 05:56] kannappanr commented on #2749
@sanverm2 please use `mc rb test/sanjay` to delete an empty bucket and `mc rb --force  test/sanjay` to delete bucket with all the objects inside it.

[2019-04-17 05:57] kannappanr commented on #2749
`mc rm` does not delete buckets anymore. This has been the case for the last few releases

[2019-04-17 05:58] kannappanr commented on #2749
Closing this issue now. Please try `minio/mc:edge` as suggested by @nitisht . Please feel free to get back to us if you have further questions

[2019-04-17 05:58] #2749 closed

[2019-04-17 06:30] vooon opened #2750 "MC should not modify my .zshrc without special permission"
## Expected behavior
Program asks to install or not completion.
And if it is allowed to install, it should use correct binary name.
Because this mc conflicts with Midnight Commander i renamed binary to `minio-mc`, but completion is set for `mc`.

## Actual behavior
Program writes to shell rc file without any approval.
Always uses `mc` name for completion.

## Steps to reproduce the behavior
Run an

[2019-04-17 10:23] chernykhse opened #2751 ""mc mirror" "mc cp -r" do not copy from bucket with a large number of files. Minio Distributed Mode"
## Expected behavior
Files start to copy to destination.
## Actual behavior
the program looks hung, left for a day, copied 200 files, out of more than half a million
## Steps to reproduce the behavior
1. Make a minio cluster of 14 disks and 7 servers.
2. Upload more than half a million files of 300Kb to baket
3. launch MC MIRROR to a folder or in another cluster
## mc version
- (paste output of `m

[2019-04-17 14:59] cfoisy-osisoft opened #2752 ""mc mirror --overwrite" overrides GetObject+ListBucket permissions"
## Expected behavior

A user with GetObject+ListBucket permissions on bucket should be allowed only to mirror only in one direction, from the bucket to local filesystem

## Actual behavior

If mirroring is attempted towards the bucket, mc says the operation cannot be done (which is OK) but also mentions "Use `--overwrite` to override this behavior." Adding --overwrite to the command line works, th

[2019-04-17 16:19] harshavardhana commented on #2750
Duplicate of #2722

[2019-04-17 19:03] crcjs opened #2753 ""mc cp" and "mc mirror" report "Insufficient permissions to access this file ...""
## Expected behavior
Pointing the "mc cp" or "mc mirror" command to a local directory that doesn't exist.
The "mc cp" command should report that the target doesn't exist.

## Actual behavior
$ mc cp /Users/Administrator/Documents/source/newark.jpg /myminio/target
mc: <ERROR> Failed to copy `/Users/Administrator/Documents/source/newark.jpg`. Insufficient permissions to access this file `/myminio/ta

[2019-04-17 19:07] kannappanr commented on #2752
@cfoisy-osisoft What version of `minio` are you using? What mode is minio running in? Is it `Azure Gateway` or `Distributed`?

[2019-04-17 19:17] cfoisy-osisoft commented on #2752
@kannappanr minio image tag is RELEASE.2019-04-09T01-22-30Z, mode is standalone, using a cluster PVC for storage. Just in case, here is the helm command: helm install -f values.yaml --name minio stable/minio. Customization are only: accessKey, secretKey, size, ingress.

[2019-04-17 20:09] kannappanr commented on #2751
@chernykhse We think it might have something to do with your MinIO setup. Is this on the same setup where you are facing this issue https://github.com/minio/minio/issues/7510

[2019-04-18 03:50] chernykhse commented on #2751
yes, it is the same setup.

But the problem with the mirror and copying is only on 1 bucket, in others, where there are many folders with files, mirroring takes place at a normal speed.
In addition, downloading a specific file in this bucket is fast.
The problem appears when trying to mirror or copy the entire folder with a huge number of files.

[2019-04-18 16:17] crcjs opened #2754 "mc config help output does include "host" or "add""
## Expected behavior
Two issues:
1) the USAGE line should include "host" as part of the example
2) the COMMANDs line should include "add" as part of the list of commands

USAGE:
  mc config host COMMAND [COMMAND FLAGS | -h] [ARGUMENTS...]

COMMANDS:
  list, add, modify, and remove in the configuration file.

## Actual behavior
$ mc config
NAME:
  mc config - configure minio client

USAGE:
  mc con

[2019-04-18 16:25] harshavardhana commented on #2754
[code]

add, delete are sub-commands provide their own docs. So we don't repeat them at top level.

[2019-04-18 16:34] crcjs commented on #2754
I was trying to add a new host and I couldn't find the syntax for the
command. How am I supposed to know that these commands exist if they aren't
in the help file?

Cheers,
Christopher Slater
m: 408-599-9103

On Thu, Apr 18, 2019 at 9:25 AM Harshavardhana <notifications@github.com>
wrote:

[2019-04-18 16:39] harshavardhana commented on #2754
They are `mc config` says `host` is the subcommand

[code]
mc config host
...
COMMANDS:
  add, a      add a new host to configuration file
  remove, rm  remove a host from configuration file
  list, ls    list hosts in configuration file
[code]

[2019-04-18 17:07] crcjs commented on #2754
Yes, the documentation shows the add command. Why can't the online help use the same text?

USAGE:
  mc config host COMMAND [COMMAND FLAGS | -h] [ARGUMENTS...]

COMMANDS:
  add, a      add a new host to configuration file
  remove, rm  remove a host from configuration file
  list, ls    lists hosts in configuration file

[2019-04-18 17:13] harshavardhana commented on #2754
I am unable to understand what is the problem here.

[2019-04-18 18:11] kannappanr commented on #2754
Closing the issue as answered.

[2019-04-18 18:11] #2754 closed

[2019-04-18 21:36] poornas commented on #2752
@cfoisy-osisoft, checked mc behavior when GetObject/ListBuckets permissions is given to a user on a bucket and user attempts to mirror content towards the bucket.

Currently, mc client is ignoring permission denied errors and not reporting it on the progress bar - this makes it look like the mirror operation is a success. However, the upload does not complete because server enforces the user polic

[2019-04-18 22:47] poornas commented on #2753
@crjcs, target in this case is the filesystem - so returning target doesn't exist wouldn't be accurate.

Insufficient permissions is being returned only because you are attempting to copy to a destination under root dir "/" which is restricted

[2019-04-18 23:05] cfoisy-osisoft commented on #2752
@poornas It's good to read that the server always did the right thing. I just trusted mc progress bar and never bothered to check the target bucket.

[2019-04-19 19:43] stokowski opened #2756 "Mirror/sync hangs when event server gets timeout"
Minio pauses mirrors/syncing when event server endpoint is getting timeout.

## Expected Behavior
Unstable event server/endpoint shouldn't affect minio operations (syncing, mirrors etc).

## Current Behavior
When syncing buckets uploads hangs for about 1 minute (after this time ES is sending timeout). Only 1x-4x files during this time is copied, then pause, and next files are send.

## Possible So

[2019-04-19 23:10] kannappanr commented on #2756
@stokowski Thanks for filing this issue. Will reproduce this issue and get back to you if we have questions.

[2019-04-22 08:07] hosnas commented on #2724
@kannappanr  any news?

[2019-04-22 19:22] #2752 closed

[2019-04-23 21:14] crcjs opened #2758 "Return code from "mc admin policy list fdsfdsfds" is 0 even when policy doesn't exist"
## Expected behavior
provide a return code to confirm a policy doesn't exist.

## Actual behavior
I'm trying to find out if a policy exists or not with the `mc` client tool.

C:\Users\user>mc admin policy list minio
readonly
readwrite
writeonly

C:\Users\user>echo %errorlevel%
0

C:\Users\user>mc admin policy list minio fdasfdas
fdasfdas

C:\Users\user>echo %errorlevel%
0

The policy fdasfdas does

[2019-04-23 23:26] kannappanr opened #2759 "Modify `mc policy` command to be consistent"
Modify `mc policy` commands to reflect examples outlined here

EXAMPLES:
   1. Set bucket to "download" on Amazon S3 cloud storage.
     $ mc policy set download s3/burningman2011

   2. Set bucket to "public" on Amazon S3 cloud storage.
      $ mc policy set public s3/shared

   3. Set bucket to "upload" on Amazon S3 cloud storage.
      $ mc policy set upload s3/incoming

   4. Set a prefix to "

[2019-04-25 11:29] vadmeste commented on #2722
I think it is ugly for a user to add a flag to avoid the prompt if he just doesn't like to install the completion, so we actually need to save the user choice in config.json,

Let's discuss this ASAP

[2019-04-25 11:44] marvin0815 opened #2761 "Deletion of non-existing object shows an error"
## Expected behavior
Exit with notice and exit code 0
## Actual behavior
mc: <ERROR> Failed to remove `host/bucket/object` recursively. Object does not exist

## mc version
- (paste output of `mc version`)
Version: 2019-04-24T00:09:41Z
Release-tag: RELEASE.2019-04-24T00-09-41Z
Commit-id: ecdeb3934d8297170c508140d08a9730f16d8440
## System information
N/A

The intention of `rm` is the deletion of ob

[2019-04-25 12:20] vadmeste commented on #2761
@marvin0815 I think some people would say they still want to be alerted when that object is not there. I think it is better to follow the behavior to the standard linux 'rm' command here

[2019-04-25 13:54] marvin0815 commented on #2761
Agreed, and like you said, mc should not complain about missing objects when using --force as `rm` does.

[2019-04-25 19:51] donatello opened #2762 "Add STS support via new `mc sts` command"
** Not using template **

Based on discussions with @abperiasamy we will be adding a new command to mc for the STS API. This will let users gain access to a Minio instance after being authenticated by an external identity provider (such as Kerberos).

[2019-04-25 20:41] #2758 closed

[2019-04-25 20:54] kannappanr commented on #2761
@marvin0815 Thanks for filing this issue, will see if we can return `no error` in the case of `--force` flag.

[2019-04-25 23:32] poornas commented on #2756
@stokowski, this issue should be mitigated by PR https://github.com/minio/minio/pull/7564 which brings in a persistent event store.

[2019-04-26 11:59] vooon commented on #2722
You may add subcommand to install completion.

[2019-04-26 14:18] stokowski commented on #2756
Great, for sure I will test it.

[2019-04-30 14:13] radlwadl opened #2763 "mc mirror --watch ignores files owned by other user"
## Expected behavior
"mc mirror --watch" should sync all files, even owned by other users than the one which runs the mc command

## Actual behavior
After starting "mc mirror --watch" all files in source directory are synced to target, no matter by which user the source files are owned. File permissions are 644 for all files.
When creating a new file by a user which is not the user that runs the "

[2019-04-30 15:38] vadmeste commented on #2763
@radlwadl, userB doesn't have full access to source directory

Try this `sudo -u testuser md5sum /path/to/source-directory/file`, you should have permission denied.

So mc mirror, ran as userB, won't be really able to mirror.

Are you saying the mc is not showing any permission error message ?

[2019-04-30 15:54] radlwadl commented on #2763
@vadmeste
Due to a lot of restrictions here in the I'm currently not able to use "sudo" as I want to.
A `md5sum /path/to/source-directory/file` executed under the user which runs the mc gives no error and calculates the md5sum as it should.

UserB, which runs the mc is also member of GroupA. So UserB has full access (rwx) to source directory by its group policy - kindly excuse, I didn't mention th

[2019-04-30 16:08] vadmeste commented on #2763
@radlwadl I tested locally and it seems to work.

`mc mirror -w` from local directory to play/vadmeste/ ran by userB who has access to the local direcotry

I executed `touch local_directory/newfile` with userA

By the way, mc mirror -w won't overwrite existing files unless --overwrite flag is passed, are you sure you are not overwriting an existing file during your test ?

[2019-04-30 16:16] radlwadl commented on #2763
@vadmeste I'll leave now, and will proceed on Thursday.
I can say, that I don't try to overwrite files.
Ah, another detail: source-directory is a NFS mounted NAS filesystem. But this shouldn't make any difference as both the users have full access to the source-dir...

[2019-04-30 16:17] harshavardhana commented on #2763
fsnotify might not be supported on NFSv3

[2019-04-30 16:22] vadmeste commented on #2763
@radlwadl could you please try your experiment with a normal folder and update us ? that would be a lead for us to investigate further.

[2019-05-01 21:45] kannappanr commented on #2608
@marvinholze Closing this as stale and working as intended. Please feel free to reopen the issue if you feel otherwise.

[2019-05-01 21:45] #2608 closed

[2019-05-02 12:01] radlwadl commented on #2763
@vadmeste @harshavardhana
It's very likely that it's really connected to the NFS exported filesystem. Tried the same with the same users and directory/file permissions and the file created with a user != the mc running user was copied right after creating it.
I'm currently asking for the exact NFS version that's used at our fileservers.

[2019-05-02 16:51] miketheknife opened #2766 "mc cp selective local files not working"
## Expected behavior
Copy selective from local filesystem for remote minio instance

## Actual behavior
Getting error message
"Unable to validate source C:\Users\mike\Documents\meshmixer\autosave\\*.mix"

## Steps to reproduce the behavior
mc cp  C:\Users\mike\Documents\meshmixer\autosave\\*.mix mynfs/random

- I can list the local files in the directory using "mc ls"
mc ls C:\Users\mike\Documents

[2019-05-02 17:18] #2761 closed

[2019-05-02 20:41] kannappanr commented on #2766
@miketheknife Thanks for filing this issue. We will take a look at it.

[2019-05-03 09:34] radlwadl commented on #2763
Update2:
The problem still concerns only those files which are not created by the user which runs the mc process.
Files created by the user that runs the mc process (using --watch) are copied to the target even they're stored on a NFS mounted filesystem.
Kindly excuse this little bit confusing issue report...

[2019-05-06 07:25] sinhaashish commented on #2766
@miketheknife  This perfectly works fine with Linux, Will check with windows box and update.

[2019-05-08 08:20] hosnas commented on #2724
@kannappanr any news?

[2019-05-08 17:01] maxnordlund commented on #2722
This is also true for bash_profile and fish/completions/mc.fish. If you have completions, distribute them using the standard method. For homebrew on Mac OSX that is:

[code]

For an example see `brew info hub` that installs in all three locations.

[2019-05-09 20:50] kannappanr commented on #2722
We talked about it internally. We feel that `auto-completion` is useful for most of the users.

So, we will provide advanced users an option to not set auto completion when `mc` is run.

We will be adding an option called `--no-complete`, similar to `--no-color`. When you run `mc` with this option, it will not modify user configuration file.

If this flag is not set, we will notify the user that `

[2019-05-09 20:53] kannappanr commented on #2750
@vooon Closing this issue as duplicate of #2722 . The status can be tracked in issue #2722 . Please feel free to reach out to us if you have further questions.

[2019-05-09 20:53] #2750 closed

[2019-05-09 21:10] maxnordlund commented on #2722
So I need to include that flag for every invocation? If so, might I suggest to add it as a config option as well.

Also, I'm totally for auto-completion, just not modifying user config files<sup>1</sup>. There are ways to distribute completion scripts for the three shells as listed above, which would be great, since it also enables auto-completion on the first invocation, not the second.

<sup>1</

[2019-05-10 08:01] changshunwang opened #2770 "<ERROR> Unable to list folder. Missing fields in request."
I added a host by
`./mc config host add minio http://localhost:31311 <access key> <secret key> --api S3v2`
and can see host config using `./mc config host list`

BUT, when I try to list the server, or add bucket or anything else. I got the same error:
`mc: <ERROR> Unable to list folder. Missing fields in request.`

Here is the debug detail:

and I not sure whether the accesskey and secretkey shoul

[2019-05-10 09:08] #2770 closed

[2019-05-13 20:46] #2570 closed

[2019-05-13 20:53] kannappanr commented on #2713
@adiospeds Closing this issue now. Please let us know if you need further clarification.

[2019-05-13 20:53] #2713 closed

[2019-05-13 20:57] kannappanr commented on #2698
Closing this issue as answered. Please feel free to reach out to us if you have further questions.

[2019-05-13 20:57] #2698 closed

[2019-05-14 07:41] Praveenrajmani commented on #2495
@kalleyne @deekoder We do a parrallel upload for each object ( It does not sequentially stream the objects in order ). The progress bar will work in common for all the uploads. As in parallel uploading, the last file/object will always be set as the title for the progress bar. So, it is expected to work like this. And it is infeasible for such feature in the current implementation (since the uploa

[2019-05-14 14:12] poksiala opened #2771 "Add --ignore-existing to bucket notification event creation"
## Expected behavior
It would be great benefit to minio deployment automation if we could ignore `event add` errors that are caused by the rule already existing like we can ignore bucket already existing
[code]
## Actual behavior
[code]

## Steps to reproduce the behavior
Add same event rule twice to single bucket

## mc version
Version: 2019-05-01T23:27:44Z
Release-tag: RELEASE.2019-05-01T23-27-4

[2019-05-14 16:31] kannappanr commented on #2771
@poksiala Will talk about this internally and get back to you.

[2019-05-14 22:08] ebozduman commented on #2461
@scottsb, @Paic,
I've tried to reproduce this issue, but with our latest code base, version shown below, and `mc cp` worked just fine.
Version: 2019-05-02T18:46:11Z
Release-Tag: DEVELOPMENT.2019-05-02T18-46-11Z
Commit-ID: 4b858b562a0887e10bfd0414dc87e68f1af31c3a

Please let us know more information about your setup and how to reproduce the issue, so that we can have a chance to fix the problem.

[2019-05-15 09:48] Paic commented on #2461
Our problem came from a tool using mc client for S3 upload. I've checked which version the docker image `stefanprodan/mgob:0.10` use :
[code]

This version has the bug.

In a more recent docker image (1.0), the version installed is
[code]

The bug is still present.

[2019-05-15 14:45] pkleanthous opened #2772 "mc.exe rm can't find the object"
When I'm using mc on a Unix system it can delete an object. On a Windows host, it can't find the same object

## Expected behavior
It should delete the object.

## Actual behavior
### On a Windows host
[code]
### On a Unix host
[code]

## Steps to reproduce the behavior
Run mc.exe rm in a windows system

## mc version
mc.exe version RELEASE.2019-05-01T23-27-44Z

## System information
Windows 10

[2019-05-15 15:18] nitisht commented on #2772
Thanks for reporting @pkleanthous we'll take a look

[2019-05-15 15:24] pkleanthous commented on #2772
I have a workaround for this issue.

Use Backslash instead of Forward Slash

[code]

[2019-05-15 16:40] harshavardhana commented on #2461
Looks the version used on your end is old @Paic

[2019-05-17 14:21] pkleanthous opened #2775 "mc operations are slow some times"
## Expected behaviour
When I'm using mc client on mac or linux sometimes the operation is very fast 1 second some times is very slow 1 minute for the same operation. I have observed this behaviour with `ls` and `cp` commands
## Actual behavior

Fast
[code]

Slow
[code]
## Steps to reproduce the behaviour

## mc version
mc version
[code]
## System information
minio runs on ubuntu 18.04 VM

[2019-05-17 14:48] nitisht commented on #2775
Do you have any other network activity ongoing @pkleanthous in parallel?

[2019-05-17 14:51] pkleanthous commented on #2775
@nitisht No, I don't.

I think is somehow related to nginx as I have removed it from the middle and the problem stopped.
The nginx is setup as minio cookbook describes here: https://docs.min.io/docs/setup-nginx-proxy-with-minio.html

[2019-05-17 14:55] nitisht commented on #2775
can you add `proxy_http_version 1.1;` in your Nginx config, like https://github.com/minio/minio/issues/7661#issuecomment-493401567

[2019-05-17 15:07] pkleanthous commented on #2775
yeah that nginx.conf works.

Thanks @nitisht !

[2019-05-17 17:25] kannappanr commented on #2775
@pkleanthous Closing this issue as answered. Will update our docs to reflect this in the nginx config file.

[2019-05-17 17:25] #2775 closed

[2019-05-18 06:00] kannappanr commented on #2461
ping @tru2dagame Can you please try with the latest version?

[2019-05-19 00:06] harshavardhana opened #2776 "Service help description wrong for windows users"
## Expected behavior
Borrowing from https://github.com/minio/minio/issues/7598 we should make this appropriate behavior just like a server.

## Actual behavior
No platform-specific help

## Steps to reproduce the behavior
Just type `mc cp -h` on Windows

## mc version
master

## System information
All supported systems

[2019-05-19 09:15] tru2dagame commented on #2461
@kannappanr I can confirm the latest version doesn't have this issue.

[code]

[2019-05-19 18:58] kannappanr commented on #2461
@tru2dagame Thanks for confirming. closing this issue now.

[2019-05-19 18:58] #2461 closed

[2019-05-21 14:30] sinhaashish commented on #2648
@vadmeste  Can you help in reproducing the issue.
I tried the below on my local machine and its seems to be working .
Ran
[code]
Then
uploaded the Object suing `mc`.
Then stopped the server running on terminal 4.
After running `mc admin heal --json -r myminio/my-bucket/object`
got the below
[code]

[2019-05-21 15:37] vadmeste commented on #2648
@sinhaashish this issue was present in RELEASE.2019-01-10T00-21-20Z but currently it is not reproducible anymore, we can safely close this issue.

[2019-05-22 22:43] #2753 closed

[2019-05-24 00:05] realies opened #2778 "Unable to list public S3 buckets"
Noticed that when using `aws s3 ls s3://my-public-bucket --no-sign-request` I can list it successfully, but whenever `mc ls s3/my-public-bucket` when there is no `accessKey` and `secretKey` properties in the s3 config object, the client dies with `mc: <ERROR> Unable to stat `s3/my-public-bucket`. Head https://my-public-bucket.s3.dualstack.us-east-1.amazonaws.com/: 301 response missing Location hea

[2019-05-24 00:28] harshavardhana commented on #2778
mc requires access to getBucketLocation() API to figure out the right region, looks like you don't have that permission and of course your aws CLI has region configured.

[2019-05-24 01:53] realies commented on #2778
@harshavardhana, aws CLI is not configured with a region, it initiates a GET request to `https://my-public-bucket.s3.amazonaws.com` without defining a region.

[2019-05-24 02:27] harshavardhana commented on #2778
Can you provide --debug output from the AWS cli ?

[2019-05-24 08:42] skob opened #2779 "MC_HOSTS_* broken?"
seems like #2442 return :(

## Expected behaviour

Look for documentation relating to MC_HOSTS_* environment variable which allows passing configuration to mc via the environment rather then its configuration files.

Find documentation.

## Actual behaviour

It's not there.

I've looked everywhere. I found reference to it in the code and I have it working using the current stable release. I'd be h

[2019-05-24 08:44] skob commented on #2779
sorry will reopen

[2019-05-24 09:51] nitisht commented on #2779
Documentation is available here https://github.com/minio/mc/blob/master/docs/minio-client-complete-guide.md#specify-host-configuration-through-environment-variable @skob

Closing this as working as intended. Feel free to join us on slack for more such questions

[2019-05-24 09:51] #2779 closed

[2019-05-26 05:02] realies commented on #2778
Not having access to do so at the moment. Is it possible to replicate by the above description alone?

[2019-05-26 05:19] kannappanr commented on #2778
@realies We have reproduced the issue. Will send a PR to handle this issue

[2019-05-27 06:10] sinhaashish commented on #2678
@donatello  Can you help me in reproducing this? I mean how do you pass a non printable character in encryption key. Sorry , it might be lame question but i couldn't find a soln.

[2019-05-27 06:18] sinhaashish commented on #2640
[PR 7569](https://github.com/minio/minio/pull/7569)  can fix the problem.

[2019-05-27 09:00] sinhaashish commented on #2651
@harshavardhana running the `config host add ` command do show the access and secret key
[code]

IMO its not wise to have a prompt for access key and secret key as in that case it will get tough to use `mc` programmatically.

[2019-05-27 11:53] nitisht commented on #2648
closing based on above comment

[2019-05-27 11:53] #2648 closed

[2019-05-27 17:56] donatello commented on #2678
@sinhaashish The encryption key can be any sequence of 32 bytes. Since mc requires no encoding on the key, only printable characters can be passed as the key to mc. This is the problem - all possible enc keys cannot be input to mc. To allow all possible encryption keys the user needs base64 encode the key so we get a printable representation to pass on the cli to mc. Then mc needs to decode it to

[2019-05-27 22:07] vadmeste commented on #2722
Waiting for an answer here to evalute our options: https://github.com/posener/complete/issues/89

[2019-05-28 00:58] hosnas commented on #2724
@kannappanr  Can you please open this issue? I really think its a valid feature request.

[2019-05-29 00:22] vadmeste commented on #2729
Sent a PR upstream: https://github.com/posener/complete/pull/90

[2019-05-30 00:55] #2729 closed

[2019-05-31 18:12] alebeta90 opened #2786 "Set --content-type option"
## Expected behavior
Be able to set content-type to file being upload
## Actual behavior
No option available
## Steps to reproduce the behavior

## mc version
Version: 2019-03-13T21:05:06Z
Release-tag: RELEASE.2019-03-13T21-05-06Z
Commit-id: ecfd4526a3b6071330a0093c80815b59d451afd0

## System information
5.0.16-100.fc28.x86_64

[2019-05-31 18:15] kannappanr commented on #2786
It already exists, please look at `mc cp` for examples

An example here is
` mc cp --attr Content-Type=txt /etc/issue play/test`

[2019-05-31 18:19] alebeta90 commented on #2786
@kannappanr thanks!

[2019-05-31 18:19] #2786 closed

[2019-06-03 03:25] Gandalf- opened #2787 "make install fails on FreeBSD"
## Expected behavior
`gmake install` is able to copy result binary to `$GOPATH/bin`

## Actual behavior
`gmake install` on FreeBSD fails because `cp` is given a non POSIX flag `-u`

## Steps to reproduce the behavior
[code]

## mc version
- Not really applicable, using latest commit
[code]

## System information
[code]

[2019-06-03 03:29] Gandalf- commented on #2787
This is also a problem for the main `minio` project too.

[code]

[2019-06-03 03:35] harshavardhana commented on #2787
This is already fixed in MinIO project we don't use cp -u anymore, same needs to be done for mc

[2019-06-03 04:20] harshavardhana commented on #2787
Should be fixed by #2788

[2019-06-04 04:05] kannappanr commented on #2787
Closing this issue as fixed by #2788

[2019-06-04 04:05] #2787 closed

[2019-06-05 03:48] mitchellmaler opened #2789 "Support for Homebrew on Linux"
Right now the formula only installs the Darwin binary of k9s. I have some users that are using Linux and Windows Subsystem for Linux and then using homebrew for Linux. This allows us to keep our on-boarding and setup very similar. If the formula could be modified to install the Linux version when on Linux then both can be supported.

[2019-06-05 05:41] harshavardhana commented on #2789
Feel free to send a PR @mitchellmaler - also please make sure to use our issue template for feature requests. It is in our interest to have our issues well documented for historical purposes.

[2019-06-05 22:48] kannappanr commented on #2778
Once https://github.com/minio/minio-go/pull/1117 is released and added to `go.mod` in `mc`, this issue will be resolved.

[2019-06-06 15:25] harshavardhana commented on #2789
Fixed and merged.. `brew install  minio/stable/mc`

[2019-06-06 15:25] #2789 closed

[2019-06-07 23:20] kannappanr commented on #2778
Please try `mc.RELEASE.2019-06-07T00-01-32Z` . Closing this issue as fixed. Please feel free to re-open the issueif you feel otherwise

[2019-06-07 23:20] #2778 closed

[2019-06-11 16:01] Exordian commented on #2640
it actually make things worse, even the minio server is broken now.

OpenShift spawns the process with a random user id (which is not present in the passwd file at this time). you can either add the passwd entry there, which is described as best practice when building openshift containers [1], or just ignore the fact, that you're running as some other user (which was fine up to now, since openshif

[2019-06-11 16:37] harshavardhana commented on #2640
We can fix this by adding passed entry @Exordian would you be able to send a fix?

[2019-06-13 09:39] adarrra commented on #2636
is --attr flag on some roadmap? Are you still plan to implement it?

[2019-06-13 11:57] kannappanr commented on #2636
It is already there.

[2019-06-13 15:45] adarrra commented on #2636
maybe update docs?
https://github.com/minio/mc/pull/2793

[2019-06-13 20:28] nreynis commented on #2678
The scope of this problem is not limited to the mc client, the web service has the same flaw.
`X-Amz-Server-Side-Encryption-Customer-Key` does not support base64 encoding despite the [documentation](https://docs.min.io/docs/how-to-use-minio-s-server-side-encryption-with-aws-cli.html) stating the contrary.

What is even weirder it's that the `X-Amz-Server-Side-Encryption-Customer-Key-MD5` header do

[2019-06-13 21:05] harshavardhana commented on #2678
This is incorrect @nreynis server is behaving correctly. It is a current limitation in `mc` it doesn't take non-printable characters as input.

[code]

[2019-06-13 23:41] ghost opened #2796 "Very slow Get/Read Performance 1000's Small Files (250KB<)"
## Expected behavior
I'm running this in a lab setup to test before buying additional hardware. I wasn't expecting blazing performance but did at minimum expect slightly better download performance than upload.

I'm wondering if there is a more optimal command I should use to get maybe more concurrency?

The key goal of the end setup is fast as possible access/read time of small image files.

Than

[2019-06-13 23:49] hassbabaie opened #2797 "Update Help File and Document for "mb" command"
## Expected behavior

I think it should (used to say):

mb       make a bucket and/or folders

This helps remove the need to go hunting for how to create folders

## Actual behavior

It now says:

mb       make a bucket

## Steps to reproduce the behavior
N/A

## mc version
- (paste output of `mc version`)
Version: 2019-05-01T23:27:44Z
Release-tag: RELEASE.2019-05-01T23-27-44Z
Commit-id: b1aa2232e

[2019-06-14 00:01] kannappanr commented on #2796
@hassbabaie Can you please let us the command you used to start `minio` server?

[2019-06-14 00:06] hassbabaie commented on #2796
Thanks for the quick reply @kannappanr

I'm using the systemd startup with the minio.service (downloaded yesterday)

Below is the command minio.service is running:

`ExecStart=/usr/local/bin/minio server $MINIO_VOLUMES`

Below is an extract of /etc/default/minio

[code]

[2019-06-14 01:14] kannappanr commented on #2797
@hassbabaie Can you please go ahead and send a PR?

[2019-06-14 01:46] hassbabaie commented on #2797
thanks and yes i'll get one in tomorrow, thanks @kannappanr

[2019-06-14 07:22] nreynis commented on #2678
You are right everything is fine on minio server side. My HTTP request was malformed due to my incomprehension of how the AWS SDK handled the values.

Back on the initial issue: is there any way of properly passing the raw bytes to the minio/mc client ? or are we limited to ASCII printable characters for now ?

[2019-06-14 07:25] harshavardhana commented on #2678
It is limited to printable characters which is the gist of the issue which needs to be fixed.

[2019-06-14 16:17] hassbabaie commented on #2796
Hi @kannappanr any thoughts on this, looking at it it 'looks" like it's doing a single file at a time versus a high level of parallelism which is what you would want when dealing with small files?

I tried to use --worker-count but it seems this switch only works for doing a mirror

Thanks in advance

Hass

[2019-06-14 18:29] vadmeste commented on #2796
@hassbabaie --worker-count is not supported since some time, are you sure you are running the latest mc version ?

[2019-06-14 18:45] hassbabaie commented on #2796
@vadmeste thanks and I think so:

This is the version I'm running:

(paste output of mc version)
Version: 2019-05-01T23:27:44Z
Release-tag: RELEASE.2019-05-01T23-27-44Z
Commit-id: b1aa223

DO you know what I should expected to see? If there is logging I can turn this on. Again thank you for your help

[2019-06-14 19:45] krishnasrinivas commented on #2796
Can you use iperf to check the bandwidth between your laptop and minio server?

[2019-06-14 20:14] hassbabaie commented on #2796
Hi @krishnasrinivas I don't have iperf running on the laptop I'm testing the client from however see below. If I pull a large file from the MINIO Server I max the 1Gbps wired ethernet connection:

[code]

Then from a latency perspective they are plugged into the same 1Gbps switch and so sub 1m/s

[code]

[2019-06-14 21:53] hassbabaie commented on #2796
FYI, I just tested with rclone instead of mc and got a 11x speed improvement on the same small files:

[code]

Hope this helps

Hass

[2019-06-14 21:55] harshavardhana commented on #2796
So it is `mc` concurrency which is slower @hassbabaie

[2019-06-14 22:07] hassbabaie commented on #2796
@harshavardhana on download it looks like MC is doing zero concurrency? Again uploading seemed fine, large fines are find in both directions but small files downloaded are getting at best 400KB per second (versus rclone with no real tweaking on the same laptop is getting for small files 4.4MBps)

[2019-06-17 08:03] WolfspiritM opened #2800 "Don't show "Removing" if nothing gets removed"
When using mc rm together with e.g. `--older-than 10d and --recursive`

## Expected behavior
Only removed keys are listed.

## Actual behavior
 mc shows "Removing" for all directories even so nothing is actually removed.
This is very confusing as I thought it's ignoring --older-than and removing all the directories but instead it's only "Scanning" them and ignoring the files.

[code]

## Steps to

[2019-06-17 10:06] vadmeste commented on #2796
@hassbabaie downloading should also be done in parallel, I can test this locally and update you

[2019-06-17 13:38] vadmeste commented on #2796
@hassbabaie tested that version with my local machine, it is just working fine as expected,

Can you try to test with one single big file ? and see what's the download speed ?

[2019-06-17 13:55] kfergiani opened #2801 "`mc policy` does not error when executed on an object that does not exist"
## Expected behavior
`mc policy` should error/feedback to the user if the target object does not exist
## Actual behavior
`mc policy` outputs a policy for an object that does not exist
## Steps to reproduce the behavior
create a bucket, execute `mc policy [bucket]/foobar`, observe output
## mc version
- (paste output of `mc version`)
[code]
## System information
macOS Mojave

[2019-06-17 14:53] kannappanr commented on #2801
@kfergiani Thanks for reporting. Will take a look.

[2019-06-17 15:04] hassbabaie commented on #2796
@vadmeste I think I mentioned above when access larger file it works very fast and maxes my 1Gbps link. it's only when accessing/copying down 1000's of small files.

Can you confirm if it is supposed to be concurrent and what it defaults to?

I did some more testing over the weekend with rclone and the concurrency setting

**Concurrency = 4
ByPass Cache go direct to Remote Minio Server:**
testuser

[2019-06-17 18:48] kannappanr commented on #2800
@WolfspiritM Thanks for reporting this issue. Will take a  look and see how we can handle this.

[2019-06-18 21:44] kannappanr commented on #2801
@kfergiani Can you explain in more detail, what you are seeing? The exact steps. I don't see any error. Remember that these are bucket policies, so the object here is more of a prefix and it need not exist.

[2019-06-19 15:39] hassbabaie commented on #2796
@vadmeste please let me know if you would like me to do any more testing. I'm happy to do that it's odd if I'm the only person not seeing concurrent connections

Thanks

Hass

[2019-06-19 17:56] vadmeste commented on #2796
Hey @hassbabaie,

Sure, can we discuss in private ? can you ping me in Minio Slack channel,  https://slack.min.io ?

[2019-06-19 19:10] harshavardhana commented on #2801
Closing this issue as working as per AWS S3 behavior requirement.

[2019-06-19 19:10] #2801 closed

[2019-06-19 19:31] kfergiani commented on #2801
Yeah in that case I guess I just misunderstood the documentation. My bad

[2019-06-20 13:03] natalequaratodxc opened #2806 "mc mirror error"
## Expected behavior
minio/mc mirror --region CDP --overwrite should not error

## Actual behavior
im using a s3 canonical object storage (V2 and V4 enabled ) , with the region name "SPC". If the client connect as V2 it's working fine; if the client connect as V4, it's working fine for mc create ( with --region option ), but not for mc mirror.

## Steps to reproduce the behavior
[code]

Below the

[2019-06-20 14:47] nitisht commented on #2806
Thanks @natalequaratodxc we'll take a look

[2019-06-28 13:42] vadmeste commented on #2722
PR sent to upstream https://github.com/posener/complete/pull/94

[2019-07-03 01:12] Nepoxx opened #2813 "mc admin info crashes"
## Expected behavior
`mc admin info alias` should return information on the `alias` instance
## Actual behavior
`mc admin info alias` crashes with the following stack trace (full output):

[code]
## Steps to reproduce the behavior
This is a hard one. I currently have a faulty disk in my cluster. My faulty disk is mounted and some files/folders are accessible but most of the folders/files return a

[2019-07-03 14:21] kannappanr commented on #2813
@Nepoxx Can you please paste the output of `mc admin info --json myminioalias`?

[2019-07-03 14:36] Nepoxx commented on #2813
Of course

[code]

[2019-07-03 20:06] vadmeste commented on #2813
It is not difficult to reproduce this, just we can `chmod 0000` one disk before running mc admin info again

[2019-07-03 21:00] harshavardhana commented on #2813
@vadmeste would you send a fix?

[2019-07-04 13:10] Praveenrajmani commented on #2813
This has to be fixed in the server - https://github.com/minio/minio/pull/7878

[2019-07-05 05:31] xoxys commented on #2722
Any solution so far?

[2019-07-05 05:39] harshavardhana commented on #2722
Yes here #2812

[2019-07-05 06:54] xoxys commented on #2722
Ah thanks!

[2019-07-05 08:40] tboerger commented on #2474
This issue is still present:

[code]

[2019-07-05 10:33] kbg commented on #2722
Wouldn't it be better to do it the other way around? I.e. don't modify the user's `.bashrc` by default and add an explicit `--configure-autocompletion` flag to `mc` instead.

I feel like most users would not expect that a command line tries to modify their `.bashrc` when running it for the first time. I've never seen any other program before (except installers) doing something like this.

Having a

[2019-07-05 11:13] maxnordlund commented on #2722
I made PR #2814 to be able to disable the installation using an environmental variable. Maybe not ideal, but definitely better then requiring a flag for every invocation.

[2019-07-05 16:21] harshavardhana commented on #2722
Default behavior will be to install,  it is convenient for our users. If you are not interested there is always the flag.

[2019-07-05 16:30] vadmeste commented on #2722
Instead of the environment variable, it is possible to do `alias mc="mc --no-autocompletion"`

[2019-07-05 18:29] maxnordlund commented on #2722
As I said in the PR, it's also bad to force the user to define an alias just to be able to use the software without it messing up your dotfiles. Environmental variables can be set in a number of ways, and for some shells like fish, they can be persisted between sessions.

Also, using env vars is common among server/containers to provide basic settings/secrets. Heroku and Docker are a couple of exa

[2019-07-05 18:56] harshavardhana commented on #2474
This is actually not an error @tboerger it is actually a warning.

[2019-07-05 22:29] tboerger commented on #2474
It says error, and imho an expected behavior should be exit code >0

[2019-07-06 03:43] harshavardhana commented on #2474
The flow is where the problem is, when there is a real failure it indeed gives > 0 exit code. Perhaps in this situation it does make sense to return greater than zero .

[2019-07-06 10:28] kbg commented on #2722
I don't feel like it is unconvenient for users to run something like `mc --enable-autocompletion` once, in order to enable autocompletion. As I said before: Having a command line utility trying to modify the user's login scripts just by running it, is a very unexpected behavior.

[2019-07-07 17:31] harshavardhana commented on #2722
@kbg this is somewhere we will disagree, the default will be to add autocompletion automatically.

For advanced users we will take the ENV PR sent by @maxnordlund and command line option which already exists.

[2019-07-08 20:39] deekoder commented on #2725
@Gandalf- do you want to send a new PR for this?

[2019-07-08 20:56] it-philpennock opened #2815 "mc doesn't run when compiled with go1.13beta1"
## Expected behavior

mc runs after being successfully compiled (with `go1.13beta1`)

## Actual behavior

[code]

## Steps to reproduce the behavior

Build without the patch below

## mc version
- (paste output of `mc version`)

[code]

`git describe` says: `RELEASE.2019-07-03T18-14-53Z-1-gdf932013`

## Fix

I don't want to fork/etc for something so trivial

[code]

[2019-07-08 20:57] harshavardhana commented on #2815
Please send a PR @it-philpennock

[2019-07-08 21:19] harshavardhana commented on #2725
This requires a fix upstream not in mc @deekoder

[2019-07-10 03:54] vadim-v-p opened #2816 "unsolicited console interaction "Install mc auto-completion in your shell ?""
(I rename execitable to mcli because I use midnight-commander a lot)
REPRO:
curl -sSLo /usr/bin/mcli https://dl.minio.io/client/mc/release/linux-amd64/mc
chmod +x /usr/bin/mcli
EXPECTED:
can use mcli in scripts
CURENT:
it always goes interactive
mcli
mcli: Configuration written to `/root/.mc/config.json`. Please update your access credentials.
mcli: Successfully created `/root/.mc/share`.
mcli: In

[2019-07-10 05:24] harshavardhana commented on #2816
Issue transferred to relevant repo.

[2019-07-10 14:33] sritimmaraju commented on #2816
I am facing the same error in one of our concourse jobs, is there a workaround for this scenario
[code]

[2019-07-10 14:40] vadmeste commented on #2816
`--no-autocompletion` flag is needed to avoid that prompt

[2019-07-10 15:46] harshavardhana commented on #2816
mc shouldn't prompt if it's run as a script in non terminal environment @vadmeste - not sure why @vadim-v-p is seeing this in their scripts.

[2019-07-10 15:53] vadmeste commented on #2816
@harshavardhana actually there is no clear way to check if a program is running in a script or not.

When mc is executed in a script, mc is still connected to a real terminal, which I guess inherited from the shell.

I did some investigation, currently there is a environment variable called SHLVL which means shell level, it is not so reliable mechanism but I didn't find other way until now.

[2019-07-10 15:59] harshavardhana commented on #2816
If there is no tty attached I think it is clearly possible, this is the way we detect coloring or non coloring environments. The os.system() call doesn't give access to the tty so it is surprising that it's not possible.

[2019-07-10 17:42] vadmeste commented on #2816
The drawback of SHLVL is that users using tmux or screen won't be to see the prompt because it is always shell level 2

[2019-07-10 18:42] deekoder commented on #2725
oh ok. @Gandalf- we will close this as won't fix since this is not actionable to us. Let me know if you feel otherwise.

[2019-07-10 18:42] #2725 closed

[2019-07-10 19:03] harshavardhana commented on #2725
We may need to make a PR upstream or @Gandalf- can do it himself.

[2019-07-10 20:31] Gandalf- commented on #2725
Closing this out here makes sense 👍 thanks for taking a look.
I've dropped the ball on opening an upstream issue, sorry! I will later this week if someone else doesn't beat me to it.

[2019-07-10 20:40] y0ssar1an commented on #2816
I think this should be given a higher priority. This prompt breaks the use of `mc` in scripts. That's gotta be the most common usage of `mc`.

[2019-07-10 22:58] tjtelan commented on #2816
With respect, I don't care for this new prompt. 👎

It is very unexpected, and it is interrupting my CI builds because you've incorrectly identified how I am using `mc`. You're trying to assume how I'm using `mc` it in order to upsell auto-completions?

The introduction of this prompt is causing my CI builds to fail because `mc` holds up my script execution until it times out. I would rather not mo

[2019-07-10 23:59] abperiasamy commented on #2816
Let's remove automatic auto-completion setup and replace --no-autocompletion with --autocomplete enable shell autocompletion feature.

[2019-07-11 00:06] abperiasamy commented on #2816
@vadim-v-p we will also make mc use config dir in the name of the binary.

[2019-07-11 16:41] mausch opened #2821 "Support for IAM auth?"
## Expected behavior
I'd like to be able to say `mc config host add s3 https://s3.amazonaws.com` and have mc use IAM auth instead of access keys.
I'd like to see documentation for IAM auth if it's supported, or otherwise an item on some FAQ saying that it's not supported. I can't seem to find any of this :-(

## Actual behavior
When running the command above I get `<ERROR> Incorrect number of argu

[2019-07-11 16:45] harshavardhana commented on #2821
We don't support IAM auth yet @mausch there is a plan in future we will though.

[2019-07-11 16:47] mausch commented on #2821
Thanks for the quick reply! it seems that support in the SDK has been implemented quite some time ago: https://github.com/minio/minio-go/issues/643

[2019-07-11 16:50] harshavardhana commented on #2821
SDKs have implemented a long time ago. `mc` requires some CLI changes to make it user-friendly

[2019-07-11 17:41] #2816 closed

[2019-07-11 17:46] harshavardhana commented on #2722
We have moved away now its `mc --autocompletion` flag which installs the autocompletion as opt-in not as default.

Closing this issue.

[2019-07-11 17:46] #2722 closed

[2019-07-13 17:18] artb1sh opened #2827 "keycloak minio sts not working policy"
iam get Credentials web-identity.go

jwt online parse token:

minio logs:

minio login:

minio config:

minio version

[2019-07-15 03:46] #2751 closed

[2019-07-15 03:46] chernykhse commented on #2751
tnx

[2019-07-15 16:28] agabrys opened #2826 "mirror command does not remove empty directories from local machine"
I'm synchronizing a local machine with minio server. Everything what has been deleted from the server should be also removed from the local machine.

I'm executing the following command:
```minio mirror --config-dir /data/config --overwrite --remove s3/prod/ /data/files/```

## Expected behavior
Content of the local machine `/data/files/` directory is exactly the same as `s3` server `prod` bucket:

[2019-07-15 23:09] kannappanr commented on #2826
@agabrys Thanks for the detailed description of the issue. We will take a look at this.

[2019-07-16 09:40] #2771 closed

[2019-07-19 13:57] kiwy42 opened #2831 "mc ignores extra root certificate on Ubuntu 18.04"
## Expected behavior
I add internal root certificate to my Ubuntu 18.04 in:
 `/usr/share/ca-certificates/extra/`
then doing :
`sudo dpkg-reconfigure ca-certificates`
When adding my internal server with command:
`mc config host add Internals3 https://internalS3:8080  key password --api "s3v4"`
It should work flawlessly and accept the certificate as it's trusted at the OS level.
I should also be abl

[2019-07-19 15:58] vadmeste commented on #2831
Checking this..

[2019-07-19 16:22] vadmeste commented on #2831
mc seems to be working fine for me, I tested with the same version as yours.

What's the exact error message shown by mc ?

[2019-07-19 23:34] kannappanr commented on #2756
@stokowski Closing this issue as minio/minio#7564 is now merged and released. Please reach out to us if you still see this issue with the latest version of MinIO.

[2019-07-19 23:34] #2756 closed

[2019-07-22 10:25] kiwy42 commented on #2831
OK,
For reasons unknown after a reboot, and a weekend off, it seems to work properly.
I'm sorry, I must have done something wrong during my testing.
You can close it.

[2019-07-22 10:25] #2831 closed

[2019-07-22 17:25] ebozduman opened #2832 "mc tree: '0' is an invalid value or the default value for '--depth' flag"
## Expected behavior
The error message thrown for `mc tree --depth 0` command and the default `--depth` value information in `--help` menu should match.

## Actual behavior
[code]

[code]

## Steps to reproduce the behavior
Run `mc tree --depth 0" command and follow the instruction in the error message and check help menu, `mc tree --help`. Help info is `(default: 0)`.

## mc version
From the top

[2019-07-22 20:02] #2832 closed

[2019-07-24 10:20] varkey commented on #2444
@deekoder Has there been any progress on this? Would be really good to have support for temporary AWS credentials.

[2019-07-24 14:11] CompuRoot opened #2836 "mc rm won't remove file"
## Expected behavior
When one run `mc rm storage/bucket/file` then it should remove that file
When one run `mc stat storage/bucket/file` then `mc` should show stat info

## Actual behavior
`mc` return error for both listed above commands.

## Steps to reproduce the behavior
1. `mc cp ./file storage/bucket` # copied successfully
2.  `mc ls storage/bucket/file` # listed copied file successfully
3.

[2019-07-24 14:25] vadmeste commented on #2836
@CompuRoot can you test with Minio play server ?

[code]

(play alias is already configured, you don't have to do something to configure it)

[2019-07-24 14:35] CompuRoot commented on #2836
@vadmeste

Tried your suggestion, unfortunately - the same result:
`mc stat play/mytestbuck/some.txt `
`mc: <ERROR> Unable to stat 'play/mytestbuck/some.txt'. The specified bucket does not exist.`

but with option `-r` it clearly there:

[code]

[2019-07-24 15:18] harshavardhana commented on #2444
Unfortunately no @varkey

[2019-07-24 15:20] vadmeste commented on #2836
@CompuRoot I confirm this is happening under Windows, but it works with anti-slash instead.

`mc rm play\mytestbucket\some.txt` (or stat) should work.

But still this still needs to be fixed

[2019-07-24 15:39] CompuRoot commented on #2836
@vadmeste

Agree. Actually Windows can work with both, forward and back slashes, but for some reason `minio` can't.

[2019-07-24 19:32] ricardbejarano opened #2837 "Add support for a `tail` command (or a reverse `mc head`)"
I'd like to see something similar to *NIX's `tail(1)`, which prints the last few lines of a file to stdout.

If adding another command to `mc` is not ideal, this feature could be added to `mc head` with some flag like `-r, --reverse`, `-t, --tail` or by supporting negative integer values in the `-n value, --lines value` flag.

I could submit a PR if this feature is approved.

[2019-07-24 20:15] harshavardhana commented on #2837
The problem is downloading large objects here @ricardbejarano - while it is possible to add.  The tail has the problem of download all the object and then being able to skip a lot of bytes. So it can be quite a lot time-consuming. It may not be a worthwhile command to add.

It is easier to do head because all you have to do is read-only first few lines.

[2019-07-24 21:51] ricardbejarano commented on #2837
Sure, `mc` would have to pull the entire object as (AFAIK) you can't pull a file from it's end (which is a great feature Amazon could add to S3, BTW), but the alternative would be to `mc cp` the file and running `tail` locally, which sort of detriments the "modern alternative to UNIX commands" point of `mc`.

I would add it for completeness, if there's a `head` there should be a `tail`.

What do y

[2019-07-24 22:02] harshavardhana commented on #2837
The head is there because it's easy to do as a performant CLI, a tail wouldn't be easy to consume from a user point of view. We wouldn't want to add just because there are Unix alternatives for it we have to see if they are practically usable.

The problem is `tail` like commands are not useful because the object sizes on object storage are too big.

[2019-07-24 22:08] ricardbejarano commented on #2837
I understand.

I guess we'll wait until S3 and other object storage solutions support "bottoms-up" `GetObject` operations.

[2019-07-24 22:08] #2837 closed

[2019-07-24 23:06] hassbabaie opened #2839 "MC Client Error when setting cache-control"
When trying to set cache-control on a mc cp command we get the following:

<ERROR> Unable to parse attribute

## Expected Behavior

You should be able to use the following:

mc cp --recursive --attr cache-control="max-age=xxxxxxx"

## Current Behavior

When using the command

mc cp --recursive --attr cache-control="max-age=604800" something_224/ miniopilot:xnrseausrhassanbcc/datasets/something_224

[2019-07-25 23:46] kannappanr commented on #2836
Duplicate of #2772 . #2774 Should fix this issue.

[2019-07-26 00:37] #2772 closed

[2019-07-26 00:45] kannappanr commented on #2836
@CompuRoot Can you please test the latest master and let us know if you still see this issue?

[2019-07-26 20:56] kannappanr commented on #2836
#2774 has been merged, closing this issue as fixed. Please feel free to open this issue if you feel otherwise.

[2019-07-26 20:56] #2836 closed

[2019-07-26 22:40] kannappanr commented on #2695
Closing this issue as `admin monitor` command is going to be merged into `admin info` command.

[2019-07-26 22:40] #2695 closed

[2019-07-26 23:46] kannappanr commented on #2797
@hassbabaie Closing this issue as stale. please feel free to send a PR to update the doc.

[2019-07-26 23:46] #2797 closed

[2019-07-29 23:08] CompuRoot commented on #2836
@kannappanr

I  re-downloaded minio server (from official page [here](https://dl.min.io/server/minio/release/windows-amd64/minio.exe)) and `mc` utility (from [here](https://dl.min.io/client/mc/release/windows-amd64/mc.exe))  and tested it again, but it looks like described behavior is still the same, neither one `rm` nor `stat` commands  won't work correctly without workarounds.

[2019-07-29 23:10] kannappanr commented on #2836
@CompuRoot You need to build it yourself or wait for the next release. It is not part of the release yet.

[2019-07-30 09:36] adiospeds opened #2842 "mc binary name collides with another Ubuntu utility."
While packaging the minio-client as deb package (`mc.deb`) I came across some issues. Figured that there was already a package providing the `mc` binary. But this `mc` wasn't the minio client. There exists an Ubuntu File System browser called Midnight Commander which also provides the `mc` binary. Having both the utils installed may start creating a problem for users. Minio should consider renamin

[2019-07-30 09:39] nitisht commented on #2842
This is known and as you mentioned simple rename is enough.

There are no plans to change the `mc` name, pls refer previous conversations here  https://github.com/minio/mc/issues?utf8=%E2%9C%93&q=is%3Aissue+Midnight+commander

[2019-07-30 09:39] #2842 closed

[2019-07-30 13:52] #2839 closed

[2019-07-31 09:45] Zlogene opened #2844 "minio-2019.07.24.02.02.23: cmd/admin-heal.go:148:11: undefined: madmin.BgHealState"
$title

it is referenced as:
https://github.com/minio/mc/blob/master/cmd/admin-heal.go#L30

go version 1.12.5

System:
Linux unrandom 4.19.57-gentoo #2 SMP Tue Jul 30 14:42:34 MSK 2019 x86_64 Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz GenuineIntel GNU/Linux

[2019-07-31 09:47] harshavardhana commented on #2844
you need to use GO111MODULE=on to start building `mc` @Zlogene

[2019-07-31 10:03] Zlogene commented on #2844
oh, that sound reasonable, thank you very much @harshavardhana !

[2019-07-31 10:03] #2844 closed

[2019-07-31 20:56] mattbenjamin opened #2845 "mc should not enforce any length restriction on access_key or secret_key"
## Expected behavior
mc will allow (e.g.) string valujes of any length as access_key or secret_key

## Actual behavior
mc config host add will not add a host with secret_key less than 8 characters

## Steps to reproduce the behavior
ahem

## mc version
- (paste output of `mc version`)
VERSION:
  DEVELOPMENT.2019-07-31T20-30-21Z

## System information
linux

[2019-07-31 20:57] harshavardhana commented on #2845
why not @mattbenjamin

[2019-07-31 21:42] SCDealy opened #2846 "mc admin trace crashes"
## Expected behavior
Not crashing
## Actual behavior
Crashes
## Steps to reproduce the behavior
All I had to do was enter the command line:
mc admin trace <server_name>
## mc version

Version: 2019-07-31T17:31:58Z
Release-tag: DEVELOPMENT.2019-07-31T17-31-58Z
Commit-id: 81eb54d14670729a7309b9fffd24a97a083819a9

I had to custom build it for my platform (ARM32) checked out the most recent developmen

[2019-07-31 21:45] harshavardhana commented on #2846
We don't test on 32-bit platforms so any issues like should be expected @SCDealy - Feel free to send a PR we will happily accept.

[2019-08-01 00:07] kannappanr commented on #2846
Closing this as fixed as #2847 has been merged

[2019-08-01 00:07] #2846 closed

[2019-08-01 22:11] harshavardhana commented on #2845
Default AWS Keys are even longer by default, we kept 8 character to be user-friendly.  Secret keys up to 8 characters provide best practices for the actual password length.

We are not planning to relax this, as there are no practical reasons why this restriction should be removed.

[2019-08-01 22:11] #2845 closed

[2019-08-01 22:18] mattbenjamin commented on #2845
@harshavardhana you're missing the obvious point: key length policy is already enforced by S3 server/gateway implementations;  it is not appropriate for the client to be weighing in

[2019-08-01 22:24] harshavardhana commented on #2845
I don't think I agree the validation is here to stay and is done with good reasons. If its a show stopper for you feel free to send a PR.

[2019-08-02 06:48] CermakM commented on #2640
Stumbled upon this problem as well on OpenShift 3.11 when installing via `helm install stable/minio` ... any progress on this?

[2019-08-02 19:17] #2813 closed

[2019-08-04 06:42] furkanmustafa commented on #2422
This worked for me. But it is extremely confusing and impossible to understand without trial or without visiting this issue.

`mc config host add` can have an explanation near `--api` argument, saying it would prevent active probing.

Also adding `--debug` outputs \****nothing***\*, the command just looks at me with empty eyes, for more than a minute.. :/

[2019-08-06 05:48] nitisht commented on #2806
@natalequaratodxc do you mind joining us on slack (https://slack.min.io) please , I have some questions around your setup. I am `nitish` on Slack.

[2019-08-06 15:13] Nepoxx opened #2850 ""timeout awaiting response headers" on some PUT requests"
## Expected behavior
PUT requests succeed
## Actual behavior
Gitlab is unable to upload some files to minio and fails with the following information:

[code]

## Steps to reproduce the behavior
Happens frequently when gitlab tries to upload artifacts

## mc version
- Version: 2019-06-12T20:35:20Z
Release-tag: RELEASE.2019-06-12T20-35-20Z
Commit-id: ca26dac8e2e7d2e9b2d888e82f9edbf0873b7d2e

## Serv

[2019-08-06 19:11] Nepoxx commented on #2850
I've posted this in the wrong repo, my apologies.

https://github.com/minio/minio/issues/8031

[2019-08-06 19:11] #2850 closed

[2019-08-06 22:41] #2815 closed

[2019-08-07 04:09] #2759 closed

[2019-08-08 19:51] hassbabaie commented on #2796
FYI, @vadmeste @krishnasrinivas  sorry for the delay, I've now tested this with the latest dev build from @vadmeste and I don't really see much concurrency improvement when tweaking the export _MC_PARALLEL_WORKERS=5 setting (tried 5,10,50,100)

I can seem to get the speed to double to about 130KBps however still far slower than other S3 clients. Again this is related to Copying small files.

Hass

[2019-08-09 17:47] ebozduman opened #2853 "Order diff in `mc tree` outputs of a minio server and a local filesystem after `mc mirror`"
There is an order difference between the outputs of `mc tree <minio-alias/path>` and `mc tree <local-path>` commands after mirroring, `mc mirror <source-alias/path> <local-path>` or  `mc mirror <local-path> <source-alias/path>`

## Expected Behavior
`mc tree <alias/path>` command outputs of source and destination should look the same after mirroring between local filesystem and a minio server.

##

[2019-08-10 18:53] kannappanr commented on #2853
@ebozduman This issue can be revisited when we have time. Closing it for now and marking it to be looked at in the Future.

[2019-08-10 18:53] #2853 closed

[2019-08-14 06:59] chakravarthy392 opened #2858 "Minio mc image build is getting stalled."
## Expected behavior
docker image should get built from the Dockerfile.
## Actual behavior
Getting stalled at "go install" step [6/10]
## Steps to reproduce the behavior
[code]
## System information
Ubuntu 16.04
Linux in-ibmibm3400 4.4.0-109-generic #132-Ubuntu SMP Tue Jan 9 19:52:39 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[2019-08-14 07:02] harshavardhana commented on #2858
are you sure your networking has no issues? @chakravarthy392

[2019-08-14 07:10] chakravarthy392 commented on #2858
Hi @harshavardhana ,

I have tried after disabling the firewall, same behavior is observed.

[2019-08-14 09:49] kannappanr commented on #2858
@chakravarthy392 I was unable to reproduce the issue, though I tried `git clone` instead of `go get`
My go version is `go version go1.12.1 linux/amd64`, not sure if that makes any difference. That particular version requires `go 1.12`

[2019-08-14 10:38] radlwadl opened #2859 "Add "include" option"
Hello,

I mirror a directory with several sub-directories to S3 storage, directory structure has to be preserved on S3 side.
Within the deepest directories only, for example, ".txt" files have to be mirrored. All other files have to be excluded.
I know, that "--exclude" option exists, and that's the way we currently handle this usecase. But every time, a new file type is stored in the directories,

[2019-08-14 16:26] #2826 closed

[2019-08-14 23:21] eco-minio opened #2861 "mc du does not autocomplete alias"
## Expected behavior
Alias should be expanded by autocomplete for mc du command
## Actual behavior
Does not expand alias
## Steps to reproduce the behavior
`mc du pl<tab>` does not complete play alias
## mc version
- (paste output of `mc version`)
Version: 2019-08-14T20:49:49Z

[2019-08-15 00:47] kannappanr commented on #2859
@radlwadl Thanks for the detailed feature request. We will investigate and get back to you.

[2019-08-15 19:20] #2861 closed

[2019-08-15 19:52] seqizz opened #2865 "Documentation is misleading"
- Run minio (version: 2019-08-07T01:59:21Z)
- Add policy via: `mc admin policy add myminio mytestpolicy policy.json`
- Add user via: `mc admin user add myminio seqizz 12345678`
- Try to set user's policy via: `mc admin policy set myminio mytestpolicy user=seqizz`
- Get error:

Trace gives: `[405 Method Not Allowed] notFoundHandlerJSON`

Latest version mc seems to not support declaring policy while

[2019-08-15 19:53] harshavardhana commented on #2865
You need to use the latest release on MinIO @seqizz and also latest release of `mc` - also these commands will work in server mode, in gateway mode you need to setup etcd.

[2019-08-15 19:59] seqizz commented on #2865
Well, turns out I am using a week old version :man_facepalming: After updating minio, everything seems ok. Thanks, especially for the fastest reply I got on GitHub :octocat:

[2019-08-15 19:59] #2865 closed

[2019-08-17 11:46] ebal opened #2867 "mc admin info display 0/0 Drives"
I am starting my minio server with 10 directories like this:

[code]

and when I am using mc client I do not see Drives

[code]

## Expected Behavior

I would expect to see Drives: 10/10 OK

## Current Behavior

but I see `Drives: 0/0 OK`

## Context

Also, when I am removing a directory/drive I would except to see

`Drives: 9/10 OK`

or perhaps not OK ?

## Your Environment

* Version used (`mini

[2019-08-17 13:07] nitisht commented on #2867
Thanks for reporting @ebal we'll take a look

[2019-08-17 14:18] Praveenrajmani commented on #2867
@ebal It works fine for me. What is your mc version? Can you update the mc version and try?

[2019-08-17 14:28] ebal commented on #2867
I am sorry, forgot to mention mc version

[code]

[2019-08-18 04:55] #2867 closed

[2019-08-19 16:22] kalleyne opened #2869 "mc rb should simply fail when presented with more input other than the bucket name"
Good day.

It's been suggested that I publish this bug report about the overly open nature and the end result of using "mc rb".

MinIO Version: 2019-08-14T20:37:41Z
mc Version: 2019-08-14T20:49:49Z

Here is an example:

[code]

I recognize that this is not the proper way to remove prefixes. However, if the "mc rb" command is designed to remove buckets then using the "mc rb --force" command in the

[2019-08-21 18:25] deekoder commented on #2859
@radlwadl  we will work on this feature and make it available in the subsequent releases of mc. Thanks for this suggestion!

[2019-08-22 20:07] harshavardhana opened #2871 "du displays redundant information"
## Expected behavior
[code]

## Actual behavior
[code]

Recursively displaying per tree level size is not useful IMO when a user is simply asking for `du` of a given prefix or bucket. It seems like we are displaying the tree information along with `du` as well.

## Steps to reproduce the behavior
Quite easy, create a deep directory hierarchy.

## mc version
master and released

## System informati

[2019-08-22 20:14] harshavardhana commented on #2871
I think we have implemented `du --all` as default instead it should be following as default.

[code]

Meaning `--depth 0` should trim everything up-to the input, `--depth 1` should print the top level prefix only.

[2019-08-24 00:11] Nepoxx opened #2873 "When a Minio instance is down, `mc config host add {alias} {host} {key} {secret}` fails"
## Expected behavior
 `mc config host add {alias} {host} {key} {secret}` should succeed even if some MinIO instances are offline
## Actual behavior
 `mc config host add {alias} {host} {key} {secret}`  results in:
[code]
## Steps to reproduce the behavior
Have a distributed setup, turn an instance of minio off (e.g. `docker service scale minio0=0`)

## mc version
- Version: 2019-07-31T19:17:35Z
Rel

[2019-08-24 10:39] kannappanr commented on #2858
Closing this as stale. Please feel free to reach out to us if you still have issues

[2019-08-24 10:39] #2858 closed

[2019-08-26 01:45] balamurugana commented on #2871
This how system `du` command works.
[code]

`mc du` should work exactly like system `du` command. You would need to discuss with @abperiasamy to confirm this requirement.

[2019-08-28 15:36] jayunit100 opened #2875 "no trace logs :("
## Expected behavior
using `mc admin trace` i was hoping to see why I keep getting 403 forbidden errors on my minio service (accessing it through apache hive, but i think thats irrelevant).

## Actual behavior

when running failed (403 forbidden) hadoop jobs to minio, I see no output from `mc admin trace` unless i do `--debug` in which case i get debug logs.

## Steps to reproduce the behavior

##

[2019-08-29 00:21] jayunit100 commented on #2875
FYI, looks like from conversations w/ sid ^ , that the 403 error above is not logged on the server side.  I think it should be - i.e. every webserver should generally have an access log w/ response codes, if for no other reason, for batch forensics in outages or just general log collection  standards.   So, I think this issue is actionable, probably i should re file it on upstream mino.  Ultimatel

[2019-08-29 00:30] harshavardhana commented on #2875
@jayunit100 403 errors are logged - are you trying to do anonymous requests ?

[2019-08-29 12:47] jayunit100 commented on #2875
ah... wait, ` mc admin trace prestos3 --insecure -a    ` seemed to get me the answer, i guess this is a continous 1 second poll for getting logging events.

Maybe the issue is that i wasn't using the `-a` option.

Thanks !!!!!!!!!!!!

[2019-08-29 12:47] #2875 closed

[2019-08-29 15:56] harshavardhana commented on #2875
It was because you are trying to access https without trusting the server certificate, it is not -a it is --insecure which helped avoid the issue.

[2019-08-29 23:34] poornas commented on #2869
The real issue is that `mc rb --force ub18svr-minio-bugtest/twa/data/` needed a terminating `/` whereas you did `user1@ThinkPad-T440s:~$ mc rb --force ub18svr-minio-bugtest/twa/data` . It would have had the intended behavior of deleting data/ prefix but not data1/, data2/ and data3/.

`mc rm` or `mc rb` without slash terminating the `data` prefix will have deleted all matching prefixes starting wi

[2019-08-29 23:57] #2678 closed

[2019-08-30 01:44] harshavardhana commented on #2869
I think for `rb` we shouldn't honor prefixes @poornas

[2019-08-30 01:47] poornas commented on #2869
since rb also works on fs, it would essentially mean we can only delete top level dir, isn't it?

[2019-08-30 06:37] harshavardhana commented on #2869
Correct for that we have `mc rm` ..

[2019-08-30 17:10] philipkozeny opened #2877 "Cannot heal with --scan=deep: Heal had an error - Storage resources are insufficient for the read operation."
## Expected behavior

I am running a distributed setup with 3 nodes, 2 disks each (binary on Debian 10). Since i had reports of Bitrot verification issues i am trying to run a heal command with --scan=deep

This has worked on that specific setup already, but since of the latest updates (can't pinpoint which one), it always aborts at the start of the heal process with: Heal had an error - Storage r

[2019-08-30 22:32] vadmeste opened #2878 "Add healing tests in functional tests"
To make sure that healing with normal & and deep scan is successful, heal status should also be tested.

[2019-08-30 22:36] vadmeste opened #2879 "Implement mc ILM cmd"
Suggest and implementing `mc ilm` command with expiry feature

[2019-09-04 19:02] henrythefool opened #2881 "Add options to preserve object create date in mirror and cp"
## Expected behavior
There can be an option like `cp -p` in Linux to keep files' create date when moving them, such as `mc mirror -p` or `mc cp -p`.

## Actual behavior
There's no this kind of options in `mc mirror` or `mc cp`.

Sometimes I need to `mc mirror` between servers or buckets.
But once mirrored from A to B,  B's objects are all newer than A. Then if I mirrored back from B to A, I have t

[2019-09-05 19:56] fiero05 opened #2883 "Make minio fails on FreeBsd12"
## Expected behavior
Make minio should work once import it via ports on Freebsd

## Actual behavior

Make fails with below message

===>  Patching for minio-2019.06.15.23.07.18
===>  Applying FreeBSD patches for minio-2019.06.15.23.07.18
===>   minio-2019.06.15.23.07.18 depends on package: go>=1.9.4 - found
===>  Configuring for minio-2019.06.15.23.07.18
===>  Building for minio-2019.06.15.23.07.1

[2019-09-05 19:58] harshavardhana commented on #2883
We do not maintain FreeBSD port @fiero05 - you should ask the FreeBSD port maintainers.

[2019-09-05 20:12] kannappanr commented on #2883
Closing this based on the previous comment. Please feel free to reach out to us if you have further questions.

[2019-09-05 20:12] #2883 closed

[2019-09-07 06:43] #2869 closed

[2019-09-10 14:01] bdelagesap commented on #1753
Hi
I'm having a similar issue.

I use mc RELEASE.2019-05-23T01-33-27Z

Under heavy load I get :
`
11:13:15  minio: <ERROR> Unable to load version `6`. Migration failed please report this issue at https://github.com/minio/mc/issues. Unable to parse JSON schema due to a syntax error at '    1:   <<<<'.`

[2019-09-10 18:43] vadmeste commented on #1753
Reopened for investigation

[2019-09-11 14:23] bdelagesap commented on #1753
This happens on jenkins slave containers running on k8s.
We're pushing/pulling objects from minio using mc.
Each slave has only one session.

[2019-09-13 23:47] donatello opened #2891 "[Proposal] Support STS based access to MinIO"
To access MinIO via the STS API, we can add a command to mc such as:

`mc sts ENDPOINT <sts-type> <sts-specific-args>`

to print out access key, secret key and session token.

For example for LDAP, this could be:

`mc sts ENDPOINT ldap ldapuser=myusername ldappasswd=yyy`

In addition to this, we can add a mode to mc to fetch and configure MinIO/S3 aliases with STS APIs.

For example, with `mc conf

[2019-09-15 12:51] balamurugana commented on #2871
As per slack discussion

1. `mc du` without args should print help like other `mc` commands
2. `mc du` should behave like `du -h --max-depth=1` as default
3. one can always give --recursive if they want capacity for each folder. recursive should be optional

[2019-09-15 15:38] harshavardhana opened #2893 "Deprecate mc session command"
## Expected behavior
Deprecate `mc session` command and modify `cp` command to handle this scenario.

The new command will look like this
`mc cp -r -s /tmp/bin play/test`

In this case, you will create a session in `/tmp/mc/uniquename`

The file will have `read only` access for the account user who ran `mc`. Other users should not have any access.

On error, the session file is created under `/tmp

[2019-09-16 01:46] 5paceToast opened #2894 "[build failure] apache thrift migration"
## Expected behavior
`go build` produces a binary

## Actual behavior
`go build` fails with:
[code]

## Steps to reproduce the behavior
1. Download release tarball
2. `export GO111MODULE=on`
3. `go build` (ldflags etc not mentioned for simplicity)

## System information
I'm the package maintainer for mc over at [Alpine Linux](https://pkgs.alpinelinux.org/packages?name=minio-client) and can't bump

[2019-09-16 02:39] harshavardhana commented on #2894
Use go1.13 not go1.12

[2019-09-16 08:33] henrythefool commented on #2881
If I mirror from A to B, then mirror back from B to A without `--overwrite`.
The mirror will automatically break and prompt me to use the `--overwrite` option.

[2019-09-16 18:30] kannappanr commented on #2894
We require go 1.13 as mentioned above. Closing this issue as working as intended.

[2019-09-16 18:30] #2894 closed

[2019-09-17 17:16] klauspost opened #2896 "mc config is placed differently if mc.exe is used on Windows"
It seems that mc config is placed based on the invocation command. That is unexpected on Windows.

## Expected Behavior

`mc config host list` and `mc.exe config host list` should read from the same place.

## Current Behavior

Config is placed in `mc` and `mc.exe` folders respectively.

## Possible Solution

It should probably be fine to just trim off `.exe`, or any extension in general. I don't

[2019-09-17 17:20] harshavardhana commented on #2896
Transferred to relevant repo..

[2019-09-18 09:57] WahyuMW opened #2899 "mc gives error when copy huge bucket"
I'm trying to copy bucket with 31 million object ( more than 20TB object) from ceph cluster to another ceph cluster  and it gives error :

[code]
and the copy process is only copy for 2 TB object.

## mc version
- mc version RELEASE.2019-08-29T00-40-57Z

## System information
debian 10.0
Linux debian 4.19.0-5-cloud-amd64 #1 SMP Debian 4.19.37-5+deb10u1 (2019-07-19) x86_64 GNU/Linux

[2019-09-18 14:59] vadmeste commented on #2899
It looks like minio-go needs to set encodingType to url by default in all operations so we can avoid illegal characters in xml documents.

[2019-09-18 18:18] harshavardhana commented on #2891
What we decided to implement was to come up with this style

[code]

Now this will output "accessKey, secretKey, sessionToken" in json form with --json flag or prints the environment variables users need to set to start using the session tokens such as with aws sdks

[code]

The same tokens to be used by `mc` we don't need to add it in `config` by doing `mc config host add` but just tell users to

[2019-09-19 16:58] kannappanr commented on #2899
@WahyuMW minio-go has been fixed and released. mc has that version in the go.mod file. Next release should have the fix.

[2019-09-20 00:24] kannappanr commented on #2899
@WahyuMW closing this issue. As `mc` has been released. Please try with `mc` version `RELEASE.2019-09-20T00-09-55Z`

[2019-09-20 00:24] #2899 closed

[2019-09-22 12:03] coffee-squirrel opened #2903 "Commands returning URL query-escaped filenames"
## Expected behavior
`mc ls` and `mc find` display true filenames without encoding (e.g. `backup-20190912.2002.10+UTC.zip`)

## Actual behavior
`mc ls` and `mc find` (at minimum) are returning URL query-escaped filenames (e.g. `backup-20190912.2002.10%2BUTC.zip`)

Potentially introduced with minio/minio-go#1161?

## Steps to reproduce the behavior
1. Have a bucket with files whose names contain ch

[2019-09-22 12:12] coffee-squirrel commented on #2903
I've verified `mc.RELEASE.2019-09-11T20-17-47Z` returns the expected (unencoded) filenames.

[2019-09-22 17:19] harshavardhana commented on #2903
Yes this is the new change @coffee-squirrel - we will convert it back for humanized view appropriately..

[2019-09-23 20:05] #2903 closed

[2019-09-24 10:31] coffee-squirrel commented on #2903
Just confirming `mc.RELEASE.2019-09-24T01-36-20Z` fixed the issue reported.  Thanks!

[2019-09-24 13:30] khumps opened #2907 "Add a flag to allow throttling of operations"
It would be nice if, when running operations, I could tell the client to put a strict cap on requests per second sent. For processes such as `mc mirror --watch` this will allow traffic to still be handled properly by a cluster if a large influx of operations happens from the `mirror` that causes it to consume all of the bandwidth, I/O, etc

[2019-09-24 16:51] harshavardhana commented on #2903
:cake:

[2019-09-24 23:47] kannappanr commented on #2907
@khumps Thanks for filing this issue. Will talk internally and see if we can handle it easily within `mc` if not try to provide a way to handle it outside of `mc`.

[2019-09-25 17:54] ebozduman commented on #2776
Tested and verified the fix on both Windows (8.1) and Linux (Ubuntu 18.04) OSs.

**Note**: You may need to `"go get github.com/minio/cli"` at `mc` repo, if one wants to test the fix.

[2019-09-25 20:45] kalleyne opened #2909 "mc rm fails to remove empty prefixes within Wasabi accounts"
Good day.

I'm having some difficulty trying to determine whether a bug exists with mc or with Wasabi.

## Expected behavior
When mc is used with MinIO, "mc rm" works correctly:

[code]

[code]

## Actual behavior
This is what I see when I use mc on a Wasabi account.

[code]

[code]

folder remains although the return code message stated - "Removing"
It seems that the only way to remove the prefix

[2019-09-26 06:08] kannappanr commented on #2893
The changes are

[code]

[2019-09-27 00:11] kannappanr commented on #2909
@kalleyne Thanks for filing this issue. We will take a look and see how we can handle this issue.

[2019-09-27 11:39] philipkozeny opened #2911 "mc admin console results in runtime error"
## Expected behavior

I am running `mc admin console storage` which always results in

[code]

I have tried different minio instances, doesn't matter.

## mc version
Version: 2019-09-24T01:36:20Z
Release-tag: RELEASE.2019-09-24T01-36-20Z
Commit-id: 643835013047aa27ed35de0ac5a4ab9538f0cd68

## System information
Linux tools-1 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2+deb10u1 (2019-09-20) x86_64 GNU/Li

[2019-09-27 13:54] vadmeste commented on #2911
@philipkozeny thanks for reporting, it will get fixed quickly soon

[2019-09-27 16:07] vadmeste commented on #2911
I was able to reproduce this issue @philipkozeny but it is already fixed, you should not see this in the next release of minio & mc

[2019-09-27 18:04] kannappanr commented on #2911
@philipkozeny Your `MinIO` is probably one of `RELEASE.2019-09-26T19-42-35Z` or `RELEASE.2019-09-25T18-25-51Z` .  The fix for this issue has been merged in master. You should get it in the next release of `mc`. I don't think you would require a newer version of `MinIO` .

[2019-09-28 03:03] #2776 closed

[2019-09-28 03:47] kannappanr commented on #2911
@philipkozeny Closing this issue as this has already been fixed in the master. `mc` should be released early next week.

[2019-09-28 03:47] #2911 closed

[2019-09-30 11:43] klausenbusk opened #2913 "mc mirror fails with: The continuation token provided is incorrect"
I'm trying to mirror some file with `mc`, like: `mc mirror -q --overwrite --remove "test" s3/aws-test-bucket/test7`.

## Expected behavior
`mc mirror` should mirror the files.

## Actual behavior
`mc` fails with: `mc: <ERROR> Failed to perform mirroring action. The continuation token provided is incorrect`.

## Steps to reproduce the behavior
[code]

## mc version
[code]

## System information
[co

[2019-09-30 13:13] vadmeste commented on #2913
Thanks for reporting this @klausenbusk

My guess is that this issue is introduced after adding support of url encoding type in listing. Most likely AWS S3 is not totally compliant to some encoding RFC specification, will investigate further and update this issue.

[2019-09-30 13:32] vadmeste commented on #2913
Well, it looks like next continuation token is not intended to be encoded or decoded.

This is an example of what AWS S3 sends as an example:
`17w0jn41CV+Yu01rjjUmHR7EDKpU46AfI1dTG75rntR8=`

It contains `+` character which will be decoded to a space.

We need to encode next continuation token because Minio uses object names or prefixes as a next continuation token. The object names can contain som

[2019-09-30 16:19] harshavardhana commented on #2881
Additional metadata is not a good idea to store this information. mc mirror is not meant for that @henrythefool

[2019-10-01 18:18] klausenbusk commented on #2913
How does that fix the issue with AWS S3?

[2019-10-01 18:40] harshavardhana commented on #2913
We will stop unescaping continuationToken for V2 API

[2019-10-01 20:09] #2913 closed

[2019-10-02 10:39] vadmeste commented on #2913
This change in minio-go will fix it, https://github.com/minio/minio-go/commit/23d7c54de4de9f50f5422b41f70e00d6704ae012#diff-e038a2d477fad04d158a4afba2faf85eR154

[2019-10-02 16:46] mdsummers opened #2915 "Unable to specify s3v2 when using MC_HOST_ env"
In the documentation there's a note about selecting s3v2 when using gcs.
[code]
Following on from that the option to specify configuration for the session using `MC_HOST_` env is provided. I cannot see an option here to provide the API without going via `mc config` which is what I'm looking to avoid by using `MC_HOST_`.

## Expected behavior

I should be able to specify the api as S3v2 without usi

[2019-10-02 16:50] harshavardhana commented on #2915
mc host is not meant for signature v2  btw are you sure about gcs ? I am able to access gcs using signature v4

[2019-10-02 17:04] mdsummers commented on #2915
I'm working on multi-client compat so I took the docs at face value. You're right, testing now I can see it's working fine on v4.

This part of the docs is not accurate. Worth changing scope of this ticket to match that discrepancy? My implementation isn't blocked so happy to close. Please advise.

[2019-10-02 17:20] harshavardhana commented on #2915
Feel free to fix it @mdsummers - we are happy to accept PRs for doc changes.  If not close this issue we can fix it ourselves.

[2019-10-02 19:50] coffeemug13 opened #2918 "Add documentation how to "mc sql" a compressed json file"
I try to figure out the mc command how to sql a compressed json file. Always get errors.

Could you please provide some example in the docs. In the amazon documentation it looks like the "Type" should be "DOCUMENT" or "LINES", but doesn't work.

Example:
file is stored under "crawler/requests/test.json.zip" with content
{
  "domain": "at.heise",
  "key1": "key1-data2"
}

the following command does

[2019-10-02 23:29] harshavardhana commented on #2918
ZIP is not supported by AWS S3 and neither by MinIO @coffeemug13 only supported compression types are gzip and bzip2.  NOTE: gzip is not zip

[2019-10-02 23:48] kannappanr commented on #2918
@coffeemug13 Closing this issue as invalid. Please let reach out to us at https://slack.min.io for further such questions.

[2019-10-02 23:48] #2918 closed

[2019-10-03 09:51] mdsummers commented on #2915
Looks like someone has beaten me to submitting changes.

Here was my take FWIW:
https://github.com/mdsummers/mc/commit/d3bbcd9d925de6cb32116d9a6b8086840490b349
https://github.com/mdsummers/mc/commit/a7d94d8e77f8ccde65578abe0b598ab8c8002cc5
https://github.com/mdsummers/mc/commit/a3b1e2970813b80c2a7db246dba7ceac29d404d8

Leaving this to be closed by MR or maintainer.

[2019-10-03 12:56] IlonkaO commented on #2640
Hi guys... Du you plan a solution in next time???
I stumbled also upon this problem and it would be great to use the whole helm chart including the job to create the bucket after installation.
I'm using a OpenShift Cluster 3.11 with Kubernetes 1.11
Would be great to hear from you...

[2019-10-03 16:08] harshavardhana commented on #2915
Closed as fixed by #2916

[2019-10-03 16:08] #2915 closed

[2019-10-04 10:50] tuempeltaucher opened #2922 "mc rm has encoding issues"
## Expected behavior
mc ls backup/xxx/Tabelle\ Navi.xlsx
[2019-08-20 09:26:09 UTC]   10KiB Tabelle+Navi.xlsx

mc rm backup/xxx/Tabelle\ Navi.xlsx

## Actual behavior
mc rm backup/xxx/Tabelle\ Navi.xlsx
mc: <ERROR> Failed to remove `backup/xxx/Tabelle Navi.xlsx`. Target `backup/xxx/Tabelle Navi.xlsx` not found.

## mc version
/ # mc version
Version: 2019-10-02T19:41:02Z
Release-tag: RELEASE.2019-10

[2019-10-04 11:09] vadmeste commented on #2922
@tuempeltaucher Thanks for reporting this, I am able to reproduce this, some unit tests are missing in minio-go that's why this wasn't detected, I am going to write a new unit test also for this

[2019-10-07 11:18] sinhaashish commented on #2766
Printing the `os.Args` in the `main.go` on  Unix and windows respectively
[code]
Unix
[code]
Unix O/P
[code]
Windows :
[code]
Windows O/P :
[code]

In Windows the wild card doesn't work for `os.Args` . This is the root cause of the issue.  Can make Windows specific change if agreed.

[2019-10-07 20:04] psnszsn commented on #2017
The XDG Base Directory Specification is being widely adopted by Linux/BSD applications. If you would like to reconsider, you can follow it only on POSIX systems and use `%USERPROFILE%/mc` on Windows.

If not, it would be nice if you at least offered the option to set the config directory with an environment variable, e.g. `$MC_CONFIG_DIR`.

[2019-10-07 20:10] harshavardhana commented on #2017
Locking the conversation here, this is an old issue please reopen a new issue if you are not satisfied with the resolution here.

[2019-10-09 01:28] #2800 closed

[2019-10-09 17:21] ramosisw opened #2926 "Can't Read Environment Host Config [ARM]"
My Dockerfile
[code]

## Expected behavior
[code]

## Actual behavior
[code]

## Steps to reproduce the behavior
On AMD64 works but not on ARM

To reproduce only runs next command on arm arch (like Raspberry Pi with docker)
[code]

## mc version
- Version: 2017-06-15T03:38:43Z

## System information
Raspberry Pi 3 B+

[2019-10-09 17:24] harshavardhana commented on #2926
This seems to be working fine

[code]

this is a very old release please upgrade. In this release, the ENV was `MC_HOSTS_mcplay` notice an additional `S`

[2019-10-09 17:28] ramosisw commented on #2926
The ARM architecture is unmaintained?

[2019-10-09 17:29] harshavardhana commented on #2926
@ramosisw you should build your own for ARM with the latest release - we don't ship released binaries for ARM

[2019-10-09 18:40] kannappanr commented on #2926
@ramosisw Closing this issue as answered. Please feel free to reach out to us at https://slack.min.io for further questions.

[2019-10-10 09:25] vadmeste commented on #2922
This should be fixed in the last release with this commit https://github.com/minio/minio-go/commit/bb93a2c4f0cb3f2357e0dbfcf9d196bbf20c7fcb

Closing this..

[2019-10-10 09:25] #2922 closed

[2019-10-10 20:13] ebozduman commented on #2707
@p-doyle & @Kenvelo90 ,

With the provided information, we cannot reproduce the issue.

Could you please give us more information on how MinIO is/was involved in your setup?
Do you reach `gcs` and `s3` buckets and objects directly or through MinIO?

[2019-10-11 12:18] titansmc opened #2928 "Autocompletion of 2019-10-09T22:54:57Z doesn't properly escape the spaces"
## Expected behavior
Autocompletion would escape the special characters
## Actual behavior
it doesn't escape them
[code]
## Steps to reproduce the behavior
- Upload a file with spaces
- Copy the file back using autocompletion
## mc version
[code]

## System information
Client Ubuntu 18.04 with latest
Server CentOS 7 with latest

[2019-10-11 16:01] vadmeste commented on #2928
Thanks for opening this issue @titansmc

I sent an proposal to posener/complete library to fix this, https://github.com/posener/complete/issues/101.

If the proposal is accepted, I will implement it in the library itself and incorporate it here

[2019-10-11 18:37] #2896 closed

[2019-10-12 04:19] #2909 closed

[2019-10-14 03:35] Racklogic opened #2929 "mc client does not update Minio (remote server) when new folder is created on a local pc"
## Expected behavior
When using the mirror function, mc client should always mirror the new local folder on the minio server.

## Actual behavior
mc client does not update Minio (remote server) when a new folder is created on a local pc.

## Steps to reproduce the behavior
example syntax
./mc mirror -w --overwrite --remove temp/ minio/backups/
On a local (linux) pc create the /home/username/temp f

[2019-10-14 03:40] harshavardhana commented on #2929
This not possible on filesystems - it is lack of inotify support for directory creates. Inotify probes do not capture this event so have no way of knowing we need to mirror the content.

[2019-10-14 03:40] harshavardhana commented on #2929
Although this is possible if both ends are MinIO server.

[2019-10-14 03:53] Racklogic commented on #2929
@harshavardhana
Thanks for the explanation. I'll do a workaround with some scripting.

[2019-10-14 03:53] #2929 closed

[2019-10-15 05:12] harshavardhana commented on #2881
We have decided to introduce this as `-a` option for both `mirror` and `cp`  - option `-a` will preserve the entire stat() calls something similar to s3cmd style.

[code]

We are planning to add `x-amz-meta-mc-attrs` and also even fallback if `s3cmd-attrs` are present to preserve it both sides on filesystem as well as on object storage.

[2019-10-15 17:48] kannappanr commented on #2707
Closing the issue as stale. Please feel free to reach out to us when you have the information requested

[2019-10-15 17:48] #2707 closed

[2019-10-16 01:21] ebozduman opened #2930 "'mc rm -r --force <alias>/<bucket>' cannot remove filesystem multilevel subdirectories (=prefixes)"
## Expected behavior
`mc rm -r --force <alias>/<bucket>` is supposed to clean up all the objects, prefixes, files, or any item in the target location, regardless of how they are created: by the filesystem or by the object storage.

On the other hand, this could be considered as an expected behavior. The obvious reason is; in object storage world, we don't expect prefixes to be left behind lingerin

[2019-10-16 09:22] Praveenrajmani commented on #2930
@ebozduman looks like we are purposefully skipping the prefix levels in while removing recursively. https://github.com/minio/mc/blob/master/cmd/rm-main.go#L283

[2019-10-18 00:15] eco-minio opened #2932 "Issue with mc sql WHERE clause"
## Expected behavior
The following query should work:
[code]

## Actual behavior
[code]
## Steps to reproduce the behavior
As above ^^
Sample data from the set:
[code]
Similar query works against another dataset:
[code]
## mc version
mc version
Version: 2019-10-09T22:54:57Z
## System information
Ubuntu 18.04

[2019-10-18 17:22] #2893 closed

[2019-10-18 19:25] vadmeste commented on #2879
This is my proposal for the ILM command https://gist.github.com/vadmeste/2871f5e53996cc67576b62193e8dc9c8

[2019-10-20 16:56] harshavardhana commented on #2879
Copying the entire draft here

### Draft for ILM command in MC

#### Showing expiry rules

[code]

ID is a GUID in fact, but mc shows only the shortest possible length, mc will automatically
understand it from full GUID really stored in bucket lifecycle configuration.

Notice: show command will also set random GUID for rules which have empty IDs (when lifecycle configuration is stored using other

[2019-10-22 19:00] Shappenny opened #2935 "Non-leading slashes in object name prevent deletion of this object on MinIO gateway instance"
## Expected behavior
An object containing multiple, non-leading slashes in its name, e.g., `minio/testbucket/test///new_.json`, should be removable with `mc rm minio/testbucket/test///new_.json`.

## Actual behavior
An object containing multiple, non-leading slashes in its name, e.g., `minio/testbucket/test///new_.json`, is not removable with `mc rm minio/testbucket/test///new_.json`.  However, it

[2019-10-22 23:02] kannappanr commented on #2935
@Shappenny Can you let us know what the backend is here and how you started `MinIO` instance?

[2019-10-23 11:30] sinhaashish opened #2936 "Fail to preserve bucket policy upon -a option used in mirror"
## Expected behavior
Policy should be preserved in destination when `-a` is used in mirror

## Actual behavior
Policy not copied to destination bucket .
## Steps to reproduce the behavior

Configue `myminio` and `myminio1` to two different minio servers
Steps to replicate:
Issue 1: Policy not reflecting in source bucket.
[code]

Issue 2: Not able to create bucket.
[code]
The console shows
[code]

[2019-10-23 20:32] kannappanr commented on #2935
@Shappenny I was unable to reproduce the issue in `S3 Gateway` with `AWS S3` as backend. I see that you have `minIO` itself as the backend. In the case of `minio` both `minio/testbucket/test/new_.json` and `minio/testbucket/test///new_.json` will be the same.

[2019-10-24 21:54] Shappenny commented on #2935
Sorry for the delay @kannappanr. The MinIO version running on both our gateway node and the backend cluster were both `2019-10-02T21:19:38Z`.

[2019-10-24 23:57] Shappenny commented on #2935
Hmm, interesting. This isn't the behavior I saw using `mc` to talk to `minio`, though.

Interestingly, I tried this again using the `play` host configured by default in `mc`, and *did not* find this behavior. That is, both `play/testbucket/test/new_.json` and `play/testbucket/test///new_.json` are the same. I wonder if this is specific to having a MinIO gateway in the middle?

[2019-10-25 00:08] kannappanr commented on #2935
I tested on Gateway with `Play` as my backend and was unable to reproduce it.

[2019-10-25 00:11] Shappenny commented on #2935
Bizarre. I updated my previous comment, but for clarity:

I also tried using minio-py (version 4.0.20) talking directly to our MinIO backend cluster (no gateway), uploading the object https://server.test/minio/testbucket/testdata///new_file1.txt. Calling stat_object on this object returned the expected object info struct, <Object: bucket_name: testbucket object_name: b'testdata///new_file1.txt' la

[2019-10-26 10:12] xcdr opened #2941 "panic: runtime error: index out of range [0] with length 0"
## Expected behavior
Display user friendly info.

## Actual behavior
[code]
## Steps to reproduce the behavior
* create 3 minio instances [minio-1,minio-2,minio-3]
* setup minio client for minio-1 instance and name it minio-3s (for this example)
* run `mc admin info server minio-3s`
* stop minio-2 and minio-3 instances
* run again `mc admin info server minio-3s`

## mc version
[code]
## System inf

[2019-10-26 17:45] harshavardhana commented on #2941
Your server is too old , please upgrade your server

[2019-10-26 21:01] xcdr commented on #2941
This error looks as client bug, not server.

Nothing change after upgrade server, current version is:
[code]

[2019-10-27 15:49] kannappanr commented on #2941
@xcdr Was able to reproduce the issue. Thanks for reporting it. Will fix it soon.

[2019-10-28 06:31] #2941 closed

[2019-10-29 19:37] khumps opened #2944 "mc admin user remove hangs when trying to remove a non-existent user"
## Expected behavior
Error message if the user you are trying to remove does not exist
## Actual behavior
Process hangs indefinitely without erroring out
## Steps to reproduce the behavior
try to remove a user that does not exist
## mc version
Version: 2019-10-09T22:54:57Z
Release-tag: RELEASE.2019-10-09T22-54-57Z
Commit-id: f93fe1330a3647b1afaff0ed8c188d2897bf391e

[2019-10-30 02:50] #2944 closed

[2019-10-30 07:35] #2881 closed

[2019-10-30 10:52] nitisht commented on #2806
Closing this as stale @natalequaratodxc feel free to reply here or on Slack as you get a chance, we can take a look then

[2019-10-30 10:52] #2806 closed

[2019-10-31 06:45] nitisht commented on #2936
Fixed by #2938

[2019-10-31 06:45] #2936 closed

[2019-10-31 12:28] Meshkati opened #2948 "Can't change server config: Cannot get server configuration file. sio: unsupported version."
## Expected behavior
Get and set configs using minio client.
## Actual behavior
It gives me `mc: <ERROR> Cannot get server configuration file. sio: unsupported version.`. Other commands like ls, cp, etc. are working.
## Steps to reproduce the behavior
1. `mc admin config get minio-opr`
## mc version
- (paste output of `mc version`)
MC:
RELEASE.2019-09-24T01-36-20Z
Minio:
2019-10-22T07:47:32Z
Note

[2019-10-31 13:33] vadmeste commented on #2948
@Meshkati this means you need to upgrade to the latest mc version, it is also good to upgrade to the latest Minio server also